﻿@using Microsoft.AspNetCore.Html
@using System.Globalization
@{
    int Year = ViewBag.Year;
}
@functions{

    public IHtmlContent href(int Year)
    {
        string url = ViewBag.Url.Replace("$y", Year.ToString());
        return Html.Raw(url);
    }
}
<a class="btn btn-outline-secondary icon-arrow-left" href="@href(Year-1)">
</a>
<span class="dropdown" id="year-filter">
    <a class="btn btn-square btn-light active dropdown-toggle" id="dropdownMenuLink" href="#"
       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Year</a>
    <span class="dropdown-menu" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
        @for (int y = @DateTime.Now.Year + 1; y >= Year - 4; y--)
        {
            string active = Year == y ? "bg-light" : "";
            <a class="dropdown-item @active" href="@href(y)">@y</a>
        }
    </span>
</span>
<a class="btn btn-outline-secondary icon-arrow-right" href="@href(Year+1)">
</a>
