﻿@using Perseo.Core
@{
    String Multiple = ViewBag.Multiple == true ? "data-multiple=true" : "";
    List<Area> Areas = ViewBag.Areas as List<Area>;
    List<int> SelectedAreas = ViewBag.SelectedAreas as List<int>;
    List<Job> Jobs = ViewBag.Jobs as List<Job>;
    List<int> SelectedJobs = ViewBag.SelectedJobs as List<int>;
}

<select class="d-none" @Multiple id="areas" name="areas">
    @foreach (Area item in Areas)
    {
        <option value="@item.Id"
                selected="@(SelectedAreas.Any(a => a == item.Id) ? true : false)"
                data-parent="@(Areas.Any(c => c.Id == item.ParentId) ? item.ParentId : null)">
            @item.Name
        </option>
    }
</select>
<select class="d-none" @Multiple id="jobs" name="jobs">
    @foreach (Job item in Jobs)
    {
        <option value="@item.Id"
                selected="@(SelectedAreas.Any(a => a == item.Id) ? true : false)"
                data-area="@item.AreaId">
            @item.Name
        </option>
    }
</select>
<button class="btn btn-light active" type="button" id="go_button"> IR</button>