﻿@using Perseo.Core
@{ 
    String Multiple = ViewBag.Multiple == true ? "data-multiple='true'" : "";
    String Id = ViewBag.Id == null ? "jobs" : ViewBag.Name;
    String Name = ViewBag.Name == null ? Id : ViewBag.Name;
    List<Job> Items = ViewBag.Items as List<Job>;
    List<int> SelectedItems = ViewBag.SelectedItems as List<int>;
}
<select class="d-none" @Multiple id="@Id" name="@Name">
    @foreach (var Item in Items)
    {
        if (SelectedItems.Any(a => a == Item.Id))
        {
            <option selected data-area="@Item.AreaId" value="@Item.Id">@Item.Name</option>
        }
        else
        {
            <option data-area="@Item.AreaId" value="@Item.Id">@Item.Name</option>
        }
    }
</select>