
$opsait-dark-blue: #1a3b47;
$opsait-dark-blue-75: #536C75;
$opsait-dark-blue-50: #8D9DA3;
$opsait-dark-blue-25: #C6CED1;
$opsait-blue: #6D93F7;
$opsait-blue-75: #92AEF9;
$opsait-blue-50: #B6C9FB;
$opsait-blue-25: #DBE4FD;
$opsait-gray: #E8E8E8;
$opsait-gray-75: #EEEEEE;
$opsait-gray-50: #F4F4F4;
$opsait-gray-20: #F9F9F9;

$brand-dark: $opsait-dark-blue;
$brand-medium: $opsait-dark-blue-75;
$brand-light: $opsait-dark-blue-50;
$brand-lighter: $opsait-dark-blue-25;
$brand-accent: $opsait-blue;
$brand-accent-light: $opsait-blue;
$brand-gray: $opsait-gray;

$font-main: SohoGothicPro-Light;
$font-secondary: Arial, Helvetica, sans-serif;
$font-title: PlayfairDisplay;

$color-1: $brand-medium;
$color-2: $opsait-blue-75;
$color-3: #ffc107;
$color-4: $opsait-dark-blue-50;
$color-5: #4dbd74;
$color-6: #d6138a; 
$color-7: #ce1987;
$color-8: $opsait-blue;
$color-9: #ff5722;
$color-10: #8bc34a;
$color-11: #ff83cf;
$color-12: #2a80d8;
$color-13: #a9380f;
$color-14: #009688;

$grid-gutter-width: 18px;