﻿@using Microsoft.AspNetCore.Mvc.Razor
@{
    var _Controller = ViewBag._Controller;
    var _Action = ViewBag._Action;
    _Action = _Action == "index" ? "" : _Action + "/";
}
<script>
    $('#areas').treeselect({
        buttontext: '<span class="d-xxl-down-none">@SharedLocalizer["Seleccionar"] </span> @SharedLocalizer["Área"]',
        div: '<div id="area-navigator" class="dropdown bts_dropdown float-right mr-3"></div>',
    });
    $('#go_button').click(function () {
        var arr = $.map($('#area-navigator').find("input[type='checkbox']:checked"), function (e, i) {
            return +e.value;
        });
        var year = $('#year-navigator').length ? @ViewBag.Year +"/" : "";
        var month = $('#month-navigator').length ? @ViewBag.Month +"/" : "";
        var active = $('#active-navigator').length ? $('#active-navigator input:checked').val() + "/" : "";
        var url = "/@_Controller/@_Action" + active + year + month + arr.join(';');
        $.ajaxGet(url);
    });
</script>