﻿<div class="col-10 col-sm-11 col-xl-6">
    @if (@ViewBag.Avatar != "")
    {
        <div id="avatar" class="float-left mr-4 d-sm-down-none">
            <img class="img-avatar" style="height:80px; width:80px; border: 1px solid silver;" src="/static/avatars/@ViewBag.Avatar">
        </div>
        <div class="mt-lg-1 float-left">
            <h3 id="header-title" class="card-title mb-0">@ViewBag.Title</h3>
            <hr align="left" class="title text-left mb-0" />
            @if (@ViewBag.SubTitle != "")
            {
                <div id="header-subtitle" class="small text-muted">@ViewBag.SubTitle</div>
            }
        </div>
    }
    else
    {
        <h3 id="header-title" class="card-title mb-0">@ViewBag.Title</h3>
        <hr align="left" class="title text-left mb-0" />
        @if (@ViewBag.SubTitle != "")
        {
            <div id="header-subtitle" class="small text-muted">@ViewBag.SubTitle</div>
        }
    }
</div>