﻿
@functions {

public List<string> Range(string pattern)
{
    List<string> result = new List<string>();
    var finalPattern = pattern.Skip(14).Take(34).ToList().Concat(pattern.Skip(0).Take(14).ToList()).ToList();
    for (int i = 0; i < 48; i++)
    {
        if (finalPattern[i] == '1')
        {
            result.Add("<div class='col cal-day-T'>&nbsp;</div>");
        }
        else
        {
            result.Add("<div class='col'>&nbsp;</div>");
        }
    }
    return result;
}

}
@{
    var _Controller = ViewBag._Controller;
    var _Action = ViewBag._Action;
    _Action = _Action == "index" ? "" : _Action + "/";
    List<string> range = Range(ViewBag.Pattern);
}
<div class="row">
    <div class="col-12">
        <div class="trs">
            <div class="row no-gutters">
                <div class="col-lg-12 d-none d-lg-block">
                    <div class="row no-gutters trs-hours-top">
                        <div class="col">07:00</div>
                        <div class="col">&nbsp;</div><div class="col">09:00</div><div class="col">&nbsp;</div>
                        <div class="col">11:00</div><div class="col">&nbsp;</div><div class="col">13:00</div>
                        <div class="col">&nbsp;</div><div class="col">15:00</div><div class="col">&nbsp;</div>
                        <div class="col">17:00</div><div class="col">&nbsp;</div><div class="col">19:00</div>
                        <div class="col">&nbsp;</div><div class="col">21:00</div><div class="col">&nbsp;</div>
                        <div class="col">23:00</div><div class="col">&nbsp;</div><div class="col">01:00</div>
                        <div class="col">&nbsp;</div><div class="col">03:00</div><div class="col">&nbsp;</div>
                        <div class="col">05:00</div><div class="col">&nbsp;</div><div class="col">07:00</div>
                    </div>
                    <div class="row no-gutters trs-hours-mark-top">
                        <div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col-lg-6 trs-col-one">
                    <div class="row no-gutters trs-hours-top d-lg-none">
                        <div class="col">07:00</div>
                        <div class="col">&nbsp;</div><div class="col">09:00</div><div class="col">&nbsp;</div>
                        <div class="col">11:00</div><div class="col">&nbsp;</div><div class="col">13:00</div>
                        <div class="col">&nbsp;</div><div class="col">15:00</div><div class="col">&nbsp;</div>
                        <div class="col">17:00</div><div class="col">&nbsp;</div><div class="col">19:00</div>
                    </div>
                    <div class="row no-gutters trs-hours-mark-top d-lg-none">
                        <div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <div class="row no-gutters trs-hours">
                        <div class="col trs-blank">&nbsp;</div>
                        @for (int i = 0; i < 24; i++)
                        {@Html.Raw(@range[i]);
                    }
                        <div class="col trs-blank d-lg-none">&nbsp;</div>
                    </div>
                    <div class="row  no-gutters trs-hours-mark-bottom d-lg-none">
                        <div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <div class="row no-gutters trs-hours-bottom d-lg-none">
                        <div class="col">&nbsp;</div><div class="col">08:00</div>
                        <div class="col">&nbsp;</div><div class="col">10:00</div><div class="col">&nbsp;</div>
                        <div class="col">12:00</div><div class="col">&nbsp;</div><div class="col">14:00</div>
                        <div class="col">&nbsp;</div><div class="col">16:00</div><div class="col">&nbsp;</div>
                        <div class="col">18:00</div><div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col-12 d-lg-none">&nbsp;</div>
                <div class="col-lg-6 trs-col-two">
                    <div class="row no-gutters trs-hours-top d-lg-none">
                        <div class="col">19:00</div>
                        <div class="col">&nbsp;</div><div class="col">21:00</div><div class="col">&nbsp;</div>
                        <div class="col">23:00</div><div class="col">&nbsp;</div><div class="col">01:00</div>
                        <div class="col">&nbsp;</div><div class="col">03:00</div><div class="col">&nbsp;</div>
                        <div class="col">05:00</div><div class="col">&nbsp;</div><div class="col">07:00</div>
                    </div>
                    <div class="row no-gutters trs-hours-mark-top d-lg-none">
                        <div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>

                    <div class="row no-gutters trs-hours">
                        <div class="col d-lg-none trs-blank">&nbsp;</div>
                        @for (int i = 24; i < 48; i++)
                        {@Html.Raw(@range[i]);
                    }
                        <div class="col trs-blank">&nbsp;</div>
                    </div>

                    <div class="row  no-gutters trs-hours-mark-bottom d-lg-none">
                        <div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <div class="row no-gutters trs-hours-bottom d-lg-none">
                        <div class="col">&nbsp;</div><div class="col">20:00</div>
                        <div class="col">&nbsp;</div><div class="col">22:00</div><div class="col">&nbsp;</div>
                        <div class="col">00:00</div><div class="col">&nbsp;</div><div class="col">02:00</div>
                        <div class="col">&nbsp;</div><div class="col">04:00</div><div class="col">&nbsp;</div>
                        <div class="col">06:00</div><div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col-lg-12 d-none d-lg-block">
                    <div class="row  no-gutters trs-hours-mark-bottom">
                        <div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <div class="row no-gutters trs-hours-bottom">
                        <div class="col">&nbsp;</div><div class="col">08:00</div>
                        <div class="col">&nbsp;</div><div class="col">10:00</div><div class="col">&nbsp;</div>
                        <div class="col">12:00</div><div class="col">&nbsp;</div><div class="col">14:00</div>
                        <div class="col">&nbsp;</div><div class="col">16:00</div><div class="col">&nbsp;</div>
                        <div class="col">18:00</div><div class="col">&nbsp;</div><div class="col">20:00</div>
                        <div class="col">&nbsp;</div><div class="col">22:00</div><div class="col">&nbsp;</div>
                        <div class="col">00:00</div><div class="col">&nbsp;</div><div class="col">02:00</div>
                        <div class="col">&nbsp;</div><div class="col">04:00</div><div class="col">&nbsp;</div>
                        <div class="col">06:00</div><div class="col">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
    (function () {
        function time_range_script() {
            
        }

        if (window.jQuery) {
            time_range_script();
        } else {
            function appendOnLoad() {
                time_range_script();
                window.removeEventListener("load", appendOnLoad);
            }
            window.addEventListener("load", appendOnLoad);
        }
    })();
</script>*@