﻿@* ACCOUNT - CHANGE PASSWORD (MODAL) *@

@using Perseo.Web.Models
@model ChangePasswordViewModel

<form id="reset-password" method="post" role="form" class="form-horizontal" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="modal-header b-b-0 pb-0">
        <h4 class="modal-title">@SharedLocalizer["Cambiar Contraseña"]</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label asp-for="OldPassword" class="col-xl-4 col-form-label"></label>
                    <div class="col-xl-8">
                        <input asp-for="OldPassword" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Password" class="col-xl-4 col-form-label"></label>
                    <div class="col-xl-8">
                        <input asp-for="Password" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ConfirmPassword" class="col-xl-4 col-form-label"></label>
                    <div class="col-xl-8">
                        <input asp-for="ConfirmPassword" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $("#reset-password").submit(function (e) {
            e.preventDefault();
            var url = "/account/changepassword";
            var data = { 'OldPassword': $("input[name='OldPassword']").val(), 'Password': $("input[name='Password']").val(), 'ConfirmPassword': $("input[name='ConfirmPassword']").val() };
            $.ajaxPostModal(url, data);
            return false;
        });
    });
</script>

