﻿@* ACCOUNT - ACCESS DENIED *@

@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = SharedLocalizer["Acceso denegado"];
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h2 class="text-danger">@ViewData["Title"]</h2>
                        <p class="text-muted">@SharedLocalizer["No tiene acceso a este recurso. Si considera que se trata de un error póngase en contacto con"] <a href="mailto://soporteot@indra.es">soporteot@indra.es</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>