﻿@* ACCOUNT - LOGIN *@
@using Perseo.Web.Models
@model ChangePasswordViewModel
@{
    if(Context.Request.IsAjax())
    {

    <script>window.location.href = "/account/changepassword/mandatory";</script>

    } else {

        Layout = "_EmptyLayout";

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <h2>@SharedLocalizer["Cambio de Contraseña"]</h2>
                            <p>@SharedLocalizer["El cambio de contraseña es obligatorio"]</p>
                            <form asp-controller="Account" asp-action="ChangePasswordMandatory" method="post">
                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                    <input asp-for="OldPassword" class="form-control" placeholder="@SharedLocalizer["Contraseña Actual"]" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Password" class="form-control" placeholder="@SharedLocalizer["Nueva Contraseña"]" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="@SharedLocalizer["Repetir Contraseña"]" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary px-4">@SharedLocalizer["Enviar"]</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    }
}


