﻿@* ACCOUNT - FORGOT PASSWORD *@

@model ForgotPasswordViewModel
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = SharedLocalizer["Recuperar Contraseña"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h2>@ViewData["Title"]</h2>
                        <p class="text-muted">@SharedLocalizer["Introduzca su email"]</p>
                        <form asp-action="forgotpassword" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-envelope"></i>
                                    </span>
                                </div>
                                <input asp-for="Email" class="form-control" placeholder="@SharedLocalizer["Email"]" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary px-4">@SharedLocalizer["Enviar"]</button>
                                </div>
                                <div class="col-8 text-right">
                                    <a class="btn btn-link" target="_self" asp-action="Login">@SharedLocalizer["Volver"]</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
