﻿@* ACCOUNT - FORGOT PASSWORD CONFIRMATION *@

@model ForgotPasswordViewModel
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = SharedLocalizer["Recuperar Contraseña"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h2>@ViewData["Title"]</h2>
                        <p class="text-muted">@SharedLocalizer["Se ha enviado un mail con instrucciones para recuperar la contraseña. Si no recibe el email indicado póngase en contacto con"] <a href="mailto://soporteot@indra.es">soporteot@indra.es</a></p>
                        <a target="_self" asp-action="Login">@SharedLocalizer["Volver"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
