﻿@* ACCOUNT - LOCKOUT *@

@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = SharedLocalizer["Cuenta bloqueada"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h2 class="text-danger">@ViewData["Title"]</h2>
                        <p class="text-muted">@SharedLocalizer["Esta cuenta ha sido bloqueada. Por favor, inténtelo de nuevo más tarde. Si el problema persiste póngase en contacto con"] <a href="mailto://soporteot@indra.es">soporteot@indra.es</a></p>
                        <a target="_self" asp-action="Login">@SharedLocalizer["Volver"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
