﻿@* ACCOUNT - LOGIN *@
@using Perseo.Web.Identity
@using Perseo.Web.Models
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = "_EmptyLayout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h2>Login</h2>
                        <p class="text-muted">@SharedLocalizer["Formulario de Login"]</p>
                        <form asp-controller="Account" asp-action="Login" method="post">
                            <input type="hidden" asp-for="ReturnUrl"/>
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-user"></i>
                                    </span>
                                </div>
                                <input asp-for="UserName" class="form-control" placeholder="@SharedLocalizer["Usuario"]" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="Password" class="form-control" placeholder="@SharedLocalizer["Contraseña"]" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary px-4">@SharedLocalizer["Login"]</button>
                                </div>
                                <div class="col-8 text-right">
                                    <a class="btn btn-link" target="_self" asp-action="ForgotPassword">@SharedLocalizer["Recuperar Contraseña"]</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
