﻿@* ACCOUNT - RESET PASSWORD CONFIRMATION *@

@{
    ViewData["Title"] = SharedLocalizer["Cambio de contraseña"];
    Layout = "_EmptyLayout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h2>@ViewData["Title"]</h2>
                        <p class="text-muted">@SharedLocalizer["Cambio de contraseña realizado con éxito. Por favor siga este"] <a asp-action="Login">@SharedLocalizer["enlace"]</a> @SharedLocalizer["para logarse"].</p>
                        <p class="text-muted">@SharedLocalizer["Si tiene algún problema póngase en contacto con"] <a href="mailto://soporteot@indra.es">soporteot@indra.es</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
