﻿@* ACCOUNT - RESET PASSWORD *@

@model ResetPasswordViewModel
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = SharedLocalizer["Cambiar contraseña"];
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h2>@ViewData["Title"]</h2>
                        <p class="text-muted">@SharedLocalizer["Formulario de Login"]</p>
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="Code" type="hidden" />
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="Password" class="form-control" placeholder="@SharedLocalizer["Nueva Contraseña"]" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="@SharedLocalizer["Repetir Contraseña"]" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">@SharedLocalizer["Enviar"]</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
