﻿@* ACCOUNT - SIGNED OUT *@

@{
    ViewData["Title"] = "Logout";
    Layout = "_EmptyLayout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h2>@ViewData["Title"]</h2>
                        <p class="text-muted">@SharedLocalizer["Se ha deslogado con éxito"]</p>
                        <a asp-action="Login">@SharedLocalizer["Volver"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>