// CALENDAR AND SCHEDULE

.cal .week-sat {
    background-color: $brand-accent;
    color: #fff;
}

.cal .week-sun {
    background-color: $brand-accent;
    color: #fff;
}

.cal .month-days {
    background-color: $brand-dark;
    color: #fff;
    font-weight: bold;
    border-top: 1px solid silver;
}

.cal .week-days-row > div:nth-of-type(2) {
    background-color: $brand-medium;
    color: #fff;
    padding-left: 0.7px;
}

.list-group-item-action {
    color: #23282c;
}


.cal-day-0 {
    background-color: #c8ced3;
}

.cal-day-1 {
    background-color: #a7a8ac;
}

.cal-day-2 {
    background-color: #868686;
}

.cal-day-3 {
    background-color: #5a5b5d;
}

.cal-day-4 {
    background-color: #090909;
}



.cal-day-T {
    background-color: #e4e4e4;
}


.cal-day-V {
    background-color: #d6138a;
    color: white;
}

.cal-day-Y {
    background-color: #ff83cf;
    color: white;
}

.cal-day-L {
    background-color: #2a80d8;
    color: white;
}


.cal-day-S {
    background-color: #a9380f;
    color: white;
}

.cal-day-B {
    background-color: #009688;
    color: white;
}

.cal-day-M {
    background-color: #8bc34a;
    color: white;
}

.cal-day-P {
    background-color: #ff5722;
    color: white;
}

.cal-day-A {
    background-color: #ffc107;
    color: white;
}


.cal .separator {
    border-bottom: 1px solid silver;
}

.time-range > div {
    background-color: #ccc;
}

.cal .highlighted {
    background-color: #999;
}




.cal * {
    font-size: 13px;
    line-height: 19px;
}

.cal .col {
    text-align: center;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
    white-space: nowrap;
    overflow: hidden;
}

.cal .content-cols.row.no-gutters .col {
    cursor: pointer;
}

.cal .col .comment {
    border-left: 6px solid transparent;
    border-right: 6px solid red;
    border-bottom: 6px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.cal .col .extra-hours {
    border-left: 6px solid black;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.cal .week-days-row-sm > div:first-of-type {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #536c75;
    color: #fff;
    font-size: 15px;
    border: 1px solid silver;
}

.cal .week-days-row-sm > div:nth-of-type(4) {
    border-left: 1px solid silver;
    border-top: 1px solid silver;
    background-color: #99CCFF;
    font-weight: bold;
}

.cal .week-days-row > div:first-of-type {
    border-left: 1px solid silver;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    line-height: 19px;
}

.cal .month-days-row > div:first-of-type {
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}

.cal .month-week {
    border-bottom: 1px solid silver;
}

.cal .month-week .col {
    border-right: 1px solid silver;
}

.cal .header-col-sm {
    text-transform: uppercase;
    background-color: #536c75;
    color: #fff;
    font-size: 13px;
    border: 1px solid silver;
    padding: 0.25rem;
}

.cal .header-col {
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}

.cal .month-row {
    border-left: 1px solid silver;
    font-size: 11px;
}

.cal .week-day-sm {
    background-color: #8d9da3;
    color: #fff;
}

@include media-breakpoint-down(md) { // max
    .cal .separator {
        display: block;
        border-bottom: 1px solid silver;
    }

    .cal .week-days-row {
        display: none;
    }

    .cal .month-days-row > div:first-of-type {
        display: none;
    }

    .cal .month-days {
        background-color: white;
        color: black;
    }

    .cal .month-days-row {
        border-left: 1px solid silver;
    }

    .cal .month-days-row-bottom {
        display: none;
    }

    .cal .col {
        min-width: 14.285%;
    }
}


@media (max-width: 991px) {
    
}

@include media-breakpoint-up(lg) { //min
    .cal .separator {
        display: none;
    }

    .cal .day-blank {
        display: none;
    }

    .cal .month-days-row {
        border-left: 1px solid transparent;
    }

    .cal .week-days-row > div:first-of-type {
        font-weight: bold;
        border-bottom: 1px solid silver;
        border-top: 1px solid transparent;
        //border-right: 1px solid silver;
    }

    .cal .month-days-row-bottom > div:first-of-type {
        border-bottom: 1px solid transparent;
    }
}

@media (min-width: 992px) {


}


@include media-breakpoint-between(lg, xl) { // between
    .cal .separator {
        display: none;
    }

    .cal * {
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1259px) {

}

/* conditional format (staffing) */

.cal .stf-r1 {
    background-color: #fff5eb;
}

.cal .stf-r2 {
    background-color: #fee6ce;
}

.cal .stf-r3 {
    background-color: #fdd0a2;
}

.cal .stf-b1 {
    background-color: #edf5fd;
}

.cal .stf-b2 {
    background-color: #c8e0f2;
}

.cal .stf-b3 {
    background-color: #abd0e7;
}
/*#endregion*/
