
// TIME RANGE SELECTOR (DRAG AND SELECT)

.trs .col {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.trs .highlighted {
    background-color: gray;
}

.trs-hours-mark-top .col:nth-child(4n+2) {
    border-left: 1px solid silver;
}

.trs-hours .col {
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    cursor: pointer;
    line-height: 16px;
}

.trs-hours-mark-bottom, .trs-hours-mark-top {
    line-height: 8px;
}

.trs-hours .col:first-child, .trs-hours .col:last-child {
    border: 1px solid transparent;
}

.trs-hours .col:last-child {
    border-left: 1px solid silver;
}

.trs-hours-mark-bottom .col:nth-child(4n+4) {
    border-left: 1px solid silver;
}

.trs-hours-top .col, .trs-hours-bottom .col {
    text-align: center;
    font-size: 10px;
}

.trs-hours .trs-blank {
    cursor: default;
}
