﻿
<div class="cal">
    @* Mobile Only WeekDaysHeader *@
    <div class="row no-gutters d-lg-none week-days-row-sm">
        <div class="col-12 p-1 d-lg-none">@ViewBag.Year &nbsp;&nbsp; @ViewBag.MonthName</div>
        <div class="col-12 col-lg-@ViewBag.ContentCols">
            <div class="row no-gutters">
                <div class="col-12 col-lg-12 col-xl">
                    <div class="row no-gutters">
                        @for (var i = 0; i < 7; i++)
                        {
                            <div class="col d-lg-none week-day-sm">@ViewBag.WeekDays[i][0]</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Month Days Header *@
    <div class="row no-gutters month-days-row">
        <div class="col-12 col-lg-@ViewBag.HeaderCols"></div>
        <div class="col-12 col-lg-@ViewBag.ContentCols month-days">
            <div class="row no-gutters">
                @Html.Raw(ViewBag.MonthHead)
                @for (var i = 1; i <= @ViewBag.DaysOfMonth; i++)
                {
                    <div class="col">@i</div>
                }
                @Html.Raw(ViewBag.MonthTrail)
            </div>
        </div>
    </div>
    @* Week Days Header *@ 
    <div class="row no-gutters week-days-row">
        <div class="pl-1 pl-xxl-2 col-12 col-lg-@ViewBag.HeaderCols">@ViewBag.RowName</div>
        <div class="col-12 col-lg-@ViewBag.ContentCols week-days">
            <div class="row no-gutters">
                @Html.Raw(ViewBag.MonthHead)
                @for (var i = @ViewBag.FirstWeekDayOfMonth; i < @ViewBag.DaysOfMonth + @ViewBag.FirstWeekDayOfMonth; i++)
                {
                    var e = i % 7;
                    switch (e)
                    {
                        case 6:<div class="col week-sun">@ViewBag.WeekDays[e]</div> break;
                        case 5: <div class="col week-sat">@ViewBag.WeekDays[e]</div> break;
                        default: <div class="col">@ViewBag.WeekDays[e]</div>break;
                    }
                }
                @Html.Raw(ViewBag.MonthTrail)
            </div>
        </div>
    </div>
    @* Month content *@
    @RenderBody()
</div>

