﻿@using Perseo.Core
@{ 
    String Multiple = ViewBag.Multiple == true ? "data-multiple='true'" : "";
    String Id = ViewBag.Id == null ? "area" : ViewBag.Name;
    String Name = ViewBag.Name == null ? Id : ViewBag.Name;
    List<Area> Items = ViewBag.Items as List<Area>;
    List<int> SelectedItems = ViewBag.SelectedItems as List<int>;
}
<select class="d-none" @Multiple id="@Id" name="@Name">
    @foreach (var Item in Items)
    {
        if (Items.Any(c => c.Id == Item.ParentId))
        {
            if (SelectedItems.Any(a => a == Item.Id))
            {
                <option selected value="@Item.Id" data-parent="@Item.ParentId">@Item.Name</option>
            }
            else
            {
                <option value="@Item.Id" data-parent="@Item.ParentId">@Item.Name</option>
            }
        }
        else
        {
            if (SelectedItems.Any(a => a == Item.Id))
            {
                <option selected value="@Item.Id">@Item.Name</option>
            }
            else
            {
                <option value="@Item.Id">@Item.Name</option>
            }
        }
    }
</select>