﻿@* AREA - ADD (MODAL) *@

@model AddAreaViewModel
@using Perseo.Core
@{
    var TypeSelectList = Html.GetEnumSelectList(typeof(AreaType));
    if (!User.IsInAnyRoles(AppRole.Administration, AppRole.Maintenance))
    {
        TypeSelectList = TypeSelectList.Where(x => x.Value != ((int)AreaType.General).ToString());
    }
}

<form asp-action="Add" id="add-form" method="post" role="form" class="form-horizontal" autocomplete="off">
    <div class="modal-header b-b-0 pb-0">
        <h3 class="modal-title">@SharedLocalizer["Añadir"] @SharedLocalizer["Área"]</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label asp-for="Name" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="Name" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Description" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="Description" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row" id="parent-container">
                    <label asp-for="ParentId" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9 input-group">
                        <select class="form-control" id="ParentId" name="ParentId">
                            <option value=""></option>
                            @foreach (Area area in Model.ParentAreas)
                            {
                                <option value="@area.Id"
                                        selected="@(Model.ParentId == @area.Id ? true : false)"
                                        data-type="@((int)area.Type)"
                                        data-parent="@(Model.ParentAreas.Any(c => c.Id == area.ParentId) ? area.ParentId : null)">
                                    @area.Name
                                </option>
                            }
                        </select>
                        <span asp-validation-for="ParentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Type" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9 input-group">
                        <select asp-for="Type" id="type" asp-items="TypeSelectList" class="form-control w-100">
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    function type_change() {
        var sel = $('input[name="ParentId"]:checked').attr("data-type");
        switch ($("#type").val()) {
            case '@((int)AreaType.Project)':
                    $('#code').show();
                $('input[name="ParentId"][data-type="@((int)AreaType.Project)"], input[name="ParentId"][data-type="@((int)AreaType.General)"], input[name="ParentId"][data-type="@((int)AreaType.Productive)"]').attr('disabled', 'disabled').closest("label").addClass('disabled');
                $('input[name="ParentId"][data-type="@((int)AreaType.Organizational)"]').removeAttr('disabled').closest("label").removeClass('disabled');
                if (sel == @((int)AreaType.Project) || sel == @((int)AreaType.General) || sel == @((int)AreaType.Productive) )
                    $('#ParentId').val([]);
                break;
            case '@((int)AreaType.General)':
                $('#code').show();
                $('input[name="ParentId"][data-type="@((int)AreaType.Project)"], input[name="ParentId"][data-type="@((int)AreaType.Productive)"]').attr('disabled', 'disabled').closest("label").addClass('disabled');
                $('input[name="ParentId"][data-type="@((int)AreaType.General)"], input[name="ParentId"][data-type="@((int)AreaType.Organizational)"]').removeAttr('disabled').closest("label").removeClass('disabled');
                if (sel == @((int)AreaType.Project) || sel == @((int)AreaType.Productive) )
                    $('#ParentId').val([]);
                break;
            case '@((int)AreaType.Productive)':
                $('#code').hide();
                $('input[name="ParentId"][data-type="@((int)AreaType.General)"], input[name="ParentId"][data-type="@((int)AreaType.Organizational)"]').attr('disabled', 'disabled').closest("label").addClass('disabled');
                $('input[name="ParentId"][data-type="@((int)AreaType.Project)"], input[name="ParentId"][data-type="@((int)AreaType.Productive)"]').removeAttr('disabled').closest("label").removeClass('disabled');
                if (sel == @((int)AreaType.Organizational) || sel == @((int)AreaType.General) )
                    $('#ParentId').val([]);
            break;
            case '@((int)AreaType.Organizational)':
                $('#code').hide();
                $('input[name="ParentId"][data-type="@((int)AreaType.Project)"], input[name="ParentId"][data-type="@((int)AreaType.General)"], input[name="ParentId"][data-type="@((int)AreaType.Productive)"]').attr('disabled', 'disabled').closest("label").addClass('disabled');
                $('input[name="ParentId"][data-type="@((int)AreaType.Organizational)"], input[name="ParentId"][data-type="@((int)AreaType.Project)"]').removeAttr('disabled').closest("label").removeClass('disabled');
                if (sel == @((int)AreaType.Project) || sel == @((int)AreaType.General) || sel == @((int)AreaType.Productive) )
                    $('#ParentId').val([]);
            break;
            default:
                $('input[name="ParentId"]').removeAttr('disabled').closest("label").removeClass('disabled');
        }
        if ($("#type option:enabled").length === 2) {
            $("#type option:enabled:last").prop('selected', true);
        }
    }

    function parent_change () {
        var sel = $("select[name='Type']").val();
        switch ($('input[name="ParentId"]:checked').attr("data-type")) {
            case '@((int)AreaType.Project)':
                    $('#code').show();
                $('#type option[value="@((int)AreaType.Project)"], #type option[value="@((int)AreaType.General)"], #type option[value="@((int)AreaType.Organizational)"]').attr('disabled', 'disabled');
                $('#type option[value="@((int)AreaType.Productive)"]').removeAttr('disabled');
                if (sel == @((int)AreaType.Project) || sel == @((int)AreaType.General) || sel == @((int)AreaType.Organizational) )
                    $('#type').val([]);
                break;
            case '@((int)AreaType.General)':
                $('#code').show();
                $('#type option[value="@((int)AreaType.Project)"], #type option[value="@((int)AreaType.Productive)"], #type option[value="@((int)AreaType.Organizational)"]').attr('disabled', 'disabled');
                $('#type option[value="@((int)AreaType.General)"]').removeAttr('disabled');
                if (sel == @((int)AreaType.Project) || sel == @((int)AreaType.Productive) || sel == @((int)AreaType.Organizational))
                    $('#type').val([]);
                break;
            case '@((int)AreaType.Productive)':
                $('#code').hide();
                $('#type option[value="@((int)AreaType.General)"], #type option[value="@((int)AreaType.Organizational)"],#type option[value="@((int)AreaType.Project)"]').attr('disabled', 'disabled');
                $('#type option[value="@((int)AreaType.Productive)"]').removeAttr('disabled');
                if (sel == @((int)AreaType.Organizational) || sel == @((int)AreaType.General) || sel == @((int)AreaType.Project) )
                    $('#type').val([]);
            break;
            case '@((int)AreaType.Organizational)':
                $('#code').hide();
                $('#type option[value="@((int)AreaType.Productive)"]').attr('disabled', 'disabled');
                $('#type option[value="@((int)AreaType.General)"],  #type option[value="@((int)AreaType.Project)"],  #type option[value="@((int)AreaType.Organizational)"]').removeAttr('disabled');
                if (sel == @((int)AreaType.Productive) )
                    $('#type').val([]);
            break;
            default:
                $('#type option').removeAttr('disabled');
        }
    }

    $(document).ready(function () {

        $('#ParentId').treeselect({ type: 'form' });


        $("#add-form :input").not("input[name='Description']")
            .each(function () {
                $(this).on('keyup', function (event) {
                    var $t = $(this);
                    $t.val(titleCase($t.val()));
                });
            });
        $("input[name='UserName'], input[name='Email']").on('keyup', function (event) {
            var $t = $(this);
            $t.val($t.val().toLowerCase());
        });
        $("#add-form").submit(function (e) {
            e.preventDefault();
            $.ajaxPostModal($(this).attr('action'), $(this).serialize(), function (response) {
                $.ajaxGet('/area/edit/' + response.content.id);
            });
            return false;
        });
        parent_change();
        type_change();
        $("input[name='ParentId']").on('change', parent_change);
        $("#type").on('change', type_change);
    });
</script>

