﻿@using Microsoft.AspNetCore.Mvc.Razor
@using Perseo.Web.Models
@model AssignAreaViewModel


<form id="editCod" data-async method="post" role="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title">@SharedLocalizer["Asignación de"] @Model.Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">            
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <select class="form-control" id="assignmet" name="assignmet">
                    <option selected disabled></option>
                    @foreach (AssignAreaOptions Item in Model.Options as List<AssignAreaOptions>)
                    {
                        <option value="@Item.Value">@Item.Name</option>
                    }
                </select>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="input-group-append">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    <input class="form-control" id="start-date" type="date" min="@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label asp-for="NCode"  col-form-label"></label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="input-group-append">
                    <input asp-for="NCode" id="NaCode" min="@Model.NCode" class="form-control" required />
                    <span asp-validation-for="NCode" class="text-danger"></span>
                </div>
            </div>
        </div>                
        <br />
        <table id="paginated-table" class="table table-responsive-sm table-sm">
            <thead>
                <tr>
                    <th>@Model.Entity</th>
                    <th>@SharedLocalizer["Inicio"]</th>
                    <th>@SharedLocalizer["Fin"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AssignAreaHistory Item in Model.History as List<AssignAreaHistory>)
                {
                    var End = @Item.EndDate.HasValue ? @Item.EndDate.Value.ToString("yyyy/MM/dd") : "-";
                    <tr>
                        <td>@Item.Name</td>
                        <td>@Item.StartDate.ToString("yyyy/MM/dd")</td>
                        <td>@End</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        <button type="button" class="btn btn-primary" id="save-buttonAss">@SharedLocalizer["Guardar"]</button>
    </div>
</form>

<script>
    $('#assignmet').hierarchy_select();
    $(function () {
        $("#save-buttonAss").click(function () {
            
            if ($('#NaCode').val() == null) {
                toastr.error('@SharedLocalizer["El campo Nombre es obligatorio"]');
                return;
            }
            if ($('#DesCode').val() == @Model.AssignmentId) {
                toastr.error('@SharedLocalizer["El campo Descripción es obligatorio"]');
                return;
            }
            
            if (new Date($('#start-date').val()) <= new Date("@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")")) {
                toastr.error('@SharedLocalizer["La fecha de asignación debe de ser mayor a"] ' + $('#start-date').attr('min'));            
                return;
            }               
                        
            $.ajax({                
                type: "POST",
                url: "/area/edit/@RazorViewEngine.GetNormalizedRouteValue(ViewContext, "action").ToLower()",
                data: { 'AreaId': '@Model.AreaId', 'AssignmentId': $('#assignmet').val(), 'NCode': $('#NaCode').val(), 'DesCode': $('#DesCode').val() , 'AssignmentStartDate': $('#start-date').val()},
                success: function (data) {                           
                    if (data.result) {                             
                        modal_destination.val($('#NaCode').val());                        
                        $('#myModal').modal('hide');                                                
                    } else {                        
                        toastr.error(data.response);                        
                    }
                },                
                error: function (data) {                    
                    toastr.error(data.responseText);                   
                }
            });            
        });
    });
</script>