﻿@* AREA - SHOW LAYOUT *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Perseo.Web
@{
    Layout = Context.Request.IsAjax() ? "~/Views/Shared/_AjaxLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}
@section Styles { @RenderSection("Styles", false) }

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-3 mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title="@ViewData["Title"]" subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* NAVIGATION *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            @* Back *@
                            <span class="btn-group mb-3 mb-sm-0 mr-3">
                                <a id="back" asp-action="list" class="btn btn-secondary history-back">
                                    <i class="fa fa-arrow-left"></i>&nbsp; @SharedLocalizer["Volver"]
                                </a>
                            </span>
                            @*New*@
                            <span class="btn-group mb-3 mb-sm-0 mr-3">
                                <button class="btn btn-warning" type="button" data-remote="/area/add/@ViewBag.Id" data-target="#global-modal" data-toggle="modal">
                                    <i class="fa fa-plus-circle"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Nueva"]</span>
                                </button>
                            </span>
                            @* Edit *@
                            <span class="btn-group mb-3 mb-sm-0">
                                <a id="back" asp-action="edit" asp-route-id="@ViewBag.Id" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>&nbsp; @SharedLocalizer["Editar"]
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                @* TABS *@
                <ul class="nav nav-tabs" id="nav-tab" role="tablist" data-active-tab="@ViewBag.Tab">
                    <li class="nav-item">
                        <a href="/area/show/@ViewBag.Id" class="nav-link" id="tab-main">
                            <i class="icon-info"></i>&nbsp; @SharedLocalizer["Información"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/area/show/@ViewBag.Id/dashboard" class="nav-link" id="tab-dashboard">
                            <i class="icon-speedometer"></i>&nbsp; @SharedLocalizer["Dashboard"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-users" href="/area/show/@ViewBag.Id/users">
                            <i class="icon-people"></i>&nbsp; @SharedLocalizer["Usuarios"]

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-staffing" href="/area/show/@ViewBag.Id/staffing">
                            <i class="icon-target"></i>&nbsp; @SharedLocalizer["Capacidad"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-schedule" href="/area/show/@ViewBag.Id/schedule">
                            <i class="icon-clock"></i>&nbsp; @SharedLocalizer["Horario"]
                        </a>
                    </li>
                </ul>
                @* CONTENT *@
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-main-pane">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @RenderSection("Scripts", false) }
