﻿@* AREA - EDIT *@

@using Perseo.Core
@model AreaViewModel

@{
    ViewData["Title"] = @Model.Name;
    ViewData["SubTitle"] = "";

    var showCode = Model.Type == AreaType.Organizational || Model.Type == AreaType.Productive ? "style=display:none;" : "";

    var TypeSelectList = Html.GetEnumSelectList(typeof(AreaType));
    if (!User.IsInAnyRoles(AppRole.Administration, AppRole.Maintenance) || Model.Type != AreaType.General)
    {
        TypeSelectList = TypeSelectList.Where(x => x.Value != ((int)AreaType.General).ToString());
    }

}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/hierarchy-select/src/hierarchy-select.js"></script>
    <script>

        function type_change() {
            var sel = $('input[name="ParentId"]:checked').attr("data-type");
            switch ($("#type").val()) {
                case '@((int)AreaType.Project)':
                    $('#code').show();
                    $('#wbs').show();
                    $('input[name="ParentId"][data-type="@((int)AreaType.Project)"], input[name="ParentId"][data-type="@((int)AreaType.General)"], input[name="ParentId"][data-type="@((int)AreaType.Productive)"]').attr('disabled', 'disabled').closest("label").addClass('disabled');
                    $('input[name="ParentId"][data-type="@((int)AreaType.Organizational)"]').removeAttr('disabled').closest("label").removeClass('disabled');
                    if (sel == @((int)AreaType.Project) || sel == @((int)AreaType.General) || sel == @((int)AreaType.Productive) )
                        $('#parent').val([]);
                    break;
                case '@((int)AreaType.General)':
                    $('#wbs').hide();
                    $('#wbs').hide();
                    $('input[name="ParentId"][data-type="@((int)AreaType.Project)"], input[name="ParentId"][data-type="@((int)AreaType.Productive)"]').attr('disabled', 'disabled').closest("label").addClass('disabled');
                    $('input[name="ParentId"][data-type="@((int)AreaType.General)"], input[name="ParentId"][data-type="@((int)AreaType.Organizational)"]').removeAttr('disabled').closest("label").removeClass('disabled');
                    if (sel == @((int)AreaType.Project) || sel == @((int)AreaType.Productive) )
                        $('#parent').val([]);
                    break;
                case '@((int)AreaType.Productive)':
                    $('#code').hide();
                    $('#wbs').show();
                    $('input[name="ParentId"][data-type="@((int)AreaType.General)"], input[name="ParentId"][data-type="@((int)AreaType.Organizational)"]').attr('disabled', 'disabled').closest("label").addClass('disabled');
                    $('input[name="ParentId"][data-type="@((int)AreaType.Project)"], input[name="ParentId"][data-type="@((int)AreaType.Productive)"]').removeAttr('disabled').closest("label").removeClass('disabled');
                    if (sel == @((int)AreaType.Organizational) || sel == @((int)AreaType.General) )
                        $('#parent').val([]);
                break;
                case '@((int)AreaType.Organizational)':
                    $('#code').hide();
                    $('#wbs').hide();
                    $('input[name="ParentId"][data-type="@((int)AreaType.Project)"], input[name="ParentId"][data-type="@((int)AreaType.General)"], input[name="ParentId"][data-type="@((int)AreaType.Productive)"]').attr('disabled', 'disabled').closest("label").addClass('disabled');
                    $('input[name="ParentId"][data-type="@((int)AreaType.Organizational)"], input[name="ParentId"][data-type="@((int)AreaType.Project)"]').removeAttr('disabled').closest("label").removeClass('disabled');
                    if (sel == @((int)AreaType.Project) || sel == @((int)AreaType.General) || sel == @((int)AreaType.Productive) )
                        $('#parent').val([]);
                break;
                default:
                    $('input[name="ParentId"]').removeAttr('disabled').closest("label").removeClass('disabled');
            }
        }

        function parent_change () {
            var sel = $("select[name='Type']").val();
            switch ($('input[name="ParentId"]:checked').attr("data-type")) {
                case '@((int)AreaType.Project)':
                    $('#type option[value="@((int)AreaType.Project)"], #type option[value="@((int)AreaType.General)"], #type option[value="@((int)AreaType.Organizational)"]').attr('disabled', 'disabled');
                    $('#type option[value="@((int)AreaType.Productive)"]').removeAttr('disabled');
                    if (sel == @((int)AreaType.Project) || sel == @((int)AreaType.General) || sel == @((int)AreaType.Organizational) )
                        $('#type').val([]);
                    break;
                case '@((int)AreaType.General)':
                    $('#type option[value="@((int)AreaType.Project)"], #type option[value="@((int)AreaType.Productive)"], #type option[value="@((int)AreaType.Organizational)"]').attr('disabled', 'disabled');
                    $('#type option[value="@((int)AreaType.General)"]').removeAttr('disabled');
                    if (sel == @((int)AreaType.Project) || sel == @((int)AreaType.Productive) || sel == @((int)AreaType.Organizational))
                        $('#type').val([]);
                    break;
                case '@((int)AreaType.Productive)':
                    $('#type option[value="@((int)AreaType.General)"], #type option[value="@((int)AreaType.Organizational)"],#type option[value="@((int)AreaType.Project)"]').attr('disabled', 'disabled');
                    $('#type option[value="@((int)AreaType.Productive)"]').removeAttr('disabled');
                    if (sel == @((int)AreaType.Organizational) || sel == @((int)AreaType.General) || sel == @((int)AreaType.Project) )
                        $('#type').val([]);
                break;
                case '@((int)AreaType.Organizational)':
                    $('#type option[value="@((int)AreaType.Productive)"]').attr('disabled', 'disabled');
                    $('#type option[value="@((int)AreaType.General)"],  #parent option[value="@((int)AreaType.Project)"],  #type option[value="@((int)AreaType.Organizational)"]').removeAttr('disabled');
                    if (sel == @((int)AreaType.Productive) )
                        $('#type').val([]);
                break;
                default:
                    $('#type option').removeAttr('disabled');
            }
        }

        var modal_destination;

        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Áreas y Servicios"]', url: 'area' }, { name: '@Model.Name', url: 'show/@Model.Id' }, { name: '@SharedLocalizer["Editar"]', url: '' });

            $('#global-modal').on('shown.bs.modal', function (event) {
                var triggerElement = $(event.relatedTarget);
                modal_destination = triggerElement.parent().siblings('input');
            });
            $('#global-modal-lg').on('shown.bs.modal', function (event) {
                var triggerElement = $(event.relatedTarget);
                modal_destination = triggerElement.parent().siblings('input');
            });

            $('#parent').treeselect({ type: 'form' });

            $('#list-table').DataTable({
                searching: false, lengthChange: false,
                responsive: { details: { type: 'column' } },
                columnDefs: [{ className: 'control', orderable: false, targets: 0 }],
            });
            $('#list-table').attr('style', 'border-collapse: collapse !important');
            $("tr.clickable-row td:not(:last-child):not(:first-child)").click(function () {
                $.ajaxGet("/job/show/" + $(this).parent().data("id"));
            });
            $("#save-button").click(function (e) {
                var err = false;

                var value = $('#parent-container > div > div > button > span').text();
                var textfield = $('#parent-container > div > span');
                if (value.length < 2) {
                    textfield.html('@SharedLocalizer["El campo Área Padre es obligatorio"]');
                    err = true;
                } else { textfield.html(''); }

                if ($('#type').val() == @((int)AreaType.Project)) {
                    var value = $('#Code').val();
                    var textfield = $('#code > span.text-danger');
                    if (value.length < 2) {
                        textfield.html('@SharedLocalizer["El campo Código de Proyecto es obligatorio"]');
                        err = true;
                    } else { textfield.html(''); }
                }

                if (err == true) {
                    e.preventDefault();
                }
            });

            type_change();
            parent_change();
            $("#type").on('change', type_change);
            $("input[name='ParentId']").on('change', parent_change);

        });
    </script>
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit">
                    @* HEADER *@
                    <div class="row mb-3 mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title="@ViewData["Title"]" subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* NAVIGATION *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="List" class="btn btn-secondary history-back">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                <span class="btn-group mb-3 mb-sm-0">
                                    <button class="btn btn-primary" type="submit" id="save-button">
                                        <i class="fa fa-save"></i>&nbsp; @SharedLocalizer["Guardar"]
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group row">
                                            <label asp-for="Name" class="col-xl-4 col-form-label"></label>
                                            <div class="col-xl-8">
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="Description" class="col-xl-4 col-form-label"></label>
                                            <div class="col-xl-8">
                                                <input asp-for="Description" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="Type" class="col-xl-4 col-form-label"></label>
                                            <div class="col-xl-8 input-group">
                                                <select asp-for="Type" asp-items="TypeSelectList" class="form-control" id="type">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <span class="col-xl-4"></span>
                                            <span asp-validation-for="Type" class="text-danger col-xl-8"></span>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="StartDate" class="col-xl-4 col-form-label"></label>
                                            <div class="col-xl-8 input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                <input asp-for="StartDate" class="form-control" />
                                            </div>
                                            <span class="col-xl-4"></span>
                                            <span asp-validation-for="StartDate" class="text-danger col-xl-8"></span>
                                        </div>
                                        @if (Model.UserCount < 1)
                                        {
                                            <div class="form-group row">
                                                <label asp-for="EndDate" class="col-xl-4 col-form-label"></label>
                                                <div class="col-xl-8 input-group-append">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    <input asp-for="EndDate" class="form-control" id="start-date" />
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group row" id="parent-container">
                                            <label asp-for="Parent" class="col-xl-4 col-form-label"></label>
                                            <div class="col-xl-8 input-group">
                                                <select class="form-control" id="parent" name="ParentId">
                                                    <option value=""></option>
                                                    @foreach (Area area in Model.OwnedAreas)
                                                    {
                                                        <option value="@area.Id"
                                                                selected="@(Model.ParentId == @area.Id ? true : false)"
                                                                data-type="@((int)area.Type)"
                                                                data-parent="@(Model.OwnedAreas.Any(c => c.Id == area.ParentId) ? area.ParentId : null)">
                                                            @area.Name
                                                        </option>
                                                    }
                                                </select>
                                                <span asp-validation-for="Parent" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row" id="owner">
                                            <label asp-for="Owner" class="col-xl-4 col-form-label"></label>
                                            <div class="col-xl-8 input-group">
                                                <input asp-for="Owner" class="form-control bg-white" readonly="readonly" />
                                                <span class="input-group-append">
                                                    <button class="btn btn-light" type="button" data-remote="/area/edit/@Model.Id/editownerhistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                </span>
                                            </div>
                                            <span class="col-xl-4"></span>
                                            <span asp-validation-for="Owner" class="text-danger col-xl-8"></span>
                                        </div>
                                        <div class="form-group row" id="code" @showCode>
                                            <label asp-for="Code" class="col-xl-4 col-form-label"></label>
                                            <div class="col-xl-8 input-group">
                                                <input asp-for="Code" class="form-control bg-white" readonly="readonly" />
                                                <span class="input-group-append">
                                                    <button class="btn btn-light" type="button" data-remote="/area/edit/@Model.Id/editcodehistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                </span>
                                            </div>
                                            <span class="col-xl-4"></span>
                                            <span asp-validation-for="Code" class="text-danger col-xl-8"></span>
                                        </div>
                                        <div class="form-group row" id="wbs">
                                            <label asp-for="Wbs" class="col-xl-4 col-form-label"></label>
                                            <div class="col-xl-8 input-group">
                                                <input asp-for="Wbs" class="form-control bg-white" readonly="readonly" />
                                                <span class="input-group-append">
                                                    <button class="btn btn-light" type="button" data-remote="/area/edit/@Model.Id/editcodewbshistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <label class="col-form-label">Tareas</label>
                    <button class="btn btn-success float-right" type="button" data-remote="/job/add/@Model.Id" data-target="#global-modal" data-toggle="modal">
                        <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Tarea"]
                    </button>
                    <br />
                    <div id="list-table-container" class="dt-hidden-container">
                        <table id="list-table" data-row-link="/user/show/" class="table table-hover table-sm table-striped dt-responsive dt-export dt-filter nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@SharedLocalizer["Nombre"]</th>
                                    <th>@SharedLocalizer["Descripción"]</th>
                                    <th>@SharedLocalizer["Por Defecto"]</th>
                                    <th align="center">@SharedLocalizer["Acciones"]</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.Jobs.Count() > 0)
                                {
                                    @foreach (var Job in Model.Jobs)
                                    {
                                        <tr class="clickable-row" data-id="@Job.Id">
                                            <td></td>
                                            <td>@Html.DisplayFor(modelItem => Job.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => Job.Description)</td>
                                            <td>@Html.CheckBoxFor(modelItem => Job.Default.Value, new { @disabled = "disabled" })</td>
                                            <td class="actions sorting-disabled filter-disabled">
                                                <a id="show" asp-controller="Job" asp-action="Show" asp-route-id="@Job.Id" class="btn btn-sm btn-ghost-success"><i class="fa fa-eye"></i></a>
                                                <a id="ed" asp-controller="Job"  asp-action="Edit" asp-route-id="@Job.Id" class="btn btn-sm btn-ghost-success"><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
