﻿@* AREA - LIST *@

@using Perseo.Core
@using Perseo.Web.Models
@using Microsoft.AspNetCore.Html

@model AreaListViewModel
@{
    ViewData["Title"] = SharedLocalizer["Áreas y Servicios"];

    var SelectedTypes = Model.AreaTypes as List<AreaType>;
    var AreaTypes = Enum.GetValues(typeof(AreaType)).Cast<AreaType>().Where(at => at != AreaType.General).ToList();

    var DtOptions = Model.Pagination.ServerSidePagination ? Html.Raw(@"serverSide : true, ajax: '/area/listdata/', deferLoading : " + Model.Pagination.RowCount) : Html.Raw("");
}

@functions{
    string Recursive(List<AreaListNode> FlatTree, int targetId, int? parentId = null, bool? targetFound = false)
    {
        string str = "";
        FlatTree.Where(x => x.ParentId == parentId).ToList().ForEach(node =>
        {
            var ownerFullName = "";
            var onwerAvatar = "";
            if (!string.IsNullOrEmpty(node.OwnerFullName))
            {
                ownerFullName = node.OwnerFullName;
                onwerAvatar = node.OwnerAvatar;
            }
            else
            {
                ownerFullName = " - ";
            }
            str += "{'id':'" + node.Id + "', 'other':'" + onwerAvatar + "' ,'name':'" + node.Name + "', 'title':'" + ownerFullName + "'";
            if (targetId == node.Id)
            {
                str += ",'className':'target'";
                targetFound = true;
            }
            else if (!targetFound.Value)
            {
                str += ",'className':'parent'";
            }
            else
            {
                str += ",'className':'child'";
            }
            var children = Recursive(FlatTree, targetId, node.Id, targetFound);
            if (children.Length > 0)
            {
                str += ", 'children': [" + children + "]";
            }
            str += "},";
        });
        return str.TrimEnd(',');
    }

    public IHtmlContent OrgChartData(List<AreaListNode> FlatTree, int targetId)
    {
        var targetNode = FlatTree.Single(x => x.Id == targetId);

        string result = "";
        var ownerFullName = "";
        var onwerAvatar = "";
        if (!string.IsNullOrEmpty(targetNode.OwnerFullName))
        {
            ownerFullName = targetNode.OwnerFullName;
            onwerAvatar = targetNode.OwnerAvatar;
        }
        else
        {
            ownerFullName = " - ";
        }
        result += "{'id':'" + targetNode.Id + "', 'other':'" + onwerAvatar + "' ,'name':'" + targetNode.Name + "', 'title':'" + ownerFullName + "','className':'target'";

        var children = Recursive(FlatTree, targetId, targetNode.Id, true);
        if (children.Length > 0)
        {
            result += ", 'children': [" + children + "]";
        }
        result += "},";

        return Html.Raw(result.TrimEnd(',').Replace(System.Environment.NewLine, String.Empty));
    }

    public IHtmlContent OrgChartDataMultiple(List<List<AreaListNode>> UpperTrees)
    {
        string result = "[";

        foreach(List<AreaListNode> FlatTree in UpperTrees)
        {
            result += "";
            int targetId = FlatTree.First().Id;
            var targetNode = FlatTree.Single(x => x.Id == targetId);

            var ownerFullName = "";
            var onwerAvatar = "";
            if (!string.IsNullOrEmpty(targetNode.OwnerFullName))
            {
                ownerFullName = targetNode.OwnerFullName;
                onwerAvatar = targetNode.OwnerAvatar;
            }
            else
            {
                ownerFullName = " - ";
            }
            result += "{'id':'" + targetNode.Id + "', 'other':'" + onwerAvatar + "' ,'name':'" + targetNode.Name + "', 'title':'" + ownerFullName + "','className':'target'";

            var children = Recursive(FlatTree, targetId, targetNode.Id, true);
            if (children.Length > 0)
            {
                result += ", 'children': [" + children + "]";
            }
            result += "},";
        }
        result = result.TrimEnd(',') + "]";
        return Html.Raw(result.Replace(System.Environment.NewLine, String.Empty));
    }
}


@section Styles{
    <link rel="stylesheet" href="~/lib/orgchart/dist/css/jquery.orgchart.min.css">
    <style>

        .chart-container {
            border: 1px solid #c8ced3;
        }

        .col-form-label {
            color: #03657c;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .orgchart {
            background: #fff;
        }

            .orgchart .lines .downLine, .orgchart .lines .upLine {
                background-color: #536c75;
            }

            .orgchart .lines .leftLine, .orgchart .lines .rightLine {
                border-color: #536c75;
            }

            .orgchart .node .title {
                background-color: #536c75;
            }

            .orgchart .node .content {
                border-color: #536c75;
            }

            .orgchart .node {
                width: 160px;
            }

                .orgchart .node .title {
                    font-weight: normal;
                    padding: 2px;
                    height: 22px;
                    cursor: pointer;
                }

                .orgchart .node .content {
                    font-weight: normal;
                    height: 22px;
                    cursor: pointer;
                }

            .orgchart.l2r {
                position: inherit;
            }

        #chart-container {
            overflow: hidden;
        }

        .orgchart .second-menu-icon {
            transition: opacity .5s;
            opacity: 0;
            right: -5px;
            top: -5px;
            z-index: 2;
            color: rgba(68, 157, 68, 0.5);
            font-size: 20px;
            position: absolute;
        }

            .orgchart .second-menu-icon:hover {
                color: rgba(68, 157, 68, 0.8);
            }

        .orgchart .node:hover .second-menu-icon {
            opacity: 1;
        }

        .orgchart .node .second-menu {
            display: none;
            position: absolute;
            top: 0px;
            right: -50px;
            border-radius: 35px;
            box-shadow: 0 0 10px 1px #999;
            background-color: #fff;
            z-index: 1;
        }

            .orgchart .node .second-menu .avatar {
                width: 60px;
                height: 60px;
                border-radius: 30px;
            }

        .orgchart.l2r {
            padding-top: 10px;
        }

            .orgchart.l2r > table {
                margin-top: 0;
            }

            .orgchart.l2r .second-menu-icon {
                right: 35px;
                top: 115px;
            }

            .orgchart.l2r .node .second-menu {
                right: -10px;
                top: 120px;
            }

                .orgchart.l2r .node .second-menu .avatar {
                    transform: rotate(-90deg);
                }

            .orgchart.l2r .node, .orgchart.r2l .node {
                border: 0px;
            }

        .orgchart .node .edge {
            display: none;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript" src="~/lib/orgchart/dist/js/jquery.orgchart.min.js"></script>
    <script>
    $(document).ready(function () {
        breadcrumb({ name: '@SharedLocalizer["Áreas y Servicios"]', url: 'area' });

        $('#area-list-table').dt({ @DtOptions });

        var direction = $(window).width() >= 960 ? 'l2r' : 't2b';
        var datasourceMultiple = @OrgChartDataMultiple(ViewBag.UpperTrees);
        
        for (i = 0; i < datasourceMultiple.length; i++) {

            var datasource = datasourceMultiple[i];
            var chartname = '#chart-container' + i
               
            $(chartname).orgchart({
                'data': datasource,
                'nodeContent': 'title',
                'direction': direction,
                'pan': true,
                'parentNodeSymbol': "fa-plus mr-1",
                'createNode': function ($node, data) {

                    $node.on('click', function () {
                        var areaid = data.id;
                        $.ajaxGet('/area/show/' + areaid);
                    });

                    if (data.other !=="")
                    {
                        var nodePrompt = $('<i>', {
                            'class': 'fa fa-circle second-menu-icon',
                        mouseover: function () {
                            $(this).siblings('.second-menu').toggle();
                            },
                        mouseout: function () {
                            $(this).siblings('.second-menu').toggle();
                            }
                        });
                        var url = "/static/avatars/" + data.other;
                        var secondMenu = '<div class="second-menu"><img class="avatar" src="' + url + '"></div>';
                        $node.append(nodePrompt).append(secondMenu)
                    }
                },
                'initCompleted': function () {

                    $("[id^='chart-container']").each(function () {
                        var $container = $(this);
                            if (direction === 'l2r') {
                                $container.css('height', $('div.orgchart').width() + 40);
                            } else if (direction === 't2b') {
                            $container.scrollLeft(($container[0].scrollWidth - $container.width()) / 2);
                        }
                    });

                }
            });
        }

        $('#type').treeselect({
            buttontext: '@SharedLocalizer["Tipo"]',
            div: '<div id="type-filter" class="dropdown bts_dropdown float-right mr-3"></div>',
        });

        $('#go_button').click(function () {
            var active = $('#active-filter input:checked').val();
            var type_arr = $.map($('#type-filter').find("input[type='checkbox']:checked"), function (e, i) {
                return +e.value;
            });
            if (type_arr.length === 0) {
                type_arr = $.map($('#type-filter').find("input[type='checkbox']"), function (e, i) {
                    return +e.value;
                });
            }
            var type = type_arr.join(';');
            var url = "/area/list/" + active + "/" + type;
            $.ajaxGet(url);
        });

    });
    </script>
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* Navigation *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            <span class="btn-group mb-3 mb-sm-0">
                                <vc:active-filter state=@Model.Active></vc:active-filter>
                            </span>
                            <span class="btn-group mb-3 mb-sm-0">
                                <select name="type" id="type" class="d-none" data-multiple="true">
                                    @foreach (var item in AreaTypes)
                                    {
                                        <option value="@((int)item)" selected="@(SelectedTypes.Any(a => a == item) ? true : false)">
                                            @item.GetDisplayName()
                                        </option>
                                    }
                                </select>
                            </span>
                            <span class="btn-group mr-0 mb-3 mb-sm-0 mr-3">
                                <button class="btn btn-light rounded active" type="button" id="go_button"> @SharedLocalizer["Ir"]</button>
                            </span>
                            <span class="btn-group mb-3 mb-sm-0">
                                <button class="btn btn-primary" type="button" data-remote="/area/add" data-target="#global-modal" data-toggle="modal">
                                    <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Nuevo"]
                                </button>
                            </span>

                        </div>
                    </div>
                </div>
                @* CONTENT *@
                <div id="area-list-table-container" class="dt-hidden-container">
                    <table id="area-list-table" data-row-link="/area/show/$id" class="table table-hover table-sm table-striped dt-responsive dt-export dt-filter nowrap">
                        <thead>
                            <tr>
                                <th class="main">@SharedLocalizer["Nombre"]</th>
                                <th>@SharedLocalizer["Descripción"]</th>
                                <th>@SharedLocalizer["Tipo"]</th>
                                <th>@SharedLocalizer["Responsable"]</th>
                                <th>@SharedLocalizer["Colaboradores"]</th>
                                <th>@SharedLocalizer["Código/Edt"]</th>
                                <th class="actions">
                                    @SharedLocalizer["Acciones"]
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data)
                            {
                                <tr data-id="@item.Id">
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>@item.Type.GetDisplayName()</td>
                                    <td>@Html.DisplayFor(modelItem => item.OwnerFullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Users)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FullCode)</td>
                                    <td class="actions">
                                        <a id="show" asp-action="Show" asp-route-id="@item.Id" class="btn btn-sm btn-ghost-primary">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a id="edit" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-ghost-success">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@SharedLocalizer["Nombre"]</th>
                                <th>@SharedLocalizer["Descripción"]</th>
                                <th>@SharedLocalizer["Tipo"]</th>
                                <th>@SharedLocalizer["Responsable"]</th>
                                <th>@SharedLocalizer["Colaboradores"]</th>
                                <th>@SharedLocalizer["Código/Edt"]</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                @for(int i = 0; i < @ViewBag.UpperTrees.Count; i++)
                {
                    string chartname = "chart-container" + i;
                    <div class="row">
                        <div class="col-12">
                            <div class="chart-container" id=@chartname></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>