﻿@* AREA - SHOW DASHBOARD*@

@using Perseo.Web.HighCharts
@using System.Globalization

@model AreaViewModel

@inject IHighCharts HighCharts

@{
    Layout = "_ShowLayout.cshtml";
    ViewData["Title"] = Model.Name;
    ViewData["SubTitle"] = Model.Type.GetDisplayName();
    ViewBag.Tab = "tab-dashboard";
    string monthName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(ViewBag.Month));
    string baseUrl = "area/show/" + Model.Id + "/dashboard";

    PieChart pie_chart_one = HighCharts.PieChart("pie-one");
    foreach (var serie in ViewBag.Pie1.ComplexSeries) { pie_chart_one.AddComplexData(serie.Name, serie.Data); }
    foreach (var drilldown in ViewBag.Pie1.DrillDowns) { pie_chart_one.AddDrilldown(drilldown.Name, drilldown.Data); }
    pie_chart_one.Series.First().Data[0].Color = Constants.color_gray;
    pie_chart_one.Series.First().Data[1].Color = Constants.color_purple;
    pie_chart_one.Series.First().Data[2].Color = Constants.color_green;
    pie_chart_one.Series.First().Data[3].Color = Constants.color_yellow;
    pie_chart_one.PlotOptions.Pie.Tooltip.PointFormat += " " + SharedLocalizer["Horas"].ToString().ToLower();
    pie_chart_one.Legend.VerticalAlign = "top";
    pie_chart_one.Legend.Y = -20;
    pie_chart_one.Chart.Height = "250";

    BarsChart bars_chart_two = HighCharts.BarsChart("bars-two");
    foreach (var serie in ViewBag.Bars2.ComplexSeries) { bars_chart_two.AddComplexData(serie.Name, serie.Data); }
    bars_chart_two.Legend.Enabled = false;
    bars_chart_two.Chart.Height = "250";

    BarsChart columns_chart_two = HighCharts.BarsChart("columns-two");
    columns_chart_two.AddLabels(new List<string> { "CXOMCT/1", "CXOMCT/3", "CXOMCT/4", "CXOMCT/5", "CXOMCT/6", "CXOMCT/7" });
    columns_chart_two.AddData("Alta", new List<double> { 12, 33, 9, 20, 4, 18 }, Constants.color_light_green);
    columns_chart_two.AddData("Media", new List<double> { 68, 63, 71, 67, 66, 62 }, Constants.color_light_blue);
    columns_chart_two.AddData("Baja", new List<double> { 20, 4, 20, 13, 30, 20 }, Constants.color_yellow);
    columns_chart_two.Stack(true);
    columns_chart_two.YAxis.First().Max = 100;
    columns_chart_two.Legend.Align = "center";
    columns_chart_two.Legend.Floating = false;
    columns_chart_two.Legend.Y = -24;
    columns_chart_two.Legend.X = 0;
    columns_chart_two.Chart.Height = "250";

    List<string> BarLabels = new List<string> { "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31" };
    List<double> BarDisponible = new List<double> { 49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6 };
    List<double> BarRequerido = new List<double> { 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6, 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6, 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2 };

    LineChart chart_line_one = HighCharts.LineChart("lines-one");
    AreaChart chart_area_one = HighCharts.AreaChart("area-one");
    if (ViewBag.ViewType == "month")
    {
        foreach (var serie in ViewBag.Line1.ComplexSeries) { chart_line_one.AddComplexData(serie.Name, serie.Data); }
        foreach (var drilldown in ViewBag.Line1.DrillDowns)
        {
            string serieName = (chart_line_one.Drilldown.Series.Count() % 2) == 0 ? ViewBag.Line1.ComplexSeries[0].Name : ViewBag.Line1.ComplexSeries[1].Name;
            string serieType = (chart_line_one.Drilldown.Series.Count() % 2) == 0 ? "column" : "spline";
            chart_line_one.Drilldown.Series.Add(new Serie() { Id = drilldown.Name, Name = serieName, Type = serieType, Data = drilldown.Data });
        }
        chart_line_one.Drilldown.AllowPointDrilldown = false;
        chart_line_one.Series[0].Type = "column";
        chart_line_one.Series[1].Type = "spline";
        chart_line_one.Chart.Height = "250";

        chart_area_one.AddLabels(BarLabels);
        chart_area_one.AddData(SharedLocalizer["Gestionado"], BarDisponible, Constants.color_light_blue);
        chart_area_one.AddData(SharedLocalizer["Pendiente"], BarRequerido, Constants.color_dark_gray);
        chart_area_one.Chart.Height = "250";
    }

}

@section Styles{
    <style>
        .icons-list {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .icons-list li {
                position: relative;
                height: 40px;
                vertical-align: middle;
            }

                .icons-list li i {
                    display: block;
                    float: left;
                    width: 35px !important;
                    height: 35px !important;
                    margin: 2px;
                    line-height: 35px !important;
                    text-align: center;
                }

                .icons-list li .desc {
                    height: 40px;
                    margin-left: 50px;
                    border-bottom: 1px solid #a4b7c1;
                }

                    .icons-list li .desc .title {
                        padding: 2px 0 0;
                        margin: 0;
                    }

                    .icons-list li .desc small {
                        display: block;
                        margin-top: -4px;
                        color: #536c79;
                    }

                .icons-list li .value {
                    position: absolute;
                    top: 2px;
                    right: 45px;
                    text-align: right;
                }

                    .icons-list li .value strong {
                        display: block;
                        margin-top: -3px;
                    }

                .icons-list li .actions {
                    position: absolute;
                    top: -4px;
                    right: 10px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                }

                    .icons-list li .actions i {
                        float: none;
                        width: auto;
                        height: auto;
                        padding: 0;
                        margin: 0;
                        line-height: normal;
                    }

                .icons-list li.divider {
                    height: 40px;
                }

                    .icons-list li.divider i {
                        width: auto;
                        height: auto;
                        margin: 2px 0 0;
                        font-size: 18px;
                    }
    </style>
}

@section Scripts{
    @HighCharts.RenderScript()
    <script>

        $(document).ready(function () {

            $('#view_type_selector').treeselect({
                buttontext: "@SharedLocalizer["Vista"]",
                div: '<div id="viewtype-filter" class="dropdown bts_dropdown float-right mr-3"></div>',
            });

            $('#viewtype-filter').on('change', function () {
                var val = $('#viewtype-filter input:checked').val()
                var url = "@baseUrl/@ViewBag.Year/@ViewBag.Month/" + val;
                $.ajaxGet(url);
            });

        });

    </script>
}
<div class="row mb-3 mb-sm-4 mb-xl-3">
    @* Title *@
    <div class="col-10 col-sm-11 col-xl-6">
        @*<h5 class="card-title mb-0">
                Datos de @monthName de @ViewBag.Year
            </h5>*@
    </div>
    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
            @* ViewType *@
            <span class="btn-group mb-3 mb-sm-0">
                <select name="view_type_selector" id="view_type_selector" class="d-none">
                    <option value="month" selected="@(ViewBag.ViewType == "month" ? true : false)">@SharedLocalizer["Vista Mensual"]</option>
                    <option value="year" selected="@(ViewBag.ViewType == "year" ? true : false)">@SharedLocalizer["Vista Anual"]</option>
                </select>
            </span>
            @* Date *@
            @if (ViewBag.ViewType == "year")
            {
                <span class="btn-group mr-3 mb-3 mb-sm-0">
                    <vc:year-filter year=@ViewBag.Year url="@baseUrl/$y/@ViewBag.Month/@ViewBag.ViewType"></vc:year-filter>
                </span>
            }
            else
            {
                <span class="btn-group mr-3 mb-3 mb-sm-0">
                    <vc:year-month-filter year=@ViewBag.Year month=@ViewBag.Month url="@baseUrl/$y/$m/@ViewBag.ViewType"></vc:year-month-filter>
                </span>
            }
        </div>
    </div>
</div>

<div class="row mt-2 h-auto">
    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body pl-1 pr-1 pb-0">
                <div class="mb-0" style="text-align: center;"><h5>@ViewBag.Pie1.Name</h5> </div>
                @pie_chart_one.Render()
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div class="mb-4" style="text-align: center;"><h5>Indicadores de Personal</h5> </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Productividad</div>
                        <div class="ml-auto font-weight-bold">72%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-color-1" role="progressbar" style="width: 72%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user-following progress-group-icon"></i>
                        <div>Capacidad</div>
                        <div class="ml-auto font-weight-bold">87%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-color-2" role="progressbar" style="width: 87%;" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user-follow progress-group-icon"></i>
                        <div>Disponibilidad</div>
                        <div class="ml-auto font-weight-bold">23%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-color-3" role="progressbar" style="width: 23%;" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user-unfollow progress-group-icon"></i>
                        <div>Absentismo</div>
                        <div class="ml-auto font-weight-bold">9%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-color-4" role="progressbar" style="width: 9%;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-people progress-group-icon"></i>
                        <div>Rotación</div>
                        <div class="ml-auto font-weight-bold">17%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-color-5" role="progressbar" style="width: 17%;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body pr-3 pl-2 pb-0">
                <div class="mb-0" style="text-align: center;"><h5>@ViewBag.Bars2.Name</h5> </div>
                @bars_chart_two.Render()
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body pr-3 pl-2 pb-0">
                <div class="mb-0" style="text-align: center;"><h5>Productividad por Tarea</h5> </div>
                @columns_chart_two.Render()
            </div>
        </div>
    </div>
    @if (ViewBag.ViewType == "month")
    {
        <div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body pb-0 pl-2 pr-3">
                    <div class="mb-3 text-center"><h5>@ViewBag.Line1.Name</h5> </div>
                    @chart_line_one.Render()
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body pb-0 pl-2 pr-3">
                    <div class="mb-3 text-center"><h5>Producción Mensual por Día</h5> </div>
                    @chart_area_one.Render()
                </div>
            </div>
        </div>
    }
</div>
