﻿@* AREA - SHOW *@

@using Microsoft.AspNetCore.Html
@using Perseo.Core
@model AreaViewModel

@{
    Layout = "_ShowLayout.cshtml";
    ViewData["Title"] = Model.Name;
    ViewData["SubTitle"] = Model.Type.GetDisplayName();
}

@functions{
    string Recursive(List<AreaListNode> FlatTree, int targetId, int? parentId = null, bool? targetFound = false)
    {
        string str = "";
        FlatTree.Where(x => x.ParentId == parentId).ToList().ForEach(node =>
        {
            var ownerFullName = "";
            var onwerAvatar = "";
            if (!string.IsNullOrEmpty(node.OwnerFullName))
            {
                ownerFullName = node.OwnerFullName;
                onwerAvatar = node.OwnerAvatar;
            }
            else
            {
                ownerFullName = " - ";
            }
            str += "{'id':'" + node.Id + "', 'other':'" + onwerAvatar + "' ,'name':'" + node.Name + "', 'title':'" + ownerFullName + "'";
            if (targetId == node.Id)
            {
                str += ",'className':'target'";
                targetFound = true;
            }
            else if (!targetFound.Value)
            {
                str += ",'className':'parent'";
            }
            else
            {
                str += ",'className':'child'";
            }
            var children = Recursive(FlatTree, targetId, node.Id, targetFound);
            if (children.Length > 0)
            {
                str += ", 'children': [" + children + "]";
            }
            str += "},";
        });
        return str.TrimEnd(',');
    }
    public IHtmlContent OrgChartData(List<AreaListNode> FlatTree, int targetId)
    {
        return Html.Raw(Recursive(FlatTree, targetId, 2).Replace(System.Environment.NewLine, String.Empty));
    }
}

@section Styles{
    <link rel="stylesheet" href="~/lib/orgchart/dist/css/jquery.orgchart.min.css">
    <style>

        #chart-container {
            border: 1px solid #c8ced3;
        }

        .col-form-label {
            color: #03657c;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .orgchart {
            background: #fff;
        }

            .orgchart .lines .downLine, .orgchart .lines .upLine {
                background-color: #536c75;
            }

            .orgchart .lines .leftLine, .orgchart .lines .rightLine {
                border-color: #536c75;
            }

            .orgchart .node .title {
                background-color: #536c75;
            }

            .orgchart .node .content {
                border-color: #536c75;
            }

            .orgchart .target .title {
                background-color: #6d93f6;
            }

            .orgchart .target .content {
                border-color: #6d93f6;
            }

            .orgchart .parent .title {
                background-color: #8d9da3;
            }

            .orgchart .parent .content {
                border-color: #8d9da3;
            }

            .orgchart .child .title {
                background-color: #536c75;
            }

            .orgchart .child .content {
                border-color: #536c75;
            }

            .orgchart .node {
                width: 160px;
            }

                .orgchart .node .title {
                    font-weight: normal;
                    padding: 2px;
                    height: 22px;
                    cursor: pointer;
                }

                .orgchart .node .content {
                    font-weight: normal;
                    height: 22px;
                    cursor: pointer;
                }

            .orgchart.l2r {
                position: inherit;
            }

        #chart-container {
            overflow: hidden;
        }

        .orgchart .second-menu-icon {
            transition: opacity .5s;
            opacity: 0;
            right: -5px;
            top: -5px;
            z-index: 2;
            color: rgba(68, 157, 68, 0.5);
            font-size: 20px;
            position: absolute;
        }

            .orgchart .second-menu-icon:hover {
                color: rgba(68, 157, 68, 0.8);
            }

        .orgchart .node:hover .second-menu-icon {
            opacity: 1;
        }

        .orgchart .node .second-menu {
            display: none;
            position: absolute;
            top: 0px;
            right: -50px;
            border-radius: 35px;
            box-shadow: 0 0 10px 1px #999;
            background-color: #fff;
            z-index: 1;
        }

            .orgchart .node .second-menu .avatar {
                width: 60px;
                height: 60px;
                border-radius: 30px;
            }

        .orgchart.l2r {
            padding-top: 10px;
        }

            .orgchart.l2r > table {
                margin-top: 0;
            }

            .orgchart.l2r .second-menu-icon {
                right: 35px;
                top: 115px;
            }

            .orgchart.l2r .node .second-menu {
                right: -10px;
                top: 120px;
            }

                .orgchart.l2r .node .second-menu .avatar {
                    transform: rotate(-90deg);
                }

            .orgchart.l2r .node, .orgchart.r2l .node {
                border: 0px;
            }

        .orgchart .node .edge {
            display: none;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript" src="~/lib/orgchart/dist/js/jquery.orgchart.min.js"></script>
    <script>
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Áreas y Servicios"]', url: 'area' }, { name: '@Model.Name'});
            $('#list-table').dt({ searching: false, ordering: false, lengthChange: false, pageLength: 5 });

            var direction = $(window).width() >= 960 ? 'l2r' : 't2b';
            var datasource = @OrgChartData(ViewBag.FlatTree, Model.Id);
            
            $('#chart-container').orgchart({
                'data': datasource,
                'nodeContent': 'title',
                'direction': direction,
                'pan': true,
                'parentNodeSymbol': "fa-plus mr-1",
                'createNode': function ($node, data) {

                    $node.on('click', function () {
                        var areaid = data.id;
                        $.ajaxGet('/area/show/' + areaid);
                    });
                    
                    if (data.other !=="")
                    {
                        var nodePrompt = $('<i>', {
                            'class': 'fa fa-circle second-menu-icon',
                            mouseover: function () {
                                $(this).siblings('.second-menu').toggle();
                            },
                            mouseout: function () {
                                $(this).siblings('.second-menu').toggle();
                            }
                        });
                        var url = "/static/avatars/" + data.other;
                        var secondMenu = '<div class="second-menu"><img class="avatar" src="' + url + '"></div>';
                        $node.append(nodePrompt).append(secondMenu)
                    }
                },
                'initCompleted': function () {
                    var $container = $('#chart-container')
                    if (direction === 'l2r') {
                        $container.css('height', $('div.orgchart').width()+40);
                    } else if (direction === 't2b') {
                        $container.scrollLeft(($container[0].scrollWidth - $container.width()) / 2);
                    }
                }
            });
        });
    </script>
}


<div class="row">
    <div class="col-12 col-lg-6">
        <div class="row">
            <label asp-for="Name" class="col-5 col-form-label"></label>
            <input asp-for="Name" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="Description" class="col-5 col-form-label"></label>
            <input asp-for="Description" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="Type" class="col-5 col-form-label"></label>
            <input name="Type" class="col-7 form-control-plaintext" value="@Model.Type.GetDisplayName()" disabled />
        </div>
        <div class="row">
            <label asp-for="Parent" class="col-5 col-form-label"></label>
            <input asp-for="Parent" class="col-7 form-control-plaintext" disabled />
        </div>

    </div>
    <div class="col-12 col-lg-6">
        <div class="row">
            <label asp-for="Owner" class="col-5 col-form-label"></label>
            <input asp-for="Owner" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="StartDate" class="col-5 col-form-label"></label>
            <input asp-for="StartDate" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="EndDate" class="col-5 col-form-label"></label>
            <input asp-for="EndDate" type="@(Model.EndDate == null ? "text" : "date")" class="col-7 form-control-plaintext" disabled />
        </div>
        @if (Model.CodeId > 0)
        {
            <div class="row">
                <label asp-for="Code" class="col-5 col-form-label"></label>
                <input asp-for="Code" class="col-7 form-control-plaintext" disabled />
            </div>
        }
        @if (Model.WbsId > 0)
        {
            <div class="row">
                <label asp-for="Wbs" class="col-5 col-form-label"></label>
                <input asp-for="Wbs" class="col-7 form-control-plaintext" disabled />
            </div>
        }
    </div>
</div>
<br />
<div class="font-xl mb-2 mt-2 mt-lg-0">Tareas</div>
<div class="row">
    <div class="col-12">
        <table id="list-table" class="table table-hover table-sm table-striped dt-responsive nowrap" data-row-link="/job/show/">
            <thead>
                <tr>
                    <th>@SharedLocalizer["Tarea"]</th>
                    <th>@SharedLocalizer["Descripción"]</th>
                    <th>@SharedLocalizer["Por defecto"]</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Jobs.Count() > 0)
                {
                    @foreach (var Job in Model.Jobs)
                    {
                        <tr data-id="@Job.Id">
                            <td>@Job.Name</td>
                            <td>@Job.Description</td>
                            <td>@Html.CheckBoxFor(modelItem => Job.Default.Value, new { @disabled = "disabled" })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Árbol Jerárquico"]</div>
<div class="row">
    <div class="col-12">
        <div id="chart-container"></div>
    </div>
</div>