﻿@* STAFFING - MULTIPLE SHOW*@
@using System.Globalization
@using Perseo.Web.Models
@using Perseo.Core
@model IDictionary<int, StaffingDayViewModel>
@{
    Layout = "_ShowLayout.cshtml";

    ViewData["Title"] = ViewBag.AreaName;
    ViewData["SubTitle"] = ViewBag.AreaType;

    var Tab = ViewBag.Tab;
    int Year = Convert.ToInt32(ViewBag.Year);
    int Month = Convert.ToInt32(ViewBag.Month);
    List<AreaModel> MyOwnedAreas = ViewBag.MyOwnedAreas;
    List<JobModel> MyOwnedJobs = ViewBag.MyOwnedJobs;
    List<int> JobsIdsToShow = ViewBag.JobsIdsToShow as List<int>;
    List<int> AreasIdsToShow = ViewBag.AreasIdsToShow as List<int>;
    string Jobs = JobsIdsToShow != null ? String.Join(";", JobsIdsToShow) : "";
    List<JobConfig> JobsToShowConfig = ViewBag.JobsToShowConfig as List<JobConfig>;
    List<String> TimeSlots = ViewBag.TimeSlots as List<String>;
    Dictionary<int, List<double>> result = ViewBag.Result as Dictionary<int, List<double>>;

    var MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Month);
    MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();
}

@section Styles{  <style> .cal * { font-size: 11px; } </style> }

<div class="row mb-3 mb-sm-4 mb-xl-3">
    @* Title *@
    <div class="col-10 col-sm-11 col-xl-6">
        <h5 class="card-title mb-0">@SharedLocalizer["Capacidad de"] @MonthName @SharedLocalizer["De"].ToString().ToLower() @Year</h5>
    </div>
    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
            @* Month Navigator*@
            <span class="btn-group mb-3 mb-sm-0">
                <vc:year-month-filter year=@Year month=@Month url="/area/show/@ViewBag.Id/staffing/$y/$m"></vc:year-month-filter>
            </span>

        </div>
    </div>
</div>
<vc:month-grid year=@Year month=@Month rows=@result header=@TimeSlots editable=false></vc:month-grid>

@section Scripts {
    <script>
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Planificación"]', url: 'staffing' });
            $('#list-table').attr('style', 'border-collapse: collapse !important');
            e = String(window.location);
            $('#nav-tab a[id="tab-@Tab"]').tab('show');
        });
    </script>
}


