﻿@* AREA - SHOW AREA USERS *@

@using Perseo.Core
@model AreaViewModel

@{
    Layout = "_ShowLayout.cshtml";
    ViewData["Title"] = Model.Name;
    ViewData["SubTitle"] = Model.Type.GetDisplayName();
}

@section Styles{

}

@section Scripts{
    <script>
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Áreas y Servicios"]', url: 'area' }, { name: '@Model.Name', url: 'show/@ViewBag.Id' });
            $('#user-table').dt({ });
        });
    </script>
}

<div class="row mb-3 mb-sm-4 mb-xl-3">
    @* Title *@
    <div class="col-10 col-sm-11 col-xl-6">
        <h5 class="card-title mb-0">Usuarios @ViewBag.ActiveName</h5>
    </div>
    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
            @* Active Navigator*@
            <span class="btn-group mb-3 mb-sm-0">
                <vc:active-filter state=@ViewBag.State></vc:active-filter>
            </span>
            @* Office Filter*@
            <span class="btn-group mb-3 mb-sm-0">
                <vc:office-filter selected-offices=@ViewBag.SelectedOffices areas-offices="@ViewBag.AreasOffices"></vc:office-filter>
            </span>
            @* Go Filter Button *@
            <span class="btn-group mr-3 mb-3 mb-sm-0">
                <vc:go-filter-button base-url="/area/show/@Model.Id/users/"></vc:go-filter-button>
            </span>
        </div>
    </div>
</div>

<table style="text-align: left" id="user-table" data-row-link="/user/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
    <thead>
        <tr>
            <th class="main">@SharedLocalizer["Usuario"]</th>
            <th>@SharedLocalizer["Nombre"]</th>
            <th>@SharedLocalizer["Email"]</th>
            <th>@SharedLocalizer["Empleado"]</th>
            <th>@SharedLocalizer["Área"]</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OwnedUsers.Count() > 0)
        {
            @foreach (var User in Model.OwnedUsers)

            {
                <tr class="clickable-row" data-id="@User.Id">
                    <td>@User.UserName</td>
                    <td>@User.FirstName @User.MainSurname @User.SecondSurname</td>
                    <td>@User.Email</td>
                    <td>@User.EmployeeId</td>
                    <td></td>
                </tr>

            }
        }
    </tbody>
</table>

