﻿@* AREA - SHOW SCHEDULE *@

@using Perseo.Web.Models
@using System.Globalization
@model ScheduleViewModel

@{
    Layout = "_ShowLayout.cshtml";
    var Year = Model.Year;
    var Month = Model.Month;
    ViewBag.Year = Model.Year;
    ViewBag.Month = Model.Month;
    var Rows = Model.Rows.ToList();
    string selectedareas = string.Join(";", Model.AreasIds);

    var MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Month);
    MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();
    ViewData["Title"] = ViewBag.AreaName;
    ViewData["SubTitle"] = ViewBag.AreaType;
}

@section Styles {
    <style>
        .cal .col {
            padding: 1px;
        }

        .cal a {
            color: #23282c;
        }

            .cal a:hover {
                text-decoration: none;
            }
    </style>
}
<div class="row mb-3 mb-sm-4 mb-xl-3">
    @* Title *@
    <div class="col-10 col-sm-11 col-xl-6">
        <h5 class="card-title mb-0">@SharedLocalizer["Horario de"] @MonthName @SharedLocalizer["De"].ToString().ToLower() @Year</h5>
    </div>
    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
            <div class="btn-group mr-3 mb-3 mb-sm-0">
                <button class="btn btn-outline-secondary rounded" type="button" data-toggle="dropdown" title="Asignación rápida"><i class="icon-info"></i></button>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                    <span class="dropdown-item"><button class="btn btn-sm cal-day-T" style="width:29px;" type="button" title="@SharedLocalizer["Trabajo"]">T</button>&nbsp; @SharedLocalizer["Trabajo"]</span>
                    <span class="dropdown-item"><button class="btn btn-sm cal-day-V" style="width:29px;" type="button" title="@SharedLocalizer["Vacaciones"]">V</button>&nbsp; @SharedLocalizer["Vacaciones"]</span>
                    <span class="dropdown-item"><button class="btn btn-sm cal-day-Y" style="width:29px;" type="button" title="@SharedLocalizer["Vacaciones Año Anterior"]">Y</button>&nbsp; @SharedLocalizer["Vacaciones Año Anterior"]</span>
                    <span class="dropdown-item"><button class="btn btn-sm cal-day-L" style="width:29px;" type="button" title="@SharedLocalizer["Lbre Disposición"]">L</button>&nbsp; @SharedLocalizer["Lbre Disposición"]</span>
                    <span class="dropdown-item"><button class="btn btn-sm cal-day-S" style="width:29px;" type="button" title="@SharedLocalizer["Asuntos Sindicales"]">S</button>&nbsp; @SharedLocalizer["Asuntos Sindicales"]</span>
                    <span class="dropdown-item"><button class="btn btn-sm cal-day-B" style="width:29px;" type="button" title="@SharedLocalizer["Baja por Enfermedad"]<">B</button> &nbsp; @SharedLocalizer["Baja por Enfermedad"]</span>
                    <span class="dropdown-item"><button class="btn btn-sm cal-day-M" style="width:29px;" type="button" title="@SharedLocalizer["Visita Médica"]">M</button> &nbsp; @SharedLocalizer["Visita Médica"]</span>
                    <span class="dropdown-item"><button class="btn btn-sm cal-day-P" style="width:29px;" type="button" title="@SharedLocalizer["Permiso Retruibuido"]">P</button>&nbsp; @SharedLocalizer["Permiso Retruibuido"]</span>
                    <span class="dropdown-item"><button class="btn btn-sm cal-day-A" style="width:29px;" type="button" title="@SharedLocalizer["Ausencia injustificada"]">A</button> &nbsp; @SharedLocalizer["Ausencia Injustificada"]</span>
                </div>
            </div>
            @* Active Navigator*@
            <span class="btn-group mb-3 mb-sm-0">
                <select name="active" id="active" class="d-none">
                    <option selected="@(ViewBag.Active == null || ViewBag.Active == "active" ? true : false)" value="active">Activos</option>
                    <option selected="@(ViewBag.Active == "inactive" ? true : false)" value="inactive">Bajas</option>
                    <option selected="@(ViewBag.Active == "all" ? true : false)" value="all">Todos</option>
                </select>
            </span>
            @* Month Navigator*@
            <span class="btn-group mb-3 mb-sm-0">
                <vc:year-month-filter year=@Model.Year month=@Model.Month url="/area/show/@ViewBag.AreaId/schedule/$y/$m"></vc:year-month-filter>
            </span>

        </div>
    </div>
</div>
<vc:month-grid-schedule year=@Year month=@Month rows=@Rows header=null editable=false></vc:month-grid-schedule>

@section Scripts
    {
    <script src="~/js/schedule.js"></script>
    <script>
    $(document).ready(function () {
        show_schedule(@Model.Year, @Model.Month);
        breadcrumb({ name: "Horarios", url: "schedule/show" });
        $('#active').treeselect({
            buttontext: "Estado",
            div: '<div id="active-navigator" class="dropdown bts_dropdown float-right mr-3"></div>',
        });
    });
    </script>
}