﻿@{
    var _Controller = ViewBag._Controller;
    var _Action = ViewBag._Action;
    _Action = _Action == "index" ? "" : _Action + "/";
    var BaseUrl = ViewBag.BaseUrl == "" || ViewBag.BaseUrl == null ? "/" + _Controller + "/" + _Action : ViewBag.BaseUrl;
}
<button class="btn btn-light rounded active" type="button" id="go_button">@SharedLocalizer["Ir"]</button>

<script>
    (function () {

        function go_filter_button_script() {
            $('#go_button').click(function () {

                var area_arr = $.map($('#area-filter').find("input[type='checkbox']:checked"), function (e, i) {
                    return +e.value;
                });
                area_arr = area_arr.length ? area_arr.join(';') + "/" : "";

                var job_arr = $.map($('#job-filter').find("input[type='checkbox']:checked"), function (e, i) {
                    return +e.value;
                });
                job_arr = job_arr.length ? job_arr.join(';') + "/" : "";

                var arr = job_arr.length ? job_arr : area_arr;

                var year = $('#year-filter').length ? $('#year-filter a.dropdown-toggle').text() + "/" : "";
                var month = $('#month-filter').length ? $('#month-filter span.dropdown-menu a.dropdown-item').index($('#month-filter span.dropdown-menu a.dropdown-item.bg-light')) + 1 + "/" : "";

                var active = $('#active-filter').length ? $('#active-filter input:checked').val() + "/" : "";

                var availability = $.map($('#availability-filter').find("input[type='checkbox']:checked"), function (e) {
                    return e.value;
                });
                availability = availability.length ? availability.join(';') + "/" : "";

                var office = $.map($('#office-filter').find("input[type='checkbox']:checked"), function (e) {
                    return e.value;
                });
                office = office.length ? office.join(';') + "/" : "";

                var url = "@BaseUrl" + active + year + month + arr + availability + office;

                $.ajaxGet(url);
            });
        }

        if (window.jQuery) {
            go_filter_button_script();
        } else {
            function appendOnLoad() {
                go_filter_button_script();
                window.removeEventListener("load", appendOnLoad);
            }
            window.addEventListener("load", appendOnLoad);
        }

    })();
</script>