﻿@* USER - ADD (MODAL) *@

@using Microsoft.AspNetCore.Mvc.Razor
@using Perseo.Web.Models
@model AddUserViewModel

<form asp-action="Add" id="add-form" method="post" role="form" class="form-horizontal" autocomplete="off">
    <div class="modal-header b-b-0 pb-0">
        <h3 class="modal-title">@SharedLocalizer["Añadir colaborador"]</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label asp-for="FirstName" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="FirstName" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="MainSurname" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="MainSurname" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="MainSurname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SecondSurname" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="SecondSurname" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="SecondSurname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Email" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="Email" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="UserName" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="UserName" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Password" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="Password" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ConfirmPassword" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="ConfirmPassword" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AreaStartDate" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="AreaStartDate" class="form-control" autocomplete="nope" value="" />
                        <span asp-validation-for="AreaStartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-form-label">@SharedLocalizer["Área/Servicio"]</label>
                    <div class="col-xl-9">
                        <select asp-for="AreaId" class="form-control" autocomplete="nope">
                            <option selected disabled value=""></option>
                            @foreach (AssignOptions Item in Model.Options as List<AssignOptions>)
                            {
                                if (Model.Options.Any(c => c.Value == Item.Parent))
                                {
                                    <option value="@Item.Value" data-parent="@Item.Parent">@Item.Name</option>
                                }
                                else
                                {
                                    <option value="@Item.Value">@Item.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="AreaId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#AreaId').treeselect({ type: 'form' });
        $("#add-form :input").not("input[name='UserName'], input[name='Email'], input[name='Password'], input[name='ConfirmPassword'] , input[name='AreaStartDate']")
            .each(function () {
                $(this).on('keyup', function (event) {
                    var $t = $(this);
                    $t.val(titleCase($t.val()));
                });
            });
        $("input[name='UserName'], input[name='Email']").on('keyup', function (event) {
            var $t = $(this);
            $t.val($t.val().toLowerCase());
        });
        $("#add-form").submit(function (e) {
            e.preventDefault();
            $.ajaxPostModal($(this).attr('action'), $(this).serialize(), function (response) { 
               $.ajaxGet('/user/edit/' + response.content.id);
            });
            return false;
        }); 
    });
</script>