@* USER - ASSIGNOPERATIONAL (MODAL) *@

@using Perseo.Core
@model UserOperationalModel

@{
    ViewData["Title"] = (Model.Id == 0 ? SharedLocalizer["Añadir"] : SharedLocalizer["Editar"]) + " " + SharedLocalizer["Dato Operativo"];
    ViewData["SubTitle"] = "";
}

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<form asp-action="AssignOperational" id="assignoperational-form" method="post" role="form" class="form-horizontal" autocomplete="off">
    <div class="modal-header b-b-0 pb-0">
        <h3 class="modal-title">@ViewData["Title"]</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <div class="col-sm-12">
                <div class="form-group row">
                    <label asp-for="Key" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="Key" class="form-control" />
                        <span asp-validation-for="Key" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Value" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="Value" class="form-control" />
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
    </div>
</form>