﻿@* USER - ASSING SHIFT (MODAL) *@
@using Microsoft.AspNetCore.Mvc.Razor
@using Perseo.Web.Models
@using System.Globalization
@model AssignShift
@{
    var history = Model.History as List<AssignHistory>;
    string disabled = "";
    string history_show = "";
    string modify_show = "";
    string history_button_show = "";
    if (history.Count > 0)
    {
        history_show = "show";
    }
    else
    {
        modify_show = "show";
        history_button_show = "d-none";
    }

    if (!ViewBag.Editable)
    {
        disabled = " disabled";
    }
}
<style>
    .trs-hours .col {
        line-height: 15px;
    }

    .trs-hours-mark-top .col, .trs-hours-mark-bottom .col {
        line-height: 5px;
    }
</style>
<form id="assign" data-async method="post" role="form" class="form-horizontal">
    <div class="modal-header b-b-0">
        <h4 class="modal-title">@SharedLocalizer["Asignación de"] @Model.Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body pt-1">
        <div class="collapse multi-collapse @modify_show" id="editcollapse">
            <div class="row mb-4">
                <div class="col-sm-12 col-lg-8">
                    <label class="col-form-label" asp-for="Description"></label>
                    <input id="description" asp-for="Description" class="form-control" disabled="@(!ViewBag.Editable ? "disabled" : null)" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <label class="col-form-label">@SharedLocalizer["Fecha de Modificación"]</label>
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        <input class="form-control" id="start-date" type="date" min="@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" @disabled />
                    </div>
                </div>
            </div>
            @{
                for (var i = 0; i < 7; i++)
                {
                    string WeekdayLong = CultureInfo.CurrentCulture.DateTimeFormat.DayNames[(i + 1) % 7];
                    WeekdayLong = char.ToUpper(WeekdayLong.First()) + WeekdayLong.Substring(1).ToLower();
                    string Weekday = CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedDayNames[(i + 1) % 7];
                    Weekday = char.ToUpper(WeekdayLong.First()) + WeekdayLong.Substring(1, 1).ToLower();

                    var Item = Model.Patterns.ElementAtOrDefault(i);
                    var Pattern = Item.Value ?? "000000000000000000000000000000000000000000000000";
                    string color = "secondary";
                    string separator = "<div class='col-12'><hr class='mt-2 mb-2' /></div>";
                    if (i == 5)
                    {
                        color = "primary";

                    }
                    else if (i == 6)
                    {
                        color = "danger";
                        separator = "";
                    }
                    <div class="row time-range-day" data-week-day="@i">
                        <div class="col-12 pr-lg-0">
                            <div class="font-xl text-@color text-center d-sm-none mb-2">@WeekdayLong</div>
                            <div class="d-none d-sm-block float-left font-xl border border-@color text-@color rounded text-center align-middle mt-5 mt-lg-2 mb-0 mr-0" style="width:36px; height:36px;">@Weekday</div>
                            <vc:time-range pattern="@Pattern"></vc:time-range>
                        </div>
                        @Html.Raw(separator)
                    </div>
                }
            }
            <div class="row mt-4">
                <div class="col-12 text-right">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
                    <button type="button" class="btn btn-success mr-2 @history_button_show" id="multi-collapse-button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="editcollapse">@SharedLocalizer["Histórico"]</button>
                    @if (ViewBag.Editable != false)
                    {
                        <button type="button" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
                    }
                </div>
            </div>
        </div>
        <div class="collapse multi-collapse @history_show" id="showcollapse">
            <table id="assign-table" class="table table-sm table-light dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>@Model.Entity</th>
                        <th>@SharedLocalizer["Inicio"]</th>
                        <th>@SharedLocalizer["Fin"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AssignHistory Item in Model.History as List<AssignHistory>)
                    {
                        var End = @Item.EndDate.HasValue ? @Item.EndDate.Value.ToString("dd/MM/yyyy") : " - ";
                        <tr>
                            <td>@Item.Name</td>
                            <td>@Item.StartDate.ToString("dd/MM/yyyy")</td>
                            <td>@End</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row mt-2">
                <div class="col-12 text-right">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
                    <button type="button" class="btn btn-success mr-2" id="multi-collapse-button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="editcollapse">@SharedLocalizer["Modificar"]</button>
                    <button type="button" class="btn btn-primary" id="generate-button">@SharedLocalizer["Generar Horario"]</button>
                </div>
            </div>
        </div>
    </div>
    <input it="generate" name="generate" type="hidden" value="false" />
</form>

@if (ViewBag.Editable != false)
{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script>
    $(document).ready(function () {
        $('#assign-table').dt({ searching: false, ordering: false, lengthChange: false, pageLength: 4 });
        $('#assign-table').attr('style', 'border-collapse: collapse !important');
        $("#generate-button").click(function () {
            $('#global-modal-lg').modal('hide');
            $('#global-modal #global-modal-content').load('/schedule/generateconfirmation/@Model.UserId');
            $('#global-modal').modal('show');
        });

        $("#save-button").click(function () {
            if ($('#description').val() == null) {
                toastr.error('@SharedLocalizer["El campo Descripción es obligatorio"]');
                return;
            }
            if (new Date($('#start-date').val()) <= new Date("@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")")) {
                toastr.error('@SharedLocalizer["La fecha de asignación debe de ser mayor a"] ' + $('#start-date').attr('min'));
                return;
            }
            var total_hours = 0;
            var day_shifts = new Object();
            $(".time-range-day").each(function () {
                var e = 0;
                var pattern = [];
                var week_day = $(this).data("week-day");
                $(this).find(".trs-hours .col").not(".trs-blank").each(function () {
                    if ($(this).hasClass("cal-day-T")) pattern[e] = 1; else pattern[e] = 0;
                    e++;
                });
                var sum = pattern.reduce((a, b) => a + b, 0);
                total_hours += sum;
                if (sum > 0) {
                    pattern = pattern.join("");
                    day_shifts[week_day.toString()] = pattern.slice(-14).concat(pattern.slice(0, 34));
                }
            });
            if (total_hours <= 0) {
                toastr.error('@SharedLocalizer["Es obligatorio indicar los turnos diarios"]');
                return;
            }
            var post_data = new Object();
            post_data.Patterns = day_shifts;
            post_data.UserId = '@Model.UserId';
            post_data.Description = $('#description').val();
            post_data.AssignmentStartDate = $('#start-date').val();
            post_data.Generate = $("input[name='generate']:checked").val();
            post_data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            var data = JSON.stringify(post_data);

            var url = "/user/edit/@RazorViewEngine.GetNormalizedRouteValue(ViewContext, "action").ToLower()";
            $.ajaxPostModal(url, post_data, function () {
                modal_destination.val($("#description").val());
                $('#global-modal-lg').modal('hide');
                $.ajaxGetModal('/schedule/generateconfirmation/@Model.UserId');
            }, false);
        });

        var time_range = function () {
            var isMouseDown = false;
            $(".trs-hours .col").not(".trs-blank")
                .mousedown(function () {
                    isMouseDown = true;
                    $(this).toggleClass("cal-day-T");
                    return false;
                })
                .mouseover(function () {
                    if (isMouseDown) {
                        $(this).toggleClass("cal-day-T");
                    }
                });
            $(document)
                .mouseup(function () {
                    isMouseDown = false;
                });
        };

        time_range();
    });

    </script>
}


