﻿@* USER - ASSIGN WORK CONDITIONS (MODAL) *@

@using Microsoft.AspNetCore.Mvc.Razor
@using Perseo.Web.Models
@model AssignWorkConditionsViewModel

<form id="assign" data-async method="post" role="form" class="form-horizontal">
    <div class="modal-header b-b-0 pb-0">
        <h4 class="modal-title">@SharedLocalizer["Asignación de Condiciones Laborales"]</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        @if (ViewBag.Editable != false)
        {
            <div class="form-group row">
                <label asp-for="WeekWorkHours" class="col-xl-6 col-form-label"></label>
                <div class="col-xl-6 input-group">
                    <input id="Edit-WeekWorkHours" asp-for="WeekWorkHours" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">@SharedLocalizer["Horas"].ToString().ToLower()</div>
                    </div>
                    <span asp-validation-for="WeekWorkHours" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="YearWorkHours" class="col-xl-6 col-form-label">Horas Aunuales Jornada Completa</label>
                <div class="col-xl-6 input-group">
                    <input id="Edit-YearWorkHours" asp-for="YearWorkHours" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">@SharedLocalizer["Horas"].ToString().ToLower()</div>
                    </div>
                    <span asp-validation-for="YearWorkHours" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="YearVacationDays" class="col-xl-6 col-form-label"></label>
                <div class="col-xl-6 input-group">
                    <input id="Edit-YearVacationDays" asp-for="YearVacationDays" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">@SharedLocalizer["Días"].ToString().ToLower()</div>
                    </div>
                    <span asp-validation-for="YearVacationDays" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="YearSpareDays" class="col-xl-6 col-form-label"></label>
                <div class="col-xl-6 input-group">
                    <input id="Edit-YearSpareDays" asp-for="YearSpareDays" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">@SharedLocalizer["Días"].ToString().ToLower()</div>
                    </div>
                    <span asp-validation-for="YearSpareDays" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-6 col-form-label">@SharedLocalizer["Fecha de Modificación"]</label>
                <div class="col-xl-6 input-group">
                    <input class="form-control" id="start-date" type="date" min="@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        }

        <table id="assign-table" class="table table-sm table-light dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@Model.Entity</th>
                    <th>@SharedLocalizer["Inicio"]</th>
                    <th>@SharedLocalizer["Fin"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AssignHistory Item in Model.History as List<AssignHistory>)
                {
                    var End = @Item.EndDate.HasValue ? @Item.EndDate.Value.ToString("dd/MM/yyyy") : "-";
                    <tr>
                        <td>@Item.Name</td>
                        <td>@Item.StartDate.ToString("dd/MM/yyyy")</td>
                        <td>@End</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        @if (ViewBag.Editable != false)
        {
            <button type="button" class="btn btn-primary" id="save-button">Guardar</button>
        }
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#assign-table').dt({ searching: false, ordering: false, lengthChange: false, pageLength: 4 });
        $('#assign-table').attr('style', 'border-collapse: collapse !important');
        $("#save-button").click(function () {
            if (new Date($('#start-date').val()) <= new Date("@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")")) {
                toastr.error('@SharedLocalizer["La fecha de asignación debe de ser mayor a"] ' + $('#start-date').attr('min'));
                return;
            }
            var url = "/user/edit/@RazorViewEngine.GetNormalizedRouteValue(ViewContext, "action").ToLower()";
            var data = {
                'UserId': '@Model.UserId',
                'WeekWorkHours': $("#Edit-WeekWorkHours").val(),
                'YearWorkHours': $("#Edit-YearWorkHours").val(),
                'YearVacationDays': $("#Edit-YearVacationDays").val(),
                'YearSpareDays': $("#Edit-YearSpareDays").val(),
                'AssignmentStartDate': $('#start-date').val(),
                '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            };
            $.ajaxPostModal(url, data, function () {
                $("#WeekWorkHours").val($("#Edit-WeekWorkHours").val());
                $("#YearWorkHours").val($("#Edit-YearWorkHours").val());
                $("#YearVacationDays").val($("#Edit-YearVacationDays").val());
                $("#YearSpareDays").val($("#Edit-YearSpareDays").val());
            });
        });
    });
</script>

