﻿@* USER - ASSIGN AREA (MODAL) *@

@using Microsoft.AspNetCore.Mvc.Razor
@using Perseo.Web.Models
@model AssignViewModel

<form id="assign" data-async method="post" role="form" class="form-horizontal">
    <div class="modal-header b-b-0 pb-0">
        <h4 class="modal-title">@SharedLocalizer["Asignación de"] @Model.Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        @if (ViewBag.Editable != false)
        {
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    @* Area Dropdown *@
                    <select class="form-control" id="assignment" name="assignment">
                        <option selected disabled></option>
                        @foreach (AssignOptions Item in Model.Options as List<AssignOptions>)
                        {
                            if (Model.Options.Any(c => c.Value == Item.Parent))
                            {
                                <option value="@Item.Value" data-parent="@Item.Parent">@Item.Name</option>
                            }
                            else
                            {
                                <option value="@Item.Value">@Item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        <input class="form-control" id="start-date" type="date" min="@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>
            <br />
        }
        <table id="assign-table" class="table table-sm table-light dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@Model.Entity</th>
                    <th>@SharedLocalizer["Inicio"]</th>
                    <th>@SharedLocalizer["Fin"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AssignHistory Item in Model.History as List<AssignHistory>)
                {
                    var End = @Item.EndDate.HasValue ? @Item.EndDate.Value.ToString("dd/MM/yyyy") : "-";
                    <tr>
                        <td>@Item.Name</td>
                        <td>@Item.StartDate.ToString("dd/MM/yyyy")</td>
                        <td>@End</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        @if (ViewBag.Editable != false)
        {
            <button type="button" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
        }

    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#assign-table').dt({ searching: false, ordering: false, lengthChange: false, pageLength: 4 });
        $('#assign-table').attr('style', 'border-collapse: collapse !important');
        $('#assignment').treeselect({ type: 'form' });
        $("#save-button").click(function () {
            var assignment_val = $('input[name="assignment"]:checked').val();
            var assignment_text = $("input[name='assignment']:checked").parent('label').text();
            if (assignment_val == null) {
                toastr.error('@SharedLocalizer["El campo Asignación es obligatorio"]');
                return;
            }
            if (assignment_val == @Model.AssignmentId) {
                toastr.error('@SharedLocalizer["La nueva asignación no puede ser la misma que la actual"]');
                return;
            }
            if (new Date($('#start-date').val()) <= new Date("@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")")) {
                toastr.error('@SharedLocalizer["La fecha de asignación debe de ser mayor a"] ' + $('#start-date').attr('min'));
                return;
            }
            var url = "/user/edit/@RazorViewEngine.GetNormalizedRouteValue(ViewContext, "action").ToLower()";
            var data = { 'Id': '@Model.Id', 'AssignmentId': assignment_val, 'AssignmentStartDate': $('#start-date').val(), '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()};
            $.ajaxPostModal(url, data, function () {
                modal_destination.val(assignment_text);
            });           
        });
    });
</script>

