﻿@* USER - ASSIGN WORK CONDITIONS (MODAL) *@

@using Microsoft.AspNetCore.Mvc.Razor
@using Perseo.Core
@using Perseo.Web.Models
@model AssignContractViewModel

<form id="assign" data-async method="post" role="form" class="form-horizontal">
    <div class="modal-header b-b-0 pb-0">
        <h4 class="modal-title">@SharedLocalizer["Asignación de"] @Model.Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        @if (ViewBag.Editable != false)
        {
            <div class="form-group row">
                <label asp-for="CompanyId" class="col-xl-5 col-form-label">@SharedLocalizer["Empresa"]</label>
                <div class="col-xl-7 input-group">
                    <select id="company_id" asp-for="CompanyId" asp-items="@(new SelectList(Model.CompanyList,"Id","Name"))" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ContractPeriod" class="col-xl-5 col-form-label"></label>
                <div class="col-xl-7 input-group">
                    <select id="contract_period" asp-for="ContractPeriod" asp-items="Html.GetEnumSelectList<ContractPeriodType>()" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-5 col-form-label">@SharedLocalizer["Fecha de inicio"]</label>
                <div class="col-xl-7 input-group">
                    <div class="input-group-append w-100">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        <input class="form-control" id="start-date" type="date" min="@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>
        }

        <table id="assign-table" class="table table-sm table-light dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@Model.Entity</th>
                    <th>@SharedLocalizer["Inicio"]</th>
                    <th>@SharedLocalizer["Fin"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AssignHistory Item in Model.History as List<AssignHistory>)
                {
                    var End = @Item.EndDate.HasValue ? @Item.EndDate.Value.ToString("dd/MM/yyyy") : "-";
                    <tr>
                        <td>@Item.Name</td>
                        <td>@Item.StartDate.ToString("dd/MM/yyyy")</td>
                        <td>@End</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        @if (ViewBag.Editable != false)
        {
            <button type="button" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
        }
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#assign-table').dt({ searching: false, ordering: false, lengthChange: false, pageLength: 4 });
        $('#assign-table').attr('style', 'border-collapse: collapse !important');
        $("#save-button").click(function () {
            if (new Date($('#start-date').val()) <= new Date("@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")")) {
                toastr.error('@SharedLocalizer["La fecha de asignación debe de ser mayor a"] ' + $('#start-date').attr('min'));
                return;
            }
            var url = '/user/edit/@RazorViewEngine.GetNormalizedRouteValue(ViewContext, "action").ToLower()';
            var data = {
                'UserId': '@Model.UserId',
                'ContractPeriod': $("#contract_period").val(),
                'CompanyId': $("#company_id").val(),
                'AssignmentStartDate': $('#start-date').val(),
                '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            };
            $.ajaxPostModal(url, data, function () {
                $("#ContractName").val($("#contract_period option:selected").text());
                $("#Company").val($("#company_id option:selected").text());
            });
        });
    });
</script>