﻿@* USER - ASSIGN SALARY (MODAL) *@

@using Microsoft.AspNetCore.Mvc.Razor
@using Perseo.Web.Models
@model AssignSalary

<form id="assign-@Model.Entity-form" data-async method="post" role="form" class="form-horizontal">
    <div class="modal-header b-b-0 pb-0">
        <h4 class="modal-title">@SharedLocalizer["Asignación de"] @Model.Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        @if (ViewBag.Editable != false)
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Salary" class="col-xl-6 col-form-label"></label>
                <div class="col-xl-6 input-group">
                    <input id="Edit-Salary" asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Variable" class="col-xl-6 col-form-label"></label>
                <div class="col-xl-6 input-group">
                    <input id="Edit-Variable" asp-for="Variable" class="form-control" />
                    <span asp-validation-for="Variable" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Currency" class="col-xl-6 col-form-label"></label>
                <div class="col-xl-6 input-group">
                    <input id="Edit-Currency" asp-for="Currency" class="form-control" />
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-6 col-form-label">@SharedLocalizer["Fecha de Modificación"]</label>
                <div class="col-xl-6 input-group">
                    <input class="form-control" id="start-date" type="date" min="@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        }

        <table id="assign-table" class="table table-sm table-light dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@Model.Entity</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AssignHistory Item in Model.History as List<AssignHistory>)
                {
                    var End = @Item.EndDate.HasValue ? @Item.EndDate.Value.ToString("dd/MM/yyyy") : "-";
                    <tr>
                        <td>@Item.Name</td>
                        <td>@Item.StartDate.ToString("dd/MM/yyyy")</td>
                        <td>@End</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        @if (ViewBag.Editable != false)
        {
            <button type="button" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
        }
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#assign-table').dt({ searching: false, ordering: false, lengthChange: false, pageLength: 4 });
        $('#assign-table').attr('style', 'border-collapse: collapse !important');
        $("#save-button").click(function () {
            if (new Date($('#start-date').val()) <= new Date("@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")")) {
                toastr.error('@SharedLocalizer["La fecha de asignación debe de ser mayor a"] ' + $('#start-date').attr('min'));
                return;
            }
            var url = '/user/edit/@RazorViewEngine.GetNormalizedRouteValue(ViewContext, "action").ToLower()';
            var data = {
                'UserId': '@Model.UserId',
                'Salary': $("#Edit-Salary").val(),
                'Variable': $("#Edit-Variable").val(),
                'Currency': $("#Edit-Currency").val(),
                'AssignmentStartDate': $('#start-date').val(),
                '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            };
            $.ajaxPostModal(url, data, function () {
                $("#Salary").val($("#Edit-Salary").val() + " (" + $("#Edit-Currency").val()+")");
            });
        });
        $.validator.unobtrusive.parse("#assign-@Model.Entity-form");
    });
</script>

