﻿@* USER - SHOW LAYOUT *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Perseo.Web
@{
    Layout = Context.Request.IsAjax() ? "~/Views/Shared/_AjaxLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

@section Styles { @RenderSection("Styles", false) }
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-3 mb-sm-4 mb-xl-3">
                    @* Title *@

                    @if (!ViewBag._Profile)
                    {
                        <vc:page-title title="@ViewBag.FullName" subtitle="@ViewBag.SubTitle" avatar="@ViewBag.Avatar"></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* NAVIGATION *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                @* Back *@
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="list" class="btn btn-secondary history-back">
                                        <i class="fa fa-arrow-left"></i>&nbsp; @SharedLocalizer["Volver"]
                                    </a>
                                </span>
                                @* Edit *@
                                <span class="btn-group mb-3 mb-sm-0">
                                    <a id="back" asp-action="edit" asp-route-id="@ViewBag.UserId" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>&nbsp; @SharedLocalizer["Editar"]
                                    </a>
                                </span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <vc:page-title title="@SharedLocalizer["Mi Perfil"]" subtitle="@ViewBag.FullName" avatar="@ViewBag.Avatar"></vc:page-title>
                        ViewBag.UserId = "";
                    }
                </div>
                @* TABS *@
                <ul class="nav nav-tabs" id="nav-tab" role="tablist" data-active-tab="@ViewBag.Tab">
                    <li class="nav-item">
                        <a asp-action="@ViewBag._Action" asp-route-id="@ViewBag.UserId" asp-route-tab="main" asp-route-year=@ViewBag.Year asp-route-month=@ViewBag.Month class="nav-link" id="main">
                            <i class="icon-user"></i>&nbsp; @SharedLocalizer["Perfil"]
                        </a>
                    </li>

                    @if (!ViewBag._Profile)
                    {
                        <li class="nav-item">
                            <a asp-action="@ViewBag._Action" asp-route-id="@ViewBag.UserId" asp-route-tab="dashboard" asp-route-year=@ViewBag.Year asp-route-month=@ViewBag.Month class="nav-link" id="dashboard">
                                <i class="icon-speedometer"></i>&nbsp; @SharedLocalizer["Dashboard"]
                            </a>
                        </li>
                    }

                    <li class="nav-item">
                        <a asp-action="@ViewBag._Action" asp-route-id="@ViewBag.UserId" asp-route-tab="schedule" asp-route-year=@ViewBag.Year asp-route-month=@ViewBag.Month class="nav-link" id="schedule">
                            <i class="icon-calendar"></i>&nbsp; @SharedLocalizer["Horario"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@ViewBag._Action" asp-route-id="@ViewBag.UserId" asp-route-tab="dedications" asp-route-year=@ViewBag.Year asp-route-month=@ViewBag.Month class="nav-link" id="dedications">
                            <i class="icon-clock"></i>&nbsp; @SharedLocalizer["Dedicaciones"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@ViewBag._Action" asp-route-id="@ViewBag.UserId" asp-route-tab="requests" asp-route-year=@ViewBag.Year asp-route-month=@ViewBag.Month class="nav-link" id="requests">
                            <i class="icon-envelope-letter"></i>&nbsp; @SharedLocalizer["Solicitudes"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@ViewBag._Action" asp-route-id="@ViewBag.UserId" asp-route-tab="training" asp-route-year=@ViewBag.Year asp-route-month=@ViewBag.Month class="nav-link" id="training">
                            <i class="icon-graduation"></i>&nbsp; @SharedLocalizer["Formación"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@ViewBag._Action" asp-route-id="@ViewBag.UserId" asp-route-tab="quality" asp-route-year=@ViewBag.Year asp-route-month=@ViewBag.Month class="nav-link" id="quality">
                            <i class="icon-badge"></i>&nbsp; @SharedLocalizer["Calidad"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@ViewBag._Action" asp-route-id="@ViewBag.UserId" asp-route-tab="productivity" asp-route-year=@ViewBag.Year asp-route-month=@ViewBag.Month class="nav-link" id="productivity">
                            <i class="icon-chart"></i>&nbsp; @SharedLocalizer["Productividad"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@ViewBag._Action" asp-route-id="@ViewBag.UserId" asp-route-tab="operational" asp-route-year=@ViewBag.Year asp-route-month=@ViewBag.Month class="nav-link" id="operational">
                            <i class="icon-wrench"></i>&nbsp; @SharedLocalizer["Operativo"]
                        </a>
                    </li>
                </ul>
                @* CONTENT *@
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-main-pane">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @RenderSection("Scripts", false) }
