﻿@* USER - EDIT *@

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Enviroment
@using Microsoft.AspNetCore.Html
@model UserViewModel

@{

    ViewData["Title"] = Model.FullName;
    ViewData["SubTitle"] = "Area del usuario";

    SelectList profileSelectList = new SelectList(Model.AvailableProfiles, "Key", "Value");

    Dictionary<string, string> RoleDictionary = new Dictionary<string, string>()
    {
        { "Admin", SharedLocalizer["Administrador"] },{ "SuperUser", SharedLocalizer["Superusuario"] },
        { "Director", SharedLocalizer["Director"] },{ "Manager", SharedLocalizer["Gerente"] },
        { "AreaManager", SharedLocalizer["Jefe de Area"] },{ "ServiceManager", SharedLocalizer["Jefe de Servicio"] },
        { "ProjectManager", SharedLocalizer["Jefe de Proyecto"] },{ "DepartmentManager", SharedLocalizer["Jefe de Departamento"] },
        { "Supervisor", SharedLocalizer["Supervisor"] },{ "TeamManager", SharedLocalizer["Jefe de Equipo"] },
        { "Coordinator", SharedLocalizer["Coordinador"] },{ "SupportStaff", SharedLocalizer["Equipo de Soporte"] },
        { "ReportingStaff", SharedLocalizer["Equipo de Reporting"] },{ "QualityStaff", SharedLocalizer["Equipo de Calidad"] },
        { "TrainingStaff", SharedLocalizer["Equipo de Formación"] },{ "Staff", SharedLocalizer["Equipo de Producción"] }
    };

    string tab = ViewBag.Tab ?? "profesional";
}

@functions{
    public IHtmlContent Avatar()
    {
        if (Model.Avatar == null || Model.Avatar == "0.jpg")
        {
            return Html.Raw("");
        }
        return Html.Raw("<img id = 'edit-avatar' src = '/static/avatars/" + Model.Avatar + "?" + DateTime.Now.ToString("yyyyMMddhhmmss") + "'/>");
    }

    public IHtmlContent ProfileRoles()
    {
        string html = @"var profile_role = {";
        foreach (var profile in Model.ProfilesRoles)
        {
            html += profile.Key + ": [";
            foreach (var role in profile.Value)
            {
                html += $@"'{role.Key}', ";
            }
            html.Substring(html.Length - 2);
            html += "], ";
        }
        html.Substring(html.Length - 1);
        html += "};";
        return Html.Raw(html);
    }

    public IHtmlContent OriginalRoles()
    {
        string html = @"var original_roles = [";
        Model.Roles.Select(x => x.Name).ToList().ForEach(role =>
        {
            html += $@"'{role}', ";
        });
        html.Substring(html.Length - 2);
        html += "];";
        return Html.Raw(html);
    }
}

@section Styles{
    <link rel="stylesheet" href="~/lib/slim/slim/slim.css">
    <style>

        .col-form-label {
            color: #03657c;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .slim {
            border-radius: 5%;
            width: 80px;
            height: 80px;
            border: 1px solid rgb(200, 206, 211);
        }

            .slim .slim-btn-group {
                opacity: 0;
                transition: .25s opacity;
            }

            .slim:hover .slim-btn-group {
                opacity: 1;
            }

        .slim-btn {
            width: 26px;
            height: 26px;
            margin: 4px;
        }

        .slim-btn-edit {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 269 269' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath d='M161.36 56.337c-7.042-7.05-18.46-7.05-25.5 0l-6.373 6.38-89.243 89.338.023.023-2.812 2.82s-8.968 9.032-29.216 74.4c-.143.456-.284.91-.427 1.373-.36 1.172-.726 2.362-1.094 3.568a785.126 785.126 0 0 0-.988 3.25c-.28.922-.556 1.835-.84 2.778-.64 2.14-1.29 4.318-1.954 6.567-1.455 4.937-5.01 16.07-.99 20.1 3.87 3.882 15.12.467 20.043-.993a1275.615 1275.615 0 0 0 9.41-2.83c1.032-.314 2.058-.626 3.063-.935 1.27-.39 2.52-.775 3.75-1.157l1.09-.34c62.193-19.365 73.358-28.453 74.286-29.284l.01-.01.067-.06 2.88-2.886.192.193 89.244-89.336 9.373-6.382c7.04-7.048 7.04-18.476 0-25.525l-50.998-51.05zM103.4 219.782c-.08.053-.185.122-.297.193l-.21.133c-.076.047-.158.098-.245.15l-.243.148c-2.97 1.777-11.682 6.362-32.828 14.017-2.47.894-5.162 1.842-7.98 2.82l-30.06-30.092c.98-2.84 1.928-5.55 2.825-8.04 7.638-21.235 12.22-29.974 13.986-32.94l.12-.2c.063-.1.12-.196.175-.283l.126-.2c.07-.11.14-.217.192-.296l2.2-2.205 54.485 54.542-2.248 2.255zM263.35 56.337l-50.996-51.05c-7.04-7.048-18.456-7.048-25.498 0L174.108 18.05c-7.04 7.048-7.04 18.476 0 25.524l50.996 51.05c7.04 7.048 18.457 7.048 25.498 0l12.75-12.762c7.04-7.05 7.04-18.477 0-25.525z' fill='%23fff'/%3E%3C/svg%3E");
        }

        .slim-btn-remove {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 269 269' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath d='M63.12 250.254s3.998 18.222 24.582 18.222h93.072c20.583 0 24.582-18.222 24.582-18.222l18.374-178.66H44.746l18.373 178.66zM170.034 98.442a8.95 8.95 0 0 1 17.9 0l-8.95 134.238a8.95 8.95 0 0 1-17.9 0l8.95-134.238zm-44.746 0a8.949 8.949 0 1 1 17.898 0V232.68a8.95 8.95 0 1 1-17.9 0V98.442zm-35.798-8.95a8.95 8.95 0 0 1 8.95 8.95l8.95 134.237c0 4.942-4.008 8.948-8.95 8.948a8.95 8.95 0 0 1-8.95-8.95L80.54 98.441a8.95 8.95 0 0 1 8.95-8.95zm128.868-53.68h-39.376V17.898c0-13.578-4.39-17.9-17.898-17.9H107.39C95 0 89.492 6 89.492 17.9v17.91H50.116c-7.914 0-14.32 6.007-14.32 13.43 0 7.424 6.406 13.43 14.32 13.43H218.36c7.914 0 14.32-6.006 14.32-13.43 0-7.423-6.406-13.43-14.32-13.43zm-57.274 0H107.39l.002-17.914h53.695V35.81z' fill='%23fff'/%3E%3C/svg%3E");
        }
    </style>
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit" autocomplete="off" id="edit-form">
                    @* HEADER *@
                    <div class="row mb-sm-4 mb-xl-3">
                        @* Title *@
                        <div class="col-10 col-sm-11 col-xl-6">
                            <div id="avatar" class="float-left mr-4 d-sm-down-none">
                                @Avatar()
                                <input type="file" name="file[]" class="form-control">
                            </div>
                            <div class="mt-md-1 float-left">
                                <h3 class="card-title mb-0">@Model.FullName</h3>
                                <hr align="left" class="title" />
                                <div class="small text-muted">@ViewData["SubTitle"]</div>
                            </div>
                        </div>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* Navigation *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="list" class="btn btn-secondary history-back">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <button class="btn btn-primary" type="submit" asp-action="Edit">
                                        <i class="fa fa-save"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Guardar"]</span>
                                    </button>
                                </span>
                                <span class="btn-group mb-3 mb-sm-0">
                                    <button class="btn btn-warning" type="button" data-remote="/user/edit/@Model.Id/resetpassword" data-target="#global-modal" data-toggle="modal">
                                        <i class="fa fa-key"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Contraseña"]</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    @* CONTENT *@
                    <div class="row">
                        <div class="col">
                            <ul id="nav-tab" class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="@(tab == "profesional" ? "nav-link active" : "nav-link")" data-toggle="tab" data-target="#profesional" href="#">
                                        <i class="icon-briefcase"></i>&nbsp; @SharedLocalizer["Profesional"]
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="@(tab == "work" ? "nav-link active" : "nav-link")" data-toggle="tab" data-target="#work" href="#">
                                        <i class="icon-drawer"></i>&nbsp; @SharedLocalizer["Laboral"]
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="@(tab == "operational" ? "nav-link active" : "nav-link")" data-toggle="tab" data-target="#operational" href="#">
                                        <i class="icon-wrench"></i>&nbsp; @SharedLocalizer["Operativo"]
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="@(tab == "auth" ? "nav-link active" : "nav-link")" data-toggle="tab" data-target="#auth" href="#">
                                        <i class="icon-lock"></i>&nbsp; @SharedLocalizer["Permisos"]
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div id="profesional" class="@(tab == "profesional" ? "tab-pane fade show active" : "tab-pane fade")" >
                                    <br />
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group row">
                                                        <label asp-for="FirstName" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9">
                                                            <input asp-for="FirstName" class="form-control" />
                                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="MainSurname" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9">
                                                            <input asp-for="MainSurname" class="form-control" />
                                                            <span asp-validation-for="MainSurname" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="SecondSurname" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9">
                                                            <input asp-for="SecondSurname" class="form-control" />
                                                            <span asp-validation-for="SecondSurname" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label asp-for="Email" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9">
                                                            <input asp-for="Email" class="form-control" />
                                                            <span asp-validation-for="Email" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="PhoneNumber" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9">
                                                            <input asp-for="PhoneNumber" class="form-control" />
                                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="MobileNumber" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9">
                                                            <input asp-for="MobileNumber" class="form-control" />
                                                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group row">
                                                        <label asp-for="UserName" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9">
                                                            <input asp-for="UserName" class="form-control" />
                                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="EmployeeId" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9">
                                                            <input asp-for="EmployeeId" class="form-control" />
                                                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="Position" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="Position" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editpositionhistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="Area" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="Area" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editareahistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="OwnedAreas" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="OwnedAreas" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editownedareashistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="Office" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="Office" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editofficehistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="work" class="@(tab == "work" ? "tab-pane fade show active" : "tab-pane fade")" >
                                    <br />
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group row">
                                                        <label asp-for="Company" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="Company" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editcontracthistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="Contract" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input id="ContractName" name="ContractName" class="form-control bg-white" value="@Model.Contract.GetDisplayName()" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editcontracthistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="Collective" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="Collective" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editcollectivehistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="CollectiveCategory" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="CollectiveCategory" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editcollectivecategoryhistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="Category" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="Category" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editcategoryhistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="Shift" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="Shift" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editshifthistory" data-target="#global-modal-lg" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group row">
                                                        <label asp-for="WeekWorkHours" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="WeekWorkHours" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editworkconditionshistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="YearWorkHours" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="YearWorkHours" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editworkconditionshistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="YearSpareDays" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="YearSpareDays" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editworkconditionshistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="YearVacationDays" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="YearVacationDays" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editworkconditionshistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label asp-for="Rate" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="Rate" class="form-control bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editratehistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="Salary" class="col-xl-3 col-form-label"></label>
                                                        <div class="col-xl-9 input-group">
                                                            <input asp-for="Salary" class="form-control currency bg-white" readonly="readonly" />
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light" type="button" data-remote="/user/edit/@Model.Id/editsalaryhistory" data-target="#global-modal" data-toggle="modal">...</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="operational" class="@(tab == "operational" ? "tab-pane fade show active" : "tab-pane fade")">
                                    <div class="font-xl mb-3 mt-2 mr-1 mt-lg-0">&nbsp;
                                        <button class="btn btn-success float-right" type="button" data-remote="/user/edit/@Model.Id/AssignOPerational" data-target="#global-modal" data-toggle="modal">
                                            <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Añadir"]
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">

                                                @{
                                                    string leftColHtml = "";
                                                    string rightColHtml = "";
                                                    bool odd = true;

                                                    foreach (var item in Model.UserOperational)
                                                    {
                                                        string dataHtml = @"
                                            <div class='form-group row' data-id='" + item.Id + @"'>
                                                <label class='col-sm-12 col-md-3 col-lg-3 col-xl-3 col-form-label'>" + item.Key + @"</label>
                                                <div class='col-sm-12 col-md-9 col-lg-9 col-xl-9 input-group'>
                                                    <input class='form-control bg-white' readonly='readonly' value='" + item.Value + @"' />
                                                    <span class='input-group-append'>
                                                        <button class='btn btn-light' type='button' data-remote='/user/edit/" + Model.Id + @"/AssignOPerational/" + item.Id + @"' data-target='#global-modal' data-toggle='modal'><i class='fa fa-pencil'></i></button>
                                                    </span>
                                                    <a id='deleteoperational' href='#' class='btn btn btn-light' data-msgremote='/user/edit/" + Model.Id + @"/DeleteOperational/" + item.Id + @"' data-msgtarget='#global-modal'>
                                                        <i class='fa fa-trash'></i>
                                                    </a>
                                                </div>
                                            </div>";

                                                        leftColHtml += odd ? (dataHtml) : "";
                                                        rightColHtml += odd ? "" : (dataHtml);
                                                        odd = !(odd);
                                                    }
                                                }

                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    @Html.Raw(leftColHtml)
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    @Html.Raw(rightColHtml)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="auth" class="@(tab == "auth" ? "tab-pane fade show active" : "tab-pane fade")" >
                                    <br />
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-form-label">@SharedLocalizer["Perfiles"]</label>
                                                        <div class="col-xl-9">
                                                            <select asp-items=@(new SelectList(Model.AvailableProfiles, "Key", "Value")) id="profile-list" class="form-control">
                                                                <option value=""></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-form-label">@SharedLocalizer["Permisos"]</label>
                                                        <div class="col-xl-9">
                                                            <ul clasS="list-group2 pl-3">
                                                                @{
                                                                    List<string> selectedRoles = Model.Roles.Select(x => x.Name).ToList();
                                                                    int i = 1;
                                                                    foreach (var role in Model.AvailableRoles)
                                                                    {
                                                                        string id = "RoleList" + i;
                                                                        <li class="list-group-item2 m-2 ml-0">
                                                                            <input class="form-check-input" id="@id" type="checkbox" name="RoleList"
                                                                                    value="@role.Key" @(selectedRoles.Any(x => x == role.Key) ? "checked" : "") />
                                                                            <label for="@id" class="form-check-label">@role.Value</label>
                                                                        </li>
                                                                        i++;
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="d-none d-xl-block col-xl-3"></div>
                                                        <div class="col-xl-9">
                                                            <span class="btn-group">
                                                                <button class="btn btn-sm btn-light mr-3" type="button" id="clean-roles">
                                                                    @SharedLocalizer["Limpiar"]</button>
                                                                <button class="btn btn-sm btn-light" type="button" id="original-roles">
                                                                    @SharedLocalizer["Originales"]</button>
                                                            </span>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/slim/slim/slim.jquery.min.js"></script>
    <script>
        var modal_destination;
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Colaboradores"]', url: 'user' }, { name: '@Model.FullName', url: 'show/@Model.Id' }, { name: 'Editar', url: 'edit/@Model.Id' });
            $('#global-modal').on('shown.bs.modal', function (event) {
                var triggerElement = $(event.relatedTarget);
                modal_destination = triggerElement.parent().siblings('input');
            });
            $('#global-modal-lg').on('shown.bs.modal', function (event) {
                var triggerElement = $(event.relatedTarget);
                modal_destination = triggerElement.parent().siblings('input');
            });
            function imageWillBeRemoved(data, remove) {
                if (window.confirm("Esta seguro?")) {
                    remove();
                }
            }
            $('#avatar').slim({
                label: '@SharedLocalizer["Cargar imagen"]',
                statusContentLength: '@SharedLocalizer["La imagen es demasiado grande, intenta con otra"]',
                statusImageTooSmall: '@SharedLocalizer["La imagen es muy pequeña, el tamaño mínimo es de $0 píxeles"]',
                statusNoSupport: '@SharedLocalizer["Tu explorador no soporta todas las funciones"]',
                statusFileSize: '@SharedLocalizer["Tu imagen es demasiado grande MAX 2 MB"]',
                statusUnknownResponse: '@SharedLocalizer["Error al procesar la imagen"]',
                statusUploadSuccess: '@SharedLocalizer["Guardada"]',
                buttonCancelLabel: '@SharedLocalizer["Cancelar"]',
                buttonConfirmLabel: '@SharedLocalizer["Aceptar"]',
                instantEdit: true,
                ratio: '1:1',
                size: { width: 200, height: 200 },
                forceSize: { width: 200, height: 200 },
                minSize: { width: 200, height: 200 },
                maxFileSize: 2,
                forceType: 'jpg',
                jpegCompression: 70,
                service: '/user/edit/@Model.Id/avatar',
                push: true,
                willRemove: imageWillBeRemoved
            });
            $('#nav-tab a[id="tab-profesional"]').tab('edit');
            $("#edit-form :input").not("input[name='UserName'], input[name='Email'], input[name='PersonalEmail'], input[name='BirthDate'] ").each(function () {
                $(this).on('keyup', function (event) {
                    var $t = $(this);
                    $t.val(titleCase($t.val()));
                });
            });
            $("input[name='UserName'], input[name='Email'], input[name='PersonalEmail']").on('keyup', function (event) {
                    var $t = $(this);
                    $t.val($t.val().toLowerCase());
            });
            $("#edit-form").submit(function (e) {
                e.preventDefault();
                $.ajaxPost($(this).attr('action'), $(this).serialize(), function (response) {
                    $.ajaxGet('/user/show/@Model.Id');
                    toastr.success('@SharedLocalizer["La petición se ha procesado con éxito"]');
                });
            });

            $("#profile-list").change(function (e) {
                @ProfileRoles()
                var profile = $(this).val();
                $(":checkbox[name='RoleList']:enabled").prop("checked", false);
                profile_role[profile].forEach(function (value, index, array) {
                    var checkbox = $(":checkbox[name='RoleList'][value='" + value + "']:enabled");
                    $(checkbox).prop("checked", true);
                });

            });

            $("#original-roles").click(function (e) {
                @OriginalRoles()
                $(":checkbox[name='RoleList']:enabled").prop("checked", false);
                original_roles.forEach(function (value, index, array) {
                    var checkbox = $(":checkbox[name='RoleList'][value='" + value + "']:enabled");
                    $(checkbox).prop("checked", true);
                });
            });

            $("#clean-roles").click(function (e) {
                $(":checkbox[name='RoleList']:enabled").prop("checked", false);
            });

             $('a[id^="deleteoperational"]').click( function (event) {

                var mycontent = `
                <form asp-action="Delete" id="delete-form" method="post" role="form" class="form-horizontal" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="col-xl-12 col-form-label">@SharedLocalizer["¿Está seguro de eliminar el registro?"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer b-t-0 pt-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
                        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Confirmar"]</button>
                    </div>
                </form>`

                event.preventDefault();

                if ($(this).data("msgremote").length && $(this).data("msgtarget").length) {
                    
                    var url = $(this).data("msgremote");
                    var modal = $(this).data("msgtarget");
                    var $modal = $(modal);
                    var $modal_content = $(modal + ' ' + $(this).data("msgtarget") + '-content');

                    $modal_content.append(mycontent);
                    $modal.modal("show");

                    $("#delete-form").submit(function (e) {
                        e.preventDefault();
                        $.ajaxPostModal(url, $(this).serialize(), function () {
                            $.ajaxGet('/user/edit/@Model.Id/operational');
                        });
                        return false;
                    });
                }
            });

        });
    </script>
}