﻿@* USER - LIST *@

@using Perseo.Web.Models

@model UserListViewModel

@{ 
    ViewData["Title"] = SharedLocalizer["Colaboradores"];
    List<AreaModel> Areas = Model.OwnedAreas;
    List<int> Selected = Model.SelectedAreasIds;

    var DtOptions = Model.Pagination.ServerSidePagination ? Html.Raw(@"serverSide : true, ajax: '/user/listdata/', deferLoading : " + Model.Pagination.RowCount ) : Html.Raw("");
}

<style>
    table[data-row-link].dataTable tbody tr {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* Navigation *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            @* Active Navigator*@
                            <span class="btn-group mb-3 mb-sm-0">
                                <vc:active-filter state=@Model.Active></vc:active-filter>
                            </span>
                            @* Office Filter*@
                            <span class="btn-group mb-3 mb-sm-0">
                                <vc:office-filter selected-offices=@ViewBag.SelectedOffices areas-offices="@ViewBag.AreasOffices"></vc:office-filter>
                            </span>
                            @* Area *@
                            <span class="btn-group mb-3 mb-sm-0">
                                <vc:area-filter owned-areas=@Areas selected-areas-ids=@Selected multiple=true></vc:area-filter>
                            </span>
                            @* Go Filter Button *@
                            <span class="btn-group mr-3 mb-3 mb-sm-0">
                                <vc:go-filter-button base-url=@null></vc:go-filter-button>
                            </span>
                            @* Date *@
                            <span class="btn-group mb-3 mb-sm-0">
                                <button class="btn btn-primary" type="button" data-remote="/user/add" data-target="#global-modal" data-toggle="modal">
                                    <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Nuevo"]
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                @* CONTENT *@
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 col-xxl-2">
                        <div class="card">
                            <div class="card-body p-0 d-flex align-items-center">
                                <i class="fa fa-users bg-color-1 font-2xl mr-3 mr-xxl-2 " style="padding: 14px"></i>
                                <div>
                                    <div class="text-value-sm" style="color: @Constants.color_1; line-height: 1.4 !important;">@Model.Cards[0].MainValue <small>&nbsp;&nbsp; @Model.Cards[0].SecondaryValue</small></div>
                                    <div class="text-muted text-uppercase font-weight-bold small" style="line-height: 2.2 !important;">@Model.Cards[0].Label</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 col-xxl-2">
                        <div class="card">
                            <div class="card-body p-0 d-flex align-items-center">
                                <i class="fa fa-briefcase bg-color-2 font-2xl mr-3 mr-xxl-2 " style="padding: 14px"></i>
                                <div>
                                    <div class="text-value-sm" style="color: @Constants.color_light_blue; line-height: 1.4 !important;">@Model.Cards[1].MainValue <small>&nbsp;&nbsp; @Model.Cards[1].SecondaryValue</small></div>
                                    <div class="text-muted text-uppercase font-weight-bold small" style="line-height: 2.2 !important;">@Model.Cards[1].Label</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xxl-2">
                        <div class="card">
                            <div class="card-body p-0 d-flex align-items-center">
                                <i class="fa fa-industry bg-color-3 font-2xl mr-3 mr-xxl-2 " style="padding: 14px"></i>
                                <div>
                                    <div class="text-value-sm" style="color: @Constants.color_3; line-height: 1.4 !important;">@Model.Cards[2].MainValue <small>&nbsp;&nbsp; @Model.Cards[2].SecondaryValue</small></div>
                                    <div class="text-muted text-uppercase font-weight-bold small" style="line-height: 2.2 !important;">@Model.Cards[2].Label</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xxl-2">
                        <div class="card">
                            <div class="card-body p-0 d-flex align-items-center">
                                <i class="fa fa-address-card-o bg-color-4 font-2xl mr-3 mr-xxl-2 " style="padding: 14px"></i>
                                <div>
                                    <div class="text-value-sm" style="color: @Constants.color_4; line-height: 1.4 !important;">@Model.Cards[3].MainValue <small>&nbsp;&nbsp; @Model.Cards[3].SecondaryValue</small></div>
                                    <div class="text-muted text-uppercase font-weight-bold small" style="line-height: 2.2 !important;">@Model.Cards[3].Label</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xxl-2">
                        <div class="card">
                            <div class="card-body p-0 d-flex align-items-center">
                                <i class="fa fa-calendar bg-color-5 font-2xl mr-3 mr-xxl-2 " style="padding: 14px"></i>
                                <div>
                                    <div class="text-value-sm" style="color: @Constants.color_5; line-height: 1.4 !important;">@Model.Cards[4].MainValue <small>&nbsp;&nbsp; @Model.Cards[4].SecondaryValue</small></div>
                                    <div class="text-muted text-uppercase font-weight-bold small" style="line-height: 2.2 !important;">@Model.Cards[4].Label</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xxl-2">
                        <div class="card">
                            <div class="card-body p-0 d-flex align-items-center">
                                <i class="fa fa-refresh bg-color-6 font-2xl mr-3 mr-xxl-2 " style="padding: 14px; color: white"></i>
                                <div>
                                    <div class="text-value-sm" style="color: @Constants.color_6; line-height: 1.4 !important;">@Model.Cards[5].MainValue <small>&nbsp;&nbsp; @Model.Cards[5].SecondaryValue</small></div>
                                    <div class="text-muted text-uppercase font-weight-bold small" style="line-height: 2.2 !important;">@Model.Cards[5].Label</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="user-list-table-container" class="dt-hidden-container">
                    <table id="user-list-table" data-row-link="/user/show/" class="table table-hover table-sm table-striped dt-responsive dt-export dt-filter nowrap">
                        <thead>
                            <tr>
                                <th data-priority="99" class="not-filter not-export">@SharedLocalizer["Avatar"]</th>
                                <th data-priority="1">@SharedLocalizer["Nombre"]</th>
                                <th data-priority="3">@SharedLocalizer["Email"]</th>
                                <th data-priority="4">@SharedLocalizer["Usuario"]</th>
                                <th data-priority="5">@SharedLocalizer["Empleado"]</th>
                                <th data-priority="6">@SharedLocalizer["Área"]</th>
                                <th data-priority="2" class="actions">
                                    @SharedLocalizer["Acciones"]
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data)
                            {
                                <tr data-id="@item.Id">
                                    <td><img class="avatar img-circle" rel="popover" src="/static/avatars/@Html.DisplayFor(modelItem => item.Avatar)" /></td>
                                    <td>@Html.DisplayFor(modelItem => item.FullFamilyName)</td>
                                    <td>@Html.DisplayTextFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EmployeeId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Area)</td>
                                    <td class="actions">
                                        <a id="show" asp-action="Show" asp-route-id="@item.Id" class="btn btn-sm btn-ghost-primary">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a id="edit" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-ghost-success">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a id="delete" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-ghost-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>@SharedLocalizer["Nombre"]</th>
                                <th>@SharedLocalizer["Email"]</th>
                                <th>@SharedLocalizer["Usuario"]</th>
                                <th>@SharedLocalizer["Empleado"]</th>
                                <th>@SharedLocalizer["Área"]</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script> 
        $(document).ready(function () {

            breadcrumb({ name: '@SharedLocalizer["Colaboradores"]', url: 'user' });

            $('#user-list-table').dt({ @DtOptions });

            $('img[rel=popover]').popover({
                html: true,
                trigger: 'hover',
                placement: 'right',
                content: function () { return '<img style="width:140px; height:140px;" src="' + $(this).attr('src') + '" />'; }
            });

            $("td img.avatar").click(function () { 
                $(".popover").remove();
            });

        });
    </script>
}