﻿@* USER - SHOW MAIN INFO *@

@model UserViewModel
@{
    Layout = "_ShowLayout.cshtml";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var historyurl = "";
    if (ViewBag._Profile)
    {
        historyurl = "/account/profile";
    }
    else if (controller == "user")
    {
        historyurl = "/user/show/" + ViewBag.UserId;
    }
}

@section Styles{
    <style>
        dt {
            font-weight: bold;
        }

        dt, dd {
            display: block;
            overflow: hidden;
        }

        .col-form-label {
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .input-group a {
            color: #03657c;
            font-weight: bold;
            padding-top: 7px;
            padding-left: 3px;
        }
        .input-group a:hover {
            text-decoration : none;
        }
    </style>
}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="font-xl mb-2">@SharedLocalizer["Información Profesional"]</div>
        <div class="row">
            <label asp-for="FirstName" class="col-5 col-form-label"></label>
            <input asp-for="FirstName" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="MainSurname" class="col-5 col-form-label"></label>
            <input asp-for="MainSurname" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="SecondSurname" class="col-5 col-form-label"></label>
            <input asp-for="SecondSurname" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="Email" class="col-5 col-form-label"></label>
            <input asp-for="Email" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="PhoneNumber" class="col-5 col-form-label"></label>
            <input asp-for="PhoneNumber" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="MobileNumber" class="col-5 col-form-label"></label>
            <input asp-for="MobileNumber" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="UserName" class="col-5 col-form-label"></label>
            <input asp-for="UserName" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="EmployeeId" class="col-5 col-form-label"></label>
            <input asp-for="EmployeeId" class="col-7 form-control-plaintext" disabled />
        </div>
        <div class="row">
            <label asp-for="Position" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="Position" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/positionhistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Area" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="Area" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/areahistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="OwnedAreas" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="OwnedAreas" class="form-control-plaintext" disabled/>
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/ownedareashistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Office" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="Office" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/officehistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Información Laboral"]</div>
        <div class="row">
            <label asp-for="Company" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="Company" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/contracthistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Contract" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="Contract" value="@Model.Contract.GetDisplayName()" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/contracthistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Collective" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="Collective" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/collectivehistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Category" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="Category" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/categoryhistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="CollectiveCategory" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="CollectiveCategory" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/collectivecategoryhistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Shift" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="Shift" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/shifthistory" data-target="#global-modal-lg" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="WeekWorkHours" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="WeekWorkHours" class="form-control-plaintext" disabled value="@Model.WeekWorkHours @SharedLocalizer["Horas"].ToString().ToLower()"/>
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/workconditionshistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="YearWorkHours" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="YearWorkHours" class="form-control-plaintext" disabled value="@Model.YearWorkHours @SharedLocalizer["Horas"].ToString().ToLower()"/>
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/workconditionshistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="YearSpareDays" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="YearSpareDays" class="form-control-plaintext" disabled value="@Model.YearSpareDays @SharedLocalizer["Días"].ToString().ToLower()"/>
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/workconditionshistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="YearVacationDays" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="YearVacationDays" class="form-control-plaintext" disabled value="@Model.YearVacationDays @SharedLocalizer["Días"].ToString().ToLower()"/>
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/workconditionshistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Rate" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="Rate" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/ratehistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Salary" class="col-5 col-form-label"></label>
            <div class="input-group col-7">
                <input asp-for="Salary" class="form-control-plaintext" disabled />
                <span class="input-group-append">
                    <a href="#" data-remote="@historyurl/salaryhistory" data-target="#global-modal" data-toggle="modal">...</a>
                </span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        breadcrumb({ name: '@SharedLocalizer["Colaboradores"]', url: 'user' }, { name: '@ViewBag.FullName', url: 'show/@ViewBag.UserId' });
    });
    </script>
}