﻿@* USER - SHOW DASHBOARD *@
@using Perseo.Core
@using System.Globalization
@model UserDashBoardViewModel
@{
    Layout = "_ShowLayout.cshtml";

    var Year = ViewBag.Year ?? DateTime.Now.Year;
    List<string> AbreviatedMonthNames = new List<string>();
    for (int m = 0; m < 12; m++)
    {
        string name = CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedMonthGenitiveNames[m];
        name = char.ToUpper(name.First()) + name.Substring(1, 2).ToLower();
        AbreviatedMonthNames.Add(name);
    }

    List<UserArea> UserAreas = ViewBag.UserArea as List<UserArea>;
    List<UserContract> UserContract = ViewBag.UserContract as List<UserContract>;
    List<UserCollective> UserCollective = ViewBag.UserCollective as List<UserCollective>;
    List<UserCollectiveCategory> UserCollectiveCategory = ViewBag.UserCollectiveCategory as List<UserCollectiveCategory>;
    List<UserOffice> UserOffice = ViewBag.UserOffice as List<UserOffice>;
    List<UserPosition> UserPosition = ViewBag.UserPosition as List<UserPosition>;
    List<UserShift> UserShift = ViewBag.UserShift as List<UserShift>;
    List<UserSalary> UserSalary = ViewBag.UserSalary as List<UserSalary>;
    List<UserCategory> UserCategory = ViewBag.UserCategory as List<UserCategory>;
    List<UserWorkConditions> UserWorkConditions = ViewBag.UserWorkConditions as List<UserWorkConditions>;

    string Card0MainValue = Model.Cards[0].MainValue == "NaN" ? "⚠" : Model.Cards[0].MainValue;
    string Card0Over = Model.Cards[0].MainValue == "NaN" ? SharedLocalizer["Faltan datos para realizar el cálculo."] : "";
    string Card1MainValue = Model.Cards[1].MainValue == "NaN" ? "⚠" : Model.Cards[1].MainValue;
    string Card1Over = Model.Cards[0].MainValue == "NaN" ? SharedLocalizer["Faltan datos para realizar el cálculo."] : "";
    string Card2MainValue = Model.Cards[2].MainValue == "NaN" ? "⚠" : Model.Cards[2].MainValue;
    string Card2Over = Model.Cards[0].MainValue == "NaN" ? SharedLocalizer["Faltan datos para realizar el cálculo."] : "";
    string Card3MainValue = Model.Cards[3].MainValue == "NaN" ? "⚠" : Model.Cards[3].MainValue;
    string Card3Over = Model.Cards[0].MainValue == "NaN" ? SharedLocalizer["Faltan datos para realizar el cálculo."] : "";
    string Card4MainValue = Model.Cards[4].MainValue == "NaN" ? "⚠" : Model.Cards[4].MainValue;
    string Card4Over = Model.Cards[0].MainValue == "NaN" ? SharedLocalizer["Faltan datos para realizar el cálculo."] : "";
    string Card5MainValue = Model.Cards[5].MainValue == "NaN" ? "⚠" : Model.Cards[5].MainValue;
    string Card5Over = Model.Cards[0].MainValue == "NaN" ? SharedLocalizer["Faltan datos para realizar el cálculo."] : "";

    string start_date = "";
    if (UserContract.FirstOrDefault() == null)
    {
        int year = DateTime.Now.Year;
        start_date = new DateTime(year - 1, 1, 1).GetUnixEpoch().ToString("0");
    }
    else
    {
        start_date = UserContract.FirstOrDefault().StartDate.GetUnixEpoch().ToString("0");
    }

}

@section Styles{
    <link rel="stylesheet" href="~/lib/responsive-timeline/css/style.css" asp-append-version="true" />
}

@*dashboard*@
<div class="row mb-3 mb-lg-0">
    <div class="col-12 col-lg-6">
        <p class="font-xl">@SharedLocalizer["Resumen del año"] @ViewBag.Year</p>
    </div>
    <div class="col-12 col-lg-6 dashboard-nav text-center text-lg-right">
        @* Date Buttons *@
        <span class="btn-group">
            @if (ViewBag._Profile)
            {
                <vc:year-filter year=@Year url="/account/profile/dashboard/$y"></vc:year-filter>
            }
            else
            {
                <vc:year-filter year=@Year url="/user/show/@ViewBag.UserId/dashboard/$y"></vc:year-filter>
            }
        </span>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-2">
        <div class="card">
            <div class="card-body pt-2">
                <div class="text-value" style="color: @Constants.color_light_blue" title="@Card0Over">@Card0MainValue<small> %</small><small class="float-right" style="font-size: 0.7rem; line-height: 1.5rem">@Model.Cards[0].SecondaryValue</small></div>
                <small class="text-muted text-uppercase font-weight-bold">@Model.Cards[0].Label</small>
                <div class="progress progress-xs mt-3">
                    <div class="progress-bar bg-color-2" role="progressbar" style="width: @Model.Cards[0].BarValue%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-2">
        <div class="card">
            <div class="card-body pt-2">
                <div class="text-value" style="color: @Constants.color_1" title="@Card1Over">@Card1MainValue<small> %</small><small class="float-right" style="font-size: 0.7rem; line-height: 1.5rem">@Model.Cards[1].SecondaryValue</small></div>
                <small class="text-muted text-uppercase font-weight-bold">@Model.Cards[1].Label</small>
                <div class="progress progress-xs mt-3">
                    <div class="progress-bar bg-color-1" role="progressbar" style="width: @Model.Cards[1].BarValue%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-2">
        <div class="card">
            <div class="card-body pt-2">
                <div class="text-value" style="color: @Constants.color_3" title="@Card2Over">@Card2MainValue<small> %</small><small class="float-right" style="font-size: 0.7rem; line-height: 1.5rem">@Model.Cards[2].SecondaryValue</small></div>
                <small class="text-muted text-uppercase font-weight-bold">@Model.Cards[2].Label</small>
                <div class="progress progress-xs mt-3">
                    <div class="progress-bar bg-color-3" role="progressbar" style="width: @Model.Cards[2].BarValue%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-2">
        <div class="card">
            <div class="card-body pt-2">
                <div class="text-value" style="color: @Constants.color_4" title="@Card3Over">@Card3MainValue<small> %</small><small class="float-right" style="font-size: 0.7rem; line-height: 1.5rem">@Model.Cards[3].SecondaryValue</small></div>
                <small class="text-muted text-uppercase font-weight-bold">@Model.Cards[3].Label</small>
                <div class="progress progress-xs mt-3">
                    <div class="progress-bar bg-color-4" role="progressbar" style="width: @Model.Cards[3].BarValue%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-2">
        <div class="card">
            <div class="card-body pt-2">
                <div class="text-value" style="color: @Constants.color_5" title="@Card4Over">@Card4MainValue<small> %</small><small class="float-right" style="font-size: 0.7rem; line-height: 1.5rem">@Model.Cards[4].SecondaryValue</small></div>
                <small class="text-muted text-uppercase font-weight-bold">@Model.Cards[4].Label</small>
                <div class="progress progress-xs mt-3">
                    <div class="progress-bar bg-color-5" role="progressbar" style="width: @Model.Cards[4].BarValue%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-2">
        <div class="card">
            <div class="card-body pt-2">
                <div class="text-value" style="color: @Constants.color_6" title="@Card5Over">@Card5MainValue<small> %</small><small class="float-right" style="font-size: 0.7rem; line-height: 1.5rem">@Model.Cards[5].SecondaryValue</small></div>
                <small class="text-muted text-uppercase font-weight-bold">@Model.Cards[5].Label</small>
                <div class="progress progress-xs mt-3">
                    <div class="progress-bar bg-color-6" role="progressbar" style="width: @Model.Cards[5].BarValue%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="area-list-table-container" class="dt-hidden-container">
                    <table id="dashboard-table" class="table table-light table-hover table-sm dt-responsive nowrap table-striped">
                        <thead>
                            <tr>
                                <th data-priority="1">@SharedLocalizer["Elemento"]</th>
                                <th data-priority="2">@SharedLocalizer["Año"]</th>
                                <th data-priority="3">@AbreviatedMonthNames[0]</th>
                                <th data-priority="4">@AbreviatedMonthNames[1]</th>
                                <th data-priority="5">@AbreviatedMonthNames[2]</th>
                                <th data-priority="7">@AbreviatedMonthNames[3]</th>
                                <th data-priority="7">@AbreviatedMonthNames[4]</th>
                                <th data-priority="8">@AbreviatedMonthNames[5]</th>
                                <th data-priority="9">@AbreviatedMonthNames[6]</th>
                                <th data-priority="10">@AbreviatedMonthNames[7]</th>
                                <th data-priority="12">@AbreviatedMonthNames[8]</th>
                                <th data-priority="13">@AbreviatedMonthNames[9]</th>
                                <th data-priority="14">@AbreviatedMonthNames[10]</th>
                                <th data-priority="15">@AbreviatedMonthNames[11]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ List<double> TotalDays = Enumerable.Repeat(0.0, 13).ToList();
                                List<double> TotalHours = Enumerable.Repeat(0.0, 13).ToList(); }
                            @foreach (var Item in Model.GeneralJobTypes)
                            {
                                <tr>
                                    <td>
                                        <span data-acronym='@Item.Value.Acronym' data-name='@Item.Key.ToString()' class='job-detail-btn legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-@Item.Value.Acronym' style="cursor: pointer;">+</span>
                                        <span style='white-space: nowrap'>@Item.Key.GetDisplayName()</span>
                                    </td>
                                    @for (int i = 0; i <= 12; i++)
                                    {
                                        @if (@Item.Value.Days[@i] > 0)
                                        {
                                            TotalDays[i] += Item.Value.Days[i];
                                            TotalHours[i] += Item.Value.Hours[i];
                                            <td title="@Item.Value.Days[@i] d">@Item.Value.Hours[@i] h</td>
                                        }
                                        else
                                        {
                                            <td> - </td>
                                        }
                                    }
                                </tr>
                                @foreach (var job in Item.Value.GeneralJobs)
                                {
                                    if (job.Hours.Sum() > 0)
                                    {

                                        <tr class="job-detail" data-acronym='@Item.Value.Acronym' data-name='@Item.Key.ToString()' style="background-color: white;  display:none;">
                                            <td style="border-top: 1px solid transparent">
                                                <span class='legend pl-2 pr-2 pt-0 pb-0 mr-2'>&nbsp;</span>
                                                <span class="pl-2">@job.Name</span>
                                            </td>
                                            @for (int i = 0; i <= 12; i++)
                                            {
                                                @if (@job.Days[@i] > 0)
                                                {
                                                    <td style="border-top: 1px solid transparent" title="@job.Days[@i] d">
                                                        <span>@job.Hours[@i] h</span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="border-top: 1px solid transparent"> - </td>
                                                }
                                            }
                                        </tr>
                                    }


                                }

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@SharedLocalizer["Totales"]</th>
                                @for (int i = 0; i <= 12; i++)
                                {
                                    <th title="@TotalDays[i] d">@TotalHours[i] h</th>
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*timeline*@
<div class="row mb-3 mb-lg-0">
    <div class="col-12 col-lg-6">
        <p class="font-xl">@SharedLocalizer["Timeline del año"] @ViewBag.Year</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="tl"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Colaboradores"]', url: 'user' }, { name: '@ViewBag.FullName', url: 'show/@ViewBag.UserId' },{ name: '@SharedLocalizer["Dashboard"]', url: 'dashboard' });
            $('#dashboard-table').dt({
                searching: false,
                ordering: false,
                lengthChange: false,
                bPaginate: false,
                bInfo: false,
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
            });
            $('#dashboard-table').attr('style', 'border-collapse: collapse !important');
            $('#job-detail-btn').click(function () {
                $(".job-detail").each(function () {
                    $(this).toggle("fast");
                });
            });
            $('.job-detail-btn').click(function () {
                var data_name = $(this).data("name");
                $(".job-detail[data-name='"+data_name+"']").each(function () {
                    $(this).toggle("fast");
                });
            });
        });
    </script>

    <script src="~/lib/responsive-timeline/js/script.js"></script>
    <script>
        $(document).ready(function () {
            $('#nav-tab a[id="tab-timeline"]').tab('show');
            var data = {
                start_time: @start_date,
                stop_time: @DateTime.Now.GetUnixEpoch().ToString("0"),
                lines: {
                    'contracts': { title: '@SharedLocalizer["Contrato"]', css: 'dark', events: [
                        @foreach(var item in UserContract)
                        {
                            var date = item.StartDate.GetUnixEpoch().ToString("0");
                            @Html.Raw("{id:  " + item.Id + ", time: " + @date + ", title: '" + item.ContractPeriod + "', status: 'complete', type: 'start_work',},");
                        }
                    ]
                    },
                    'workcondition': { title: '@SharedLocalizer["Condiciones"]', css: 'medium', events: [
                        @foreach(var item in UserWorkConditions)
                        {
                            var date = item.StartDate.GetUnixEpoch().ToString("0");
                            @Html.Raw("{id:  " + item.Id + ", time: " + @date + ", title: '" + item.WeekWorkHours + "', status: 'complete', type: 'start_work',},");
                        }
                    ]
                    },
                    'collectivecategory': { title: '@SharedLocalizer["Categoría"]', css: 'light', events: [
                        @foreach(var item in UserCollectiveCategory)
                        {
                            var date = item.StartDate.GetUnixEpoch().ToString("0");
                            @Html.Raw("{id:  " + item.Id + ", time: " + @date + ", title: '" + item.Category + "', status: 'complete', type: 'start_work',},");
                        }
                    ]
                    },
                    'salary': { title: '@SharedLocalizer["Retribución"]', css: 'dark', events: [
                        @foreach(var item in UserSalary)
                        {
                            var date = item.StartDate.GetUnixEpoch().ToString("0");
                            @Html.Raw("{id:  " + item.Id + ", time: " + @date + ", title: '" + item.Salary + "', status: 'complete', type: 'start_work',},");
                        }
                    ]
                    },
                    'shift': { title: '@SharedLocalizer["Turno"]', css: 'medium', events: [
                        @foreach(var item in UserShift)
                        {
                            var date = item.StartDate.GetUnixEpoch().ToString("0");
                            @Html.Raw("{id:  " + item.Id + ", time: " + @date + ", title: '" + item.Description + "', status: 'complete', type: 'start_work',},");
                        }
                    ]
                    },
                    'position': { title: '@SharedLocalizer["Asignación"]', css: 'dark', events: [
                        @foreach(var item in UserPosition)
                        {
                            var date = item.StartDate.GetUnixEpoch().ToString("0");
                            @Html.Raw("{id:  " + item.Id + ", time: " + @date + ", title: '" + item.Name + "', status: 'complete', type: 'start_work',},");
                        }
                    ]
                    },
                }
            };
            $('.tl').timeline(data);
            $('[data-toggle="popover"]').popover();
            breadcrumb({ name: '@SharedLocalizer["Colaboradores"]', url: 'user' }, { name: '@ViewBag.FullName', url: 'show/@ViewBag.UserId' },{ name: '@SharedLocalizer["Dashboard"]', url: 'dashboard' });
        });
    </script>
}