﻿@* USER - SHOW OPERATIONAL (TAB CONTENT) *@
@model UserViewModel
@{
    Layout = "_ShowLayout.cshtml";
}
@section Scripts {

    <script>
        $(document).ready(function () {

            breadcrumb({ name: "@SharedLocalizer["Colaboradores"]", url: "user" }, { name: "@ViewBag.FullName", url: "show/@ViewBag.UserId" }, { name: "@SharedLocalizer["Operativo"]"});

        });
    </script>
}
<div class="row">
    <div class="col">
        <div class="row">

            @{
                string leftColHtml = "";
                string rightColHtml = "";
                bool odd = true;

                foreach (var item in Model.UserOperational)
                {
                    string dataHtml = @"
                        <div class='form-group row'>
                            <label class='col-sm-12 col-md-3 col-lg-3 col-xl-3 col-form-label'>" + item.Key + @"</label>
                            <div class='col-sm-12 col-md-9 col-lg-9 col-xl-9 input-group'>
                                <input class='form-control-plaintext' disabled value='" + item.Value + @"' />
                            </div>
                        </div>";

                    leftColHtml += odd ? (dataHtml) : "";
                    rightColHtml += odd ? "" : (dataHtml);
                    odd = !(odd);
                }
            }

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                @Html.Raw(leftColHtml)
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                @Html.Raw(rightColHtml)
            </div>

        </div>
    </div>
</div>