﻿@* USER - SHOW REQUESTS (TAB CONTENT) *@

@using Perseo.Web.Models
@model RequestListViewModel

@{
    Layout = "_ShowLayout.cshtml";
}

<div class="row">
    <div class="col-12 col-sm-6">
        <p class="font-xl">@SharedLocalizer["Solicitudes Realizadas"] &nbsp;<span class="small text-muted">( @Model.Requests.Count() )</span></p>
    </div>
    <div class="col-12 col-sm-6 text-center text-sm-right">
        @if (ViewBag._Profile)
        {
            <button class="btn btn-primary mb-3 mb-sm-0" type="button" data-remote="/request/add" data-target="#global-modal" data-toggle="modal">
                <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Nuevo"]
            </button>
        }
    </div>
</div>
<div id="list-table-container" class="dt-hidden-container">
    <table id="requests-table" data-row-link="/request/show/" class="table table-hover table-sm dt-responsive nowrap table-striped dt-export dt-filter">
        <thead>
            <tr>
                <th>@SharedLocalizer["Fecha Creación"]</th>
                <th>@SharedLocalizer["Tipo"]</th>
                <th>@SharedLocalizer["Resumen"]</th>
                <th>@SharedLocalizer["Estado"]</th>
                <th>@SharedLocalizer["Último Cambio"]</th>
                <th>@SharedLocalizer["Usuario Asignado"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Requests)
            {
                <tr data-id="@item.Id">
                    <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Summary)</td>
                    <td>@Html.DisplayFor(modelItem => item.State)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastChangeDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.AssignedUser)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>@SharedLocalizer["Fecha Creación"]</th>
                <th>@SharedLocalizer["Tipo"]</th>
                <th>@SharedLocalizer["Resumen"]</th>
                <th>@SharedLocalizer["Estado"]</th>
                <th>@SharedLocalizer["Último Cambio"]</th>
                <th>@SharedLocalizer["Usuario Asignado"]</th>
            </tr>
        </tfoot>
    </table>
    <br />
    <br />
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#requests-table').dt();
            breadcrumb({ name: '@SharedLocalizer["Colaboradores"]', url: 'user' }, { name: '@ViewBag.FullName', url: 'show/@ViewBag.UserId' },{ name: '@SharedLocalizer["Solicitudes"]', url: 'requests' });
        });
    </script>
}