﻿@* USER - SHOW QUALITY (TAB CONTENT) *@
@model QualityViewModel
@{
    Layout = "_ShowLayout.cshtml";
}

@section Scripts {
    <script>
        $(document).ready(function () {

            breadcrumb({ name: "@SharedLocalizer["Colaboradores"]", url: "user" }, { name: "@ViewBag.FullName", url: "show/@ViewBag.UserId" }, { name: "@SharedLocalizer["Calidad"]"});

            $('#audit-takes-table').dt()
            $('#exam-takes-table').dt()
            var pendings = $('#exam-pendings-table').dt()

            $('a[id^="take"]').click(function (event) {
                event.preventDefault();
                var data = pendings.row($(this).parents('tr')).data();
                $.ajaxGetModal("/quality/" + data[1] + "/exam/" + data[2] + "/take/confirm");
            });
        });
    </script>
}
<div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Auditorías registradas"]</div>
<div id="audit-takes-table-container" class="dt-hidden-container">
    <table id="audit-takes-table" data-row-link="/quality/" class="table table-hover table-sm table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>@SharedLocalizer["Campaña"]</th>
                <th>@SharedLocalizer["Auditoría"]</th>
                <th>@SharedLocalizer["Auditor"]</th>
                <th>@SharedLocalizer["Estado"]</th>
                <th class="actions">
                    @SharedLocalizer["Acciones"]
                    <div class="d-none">
                        <a id="show" href="/quality" class="btn btn-sm btn-ghost-primary">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var take in Model.AuditTakes)
            {
                var state = ""; var point = "";
                if (take.Take.Pass == true) { state = SharedLocalizer["Superado"]; point = "#33cc33"; }
                else { state = SharedLocalizer["No superado"]; point = "#cc0000"; }
                <tr class="non-clickable-row" data-id="@take.Quality.Id/audit/show/@take.Audit.Id/take/@take.Take.Id">
                    <td>@take.Quality.Name</td>
                    <td>@take.Audit.Name</td>
                    <td>@take.AuditOwner.FirstName @take.AuditOwner.MainSurname @take.AuditOwner.SecondSurname</td>
                    <td><span style='color:@point'>&#9679;</span>&nbsp;&nbsp;@state</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
@if (Model.ExamPending.Count > 0)
{
    <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Exámenes pendientes"]</div>
    <div id="exam-pendings-table-container" class="dt-hidden-container">
        <table id="exam-pendings-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
            <thead>
                <tr>
                    <th hidden>QualityId</th>
                    <th hidden>ExamId</th>
                    <th>@SharedLocalizer["Campaña"]</th>
                    <th>@SharedLocalizer["Examen"]</th>
                    <th>@SharedLocalizer["Intentos restantes"]</th>
                    @if (ViewBag._Profile)
                    {
                        <th class="actions">
                            @SharedLocalizer["Acciones"]
                            <div class="d-none">
                                <a id="take" href="#" class="btn btn-sm btn-ghost-primary">
                                    <i class="fa fa-check-square-o"></i>
                                </a>
                            </div>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var pending in Model.ExamPending)
                {
                    var remaining = pending.Exam.Attempts - pending.DoneAttempts;
                    <tr class="non-clickable-row" data-id="take">
                        <td hidden>@pending.Quality.Id</td>
                        <td hidden>@pending.Exam.Id</td>
                        <td>@pending.Quality.Name</td>
                        <td>@pending.Exam.Name</td>
                        <td>@remaining</td>
                        @if (ViewBag._Profile)
                        {
                            <td></td>                    }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
}
<div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Exámenes realizados"]</div>
<div id="exam-takes-table-container" class="dt-hidden-container">
    <table id="exam-takes-table" data-row-link="/quality/" class="table table-hover table-sm table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>@SharedLocalizer["Campaña"]</th>
                <th>@SharedLocalizer["Examen"]</th>
                <th>@SharedLocalizer["Intento"]</th>
                <th>@SharedLocalizer["Estado"]</th>
                <th class="actions">
                    @SharedLocalizer["Acciones"]
                    <div class="d-none">
                        <a id="show" href="/quality" class="btn btn-sm btn-ghost-primary">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var take in Model.ExamTakes)
            {
                var state = ""; var point = "";
                if (take.Take.Pass == null) { state = SharedLocalizer["Pendiente de revisión"]; point = "#cc9900"; }
                else if (take.Take.Pass == true) { state = SharedLocalizer["Superado"]; point = "#33cc33"; }
                else { state = SharedLocalizer["No superado"]; point = "#cc0000"; }
                if (take.Take.Active) { state = SharedLocalizer["En curso"]; point = ""; }
                <tr class="non-clickable-row" data-id="@take.Quality.Id/exam/show/@take.Exam.Id/take/@take.Take.Id">
                    <td>@take.Quality.Name</td>
                    <td>@take.Exam.Name</td>
                    <td>@take.Take.Attempt / @take.Exam.Attempts</td>
                    <td><span style='color:@point'>&#9679;</span>&nbsp;&nbsp;@state</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>