﻿@* USER - SHOW TRAINING (TAB CONTENT) *@
@model TrainingViewModel
@{
    Layout = "_ShowLayout.cshtml";
}
@section Scripts {
    
    <script>
        $(document).ready(function () {

            breadcrumb({ name: "@SharedLocalizer["Colaboradores"]", url: "user" }, { name: "@ViewBag.FullName", url: "show/@ViewBag.UserId" }, { name: "@SharedLocalizer["Formación"]"});

            $('#trainings-table').dt({
                searching: false,
                bPaginate: false,
                bInfo: false
            });

            $('.training-detail-btn').click(function () {
                var data_name = $(this).data("name");
                $(".training-detail[data-name='" + data_name + "']").each(function () {
                    $(this).toggle("fast");
                });
            });

            var pendings = $('#pendings-table').dt()

            $('a[id^="take"]').click(function (event) {
                event.preventDefault();
                var data = pendings.row($(this).parents('tr')).data();
                $.ajaxGetModal("/training/" + data[1] + "/test/" + data[2] + "/take/confirm");
            });

        });
    </script>
}

@if (ViewBag._Profile)
{
    var testsToDo = Model.TestPending.Where(t => t.Training.Active && t.Test.Active);
    @if (testsToDo.Count() > 0)
    {
        <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Pruebas pendientes"]</div>
        <div id="pendings-table-container" class="dt-hidden-container">
            <table id="pendings-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
                <thead>
                    <tr>
                        <th hidden>TrainingId</th>
                        <th hidden>TestId</th>
                        <th>@SharedLocalizer["Acción Formativa"]</th>
                        <th>@SharedLocalizer["Prueba"]</th>
                        <th>@SharedLocalizer["Intentos restantes"]</th>
                        @if (ViewBag._Profile)
                        {
                            <th class="actions">
                                @SharedLocalizer["Acciones"]
                                <div class="d-none">
                                    <a id="take" href="#" class="btn btn-sm btn-ghost-primary">
                                        <i class="fa fa-check-square-o"></i>
                                    </a>
                                </div>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pending in testsToDo)
                    {
                        var remaining = pending.Test.Attempts - pending.DoneAttempts;
                        <tr class="non-clickable-row" data-id="take">
                            <td hidden>@pending.Training.Id</td>
                            <td hidden>@pending.Test.Id</td>
                            <td>@pending.Training.Name</td>
                            <td>@pending.Test.Name</td>
                            <td>@remaining</td>
                            @if (ViewBag._Profile)
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Formaciones"]</div>
    }
}

<div id="trainings-table-container" class="dt-hidden-container">
    <table id="trainings-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>@SharedLocalizer["Nombre"]</th>
                <th>@SharedLocalizer["Fecha Inicio"]</th>
                <th>@SharedLocalizer["Fecha Fin"]</th>
                <th>@SharedLocalizer["Intento"]</th>
                <th>@SharedLocalizer["Estado"]</th>
                <th class="actions">
                    @SharedLocalizer["Acciones"]
                    <div class="d-none">
                        <a id="show" href="/training" class="btn btn-sm btn-ghost-primary">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var bgcolor = "white";
                var training_state = "";
                var training_point = "";
            }

            @foreach (var training in Model.UserTrainings)
            {
                bgcolor = bgcolor == "white" ? Constants.color_grey95 : "white";
                training_state = null;
                training_point = null;

                @if (Model.TestPending.Any(t => t.Training.Id == training.Id))
                {
                    training_state = SharedLocalizer["Pendiente"];
                }
                else
                {
                    var training_tests = Model.TestTakes.Where(t => t.Training.Id == training.Id).Select(t => t.Test).Distinct();
                    foreach (var test in training_tests)
                    {
                        var test_takes = Model.TestTakes.Where(t => t.Training.Id == training.Id && t.Test.Id == test.Id);
                        if (test_takes.Any(t => t.Take.Pass == null))
                        {
                            training_state = SharedLocalizer["Pendiente de revisión"];
                            training_point = "#cc9900";
                        }
                    }

                    if (training_state == null)
                    {
                        foreach (var test in training_tests)
                        {
                            var test_takes = Model.TestTakes.Where(t => t.Training.Id == training.Id && t.Test.Id == test.Id);
                            if (test_takes.All(t => t.Take.Pass == false))
                            {
                                training_state = SharedLocalizer["No superado"];
                                training_point = "#cc0000";
                            }
                        }
                        training_state = training_state ?? SharedLocalizer["Superado"];
                        training_point = training_point ?? "#33cc33";
                    }
                }

                if (!(training.Active))
                {
                    if (training_point == null)
                    {
                        training_state = SharedLocalizer["No superado"];
                        training_point = "#cc0000";
                    }
                    training_state += " - " + SharedLocalizer["Finalizada"];
                }

                <tr class="non-clickable-row" data-id="show/@training.Id" style='background-color:@bgcolor;'>
                    <td>
                        <span class='training-detail-btn legend pl-2 pr-2 pt-0 pb-0 mr-2 border' data-name='@training.Id.ToString()' style="cursor: pointer; background-color:lightgrey;">+</span>
                        <span>@training.Name</span>
                    </td>
                    <td>@training.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@(training.EndDate == null ? "" : training.EndDate.Value.ToString("dd/MM/yyyy"))</td>
                    <td> - </td>
                    <td><span style='color:@training_point'>&#9679;</span>&nbsp;&nbsp;@training_state</td>
                    <td></td>
                </tr>

                @foreach (var take in Model.TestTakes)
                {
                    if (take.Training.Id == training.Id)
                    {
                        var state = ""; var point = "";
                        if (take.Take.Pass == null) { state = SharedLocalizer["Pendiente de revisión"]; point = "#cc9900"; }
                        else if (take.Take.Pass == true) { state = SharedLocalizer["Superado"]; point = "#33cc33"; }
                        else { state = SharedLocalizer["No superado"]; point = "#cc0000"; }
                        if (take.Take.Active) { state = SharedLocalizer["En curso"]; point = ""; }

                        <tr class="training-detail non-clickable-row" data-name='@training.Id.ToString()' data-id="@take.Training.Id/test/show/@take.Test.Id/take/@take.Take.Id" style="display:none; background-color:@bgcolor;">
                            <td>
                                <span class='legend pl-2 pr-2 pt-0 pb-0 mr-2'>&nbsp;</span>
                                <span class="pl-2">@take.Test.Name</span>
                            </td>
                            <td>@take.Take.StartDate</td>
                            <td>@take.Take.EndDate</td>
                            <td>@take.Take.Attempt / @take.Test.Attempts</td>
                            <td><span style='color:@point'>&#9679;</span>&nbsp;&nbsp;@state</td>
                            <td></td>
                        </tr>
                    }
                }

                @foreach (var pending in Model.TestPending)
                {
                    if (pending.Training.Id == training.Id)
                    {
                        var state = SharedLocalizer["Pendiente"]; var point = "";

                        <tr class="training-detail non-clickable-row" data-id="@pending.Training.Id/test/show/@pending.Test.Id" data-name='@training.Id.ToString()' style="display:none; background-color:@bgcolor;">
                            <td>
                                <span class='legend pl-2 pr-2 pt-0 pb-0 mr-2'>&nbsp;</span>
                                <span class="pl-2">@pending.Test.Name</span>
                            </td>
                            <td>@pending.Test.StartDate.ToString("dd/MM/yyyy")</td>
                            <td>@(pending.Test.EndDate == null ? "" : pending.Test.EndDate.Value.ToString("dd/MM/yyyy"))</td>
                            <td>@(pending.DoneAttempts + 1) / @pending.Test.Attempts</td>
                            <td><span style='color:@point'>&#9679;</span>&nbsp;&nbsp;@state</td>
                            <td></td>
                        </tr>
                    }
                }

            }
        </tbody>
    </table>
</div>