﻿@* USER - SHOW SCHEDULE (TAB CONTENT) *@

@using System.Globalization

@{
    Layout = "_ShowLayout.cshtml";
    var UserId = @ViewBag.UserId;
    var Year = @ViewBag.Year;
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap-year-calendar/css/bootstrap-year-calendar.min.css">
    <style>
        .calendar table.month tr td .day-content {
            padding-bottom: 4px;
            padding-top: 4px;
        }

        .calendar table.month tr td.day-start .day-content {
            color: white;
        }

        .calendar .month-container {
            padding-bottom: 12px;
        }

        .cal-day-TT {
            background-color: #8D9DA3
        }
    </style>
}

@*HEADER*@
<div class="row mb-3 mb-lg-0">
    <div class="col-12 col-lg-6">
        <p class="font-xl">@SharedLocalizer["Horario del año"] @ViewBag.Year</p>
    </div>
    <div class="col-12 col-lg-6 schedule-nav text-center text-lg-right">
        @* Date Buttons *@
        <span class="btn-group">
            @if (ViewBag._Profile)
            {
                <vc:year-filter year=@Year url="/account/profile/schedule/$y"></vc:year-filter>
            }
            else
            {
                <vc:year-filter year=@Year url="/user/show/@ViewBag.UserId/schedule/$y"></vc:year-filter>
            }
        </span>
    </div>
</div>
@*CALENDAR*@
<div id="calendar-container" class="dt-container mt-1">
    <div id="calendar" class="row calendar"></div>
</div>
@*LEGEND*@
<div id='calendar-legend' class='row ml-3 mr-3'>
    <div class='col mb-2 mt-2'><span data-acronym='T' data-name='Productive' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-TT'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Trabajo"]</span></div>
    <div class='col mb-2 mt-2'><span data-acronym='V' data-name='Hollydays' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-V'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Vacaciones"]</span></div>
    <div class='col mb-2 mt-2'><span data-acronym='Y' data-name='LastYearHollydays' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-Y'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Vacaciones Año Pasado"]</span></div>
    <div class='col mb-2 mt-2'><span data-acronym='L' data-name='FreeDays' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-L'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Libre Disposición"]</span></div>
    <div class='col mb-2 mt-2'><span data-acronym='S' data-name='UnionHours' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-S'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Asuntos Sindicales"]</span></div>
    <div class='col mb-2 mt-2'><span data-acronym='B' data-name='SickLeave' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-B'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Baja por Enfermedad"]</span></div>
    <div class='col mb-2 mt-2'><span data-acronym='M' data-name='DoctorHours' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-M'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Visita Médica"]</span></div>
    <div class='col mb-2 mt-2'><span data-acronym='P' data-name='PaidLeave' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-P'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Permiso Retribuido"]</span></div>
    <div class='col mb-2 mt-2'><span data-acronym='A' data-name='UnjustifiedAbsence' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-A'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Ausencia Injustificada"]</span></div>
</div>

@section Scripts {
    <script charset="ISO-8859-1" src="~/lib/bootstrap-year-calendar/js/bootstrap-year-calendar.min.js"></script>
    @*<script charset="ISO-8859-1" src="~/lib/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.es.js"></script>*@
    @{ var langlib = "/lib/bootstrap-year-calendar/js/languages/bootstrap-year-calendar." + CultureInfo.CurrentCulture.Name.ToString() + ".js"; }
    <script charset="ISO-8859-1" src="@langlib"></script>
    <script src="~/js/schedule.js"></script>
    <script>
        $(document).ready(function () {

            function show() {
                $('#calendar').css("visibility", "visible").hide().fadeIn("fast");
            };

            var comment_days_array = new Array();
            var extra_hours_days_array = new Array();

            $('#calendar').calendar({
                language: '@CultureInfo.CurrentCulture.Name.ToString()',
                startYear: '@Year',
                displayHeader: false,
                style: 'background',

                customDayRenderer: function (element, date) {
                    $(element).css('border-radius', '0');

                    if (comment_days_array.find(d => d.getTime() === date.getTime()))
                    {
                        $(element).css('background-image', 'linear-gradient(45deg, transparent 85%, red 85%)');
                    }
                    if (extra_hours_days_array.find(d => d.getTime() === date.getTime())) {
                        $(element).css('background-image', 'linear-gradient(315deg, transparent 85%, black 85%)');
                    }
                },

                mouseOnDay: function (e) {
                    if (e.events.length > 0) {
                        var content = '';
                        for (var i in e.events) {
                            if (e.events[i].comment != null && e.events[i].comment.length > 0) {
                                comment_days_array.push(e.events[i].startDate);
                            }
                            if (e.events[i].otherhours > 0) {
                                extra_hours_days_array.push(e.events[i].startDate);
                            }
                            content += '<div class="event-tooltip-content">';
                            if (e.events[i].otherhours > 0) {
                                content += '<div class="event-working-hours">' + e.events[i].workinghours + ' @Perseo.Core.WorkHoursType.Normal.ToString()</div>';
                                content += '<div class="event-other-hours">' + e.events[i].otherhours + ' @Perseo.Core.WorkHoursType.Extra.ToString()</div>';

                            } else {
                                content += '<div class="event-working-hours">' + e.events[i].hours + '</div>';
                            }
                            content += '</div>';
                        }
                        $(e.element).popover({
                            trigger: 'manual',
                            container: 'body',
                            html: true,
                            content: content
                        });
                        $(e.element).popover('show');
                    }
                },
                mouseOutDay: function (e) {
                    if (e.events.length > 0) {
                        $(e.element).popover('hide');
                    }
                },
                clickDay: function (e) {
                    @if (ViewBag._Profile) { @Html.Raw("return false;"); }
                    var year = e.date.getFullYear();
                    var month = e.date.getMonth() + 1;
                    var day = e.date.getDate();
                    var id_array = new Array();
                    var user_dict = new Object();
                    if (e.events.length > 0) {
                        id_array.push(e.events[0].id);
                    } else {
                        var user_id = @UserId;
                        user_dict[user_id] = new Array();
                        user_dict[user_id].push(day);
                    }
                    var json_id_array = JSON.stringify(id_array);
                    var json_day_dict = JSON.stringify(user_dict);
                    var data = { "Year": year, "month": month, "Ids": json_id_array, "Days": json_day_dict };
                        $.ajax({
                            type: "GET",
                            url: "/schedule/edit",
                            contentType: "application/json; charset=utf-8",
                            data: data,
                            datatype: "json",
                            success: function (data) {
                                $("#global-modal-lg-content").html(data);
                                $("#global-modal-lg").modal({ keyboard: true });
                                $("#global-modal-lg").modal("show");
                                }
                            });
                        },
                yearChanged: function (e) {
                    e.preventRendering = true;
                    $.ajax({
                        url: "/schedule/showuser/@UserId/" + e.currentYear,
                        dataType: "json",
                        success: function (response) {

                            var legend = new Object();

                            $(".legend").each(function () {
                                var color = $(this).css('backgroundColor');
                                var acronym = $(this).data('acronym');
                                var name = $(this).data('name');
                                console.log(name);
                                legend[acronym] = { 'color': color, 'name': $(this).next('span').text() }
                            });

                            var data = [];
                            for (var i = 0; i < response.data.length; i++) {

                                if (response.data[i].comment)
                                {
                                    comment_days_array.push(new Date(e.currentYear, response.data[i].month - 1, response.data[i].day))
                                }
                                if (response.data[i].otherhours > 0) {
                                    extra_hours_days_array.push(new Date(e.currentYear, response.data[i].month - 1, response.data[i].day))
                                }

                                data.push({
                                    id: response.data[i].id,
                                    hours: response.data[i].hours,
                                    workinghours: response.data[i].workinghours,
                                    otherhours: response.data[i].otherhours,
                                    comment: response.data[i].comment,
                                    acronym: response.data[i].acronym,
                                    name: legend[response.data[i].acronym].name,
                                    startDate: new Date(e.currentYear, response.data[i].month - 1, response.data[i].day),
                                    endDate: new Date(e.currentYear, response.data[i].month - 1, response.data[i].day),
                                    color: legend[response.data[i].acronym].color
                                });
                            }
                            $(e.target).data('calendar').setDataSource(data);
                        }
                    });
                }
            });

            @if (@ViewBag._Profile)
            {
                @Html.Raw("breadcrumb({ name: '" + @SharedLocalizer["Perfil"] + "', url: '/account/profile' });");
            }
            else
            {
                @Html.Raw("breadcrumb({ name: '" + @SharedLocalizer["Colaboradores"] + "', url: 'user' }, { name: '" + @ViewBag.FullName+"', url: 'show/"+@UserId+ "' },{ name: '" + @SharedLocalizer["Horario"] + "', url: 'schedule' });");
            }

        });
    </script>
}