﻿@* USER - SHOW DEDICATIONS (TAB CONTENT) *@

@using System.Globalization
@using System.Linq
@using Perseo.Core
@model UserViewModel
@{
    Layout = "_ShowLayout.cshtml";
    string MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(ViewBag.Month);
    MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();
    List<UserDedication> Dedications = ViewBag.Dedications;
    double TotalHours = Dedications.Sum(item => item.JobHours);
    ViewData["Title"] = SharedLocalizer["Dedicaciones de"] + " " + MonthName + " " + SharedLocalizer["De"].ToString().ToLower() + " " + @ViewBag.Year;
    DateTime dt = new DateTime(ViewBag.Year, 1, 1);
    DateTime next_dt = ((System.DateTime)dt).AddYears(1);
    DateTime prev_dt = ((System.DateTime)dt).AddYears(-1);
}

<div class="row">
    <div class="col-12 col-lg-6">
        <p class="font-xl">@ViewData["Title"] &nbsp;<span class='small text-muted'>( @TotalHours h )</span></p>
    </div>
    <div class="col-12 col-lg-6 dashboard-nav text-center text-lg-right">
        @* Date Buttons *@
        <span class="btn-group">
            <vc:year-month-filter year=@ViewBag.Year month=@ViewBag.Month url="/user/show/@ViewBag.UserId/dedications/$y/$m"></vc:year-month-filter>
        </span>
    </div>
</div>
<div id="list-table-container" class="dt-hidden-container">
    <table id="dedications-table" class="table table-hover table-sm dt-responsive nowrap table-striped dt-export dt-filter">
        <thead>
            <tr>
                <th>@SharedLocalizer["Fecha"]</th>
                <th class="not-export">@SharedLocalizer["Servicio"]</th>
                <th class="not-export">@SharedLocalizer["Tarea"]</th>
                <th>@SharedLocalizer["Cód. Proyecto"]</th>
                <th>@SharedLocalizer["EDT"]</th>
                <th>@SharedLocalizer["Horas"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Dedications)
            {
                <tr>
                    <td>@item.DateDay.ToString("00")/@item.DateMonth.ToString("00")/@item.DateYear.ToString("0000")</td>
                    <td>@item.AreaName</td>
                    <td>@item.JobName</td>
                    <td>@item.AreaCodeName</td>
                    <td>@item.AreaCodeWbsName</td>
                    <td>@item.JobHours</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>@SharedLocalizer["Fecha"]</th>
                <th>@SharedLocalizer["Servicio"]</th>
                <th>@SharedLocalizer["Tarea"]</th>
                <th>@SharedLocalizer["Cód. Proyecto"]</th>
                <th>@SharedLocalizer["EDT"]</th>
                <th>@SharedLocalizer["Horas"]</th>
            </tr>
        </tfoot>
    </table>
</div>


@section Scripts {
    <script>
        
        $(document).ready(function () {
            var export_options = {
                columns: [1, 4, 5, 6],
                format: {
                    body: function (data, row, column, node) {
                        data = $('<p>' + data + '</p>').text();
                        data = $.isNumeric(data.replace(',', '.')) ? parseFloat(data.replace(',', '.')) : data;
                        return data;
                    }
                }
            };
            $('#dedications-table').dt();
            breadcrumb({ name: '@SharedLocalizer["Colaboradores"]', url: 'user' }, { name: '@ViewBag.FullName', url: 'show/@ViewBag.UserId' }, { name: '@SharedLocalizer["Dedicaciones"]', url: 'dedication' });
        });
    </script>
}