﻿@* USER - SHOW *@

@model UserViewModel
@{
    ViewData["Title"] = "Show";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-3 mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title="@Model.FullName" subtitle="@ViewData["SubTitle"]" avatar="@Model.Avatar"></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* NAVIGATION *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            @* Back *@
                            <span class="btn-group mb-3 mb-sm-0 mr-3">
                                <a id="back" asp-action="list" class="btn btn-secondary">
                                    <i class="fa fa-arrow-left"></i>&nbsp; @SharedLocalizer["Volver"]
                                </a>
                            </span>
                            @* Edit *@
                            <span class="btn-group mb-3 mb-sm-0">
                                <a id="back" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>&nbsp; @SharedLocalizer["Editar"]
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                @* TABS *@
                <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                    <li class="nav-item">
                        <a data-target="#tab-main-pane" asp-action="Show" asp-route-id="@Model.Id" asp-route-tab="main" class="nav-link active" id="tab-main">
                            <i class="icon-user"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Perfil"]</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-target="#tab-dashboard-pane" asp-action="Show" asp-route-id="@Model.Id" asp-route-tab="dashboard" class="nav-link" id="tab-dashboard">
                            <i class="icon-speedometer"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Dashboard"]</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-target="#tab-schedule-pane" asp-action="Show" asp-route-id="@Model.Id" asp-route-tab="schedule" class="nav-link" id="tab-schedule">
                            <i class="icon-calendar"></i><span class="d-sm-down-none">&nbsp;@SharedLocalizer["Horario"]</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a data-target="#tab-dedications-pane" asp-action="Show" asp-route-id="@Model.Id" asp-route-tab="dedications" class="nav-link" id="tab-dedications">
                            <i class="icon-clock"></i><span class="d-sm-down-none">&nbsp;@SharedLocalizer["Dedicaciones"]</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-target="#tab-requests-pane" asp-action="Show" asp-route-id="@Model.Id" asp-route-tab="requests" class="nav-link" id="tab-requests">
                            <i class="icon-envelope-letter"></i><span class="d-sm-down-none">&nbsp;@SharedLocalizer["Solicitudes"]</span>
                        </a>
                    </li>
                </ul>
                @* CONTENT *@
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-main-pane">
                        @if (ViewBag.Tab != null)
                        {
                            <partial name="@ViewBag.Tab" />
                        }
                    </div>
                    <div class="tab-pane fade" id="tab-dashboard-pane"></div>
                    <div class="tab-pane fade" id="tab-schedule-pane"></div>
                    <div class="tab-pane fade" id="tab-dedications-pane"></div>
                    <div class="tab-pane fade" id="tab-requests-pane"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        breadcrumb({ name: '@SharedLocalizer["Colaboradores"]', url: 'user' }, { name: '@Model.FullName', url: 'show/@Model.Id' });
        $('#nav-tab a[href!=\"#\"]').click(function (e) {
            e.preventDefault();
            var _this = this;
            var pane = $($(this).data("target"));
            var url = $(this).attr('href');
            if ($(pane).html() === "") {
                return $.ajaxGet(url, function (response) {
                    pane.append(response);
                    $(_this).tab('show');
                });
            } else {
                $(_this).tab('show');
                return false;
            }
        });
    </script>
}