
// DATATABLES

/*#region IMPORTS*/

@import "wwwroot/lib/datatables/DataTables-1.10.18/css/dataTables.bootstrap4";
@import "wwwroot/lib/datatables/Responsive-2.2.2/css/responsive.bootstrap4";
@import "wwwroot/lib/datatables/Buttons-1.5.6/css/buttons.dataTables";
@import "wwwroot/lib/datatables/Buttons-1.5.6/css/buttons.bootstrap4";

/*#endregion*/
/*#region DATATABLES*/
div.dt-hidden-container {
    filter: alpha(opacity=0);
    opacity: 0;
}

dt {
    font-weight: 500;
    color: #20a8d8;
    color: #03657c;
}

table.dataTable {
    border-collapse: collapse !important;
    width: 100% !important;
}

table.dataTable thead {
    font-size: 0;
    background-color: $brand-medium;
    color: #fff;
}

table.dataTable tfoot {
    font-size: 0;
    background-color: $brand-gray;
    color: #03657c;
}

table.dataTable a {
    color: #42565e;
}

table.dataTable a.btn:hover {
    color: #fff;
    background-color: #42565e;
    border-color: transparent;
}

.dataTables_wrapper {
    font-size: 13px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #03657c;
    padding-bottom: 7px;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    padding-top: 16px;
}

table.dataTable th {
    font-size: 14px;
}

table.dataTable td {
    font-size: 13px;
    color: #03657c;
    height: 26px;
    vertical-align: middle;
}

.dataTables_filter input {
    padding: 2px 5px 2px 5px;
    margin-right: 0.33em;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #F8F8F8;
}

table.dataTable thead th {
    //padding-top: 6px;
    //padding-bottom: 6px;
}

table.dataTable td {
    padding-top: 1px;
    padding-bottom: 1px;
}

table.dataTable tr:last-child {
    border-bottom: 1px solid #c8ced3;
}


/*pagintion*/

.dataTables_wrapper.page-link {
    border: 0 !important;
    background-color: transparent !important;
}

.dataTables_paginate {
    padding-top: 0px !important;
}

.dataTables_paginate .page-item .page-link {
    color: #03657c;
    border: 1px solid transparent !important;
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
}

.dataTables_paginate .page-item.active .page-link {
    background-color: transparent !important;
    color: #03657c;
    font-weight: bold;
}

.dataTables_paginate .page-item .page-link:hover {
    background-color: transparent !important;
    text-decoration: underline !important;
}

.dataTables_paginate.page-link {
    background-color: transparent !important;
}

.dataTables_paginate.page-link:active {
    background-color: transparent !important;
}

.dataTables_paginate.page-link:hover {
    background-color: transparent !important;
}

table.dataTable tbody td {
    vertical-align: middle;
}

table.dataTable tr.clickable-row {
    cursor: pointer;
}

table[data-row-link].dataTable tr[data-id] {
    cursor: pointer;
}

table tr td.actions, table tr th.actions {
    text-align: right !important;
    white-space: nowrap;
    width: 1px;
}


div.dataTables_wrapper div.dataTables_length {
    padding-bottom: 3px;
}

div.dataTables_wrapper div.dataTables_filter {
    padding-bottom: 3px;
}

div.dataTables_wrapper div.dataTables_length label {
    margin-bottom: 3px;
}

div.dataTables_wrapper div.dataTables_filter label {
    margin-bottom: 3px;
}


/* data table light theme */




.table-light.dataTables_wrapper .table-light.dataTables_length,
.table-light.dataTables_wrapper .table-light.dataTables_filter,
.table-light.dataTables_wrapper .table-light.dataTables_info,
.table-light.dataTables_wrapper .table-light.dataTables_processing,
.table-light.dataTables_wrapper .table-light.dataTables_paginate {
    color: #5c6873;
}

table.table-light.dataTable td {
    background-color: white;
    color: #5c6873;
    border-top: 1px solid #c8ced3;
}

table.table-light.dataTable thead {
    background-color: white;
    color: #03657c;
}

table.table-light.dataTable th {
    border-top: 1px solid #c8ced3;
    border-bottom: 2px solid #c8ced3;
    color: #03657c;
}

table.table-light.dataTable {
    border-bottom: 1px solid #c8ced3;
}


/*#endregion*/

/*#region DATATABLES -RESPONSIVE */
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    background-color: #42565e;
    top: 6px;
}

table.dataTable.dtr-column > tbody > tr > td.control:before, table.dataTable.dtr-column > tbody > tr > th.control:before {
    background-color: #42565e;
}

.dataTables_length select {
    background-image: none;
}

@include media-breakpoint-down(sm) {

    div.dataTables_wrapper div.dataTables_length {
        display: none;
    }
}

@include media-breakpoint-down(md) {

    div .dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center;
    }
}
    /*#endregion*/

/*#region DATATABLES - BUTTONS*/

.dataTables_wrapper .dt-buttons .dt-button {
    color: #03657c !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent !important;
    cursor: pointer !important;
}

.dataTables_wrapper .dataTables_filter .dt-buttons {
    float: right;
    display: inline-block !important;
    width: auto !important;
}

.dataTables_wrapper .dataTables_filter .dt-buttons .dt-button {
    border: 1px solid #e4e7ea !important;
    padding: 4px 8px !important;
}


/*#region*/