
// MULTISELECT DROPDOWN TREE

.bts_dropdown ul {
    list-style: none;
    padding: 0
}

.bts_dropdown ul li {
    border-top: 1px solid rgb(200, 206, 211);
    padding-left: 20px
}

.bts_dropdown ul li label {
    position: relative;
    padding: 5px 20px;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bts_dropdown ul li label input {
    position: absolute;
    left: 0px;
    top: 10px
}

.bts_dropdown > ul {
    max-height: 289px;
    overflow: auto
}

.bts_dropdown > ul > li {
    border-top: 1px solid rgb(200, 206, 211)
}

.bts_dropdown > ul > li:first-child {
    border-top: 0
}




.bts_dropdown.bts_form .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    float: right;
    margin: 7px 1px;
}

.bts_dropdown.bts_form ul {
    border-left: 1px solid #efefef;
}
.bts_dropdown.bts_form ul.dropdown-menu {
    border-left: 1px solid #c8ced3;
}

.bts_dropdown.bts_form ul li {
    border-top: 0;
    padding-left: 14px;
}
.bts_dropdown.bts_form ul.dropdown-menu > li:first-child, .bts_dropdown ul.dropdown-menu > li:first-child > label {
    border-left: 0;
}
.bts_dropdown.bts_form ul.dropdown-menu > li {
    padding-left: 0px;
}
.bts_dropdown.bts_form ul.dropdown-menu > li > ul {
    border-left: 0;
}
.bts_dropdown.bts_form ul li label {
    display: block;
    position: relative;
    padding: 1px 13px;
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left: 1px solid #efefef;
}
.bts_dropdown.bts_form ul li label:hover {
    background-color: #6d93f7;
    color: white;
}

.bts_dropdown.bts_form ul li label.disabled {
    background-color: white;
    color: silver;
}

.bts_dropdown.bts_form ul li label.disabled:hover {
    background-color: white;
    color: silver;
}


.bts_dropdown ul {
    border-left: 1px solid #efefef;
}

.bts_dropdown ul.dropdown-menu {
    border-left: 1px solid #c8ced3;
}

.bts_dropdown ul li {
   border-top: 0;
   padding-left: 14px;
}

.bts_dropdown ul.dropdown-menu > li:first-child, .bts_dropdown ul.dropdown-menu > li:first-child > label {
   border-left: 0;
}

.bts_dropdown ul li label {
    display: block;
    position: relative;
    padding: 1px 18px;
    white-space: nowrap;
}

.bts_dropdown ul li label:hover {
    background-color: #6d93f7;
    color: white;
}

.bts_dropdown ul li label input {
    position: absolute;
    left: 0px;
    top: 6px;
}

.bts_dropdown ul li label.disabled {
    background-color: white;
    color: silver;
}

.bts_dropdown ul li label.disabled:hover {
    background-color: white;
    color: silver;
}
