
// SORTEABLE JQUERY PLUGIN

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.sorteable li.placeholder, ul.sorteable li.placeholder {
    position: relative;
    /** More li styles **/
}

ol.sorteable li.placeholder:before, ul.sorteable li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}