
// ********************************************************************************************
// ********************************************************************************************
//
// COREUI Needed libraries CSS
//
// ********************************************************************************************
// ********************************************************************************************



@import "wwwroot/lib/font-awesome/scss/font-awesome";
@import "wwwroot/lib/simple-line-icons/scss/simple-line-icons";
@import "wwwroot/lib/pace-progress/css/pace";  //css simple


// ********************************************************************************************
// ********************************************************************************************
//
// Boostrap Custom Colors
//
// ********************************************************************************************
// ********************************************************************************************
// Import CoreUI default colors
//@import "variables/colors";
$white: #fff !default;
$gray-base: #181b1e !default;
$gray-100: #f0f3f5 !default; // lighten($gray-base, 85%);
$gray-200: #e4e7ea !default; // lighten($gray-base, 80%);
$gray-300: #c8ced3 !default; // lighten($gray-base, 70%);
$gray-400: #acb4bc !default; // lighten($gray-base, 60%);
$gray-500: #8f9ba6 !default; // lighten($gray-base, 50%);
$gray-600: #73818f !default; // lighten($gray-base, 40%);
$gray-700: #5c6873 !default; // lighten($gray-base, 30%);
$gray-800: #2f353a !default; // lighten($gray-base, 10%);
$gray-900: #23282c !default; // lighten($gray-base, 5%);
$black: #000 !default;

$grays: () !default;
$grays: map-merge( ( "100": $gray-100, "200": $gray-200, "300": $gray-300, "400": $gray-400, "500": $gray-500, "600": $gray-600, "700": $gray-700, "800": $gray-800, "900": $gray-900 ), $grays );

$blue: $brand-accent !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #f86c6b !default;
$orange: #f8cb00 !default;
$yellow: #ffc107 !default;
$green: #4dbd74 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$light-blue: #63c2de !default;

$colors: () !default;
$colors: map-merge( ( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "light-blue": $light-blue, "white": $white, "gray": $gray-600, "gray-dark": $gray-800 ), $colors );

$primary: $brand-accent !default;
$secondary: $brand-lighter !default;
$success: $green !default;
$info: $light-blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge( ( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark ), $theme-colors );

// Brand Colors

$facebook: #3b5998 !default;
$twitter: #00aced !default;
$linkedin: #4875b4 !default;
$google-plus: #d34836 !default;
$flickr: #ff0084 !default;
$tumblr: #32506d !default;
$xing: #026466 !default;
$github: #4183c4 !default;
$html5: #e34f26 !default;
$openid: #f78c40 !default;
$stack-overflow: #fe7a15 !default;
$youtube: #b00 !default;
$css3: #0170ba !default;
$dribbble: #ea4c89 !default;
$google-plus: #bb4b39 !default;
$instagram: #517fa4 !default;
$pinterest: #cb2027 !default;
$vk: #45668e !default;
$yahoo: #400191 !default;
$behance: #1769ff !default;
$dropbox: #007ee5 !default;
$reddit: #ff4500 !default;
$spotify: #7ab800 !default;
$vine: #00bf8f !default;
$foursquare: #1073af !default;
$vimeo: #aad450 !default;

$brands-colors: () !default;
$brands-colors: map-merge(( "facebook": $facebook, "twitter": $twitter, "linkedin": $linkedin, "google-plus": $google-plus, "flickr": $flickr, "tumblr": $tumblr, "xing": $xing, "github": $github, "html5": $html5, "openid": $openid, "stack-overflow": $stack-overflow, "youtube": $youtube, "css3": $css3, "dribbble": $dribbble, "instagram": $instagram, "pinterest": $pinterest, "vk": $vk, "yahoo": $yahoo, "behance": $behance, "dropbox": $dropbox, "reddit": $reddit, "spotify": $spotify, "vine": $vine, "foursquare": $foursquare, "vimeo": $vimeo ), $brands-colors);



// ********************************************************************************************
// ********************************************************************************************
//
// Boostrap custom variables
//
// ********************************************************************************************
// ********************************************************************************************

// Customized Bootstrap variables
//@import "variables/bootstrap/variables";

// stylelint-disable
// Bootstrap overrides

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions: true !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $brand-gray !default; //#E4E5E6

// Components
//
// Define common padding and border radius sizes and more.

$border-color: $gray-300 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base: .875rem !default;

// Breadcrumbs

$breadcrumb-bg: $brand-light !default; //#fff
$breadcrumb-margin-bottom: 1.3em !default; //1.5rem
$breadcrumb-border-radius: 0 !default;

// Cards

$card-border-color: $gray-300 !default;
$card-cap-bg: $gray-100 !default;

// Dropdowns

$dropdown-padding-y: 0 !default;
$dropdown-border-color: $gray-300 !default;
$dropdown-divider-bg: $gray-200 !default;

// Buttons

$btn-secondary-border: $gray-300 !default;

// Progress bars

$progress-bg: $gray-100 !default;

// Tables

$table-bg-accent: $gray-100 !default;
$table-bg-hover: $gray-100 !default;

// Forms

$input-group-addon-bg: $gray-100 !default;
$input-border-color: $gray-200 !default;
$input-group-addon-border-color: $gray-200 !default;



// ********************************************************************************************
// ********************************************************************************************
//
// Boostrap functions y variables
//
// ********************************************************************************************
// ********************************************************************************************

// Import Bootstrap variables after customization for use below
@import "wwwroot/lib/coreui/scss/bootstrap/functions"; // from bootstrap node_modules
@import "wwwroot/lib/coreui/scss/bootstrap/variables"; // from bootstrap node_modules


// ********************************************************************************************
// ********************************************************************************************
//
// CoreUI Custom Variables
//
// ********************************************************************************************
// ********************************************************************************************

// stylelint-disable

$enable-sidebar-nav-rounded: false !default;
$layout-transition-speed: .25s !default;

// Navbar

$navbar-height: 55px !default;
$navbar-bg: $brand-dark !default;  //#fff
$navbar-border: ( bottom: ( size: 1px, style: solid, color: $brand-dark ) ) !default; //$border-color
$navbar-brand-width: 155px !default;
$navbar-brand-bg: transparent !default;
$navbar-brand-border: 0 !default;

$navbar-brand-minimized-width: 50px !default;
$navbar-brand-minimized-bg: $navbar-brand-bg !default;
$navbar-brand-minimized-border: $navbar-brand-border !default;

$navbar-color: $white !default;
$navbar-hover-color:  #6b90f2 !default; //$gray-800
$navbar-active-color: $gray-800 !default;
$navbar-disabled-color: $gray-300 !default;

$navbar-toggler-icon: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-color}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-toggler-icon-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-hover-color}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;

// Sidebar

$sidebar-width: 200px !default;
$sidebar-padding: 0 !default;
$sidebar-minimized-width: 50px !default;
$sidebar-minimized-height: $sidebar-minimized-width !default;
$sidebar-compact-width: 150px !default;
$sidebar-compact-height: $sidebar-compact-width !default;
$sidebar-color: #fff !default;
$sidebar-bg: $brand-medium !default; // $gray-800
$sidebar-borders: none !default;
$mobile-sidebar-width: 220px !default;

// Sidebar Header

$sidebar-header-height: auto !default;
$sidebar-header-bg: rgba(0,0,0,.2) !default;
$sidebar-header-padding-y: .75rem !default;
$sidebar-header-padding-x: 1rem !default;

// Sidebar Form

$sidebar-form-border: 0 !default;
$sidebar-form-bg: darken($sidebar-bg,10%) !default;
$sidebar-form-color: #fff !default;
$sidebar-form-placeholder-color: rgba(255,255,255,.7) !default;

// Sidebar Navigation

$sidebar-nav-color: #fff !default;
$sidebar-nav-title-padding-y: .5rem !default; //.75rem
$sidebar-nav-title-padding-x: 1rem !default;
$sidebar-nav-title-color: $gray-200 !default;
$sidebar-nav-link-padding-y: .5rem !default; //.75rem
$sidebar-nav-link-padding-x: 1rem !default;
$sidebar-nav-link-color: #fff !default; 
$sidebar-nav-link-bg: transparent !default;
$sidebar-nav-link-icon-color: #fff !default; //$gray-600
$sidebar-nav-link-borders: 0 !default;

$sidebar-nav-link-hover-color: #fff !default;
$sidebar-nav-link-hover-bg: #37484e !default; // theme-color("primary")
$sidebar-nav-link-hover-icon-color: #fff !default; // #fff
$sidebar-nav-link-hover-borders: 0 !default;

$sidebar-nav-link-active-color: #fff !default;
$sidebar-nav-link-active-bg: $brand-dark !default; // lighten($sidebar-bg, 5%)
$sidebar-nav-link-active-icon-color: $brand-accent !default; //theme-color("primary")
$sidebar-nav-link-active-borders: 0 !default;

$sidebar-nav-link-disabled-color: darken(#fff, 30%) !default;
$sidebar-nav-link-disabled-bg: $sidebar-bg !default;
$sidebar-nav-link-disabled-icon-color: $sidebar-nav-link-icon-color !default;
$sidebar-nav-link-disabled-borders: 0 !default;

$sidebar-nav-dropdown-color: #fff !default;
$sidebar-nav-dropdown-bg: rgba(0,0,0,.2) !default;
$sidebar-nav-dropdown-borders: 0 !default;
$sidebar-nav-dropdown-indicator-color: $gray-600 !default;
$sidebar-nav-dropdown-indicator: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='#{$sidebar-nav-dropdown-indicator-color}' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"), "#", "%23") !default;
$sidebar-nav-dropdown-indicator-hover-color: $sidebar-nav-link-hover-color;
$sidebar-nav-dropdown-indicator-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='#{$sidebar-nav-dropdown-indicator-hover-color}' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"), "#", "%23") !default;

// Sidebar Footer

$sidebar-footer-height: auto !default;
$sidebar-footer-bg: rgba(0,0,0,.2) !default;
$sidebar-footer-padding-y: .75rem !default;
$sidebar-footer-padding-x: 1rem !default;
$sidebar-footer-borders: 0 !default;

// Sidebar Minimizer

$sidebar-minimizer-height: 50px !default;
$sidebar-minimizer-bg: rgba(0,0,0,.2) !default;
$sidebar-minimizer-borders: 0 !default;
$sidebar-minimizer-indicator-color: $gray-600 !default;
$sidebar-minimizer-indicator: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='#{$sidebar-minimizer-indicator-color}' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"), "#", "%23") !default;
$sidebar-minimizer-hover-bg: rgba(0,0,0,.3) !default;
$sidebar-minimizer-hover-indicator-color: $sidebar-nav-link-hover-color !default;
$sidebar-minimizer-hover-indicator: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='#{$sidebar-minimizer-hover-indicator-color}' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"), "#", "%23") !default;

// Breadcrumb
$breadcrumb-borders: ( bottom: ( size: 1px, style: solid, color: $border-color ) ) !default;

// Aside

$aside-menu-width: 200px !default;
$aside-menu-color: $gray-800 !default;
$aside-menu-bg: #fff !default;
$aside-menu-borders: ( left: ( size: 1px, style: solid, color: $border-color ) ) !default;

$aside-menu-nav-padding-y: .75rem !default;
$aside-menu-nav-padding-x: 1rem !default;

// Footer

$footer-height: 50px !default;
$footer-bg: $brand-dark !default; //$gray-100
$footer-color: $white !default; //$body-color
$footer-borders: ( top: ( size: 1px, style: solid, color: $border-color ) ) !default;

// Avatars

$avatar-width: 36px !default;
$avatar-status-width: 10px !default;

$avatar-lg-width: 72px !default;
$avatar-lg-status-width: 12px !default;

$avatar-sm-width: 24px !default;
$avatar-sm-status-width: 8px !default;

$avatar-xs-width: 20px !default;
$avatar-xs-status-width: 8px !default;

// Cards

$card-icon-bg: transparent !default;
$card-icon-color: $body-color !default;

// Switches

$switch-width: 40px !default;
$switch-height: 26px !default;
$switch-font-size: 10px !default;

$switch-lg-width: 48px !default;
$switch-lg-height: 30px !default;
$switch-lg-font-size: 12px !default;

$switch-sm-width: 32px !default;
$switch-sm-height: 22px !default;
$switch-sm-font-size: 8px !default;

$switch-label-width: 48px !default;
$switch-label-lg-width: 56px !default;
$switch-label-sm-width: 40px !default;

$switch-handle-margin: 2px !default;

// Cursor
$cursor-disabled: default !default;

// Grid

//$grid-breakpoints: ( xs: 0, sm: 768px, md: 1024px, lg: 1280px, xl: 1366px, xxl: 1600px );

//$container-max-widths: ( sm: 730px, md: 992px, lg: 1220px, xl: 1330px, xxl: 1568px);

$grid-breakpoints: ( xs: 0,sm: 576px,md: 768px,lg: 992px, xl: 1260px, xxl: 1500px, xxxl: 1800px);

$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1224px, xxl: 1464px, xxxl: 1764px );

// ********************************************************************************************
// ********************************************************************************************
//
// Rest of imports - no customization from here
//
// ********************************************************************************************
// ********************************************************************************************
// Import Bootstrap source files
@import "wwwroot/lib/coreui/scss/bootstrap/bootstrap"; // from bootstrap node_modules

// Mixins
@import "wwwroot/lib/coreui/scss/mixins";

// Animations
@import "wwwroot/lib/coreui/scss/animate";

// Vendors
@import "wwwroot/lib/coreui/scss/vendors";

// Components
@import "wwwroot/lib/coreui/scss/aside";
@import "wwwroot/lib/coreui/scss/avatars";
@import "wwwroot/lib/coreui/scss/badge";
@import "wwwroot/lib/coreui/scss/breadcrumb-menu";
@import "wwwroot/lib/coreui/scss/breadcrumb";
@import "wwwroot/lib/coreui/scss/brand-card";
@import "wwwroot/lib/coreui/scss/brand-buttons";
@import "wwwroot/lib/coreui/scss/buttons";
@import "wwwroot/lib/coreui/scss/callout";
@import "wwwroot/lib/coreui/scss/card";
@import "wwwroot/lib/coreui/scss/charts";
@import "wwwroot/lib/coreui/scss/dropdown";
@import "wwwroot/lib/coreui/scss/footer";
@import "wwwroot/lib/coreui/scss/grid";
@import "wwwroot/lib/coreui/scss/header";
@import "wwwroot/lib/coreui/scss/input-group";
@import "wwwroot/lib/coreui/scss/images";
@import "wwwroot/lib/coreui/scss/list-group";
@import "wwwroot/lib/coreui/scss/modal";
@import "wwwroot/lib/coreui/scss/nav";
@import "wwwroot/lib/coreui/scss/progress";
@import "wwwroot/lib/coreui/scss/progress-group";
@import "wwwroot/lib/coreui/scss/sidebar";
@import "wwwroot/lib/coreui/scss/switches";
@import "wwwroot/lib/coreui/scss/tables";
@import "wwwroot/lib/coreui/scss/widgets";

// Layout Options
@import "wwwroot/lib/coreui/scss/layout";

@import "wwwroot/lib/coreui/scss/others";

// Utility classes
@import "wwwroot/lib/coreui/scss/utilities";

// Right-to-left
@import "wwwroot/lib/coreui/scss/rtl";

// Custom Properties support for Internet Explorer
@import "wwwroot/lib/coreui/scss/ie-custom-properties";
