
/*#region COLORS */

.bg-color-1, .bg-dark-gray {
    background-color: $color-1 !important;
    color: white;
}

.bg-color-2, .bg-light-blue {
    background-color: $color-2 !important;
    color: white;
}

.bg-color-3, .bg-yellow {
    background-color: $color-3 !important;
    color: white;
}

.bg-color-4, .bg-gray {
    background-color: $color-4 !important;
    color: white;
}

.bg-color-5, .bg-green{
    background-color: $color-5 !important;
    color: white;
}

.bg-color-6, .bg-light-gray{
    background-color: $color-6 !important;
    color: black;
}

.bg-color-7, .bg-purple{
    background-color: $color-7 !important;
    color: black;
}

.bg-color-8, .bg-blue {
    background-color: $color-8 !important;
    color: black;
}

.bg-color-9, .bg-orange {
    background-color: $color-9 !important;
    color: black;
}

.bg-color-10, .bg-light-green {
    background-color: $color-10 !important;
    color: black;
}

.bg-color-11, .bg-pink {
    background-color: $color-11 !important;
    color: black;
}

.bg-color-12, .bg-dark-blue {
    background-color: $color-12 !important;
    color: black;
}

.bg-color-13, .bg-brown {
    background-color: $color-13 !important;
    color: black;
}

.bg-color-14, .bg-dark-green {
    background-color: $color-14 !important;
    color: black;
}



/*#region GLOBAL */

.app-body::-webkit-scrollbar {
    width: 9px;
}

.app-body::-webkit-scrollbar-track {
    background: #8d9da3;
    border: 0px;
}

.app-body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $brand-medium;
    border: 0px;
}

.app-body::-webkit-scrollbar-thumb:hover {
    background: #37484e;
}

.app-body::-webkit-scrollbar-thumb:active {
    background: #37484e;
}

@include media-breakpoint-down(xs) {
    .app-body::-webkit-scrollbar {
        width: 0px;
    }
}


*:focus, *:active:focus, *.active:focus,
*.focus, *:active.focus, *.active.focus {
    outline: none !important;
    box-shadow: none !important;
}


html, body {
    height: 100%;
}

.container-fluid {
    height: calc(100% - 88px);
}

#ui-view, 
#ui-view > div, 
#main-content, 
#main-content > div.row,
#main-content > div.row > div.col {
    height: 100%;
}

#main-content > div.row > div.col > div.card {
    min-height: 100%;
}

    body {
        font-family: $font-secondary;
        font-family: $font-main;
    }
    /*body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-track {
    background: $opsait-dark-blue-75;
    border: 0px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $opsait-dark-blue-50;
    border: 0px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

body::-webkit-scrollbar-thumb:active {
    background: #fff;
}*/
    h6, h5, h4, h3, h2, h1 {
        color: $brand-dark;
    }

    h4, h3, h2, h1 {
        font-family: $font-title;
    }

    h6, h5 {
        font-weight: bold;
    }

    @include media-breakpoint-down(xs) {

        h1, .h1 {
            font-size: 1.75rem;
        }

        h2, .h2 {
            font-size: 1.53125rem;
        }

        h3, .h3 {
            font-size: 1.3125rem;
        }

        h4, .h4 {
            font-size: 1.09375rem;
        }

        h5, .h5 {
            font-size: 0.875rem;
        }
    }


    hr.title {
        box-sizing: content-box;
        overflow: visible;
        display: block;
        width: 3em;
        height: .15em;
        margin-top: 0.5em;
        margin-bottom: 0.4em;
        border: 0;
        background: #fbbb21;
        text-align: left;
        background-color: $brand-accent;
    }

    hr.header {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .main .container-fluid {
        padding: 0 18px;
    }


    /*
a:hover {
    text-decoration: none;
}
*/
    /*#endregion*/
    /*#region HEADER */
    .app-header {
        font-family: $font-main;
    }

    .navbar-brand-full {
        content: url(/images/brand/opsait_logo.png);
        height: 40px;
        width: 142px;
        padding-top: 2px;
    }
    /*#endregion*/
    /*#region BREADCRUMB*/
    .breadcrumb {
        color: #fff;
    }

    .breadcrumb a {
        color: #fff;
    }

    .breadcrumb a:hover {
        color: $brand-dark;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        color: #fff;
    }

    .breadcrumb-item.active {
        color: #fff;
    }

    .breadcrumb-menu .btn:hover {
        color: #fff;
    }

    .breadcrumb-menu .btn {
        color: #fff;
    }
    /*#endregion*/
    /*#region NAVBAR*/
    .sidebar {
        font-family: $font-main;
    }

    .sidebar .nav-title {
        font-size: 0.85rem;
    }

    .sidebar .nav-dropdown-items {
        padding-left: 0;
        border-left: 2px solid #7195f4;
    }

    .sidebar .nav-dropdown .nav-item .nav-link {
        padding-left: 1.8rem;
    }

    .sidebar .sidebar-nav .nav > li > .nav-link {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .sidebar .nav-dropdown.open .nav-link.nav-dropdown-toggle .nav-icon {
        color: #fff;
    }
    /*
.sidebar .nav-link.active {
    background-color: $brand-dark;
    color: #fff;
}
*/
    .sidebar .nav-dropdown.open > a:first-child:after {
        content: "";
        height: 90%;
        display: block;
        border-left: 2px solid #fff;
        position: absolute;
        left: 0;
        top: 60%;
        transform: translateY(-50%);
    }

    .sidebar .nav-link .nav-icon {
        color: #b9c7d6;
    }

    .sidebar .nav-dropdown .nav-item .nav-link {
        color: #b9c7d6;
    }
    /*#endregion*/
    /*#region ASIDE */
    html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
    html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer,
    html:not([dir="rtl"]) .aside-menu-sm-show.aside-menu-fixed .main,
    html:not([dir="rtl"]) .aside-menu-sm-show.aside-menu-fixed .app-footer {
        margin-right: 0 !important;
    }

    @include media-breakpoint-up(lg) {
        html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
        html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer,
        html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .main,
        html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .app-footer {
            margin-right: 0 !important;
        }
    }
    /*#endregion*/
    /*#region FORMS*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    input[type=date]::-webkit-inner-spin-button,
    input[type=date]::-webkit-clear-button {
        display: none;
    }

    .form-control:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(108, 146, 246, 0.4);
    }

    select option:disabled {
        background-color: white;
        color: silver;
    }

    select option:disabled :hover {
        background-color: white;
        color: silver;
    }


    .col-form-label {
        color: #03657c;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    /*#endregion*/
    /*#region BUTTONS*/
    .btn-outline-secondary {
        color: #000;
    }
    /*#endregion*/
    /*#region NEW CLASES*/
    .no-hover:hover {
        outline: none;
        text-decoration: none;
    }

    .no-active:active {
        box-shadow: none;
    }

    .no-border, .no-border:active, .no-border:hover {
        border-color: transparent;
    }

    .separator {
        margin-top: 0px;
        height: 0px;
        background-color: $brand-accent;
    }

    .icon-button-toogle[aria-expanded=false] .icon-button-expanded {
        display: none;
    }

    .icon-button-toogle[aria-expanded=true] .icon-button-collapsed {
        display: none;
    }
    /*#endregion*/
    /*#region MODAL*/
    #myModal {
        top: 5%;
    }

    dt {
        font-weight: 500;
        color: #20a8d8;
        color: #03657c;
    }
    /*#endregion*/
    /*#region TABS*/
    //@include media-breakpoint-down(xs) {
    .tab-content {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    .tab-content .tab-pane {
        padding-left: 0;
        padding-right: 0;
    }
    //}
    /*#endregion*/
    /*#region OTHER*/
    form#global-search input[type=search] {
        outline: none;
    }

    form#global-search input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
    }

    form#global-search input[type=search] ::-webkit-search-decoration,
    form#global-search input[type=search] ::-webkit-search-cancel-button {
        display: none;
    }


    form#global-search input[type=search] {
        background: $brand-dark url(/images/icons/search-icon-white.png) no-repeat 9px center;
        border: solid 1px $brand-dark;
        padding: 4px 10px 4px 32px;
        width: 55px;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }

    form#global-search input[type=search]:focus {
        width: 130px;
        background: #fff url(/images/icons/search-icon.png) no-repeat 9px center;
        border-color: $brand-dark;
        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
    }


    form#global-search input[type=search] {
        width: 15px;
        padding-left: 10px;
        color: transparent;
        cursor: pointer;
    }

    form#global-search input[type=search]:focus {
        width: 130px;
        padding-left: 32px;
        color: #000;
        background-color: #fff;
        cursor: auto;
    }

    form#global-search input[type=search]:-moz-placeholder {
        color: transparent;
    }

    form#global-search input[type=search]::-webkit-input-placeholder {
        color: transparent;
    }

    .card {
        margin-bottom: 18px;
    }   
    /*#endregion*/
    @include media-breakpoint-down(xs) {
        .app-footer {
            display: none;
        }
    }
