
/*#region FONTS */

@font-face {
    font-family: NeoSansPro;
    font-weight: 500;
    font-style: normal;
    src: url(/fonts/NeoSansPro-Medium.eot);
    src: url(/fonts/NeoSansPro-Medium.eot?#iefix) format("embedded-opentype"), url(/fonts/NeoSansPro-Medium.woff) format("woff"), url(/fonts/NeoSansPro-Medium.ttf) format("truetype")
}

@font-face {
    font-family: NeoSansPro;
    font-weight: 700;
    font-style: bold;
    src: url(/fonts/NeoSansPro-Bold.eot);
    src: url(/fonts/NeoSansPro-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/NeoSansPro-Bold.woff) format("woff"), url(/fonts/NeoSansPro-Bold.ttf) format("truetype")
}

@font-face {
    font-family: NeoSansPro;
    font-weight: 300;
    font-style: normal;
    src: url(/fonts/NeoSansPro-Light.eot);
    src: url(/fonts/NeoSansPro-Light.eot?#iefix) format("embedded-opentype"), url(/fonts/NeoSansPro-Light.woff) format("woff"), url(/fonts/NeoSansPro-Light.ttf) format("truetype")
}

@font-face {
    font-family: NeoSansPro;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/NeoSansPro-Regular.eot);
    src: url(/fonts/NeoSansPro-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/NeoSansPro-Regular.woff) format("woff"), url(/fonts/NeoSansPro-Regular.ttf) format("truetype")
}

@font-face {
    font-family: NoeDisplay;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/NoeDisplay-Regular.eot);
    src: url(/fonts/NoeDisplay-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/NoeDisplay-Regular.woff) format("woff"), url(/fonts/NoeDisplay-Regular.ttf) format("truetype")
}

@font-face {
    font-family: NoeDisplay;
    font-weight: 400;
    font-style: italic;
    src: url(/fonts/NoeDisplay-RegularItalic.eot);
    src: url(/fonts/NoeDisplay-RegularItalic.eot?#iefix) format("embedded-opentype"), url(/fonts/NoeDisplay-RegularItalic.woff) format("woff"), url(/fonts/NoeDisplay-RegularItalic.ttf) format("truetype")
}

@font-face {
    font-family: NoeDisplay;
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/NoeDisplay-Bold.eot);
    src: url(/fonts/NoeDisplay-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/NoeDisplay-Bold.woff) format("woff"), url(/fonts/NoeDisplay-Bold.ttf) format("truetype")
}

@font-face {
    font-family: NoeDisplay;
    font-weight: 700;
    font-style: italic;
    src: url(/fonts/NoeDisplay-BoldItalic.eot);
    src: url(/fonts/NoeDisplay-BoldItalic.eot?#iefix) format("embedded-opentype"), url(/fonts/NoeDisplay-BoldItalic.woff) format("woff"), url(/fonts/NoeDisplay-BoldItalic.ttf) format("truetype")
}

@font-face {
    font-family: SohoGothicPro;
    font-style: normal;
    src: url(/fonts/SohoGothicPro-Regular.eot);
    src: url(/fonts/SohoGothicPro-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/SohoGothicPro-Regular.woff) format("woff"), url(/fonts/SohoGothicPro-Regular.ttf) format("truetype")
}

@font-face {
    font-family: SohoGothicPro-Medium;
    font-style: normal;
    src: url(/fonts/SohoGothicPro-Medium.eot);
    src: url(/fonts/SohoGothicPro-Medium.eot?#iefix) format("embedded-opentype"), url(/fonts/SohoGothicPro-Medium.woff) format("woff"), url(/fonts/SohoGothicPro-Medium.ttf) format("truetype")
}

@font-face {
    font-family: SohoGothicPro-Light;
    font-style: normal;
    src: url(/fonts/SohoGothicPro-Light.eot);
    src: url(/fonts/SohoGothicPro-Light.eot?#iefix) format("embedded-opentype"), url(/fonts/SohoGothicPro-Light.woff) format("woff"), url(/fonts/SohoGothicPro-Light.ttf) format("truetype")
}

@font-face {
    font-family: SohoGothicPro-Bold;
    font-style: normal;
    src: url(/fonts/SohoGothicPro-Bold.eot);
    src: url(/fonts/SohoGothicPro-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/SohoGothicPro-Bold.woff) format("woff"), url(/fonts/SohoGothicPro-Bold.ttf) format("truetype")
}


@font-face {
    font-family: PlayfairDisplay;
    font-weight: 500;
    font-style: normal;
    src: url(/fonts/PlayfairDisplay-Regular.eot);
    src: url(/fonts/PlayfairDisplay-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/PlayfairDisplay-Regular.woff) format("woff"), url(/fonts/PlayfairDisplay-Regular.ttf) format("truetype")
}

/*#endregion*/
