﻿@model JobViewModel

<form asp-action="Add" id="add-form" method="post" role="form" class="form-horizontal" autocomplete="off">
    <div class="modal-header">
        @model JobViewModel
        <h4 class="modal-title">Nueva Tarea</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AreaId" />
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label asp-for="Name" col-form-label"></label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="input-group-append">
                    <input asp-for="Name" id="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label asp-for="Description" col-form-label"></label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="input-group-append">
                    <input asp-for="Description" id="Description" class="form-control" required />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label asp-for="Default" col-form-label"></label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="input-group-append">
                    <input asp-for="Default" id="default" class="form-check-input" />
                    <span asp-validation-for="Default" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
    </div>
</form>
<script>
    $("#add-form").submit(function (e) {
        e.preventDefault();
        $.ajaxPostModal('/job/add', $(this).serialize(), function (response) {
            $.ajaxGet('/job/edit/' + response.content.id);
        });
        return false;
    });
</script>
