﻿@using Perseo.Web.Models
@model AssignShift
@{
    var history = Model.History as List<AssignHistory>;
    string modify_show = history.Count > 0 ? "" : "show";
}

<form id="assign" data-async method="post" role="form" class="form-horizontal">
    <div class="modal-header b-b-0">
        <h4 class="modal-title">@SharedLocalizer["Asignación de"] @Model.Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body pt-1">
        <div class="collapse multi-collapse @modify_show" id="editcollapse">
            <div class="row mb-4">
                <div class="col-sm-12 col-lg-8">
                    <label class="col-form-label" asp-for="Description"></label>
                    <input id="description" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <label class="col-form-label">@SharedLocalizer["Fecha de Modificación"]</label>
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        <input class="form-control" id="start-date" type="date" min="@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

