﻿@* JOB - SLA (MODAL) *@

@using Microsoft.AspNetCore.Mvc.Razor
@using Perseo.Web.Models
@model AssignJobSlaViewModel

@{
    var history = Model.History as List<AssignJobHistory>;
}

<style>
    .trs-hours .col {
        line-height: 15px;
    }
    .trs-hours-mark-top .col, .trs-hours-mark-bottom .col {
        line-height: 5px;
    }
</style>

<form id="assign"  data-async method="post" role="form" class="form-horizontal">
    <div class="modal-header b-b-0 pb-0">
        <h4 class="modal-title">@ViewBag.Name</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <hr style="height: 0px;">
            <div hidden asp-for="JobId" class="col-xl-5 col-form-label"></div>
            <div class="form-group row">
                <label asp-for="SLA" class="col-xl-5 col-form-label"></label>
                <div class="col-xl-7 input-group">
                    <input type='number' id="Edit-SLA" asp-for="SLA" class="form-control" disabled="@(ViewBag.Accion == "Show" ? "disabled" : null)" />
                </div>
                <span class="col-xl-5"></span>
                <span asp-validation-for="SLA" class="text-danger col-xl-7"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Sla_Description" class="col-xl-5 col-form-label"></label>
                <div class="col-xl-7 input-group">
                    <input id="Edit-Sla_Description" asp-for="Sla_Description" class="form-control" disabled="@(ViewBag.Accion == "Show" ? "disabled" : null)" />
                </div>
                <span class="col-xl-5"></span>
                <span asp-validation-for="Sla_Description" class="text-danger col-xl-7"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Sla_Comparator" class="col-xl-5 col-form-label"></label>
                <div class="col-xl-7 input-group">
                    <select class="form-control" asp-for="Sla_Comparator" id="Edit-Sla_Comparator" disabled="@(ViewBag.Accion == "Show" ? "disabled" : null)">
                        <option selected disabled>&nbsp</option>
                        <option value="<"><</option>
                        <option value="=">=</option>
                        <option value=">">></option>
                    </select>
                </div>
                <span class="col-xl-5"></span>
                <span asp-validation-for="Sla_Comparator" class="text-danger col-xl-7"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Rate" class="col-xl-5 col-form-label"></label>
                <div class="col-xl-7 input-group">
                    <input type='number' id="Edit-Rate" asp-for="Rate" class="form-control" disabled="@(ViewBag.Accion == "Show" ? "disabled" : null)" />
                </div>
                <span class="col-xl-5"></span>
                <span asp-validation-for="Rate" class="text-danger col-xl-7"></span>
            </div>
            <div class="form-group row">
                <label asp-for="TMO" class="col-xl-5 col-form-label"></label>
                <div class="col-xl-7 input-group">
                    <input type='number' id="Edit-TMO" asp-for="TMO" class="form-control" disabled="@(ViewBag.Accion == "Show" ? "disabled" : null)" />
                    <div class="input-group-append">
                        <div class="input-group-text">@SharedLocalizer["seg"].</div>
                    </div>
                </div>
                <span class="col-xl-5"></span>
                <span asp-validation-for="TMO" class="text-danger col-xl-7"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Queue" class="col-xl-5 col-form-label"></label>
                <div class="col-xl-7 input-group">
                    <input type='number' id="Edit-Queue" asp-for="Queue" class="form-control" disabled="@(ViewBag.Accion == "Show" ? "disabled" : null)" />
                    <div class="input-group-append">
                        <div class="input-group-text">@SharedLocalizer["seg"].</div>
                    </div>
                </div>
                <span class="col-xl-5"></span>
                <span asp-validation-for="Queue" class="text-danger col-xl-7"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Wait" class="col-xl-5 col-form-label"></label>
                <div class="col-xl-7 input-group">
                    <input type='number' id="Edit-Wait" asp-for="Wait" class="form-control" disabled="@(ViewBag.Accion == "Show" ? "disabled" : null)" />
                    <div class="input-group-append">
                        <div class="input-group-text">@SharedLocalizer["seg"].</div>
                    </div>
                </div>
                <span class="col-xl-5"></span>
                <span asp-validation-for="Wait" class="text-danger col-xl-7"></span>
            </div>
            <div class="form-group row">
                <label asp-for="AssignmentStartDate" class="col-xl-5 col-form-label"></label>
                <div class="col-xl-7 input-group">
                    <input asp-for="AssignmentStartDate" type="date" class="form-control" id="start-date" disabled="@(ViewBag.Accion == "Show" ? "disabled" : null)"/>
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <span class="col-xl-5"></span>
                <span id="start-date-validation" class="text-danger col-xl-7"></span>
            </div>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        @if (ViewBag.Accion != "Show")
        {
        <button type="button" class="btn btn-primary" id="sla-save-button">@SharedLocalizer["Guardar"]</button>
        }
    </div>
</form>

<script>
    $(document).ready(function () {

        $('#sla-save-button').click(function () {

            if (!form_validation()) { return; }

            $.ajax({
                type: "POST",
                url: "/job/edit/@RazorViewEngine.GetNormalizedRouteValue(ViewContext, "action").ToLower()",
                data: {
                    'Id': '@Model.Id',
                    'Sla': $("#Edit-SLA").val(),
                    'Sla_Description': $("#Edit-Sla_Description").val(),
                    'Sla_Comparator': $("#Edit-Sla_Comparator").val(),
                    'Rate': $("#Edit-Rate").val(),
                    'TMO': $("#Edit-TMO").val(),
                    'Queue': $("#Edit-Queue").val(),
                    'Wait': $("#Edit-Wait").val(),
                    'AssignmentStartDate': $('#start-date').val(),
                    'JobId': '@Model.JobId',
                    '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    if (data.result) {
                        $('#global-modal').modal('hide');
                        $.ajaxGet('/job/edit/'+ @Model.JobId);
                    } else {
                        toastr.error(data.response);
                    }
                },
                error: function (data) {
                    toastr.error(data.responseText);
                }
            });
        });

        function form_validation() {

            var result = true;
            var element;
            var value;
            var textfield;

            $("[type='number']").not("input[name = 'Time']").each(function () {
                element = $(this);
                value = element.val();
                textfield = element.parent().parent().children('.text-danger');
                if (isNaN(value) || (value < 1)) {
                    textfield.html('@SharedLocalizer["El valor debe ser un número mayor que 0"]');
                    result = false;
                } else { textfield.html(''); }
            });

            element = $('#Edit-SLA');
            value = element.val();
            textfield = element.parent().parent().children('.text-danger');
            if (isNaN(value) || (value < 1) || (value > 100)) {
                textfield.html('@SharedLocalizer["El valor debe estar entre 1 y 100"]');
                result = false;
            } else { textfield.html(''); }

            element = $('#Edit-Sla_Description');
            value = element.val();
            textfield = element.parent().parent().children('.text-danger');
            if (value == "") {
                textfield.html('@SharedLocalizer["El campo Descripción es obligatorio"]');
                result = false;
            } else { textfield.html(''); }

            element = $('#Edit-Sla_Comparator');
            value = element.val();
            textfield = element.parent().parent().children('.text-danger');
            if (value == null) {
                textfield.html('@SharedLocalizer["El campo Comparador SLA es obligatorio"]');
                result = false;
            } else { textfield.html(''); }

            element = $('#start-date');
            value = element.val();
            textfield = element.parent().parent().children('.text-danger');
            if (value == "") {
                textfield.html('@SharedLocalizer["El valor no es válido"]');
                result = false;
            } else { textfield.html(''); }
           
            return result;
        }

    });
</script>
