﻿@* JOB - SHOW LAYOUT *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Perseo.Web
@{
    Layout = Context.Request.IsAjax() ? "~/Views/Shared/_AjaxLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Name;
    ViewData["SubTitle"] = Model.FullName;
}

@section Styles { @RenderSection("Styles", false) }
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-3 mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title="@ViewData["Title"]" subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                    @if (ViewBag._Controller == "job")
                    {
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* NAVIGATION *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                @* Back *@
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="list" class="btn btn-secondary history-back">
                                        <i class="fa fa-arrow-left"></i>&nbsp; @SharedLocalizer["Volver"]
                                    </a>
                                </span>
                                @* Edit *@
                                <span class="btn-group mb-3 mb-sm-0">
                                    <a id="back" asp-action="edit" asp-route-id="@ViewBag.JobId" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>&nbsp; @SharedLocalizer["Editar"]
                                    </a>
                                </span>
                            </div>
                        </div>
                    }
                    else
                    {
                        ViewBag.UserId = "";
                    }
                </div>
                @* TABS *@
                <ul class="nav nav-tabs" id="nav-tab" role="tablist" data-active-tab="@ViewBag.Tab">
                    <li class="nav-item">
                        <a asp-action="@ViewBag._Action" asp-route-id="@ViewBag.JobId" asp-route-tab="general" class="nav-link" id="general">
                            <i class="icon-user"></i>&nbsp; @SharedLocalizer["General"]
                        </a>
                    </li>
                </ul>
                @* CONTENT *@
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-main-pane">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @RenderSection("Scripts", false) }
