﻿@* JOB - EDIT *@

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Enviroment
@using Perseo.Core
@model JobViewModel

@{    
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit" autocomplete="off" id="edit-form">
                    @* HEADER *@
                    <div class="row mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title="@ViewData["Title"]" subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* Navigation *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="list" class="btn btn-secondary history-back">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                <span class="btn-group mb-3 mb-sm-0">
                                    <button class="btn btn-primary" type="submit" id="save-button">
                                        <i class="fa fa-save"></i>&nbsp; @SharedLocalizer["Guardar"]
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    @* CONTENT *@
                    <div class="row">
                    <div class="col">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div id="general" class="tab-pane fade show active">
                            <br />
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                                            <input asp-for="AreaId" class="form-control" type="hidden" />
                                            <div class="form-group row">
                                                <label asp-for="Name" class="col-xl-4 col-form-label"></label>
                                                <div class="col-xl-8">
                                                    <input asp-for="Name" class="form-control" />
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label asp-for="Description" class="col-xl-4 col-form-label"></label>
                                                <div class="col-xl-8">
                                                    <input asp-for="Description" class="form-control" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                                            <div class="form-group row">
                                                <label asp-for="Billing_type" class="col-xl-5 col-form-label"></label>
                                                <div class="col-xl-7 input-group">
                                                    <select asp-for="Billing_type" asp-items="Html.GetEnumSelectList<BillingType>()" class="form-control">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <label class="col-xl-5"></label>
                                                <span asp-validation-for="Billing_type" class="text-danger col-xl-7"></span>
                                            </div>
                                            <div class="form-group row">
                                                <label asp-for="Task_type" class="col-xl-5 col-form-label"></label>
                                                <div class="col-xl-7 input-group">
                                                    <select asp-for="Task_type" asp-items="Html.GetEnumSelectList<TaskType>()" class="form-control">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <label class="col-xl-5"></label>
                                                <span asp-validation-for="Task_type" class="text-danger col-xl-7"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                                            <div class="form-group row">
                                                <label asp-for="Default" class="col-xl-5 col-form-label"></label>
                                                <div class="col-xl-5">
                                                    <input asp-for="Default" id="default" class="form-check-input" />
                                                </div>
                                                <span asp-validation-for="Default" class="text-danger "></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <label class="col-form-label">
                                    @SharedLocalizer["SLA"]
                                </label>
                                <button class="btn btn-success float-right" type="button" data-remote="/job/edit/@Model.Id/AddJobSlaHistory" data-target="#global-modal" data-toggle="modal">
                                    <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["SLA"]
                                </button>
                            </div>
                            <div id="sla-table-container" class="dt-hidden-container">
                                <table id="sla-table" class="table table-hover table-sm dt-responsive nowrap table-striped">
                                    <thead>
                                        <tr>
                                            <th>@SharedLocalizer["Fecha Inicio"]</th>
                                            <th>@SharedLocalizer["Fecha Fin"]</th>
                                            <th>@SharedLocalizer["Descripción SLA"]</th>
                                            <th>@SharedLocalizer["Tipo SLA"]</th>
                                            <th>@SharedLocalizer["SLA"]</th>
                                            <th class="actions">
                                                @SharedLocalizer["Acciones"]
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.JobSla.Count() > 0)
                                        {
                                            @foreach (var JobSla in Model.JobSla)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => JobSla.StartDate)</td>
                                                    <td>@Html.DisplayFor(modelItem => JobSla.EndDate)</td>
                                                    <td>@Html.DisplayFor(modelItem => JobSla.SlaDescription)</td>
                                                    <td>@Html.DisplayFor(modelItem => JobSla.SlaComparator)</td>
                                                    <td>@Html.DisplayFor(modelItem => JobSla.Sla)</td>
                                                    <td class="actions">
                                                        <a href="#" data-remote="/job/show/@JobSla.Id/JobSlaHistory" data-target="#global-modal" data-toggle="modal" id="show-sla" class="btn btn-sm btn-ghost-danger">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                        <a href="#" data-remote="/job/edit/@JobSla.Id/EditJobSlaHistory" data-target="#global-modal" data-toggle="modal" id="edit-sla" class="btn btn-sm btn-ghost-danger">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/slim/slim/slim.jquery.min.js"></script>
    <script>
        var modal_destination;
        $(document).ready(function () {

            breadcrumb({ name: "Tareas", url: "job" }, { name: "@Model.AreaName", url: "show/@Model.Id" }, { name: "Editar" });

            $('#global-modal').on('shown.bs.modal', function (event) {
                var triggerElement = $(event.relatedTarget);
                modal_destination = triggerElement.parent().siblings('input');
            });

            $('#global-modal-lg').on('shown.bs.modal', function (event) {
                var triggerElement = $(event.relatedTarget);
                modal_destination = triggerElement.parent().siblings('input');
            });

            $('#sla-table').dt({
                searching: false, ordering: false, lengthChange: false, pageLength: 5,
                responsive: { details: { type: 'column' } },
                columnDefs: [{ className: 'control', orderable: false, targets: 0 }],
                order: [[1, 'asc']],
            });

            $('#sla-table').attr('style', 'border-collapse: collapse !important');
            $('#sla-table-container').removeClass('dt-hidden-container');

            $('#kpi-table').DataTable({
                searching: false, ordering: false, lengthChange: false, pageLength: 6,
                responsive: { details: { type: 'column' } },
                columnDefs: [{ className: 'control', orderable: false, targets: 0 }],
                order: [[1, 'asc']],
            });

            $('#kpi-table').attr('style', 'border-collapse: collapse !important');
            $('#kpi-table-container').removeClass('dt-hidden-container');
        });
    </script>
}