﻿@* JOB - SHOW *@

@using Perseo.Core
@model JobViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-3 mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title="@ViewData["Title"]" subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* NAVIGATION *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            @* Back *@
                            <span class="btn-group mb-3 mb-sm-0 mr-3">
                                <a id="back" asp-action="list" class="btn btn-secondary history-back">
                                    <i class="fa fa-arrow-left"></i>&nbsp; @SharedLocalizer["Volver"]
                                </a>
                            </span>
                            @* Edit *@
                            <span class="btn-group mb-3 mb-sm-0">
                                <a id="back" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>&nbsp; @SharedLocalizer["Editar"]
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                @* CONTENT *@
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                                <div class="row">
                                    <label asp-for="Name" class="col-5 col-form-label"></label>
                                    <input asp-for="Name" class="col-7 form-control-plaintext" disabled />
                                </div>
                                <div class="row">
                                    <label asp-for="Description" class="col-5 col-form-label"></label>
                                    <input asp-for="Description" class="col-7 form-control-plaintext" disabled />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col- lg-6 col-xl-4">
                                <div class="row">
                                    <label asp-for="Billing_type" class="col-5 col-form-label"></label>
                                    <input name="BillingType" class="col-7 form-control-plaintext" value="@Model.Billing_type.GetDisplayName()" disabled />
                                </div>
                                <div class="row">
                                    <label asp-for="Task_type" class="col-5 col-form-label"></label>
                                    <input name="TaskType" class="col-7 form-control-plaintext" value="@Model.Task_type.GetDisplayName()" disabled />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                                <div class="row">
                                    <label asp-for="DefaultYesNo" class="col-5 col-form-label"></label>
                                    <input asp-for="DefaultYesNo" class="col-7 form-control-plaintext" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4"><div class="col font-xl mb-2">SLAs</div></div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                                <div class="row">
                                    <label asp-for="Sla_StartDate" class="col-5 col-form-label"></label>
                                    <input asp-for="Sla_StartDate" class="col-7 form-control-plaintext" disabled />
                                </div>
                                <div class="row">
                                    <label asp-for="Sla_EndDate" class="col-5 col-form-label"></label>
                                    @if (Model.Sla_EndDate.HasValue)
                                        {
                                    <input asp-for="Sla_EndDate" class="col-7 form-control-plaintext" disabled />
                                        }
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                                <div class="row">
                                    <label asp-for="Sla_Description" class="col-5 col-form-label"></label>
                                    <input asp-for="Sla_Description" class="col-7 form-control-plaintext" disabled />
                                </div>
                                <div class="row">
                                    <label asp-for="Sla_Comparator" class="col-5 col-form-label"></label>
                                    <input asp-for="Sla_Comparator" class="col-7 form-control-plaintext" disabled />
                                </div>
                                <div class="row">
                                    <label asp-for="SLA" class="col-5 col-form-label"></label>
                                    <input asp-for="SLA" class="col-7 form-control-plaintext" disabled />
                                </div>
                                <div class="row">
                                    <label asp-for="Rate" class="col-5 col-form-label"></label>
                                    <input asp-for="Rate" class="col-7 form-control-plaintext" disabled />
                                </div>

                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                                <div class="row">
                                    <label asp-for="TMO" class="col-5 col-form-label"></label>
                                    <input asp-for="TMO" class="col-7 form-control-plaintext" disabled />
                                </div>
                                <div class="row">
                                    <label asp-for="Wait" class="col-5 col-form-label"></label>
                                    <input asp-for="Wait" class="col-7 form-control-plaintext" disabled />
                                </div>
                                <div class="row">
                                    <label asp-for="Queue" class="col-5 col-form-label"></label>
                                    <input asp-for="Queue" class="col-7 form-control-plaintext" disabled />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="sla-table-container" class="mt-4 dt-hidden-container">
                    <table id="sla-table" class="table table-hover table-sm dt-responsive nowrap table-striped">
                        <thead>
                            <tr>
                                <th>@SharedLocalizer["Fecha Inicio"]</th>
                                <th>@SharedLocalizer["Fecha Fin"]</th>
                                <th>@SharedLocalizer["Descripción SLA"]</th>
                                <th>@SharedLocalizer["Tipo SLA"]</th>
                                <th>@SharedLocalizer["SLA"]</th>
                                <th class="actions">
                                    @SharedLocalizer["Acciones"]
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.JobSla.Count() > 0)
                            {
                             @foreach (var JobSla in Model.JobSla)
                                {
                                    <tr>
                                        <td>@JobSla.StartDate</td>
                                        <td>@JobSla.EndDate</td>
                                        <td>@JobSla.SlaDescription</td>
                                        <td>@JobSla.SlaComparator</td>
                                        <td>@JobSla.Sla</td>
                                        <td class="actions">
                                            <a href="#" data-remote="/job/show/@JobSla.Id/JobSlaHistory" data-target="#global-modal" data-toggle="modal" id="show-sla" class="btn btn-sm btn-ghost-danger">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
<script>
        $(document).ready(function () {
            
            breadcrumb({ name: '@SharedLocalizer["Áreas y Servicios"]', url: 'area' }, { name: '@Model.AreaName', url: 'show/@Model.AreaId' } , { name: 'Tareas', url: "" }, { name: '@Model.Name' });
    
            $('#sla-table').dt({ searching: false, ordering: false, lengthChange: false, pageLength: 5 });

        });
</script>
}
