.tl

.timeline.static
  each tline in ['checklist', 'liquid', 'hms']
    .line(class="#{tline}")
      h4 #{tline}
      .events
        each val in [1, 2, 3, 4, 5]
          .event
            .circle
              .circle-inner
              .label
                label #{tline}
                time #{val+20}.03.2014
  .time
    .period
      .label.first 11.30
    .period
      .label 12:00
    .period
      .label.last 13:50
      .label 13:00
  