﻿@{
    Layout = "~/Views/Shared/Components/MonthGrid/_MonthGridLayout.cshtml";

    var Rows = ViewBag.Rows;
}

@foreach (Perseo.Web.Models.ScheduleRow row in Rows)
{
    <div class="mt-4 mt-lg-0 d-lg-none header-col-sm">&nbsp;@row.FullName</div>
    <div class="row no-gutters month-row">
        <div class="pl-1 pl-xxl-2 col-12 col-lg-@ViewBag.HeaderCols d-none d-lg-block header-col"><a href="/user/show/@row.UserId">&nbsp;@row.FullName</a></div>
        <div class="col-12 col-lg-@ViewBag.ContentCols">
            <div class="row no-gutters content-cols" data-id="@row.UserId">
                @for (var i = 0; i < 7; i++)
                {
                    <div class="col d-lg-none week-day-sm">@ViewBag.WeekDays[i]</div>
                }
                @Html.Raw(ViewBag.MonthHead)
                @for (var i = 1; i <= ViewBag.DaysOfMonth; i++)
                {
                    if (row.Columns.ContainsKey("D" + i))
                    {
                        string comment = "";
                        string extraHours = "";
                        string titleText = row.Columns["D" + i].TotalHours.ToString();
                        if (row.Columns["D" + i].Comment != null)
                        {
                            comment = row.Columns["D" + i].Comment.Length > 1  ? "<div class='comment'></div>" : "";
                        }
                        if (row.Columns["D" + i].OtherHours > 0)
                        {
                            extraHours = "<div class='extra-hours'></div>";
                            titleText = row.Columns["D" + i].WorkingHours.ToString() + " " + Perseo.Core.WorkHoursType.Normal.ToString() + "\n" + row.Columns["D" + i].OtherHours.ToString() + " " + Perseo.Core.WorkHoursType.Extra.ToString();
                        }

                    <div class="col cal-day-@row.Columns["D" + @i].Acronym"
                         data-id="@row.Columns["D" + @i].Id" title="@titleText">@Html.Raw(extraHours)@Html.Raw(comment)@row.Columns["D" + @i].Acronym</div>
                        }
                        else
                        {
                            <div class="col">&nbsp;</div>
                        }
                    }
                @Html.Raw(ViewBag.MonthTrail)
            </div>
        </div>
    </div>
}