﻿@using Microsoft.AspNetCore.Html
@using System.Globalization
@{

    int Year = ViewBag.Year;
    int Month = ViewBag.Month;

    DateTime dt = new DateTime(Year, Month, 1);
    DateTime next_dt = ((System.DateTime)dt).AddMonths(1);
    DateTime prev_dt = ((System.DateTime)dt).AddMonths(-1);

}
@functions{

    public IHtmlContent href(int Year, int Month)
    {
        string url = ViewBag.Url.Replace("$y", Year.ToString());
        url = url.Replace("$m", Month.ToString());
        return Html.Raw(url);
    }
}
<a class="btn btn-outline-secondary icon-arrow-left" href="@href(prev_dt.Year,prev_dt.Month)">
</a>
<span class="dropdown" id="year-filter">
    <a class="btn btn-square btn-light active dropdown-toggle" id="dropdownMenuLink" href="#"
       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Year</a>
    <span class="dropdown-menu" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
        @for (int y = @DateTime.Now.Year + 1; y >= Year - 4; y--)
        {
            string active = Year == y ? "bg-light" : "";
            <a class="dropdown-item @active" href="@href(y,Month)">@y</a>
        }
    </span>
</span>
<span class="dropdown" id="month-filter" style="text-transform: capitalize;">
    <a class="btn btn-square btn-light active dropdown-toggle" id="dropdownMenuLink1" href="#"
       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(@Month)</a>
    <span class="dropdown-menu" aria-labelledby="dropdownMenuLink1" x-placement="bottom-start"
          style="position: absolute; will-change: transform; top: 0px; left: 0px;
												transform: translate3d(0px, 35px, 0px);">
        @for (int m = 1; m <= 12; m++)
        {
            string active = Month == m ? "bg-light" : "";
            <a class="dropdown-item @active" href="@href(Year,m)">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(@m)</a>
        }
    </span>
</span>
<a class="btn btn-outline-secondary icon-arrow-right" href="@href(next_dt.Year, next_dt.Month)">
</a>
