﻿@using Perseo.Core
@{
    String Multiple = ViewBag.Multiple == true ? "data-multiple='true'" : "";
    List<Area> Areas = ViewBag.Areas as List<Area>;
    List<int> SelectedAreas = ViewBag.SelectedAreas as List<int>;
}
<select class="d-none" @Multiple id="areas" name="areas">
    @foreach (Area area in Areas)
    {
        <option value="@area.Id"
                selected="@(SelectedAreas.Any(a => a == area.Id) ? true : false)"
                data-parent="@(Areas.Any(c => c.Id == area.ParentId) ? area.ParentId : null)">
            @area.Name
        </option>
    }
</select>
<button class="btn btn-light rounded active" type="button" id="go_button">@SharedLocalizer["Ir"]</button>