﻿<div class="col-2 col-sm-1 d-md-none pl-0">
    <button class="btn d-sm-none m-0 p-0 float-right icon-button-toogle show" type="button" data-toggle="collapse" data-target="#collapse-nav-menu" aria-expanded="false">
        <i class="font-xl icon-arrow-down icon-button-collapsed"></i>
        <i class="font-xl icon-arrow-up icon-button-expanded"></i>
    </button>
</div>