﻿@* STAFFING - SHOW LAYOUT *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Perseo.Web
@using System.Globalization

@model IDictionary<int, StaffingDayViewModel>

@{
    Layout = Context.Request.IsAjax() ? "~/Views/Shared/_AjaxLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";

    int Year = Convert.ToInt32(ViewBag.Year);
    int Month = Convert.ToInt32(ViewBag.Month);
    string SelectedAvailability = ViewBag.SelectedAvailability;
    List<AreaModel> MyOwnedAreas = ViewBag.MyOwnedAreas;
    List<JobModel> MyOwnedJobs = ViewBag.MyOwnedJobs;

    List<int> JobsIdsToShow = ViewBag.JobsIdsToShow as List<int>;
    List<int> AreasIdsToShow = ViewBag.AreasIdsToShow as List<int>;
    string Jobs = JobsIdsToShow != null ? String.Join(";", JobsIdsToShow) : "";

    var Tab = ViewBag.Tab;
    Dictionary<string, string> TabNames = new Dictionary<string, string>{
                                    { "dashboard", SharedLocalizer["Dashboard"] }, { "capacity", SharedLocalizer["Capacidad"] },
                                    { "events", SharedLocalizer["Eventos"] }, { "required", SharedLocalizer["Requerido"] },
                                    { "staffed", SharedLocalizer["Agendado"] }, { "available", SharedLocalizer["Disponible"] }
                                    };
    string TabName = TabNames[Tab];

    var MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Month);
    MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();
    ViewData["Title"] = TabName + " " + @SharedLocalizer["De"].ToString().ToLower() + " " + MonthName + " " + @SharedLocalizer["De"].ToString().ToLower() + " " + Year.ToString();
    ViewData["SubTitle"] = "";
}
@section Styles { @RenderSection("Styles", false) }


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-sm-4 mb-xl-3">
                    @* Title *@
                    <div class="col-10 col-sm-11 col-xl-4">
                        <h3 id="header-title" class="card-title mb-0">@ViewData["Title"]</h3>
                        <hr align="left" class="title text-left">
                    </div>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* Navigation *@
                    <div class="col-12 col-xl-8 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            @* Availability*@
                            <span class="btn-group mb-3 mb-sm-0">
                                <select name="availability_selector" id="availability_selector" class="d-none" data-multiple="true">
                                    <option value="full" selected="@(SelectedAvailability.Contains("full") ? true : false)">
                                        @SharedLocalizer["Sin ajuste"]
                                    </option>
                                    <option value="shared" selected="@(SelectedAvailability.Contains("shared") ? true : false)">
                                        @SharedLocalizer["Compartida"]
                                    </option>
                                </select>
                            </span>
                            @* Job Navigator*@
                            <span class="btn-group mb-3 mb-sm-0">
                                <vc:area-job-filter owned-areas=@MyOwnedAreas selected-areas-ids=@AreasIdsToShow owned-jobs=@MyOwnedJobs selected-jobs-ids=@JobsIdsToShow multiple=true></vc:area-job-filter>
                            </span>
                            @* Go Filter Button *@
                            <span class="btn-group mr-3 mb-3 mb-sm-0">
                                <vc:go-filter-button base-url=@null></vc:go-filter-button>
                            </span>
                            @* Year Navigator *@
                            <span class="btn-group mb-3 mb-sm-0">
                                <vc:year-month-filter year=@Year month=@Month url="/staffing/@Tab/$y/$m/@Jobs"></vc:year-month-filter>
                            </span>
                            @* Forecast *@
                            <span class="btn-group ml-3 mb-3 mb-sm-0">
                                <a class="btn btn-primary text-white" id="forecast" asp-controller="forecast" asp-action="list">
                                    <i class="fa fa-plus-circle"></i><spann class="d-xl-down-none">&nbsp; @SharedLocalizer["Previsión"]</spann>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                @* TABS *@
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="tab-dashboard" asp-controller="staffing" asp-action="dashboard" asp-route-year="@Year" asp-route-month="@Month" asp-route-selectedjobs="@Jobs" asp-route-availability="@SelectedAvailability">
                                    <i class="icon-chart"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Dashboard"]</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-capacity" asp-controller="staffing" asp-action="capacity" asp-route-year="@Year" asp-route-month="@Month" asp-route-selectedjobs="@Jobs" asp-route-availability="@SelectedAvailability">
                                    <i class="icon-target"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Capacidad"]</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-events" asp-controller="staffing" asp-action="events" asp-route-year="@Year" asp-route-month="@Month" asp-route-selectedjobs="@Jobs" asp-route-availability="@SelectedAvailability">
                                    <i class="icon-call-in"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Eventos"]</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-required" asp-controller="staffing" asp-action="required" asp-route-year="@Year" asp-route-month="@Month" asp-route-selectedjobs="@Jobs" asp-route-availability="@SelectedAvailability">
                                    <i class="icon-people"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Requerido"]</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-staffed" asp-controller="staffing" asp-action="staffed" asp-route-year="@Year" asp-route-month="@Month" asp-route-selectedjobs="@Jobs" asp-route-availability="@SelectedAvailability">
                                    <i class="icon-calendar"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Agendado"]</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-available" asp-controller="staffing" asp-action="available" asp-route-year="@Year" asp-route-month="@Month" asp-route-selectedjobs="@Jobs" asp-route-availability="@SelectedAvailability">
                                    <i class="icon-user-following"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Efectivo"]</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
    <script>
            $(document).ready(function () {
                breadcrumb({ name: '@SharedLocalizer["Planificación"]', url: 'staffing' }, { name: "@TabName" });

                $('#nav-tab a[id="tab-@Tab"]').tab('show');

                $('#availability_selector').treeselect({
                    buttontext: "@SharedLocalizer["Disponibilidad"]",
                    div: '<div id="availability-filter" class="dropdown bts_dropdown float-right mr-3"></div>',
                    ul: '<ul class="dropdown-menu" title="@SharedLocalizer["Sin ajuste"]: @SharedLocalizer["No se aplica el ajuste de indisponibilidad predefinido (50%)"].\n@SharedLocalizer["Compartida"]: SharedLocalizer[La disponibilidad es compartida por todo el equipo, independientemente de las tareas]."></ul>'
                });
            });
    </script>
}