﻿@* STAFFING - DASHBOARD *@

@using Perseo.Web.HighCharts
@inject IHighCharts HighCharts

@{
    Layout = "_ShowLayout.cshtml";

    ColumnsAndLineChart chart_bars_one = HighCharts.ColumnsAndLineChart("bars-one");
    chart_bars_one.AddLabels(ViewBag.ColumnLine1.Labels);
    chart_bars_one.AddColumnData(ViewBag.ColumnLine1.Series[0].Name, ViewBag.ColumnLine1.Series[0].Data, Constants.color_1);
    chart_bars_one.AddLineData(ViewBag.ColumnLine1.Series[1].Name, ViewBag.ColumnLine1.Series[1].Data, Constants.color_light_blue);

    ColumnsAndLineChart chart_bars_two = HighCharts.ColumnsAndLineChart("bars-two");
    chart_bars_two.AddLabels(ViewBag.ColumnLine2.Labels);
    chart_bars_two.AddColumnData(ViewBag.ColumnLine2.Series[0].Name, ViewBag.ColumnLine2.Series[0].Data, Constants.color_light_blue);
    chart_bars_two.AddLineData(ViewBag.ColumnLine2.Series[1].Name, ViewBag.ColumnLine2.Series[1].Data, Constants.color_1);

    ColumnsChart chart_bars_three = HighCharts.ColumnsChart("bars-three");
    foreach (var serie in ViewBag.ColumnLine3.ComplexSeries) { chart_bars_three.AddComplexData(serie.Name, serie.Data); }
    chart_bars_three.Series.First().Color = Constants.color_4;
    foreach (var drilldown in ViewBag.ColumnLine3.DrillDowns) { chart_bars_three.AddDrilldown(drilldown.Name, drilldown.Data, "Disponibilidad"); }
    if (chart_bars_three.Series.SelectMany(s => s.Data.Select(d => d.Y)).Min() < 0) { chart_bars_three.YAxis.First().PlotLines.Add(new PlotLine() { Value = 0, Color = Constants.color_6 }); }
    if (chart_bars_three.Series.Count > 4) { chart_bars_three.Legend.Enabled = false; }
    chart_bars_three.PlotOptions.Series.Stacking = true;

    GaugeChart chart_gauge_one = HighCharts.GaugeChart("gauge-one");
    chart_gauge_one.AddData(ViewBag.Gauge1.Serie.Name, ViewBag.Gauge1.Serie.Data);

    GaugeChart chart_gauge_two = HighCharts.GaugeChart("gauge-two");
    chart_gauge_two.AddData(ViewBag.Gauge2.Serie.Name, ViewBag.Gauge2.Serie.Data);

    GaugeChart chart_gauge_three = HighCharts.GaugeChart("gauge-three");
    chart_gauge_three.AddData(ViewBag.Gauge3.Serie.Name, ViewBag.Gauge3.Serie.Data);

    GaugeChart chart_gauge_four = HighCharts.GaugeChart("gauge-four");
    chart_gauge_four.AddData(ViewBag.Gauge4.Serie.Name, ViewBag.Gauge4.Serie.Data);

    int value1 = (int)Math.Round(ViewBag.Gauge1.Serie.Data[0]); int absol1 = Math.Abs(value1);
    int value2 = (int)Math.Round(ViewBag.Gauge2.Serie.Data[0]); int absol2 = Math.Abs(value2);
    int value3 = (int)Math.Round(ViewBag.MaxOverstaffing); int absol3 = Math.Abs(value3);
    int value4 = (int)Math.Round(ViewBag.MinUndertaffing); int absol4 = Math.Abs(value4);
    int value5 = (int)Math.Round(ViewBag.Gauge3.Serie.Data[0]); int absol5 = Math.Abs(value5);
    int value6 = (int)Math.Round(ViewBag.Gauge4.Serie.Data[0]); int absol6 = Math.Abs(value6);
}

@* CONTENT *@
<div class="tab-content">
    <div class="tab-pane fade active show" id="tab-main-pane">
        <div class="row">
            <div class="col-sm-6 col-md-2">
                <div class="card">
                    <div class="card-body pt-2">
                        <div class="text-value" style="color: @Constants.color_light_blue">@value1<small> %</small></div>
                        <small class="text-muted text-uppercase font-weight-bold">CAPACIDAD HOY</small>
                        <div class="progress progress-xs mt-3">
                            <div class="progress-bar bg-color-2" role="progressbar" style="width: @absol1%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="card">
                    <div class="card-body pt-2">
                        <div class="text-value" style="color:  @Constants.color_1">@value2<small> %</small></div>
                        <small class="text-muted text-uppercase font-weight-bold">DISPONIBILIDAD HOY</small>
                        <div class="progress progress-xs mt-3">
                            <div class="progress-bar bg-color-1" role="progressbar" style="width: @absol2%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="card">
                    <div class="card-body pt-2">
                        <div class="text-value" style="color:  @Constants.color_3">@value3<small> %</small></div>
                        <small class="text-muted text-uppercase font-weight-bold">MAX OVERSTAFFING</small>
                        <div class="progress progress-xs mt-3">
                            <div class="progress-bar bg-color-3" role="progressbar" style="width: @absol3%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="card">
                    <div class="card-body pt-2">
                        <div class="text-value" style="color:  @Constants.color_4">@value4<small> %</small></div>
                        <small class="text-muted text-uppercase font-weight-bold">MIN UNDERSTAFFING</small>
                        <div class="progress progress-xs mt-3">
                            <div class="progress-bar bg-color-4" role="progressbar" style="width: @absol4%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="card">
                    <div class="card-body pt-2">
                        <div class="text-value" style="color:  @Constants.color_5">@value5<small> %</small></div>
                        <small class="text-muted text-uppercase font-weight-bold">CAPACIDAD MES</small>
                        <div class="progress progress-xs mt-3">
                            <div class="progress-bar bg-color-5" role="progressbar" style="width: @absol5%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="card">
                    <div class="card-body pt-2">
                        <div class="text-value" style="color:  @Constants.color_6">@value6<small> %</small></div>
                        <small class="text-muted text-uppercase font-weight-bold">DISPONIBILIDAD MES</small>
                        <div class="progress progress-xs mt-3">
                            <div class="progress-bar bg-color-6" role="progressbar" style="width: @absol6%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row h-auto">
            <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body  pr-2 pl-2 pb-0">
                        <div class="mb-0" style="text-align: center;"><h5>@ViewBag.Gauge1.Name</h5> </div>
                        @chart_gauge_one.Render()
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body pr-2 pl-2 pb-0">
                        <div class="mb-0" style="text-align: center;"><h5>@ViewBag.Gauge2.Name</h5> </div>
                        @chart_gauge_two.Render()
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-lg-12 col-md-12 col-sm-12 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body pb-0 pl-2 pr-3 pb-0">
                        <div class="mb-3 text-center"><h5>@ViewBag.ColumnLine1.Name</h5> </div>
                        @chart_bars_one.Render()
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-auto">
            <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body  pr-2 pl-2 pb-0">
                        <div class="mb-0" style="text-align: center;"><h5>@ViewBag.Gauge3.Name</h5> </div>
                        @chart_gauge_three.Render()
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body pr-2 pl-2 pb-0">
                        <div class="mb-0" style="text-align: center;"><h5>@ViewBag.Gauge4.Name</h5> </div>
                        @chart_gauge_four.Render()
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-lg-12 col-md-12 col-sm-12 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body pb-0 pl-2 pr-3 pb-0">
                        <div class="mb-3 text-center"><h5>@ViewBag.ColumnLine2.Name</h5> </div>
                        @chart_bars_two.Render()
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-xl-12 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body pb-0 pl-2 pr-3 pb-0">
                        <div class="mb-3 text-center"><h5>@ViewBag.ColumnLine3.Name</h5> </div>
                        @chart_bars_three.Render()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @HighCharts.RenderScript()
}
