﻿@* STAFFING - DASHBOARD - NO DATA *@

@{
    Layout = "_ShowLayout.cshtml";
}

@* CONTENT *@
<div class="tab-content">
    <div class="tab-pane fade active show" id="tab-main-pane">
        <div class="font-xl pt-3 pb-4 text-center">@SharedLocalizer["No se han encontrado datos para el período indicado"].</div>
    </div>
</div>