﻿@* STAFFING - MULTIPLE SHOW*@

@{
    Layout = "_ShowLayout.cshtml";

    int Year = Convert.ToInt32(ViewBag.Year);
    int Month = Convert.ToInt32(ViewBag.Month);
    List<String> TimeSlots = ViewBag.TimeSlots as List<String>;
    Dictionary<int, List<double>> result = ViewBag.Result as Dictionary<int, List<double>>;
}

@section Styles{
    <style>
        .cal * {
            font-size: 11px;
        }
    </style>
}

@* CONTENT *@
<div class="tab-content">
    <div class="tab-pane fade active show" id="tab-main-pane">
        <vc:month-grid year=@Year month=@Month rows=@result header=@TimeSlots editable=false></vc:month-grid>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#staffing-table').dt({
                searching: false,
                paging: false,
                ordering: false,
                lengthChange: false,
                info: false
            });

            $('#list-table').attr('style', 'border-collapse: collapse !important');
        });
    </script>
}