﻿@using Microsoft.AspNetCore.Mvc.Razor
@{
    var _Controller = ViewBag._Controller;
    var _Action = ViewBag._Action;
    _Action = _Action == "index" ? "" : _Action + "/";
}
<script>
    $(document).ready(function () {
        $('#areas').treeselect({
            buttontext: '<span class="d-xxl-down-none">@SharedLocalizer["Seleccionar"] </span> @SharedLocalizer["Área"]',
            div: '<div id="area-navigator" class="dropdown bts_dropdown float-right mr-3"></div>',
        });
        $('#jobs').treeselect({
            buttontext: '<span class="d-xxl-down-none">@SharedLocalizer["Seleccionar"] </span> @SharedLocalizer["Tarea"]',
            div: '<div id="job-navigator" class="dropdown bts_dropdown float-right mr-3"></div>',
        });
        $('#job-navigator').find("input[type='checkbox']").not(":checked").each(function () {
            $(this).parent().parent().hide();
        });
        $('#area-navigator').find("input[type='checkbox']").change(function () {
            $('#area-navigator').find("input[type='checkbox']").each(function () {
                var area_id = $(this).val();
                if ($(this).is(':checked')) {
                    $('#job-navigator').find("[data-area='" + area_id + "']").prop('checked', true).parent().parent().show();
                } else {
                    $('#job-navigator').find("[data-area='" + area_id + "']").prop('checked', false).parent().parent().hide();
                }
            });
        });
        $('#go_button').click(function () {
            var arr = $.map($('#job-navigator').find("input[type='checkbox']:checked"), function (e, i) {
                return +e.value;
            });
            var year = $('#year-navigator').length ? "@DateTime.Now.Year/" : "";
            var month = $('#month-navigator').length ? "@DateTime.Now.Month/" : "";
            var url = "/@_Controller/@_Action" + year + month + arr.join(';');
            $.ajaxGet(url);
        });
    });
</script>