﻿@* NONCONFORMITYCARD - ASSIGN JOB (MODAL) *@

@using Perseo.Web.Models

@model IEnumerable<NonConformityCardAssignJobModel>

<form id="assign" data-async method="post" role="form" class="form-horizontal">
    <div class="modal-header b-b-0 pb-0">
        <h4 class="modal-title">@SharedLocalizer["Asignación de tarea"]</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <div id="assign-list-table-container" class="dt-hidden-container">
            <table id="assign-list-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>@SharedLocalizer["Nombre tarea"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.JobId">
                            <td>@item.JobDescription</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#assign-list-table').dt();
            $('#assign-list-table tbody tr').click(function (e) { 
                console.log($(e.target).closest("tr").data("id"));
                var id = $(e.target).closest("tr").data("id");
                var description = $(e.target).text();
                $("#job-description").removeAttr('readonly').val(description).attr('readonly', true);
                $("#job-id").removeAttr('readonly').val(id).attr('readonly', true);
                $('[id^=global-modal]').modal('hide');
            });
        });
    </script>
}



