﻿@* NonConformityCard - EDIT *@

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Enviroment

@using Perseo.Core
@model NonConformityCardViewModel

@{
    ViewData["Title"] = "Fichas de no Conformidad";

    var HumanErrorSubtypeSelectedType = Html.GetEnumSelectList(typeof(HumanErrorSubtype));
    var IncidentTypologySelectedType = Html.GetEnumSelectList(typeof(IncidentTypology));
    var MinuteCostSelectedType = Html.GetEnumSelectList(typeof(MinuteCost));
    var StateSelectedType = Html.GetEnumSelectList(typeof(RequestState));
}

@section Scripts{
    <script>
        $(document).ready(function () {

            breadcrumb({ name: '@SharedLocalizer["Fichas de No Conformidad"]', url: 'nonconformitycard' });
           
            $("#edit-form").submit(function (e) {
                e.preventDefault();
                $.ajaxPost($(this).attr('action'), $(this).serialize(), function (response) {
                    $.ajaxGet('/nonconformitycard/show/@Model.Id');
                    toastr.success('@SharedLocalizer["La petición se ha procesado con éxito"]');
                });
            });
        });
    </script>
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit" autocomplete="off" id="edit-form">
                    @* HEADER *@
                    <div class="row mb-3 mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title="@ViewData["Title"]" subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* NAVIGATION *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="List" class="btn btn-secondary history-back">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                <span class="btn-group mb-3 mb-sm-0">
                                    <button class="btn btn-primary" type="submit" asp-action="Edit">
                                        <i class="fa fa-save"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Guardar"]</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    @* Tabs *@
                    <div class="row">
                        <div class="col">
                            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" data-target="#NonConformityCard" href="#" id="Card-tab">
                                        <i class="icon-briefcase"></i>&nbsp; @SharedLocalizer["Ficha"]
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" data-target="#NonConformityCardSign" href="#" id="Sign-tab">
                                        <i class="icon-pencil"></i>&nbsp; @SharedLocalizer["Firmas"]
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div id="Card" class="tab-pane fade show active">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="row justify-content-start">
                                                <label asp-for="Id" class="col-5 col-form-label"></label>
                                                <input asp-for="Id" class="col-7 form-control-plaintext justify-content-start" readonly="readonly" enabled />
                                                <label asp-for="StartDate" class="col-5 col-form-label"></label>
                                                <input asp-for="StartDate" class="col-4 form-control" enabled />
                                                <label asp-for="External" class="col-5 col-form-label"></label>
                                                <div class="col-7">
                                                    <input asp-for="External" class="form-check-input ml-0 mt-2" enabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="row justify-content-start">
                                                <label asp-for="State" class="col-5 col-form-label"></label>
                                                <div class="col-7 input-group">
                                                    <select asp-for="State" asp-items="StateSelectedType" class="form-control" id="type">
                                                        <option value=""></option>
                                                    </select>
                                                    <span asp-validation-for="State" class="text-danger"></span>
                                                </div>

                                                <label asp-for="EndDate" class="col-5 col-form-label"></label>
                                                <input asp-for="EndDate" class="col-4 form-control" enabled />
                                                <label asp-for="ExternalStaff" class="col-5 col-form-label"></label>
                                                <input asp-for="ExternalStaff" class="col-7 form-control" enabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12">
                                            <div class="row">
                                                <label asp-for="OriginUserName" class="col-2 col-form-label"></label>
                                                <div class="col-xl-9 input-group">
                                                    <input type="hidden" id="target-user-id" asp-for="OriginUserId" />
                                                    <input id="target-user-name" asp-for="OriginUserName" class="form-control bg-white" readonly="readonly" />

                                                </div>
                                             </div>
                                            <div class="row">
                                                <label asp-for="TargetUserName" class="col-2 col-form-label"></label>
                                                <div class="col-xl-9 input-group">
                                                    <input type="hidden" id="target-user-id" asp-for="TargetUserId" />
                                                    <input id="target-user-name" asp-for="TargetUserName" class="form-control bg-white" readonly="readonly" />
                                                    <span class="input-group-append">
                                                        <button class="btn btn-light" type="button" data-remote="/NonConformityCard/AssignTargetUser/@Model.Id" data-target="#global-modal-lg" data-toggle="modal">...</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label asp-for="JobDescription" class="col-2 col-form-label"></label>
                                                <div class="col-xl-9 input-group">
                                                    <input type ="hidden" id="job-id" asp-for="JobId" />
                                                    <input id="job-description" asp-for="JobDescription" class="form-control bg-white" readonly="readonly" />
                                                    <span class="input-group-append">
                                                        <button class="btn btn-light" type="button" data-remote="/NonConformityCard/AssignJob/@Model.Id" data-target="#global-modal-lg" data-toggle="modal">...</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label asp-for="Description" class="col-2 col-form-label"></label>
                                                <textarea asp-for="Description" class="col-10 form-control" autocomplete="nope" rows="3" enabled></textarea>
                                            </div>
                                            <div class="row">
                                                <label asp-for="Cause" class="col-2 col-form-label"></label>
                                                <textarea asp-for="Cause" class="col-10 form-control" autocomplete="nope" rows="3" enabled></textarea>
                                            </div>
                                            <div class="row">
                                                <label asp-for="ImmediateAction" class="col-2 col-form-label"></label>
                                                <textarea asp-for="ImmediateAction" class="col-10 form-control" autocomplete="nope" rows="2" enabled></textarea>
                                            </div>
                                            <div class="row">
                                                <label asp-for="DefinitiveAction" class="col-2 col-form-label"></label>
                                                <textarea asp-for="DefinitiveAction" class="col-10 form-control" autocomplete="nope" rows="3" enabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="row justify-content-start">
                                                <label asp-for="QuantityIncidences" class="col-5 col-form-label"></label>
                                                <input asp-for="QuantityIncidences" class="col-7 form-control justify-content-start" enabled />
                                                <label asp-for="IncidentTypology" class="col-5 col-form-label"></label>
                                                <div class="col-7 input-group">
                                                    <select asp-for="IncidentTypology" asp-items="IncidentTypologySelectedType" class="form-control" id="type">
                                                        <option value=""></option>
                                                    </select>
                                                    <span asp-validation-for="IncidentTypology" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="row justify-content-start">
                                                <label asp-for="MinuteCost" class="col-5 col-form-label"></label>
                                                <div class="col-7 input-group">
                                                    <select asp-for="MinuteCost" asp-items="MinuteCostSelectedType" class="form-control" id="type">
                                                        <option value=""></option>
                                                    </select>
                                                    <span asp-validation-for="MinuteCost" class="text-danger"></span>
                                                </div>
                                                <label asp-for="HumanErrorSubtype" class="col-5 col-form-label"></label>
                                                <div class="col-7 input-group">
                                                    <select asp-for="HumanErrorSubtype" asp-items="HumanErrorSubtypeSelectedType" class="form-control" id="type">
                                                        <option value=""></option>
                                                    </select>
                                                    <span asp-validation-for="HumanErrorSubtype" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12">
                                            <div class="row">
                                                <label asp-for="MonitoringEfficiency" class="col-2 col-form-label"></label>
                                                <textarea asp-for="MonitoringEfficiency" class="col-10 form-control" autocomplete="nope" rows="3" enabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Sign" class="tab-pane">
                                        <br />
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
