﻿@* NonConformityCard - LIST *@

@model ListNonConformityCardViewModel

@{
    Layout = "/Views/Quality/_QualityLayout.cshtml";

    ViewData["Title"] = SharedLocalizer["Fichas de No Conformidad"];

    var DtOptions = ViewBag.ServerSidePagination ? Html.Raw(@"serverSide : true, ajax: '/quality/nonconformitycard/listdata/', deferLoading : " + ViewBag.RowCount) : Html.Raw("");
}

@section Navigation {
    <span class="btn-group mb-3 mb-sm-0">
        <button class="btn btn-primary" type="button" data-remote="/nonconformitycard/add" data-target="#global-modal" data-toggle="modal">
            <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Nuevo"]
        </button>
    </span>
}

<div id="nonconformitycard-list-table-container" class="dt-hidden-container">
    <table id="nonconformitycard-list-table" data-row-link="/quality/nonconformitycard/show/" class="table table-hover table-sm table-striped dt-responsive dt-export nowrap select-multi">
        <thead>
            <tr>
                <th>@SharedLocalizer["Descripción"]</th>
                <th>@SharedLocalizer["Ficha"]</th>
                <th>@SharedLocalizer["Fecha Alta"]</th>
                <th>@SharedLocalizer["Estado"]</th>
                <th class="actions">
                    @SharedLocalizer["Acciones"]
                    <div class="d-none">
                        <a id="show" asp-action="Show" class="btn btn-sm btn-ghost-primary">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a id="edit" asp-action="Edit" class="btn btn-sm btn-ghost-success">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a id="delete" asp-action="Delete" class="btn btn-sm btn-ghost-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
            <tr data-id="@item.Id">
                <td>@item.Description</td>
                <td>@item.Id</td>
                <td>@item.StartDate</td>
                <td>@item.State.GetDisplayName()</td>
                <td></td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Fichas de No Conformidad"]', url: 'nonconformitycard' });
            $('#nonconformitycard-list-table').dt({ @DtOptions});
        });
    </script>
}
