﻿@* NonConformityCard - SHOW *@

@model NonConformityCardViewModel

@{
    ViewData["Title"] = SharedLocalizer["Fichas de No Conformidad"];
}

@section Scripts{
    <script>
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Fichas de No Conformidad"]', url: "nonconformitycard" });
        });
    </script>
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form>
                    @* HEADER *@
                    <div class="row mb-3 mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title="@ViewData["Title"]"  subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* NAVIGATION *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                @* Back *@
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="list" class="btn btn-secondary ">
                                        <i class="fa fa-arrow-left" data-remote="/NonConformityCard/list"></i>&nbsp; @SharedLocalizer["Volver"]
                                    </a>
                                </span>
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <button class="btn btn-warning" type="button" data-remote="/NonConformityArea/add/@Model.Id" data-target="#global-modal" data-toggle="modal">
                                        <i class="fa fa-plus-circle"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Nueva"]</span>
                                    </button>
                                </span>
                                @* Edit *@
                                <span class="btn-group mb-3 mb-sm-0">
                                    <a id="back" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>&nbsp; @SharedLocalizer["Editar"]
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    @* Tabs *@
                    <div class="row">
                        <div class="col">
                            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" data-target="#NonConformityCard" href="#" id="Card-tab">
                                        <i class="icon-briefcase"></i>&nbsp; @SharedLocalizer["Ficha"]
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" data-target="#NonConformityCardSign" href="#" id="Sign-tab">
                                        <i class="icon-pencil"></i>&nbsp; @SharedLocalizer["Firmas"]
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="Card" class="tab-pane fade show active">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="row justify-content-start">
                                                <label asp-for="Id" class="col-5 col-form-label"></label>
                                                <input asp-for="Id" class="col-7 form-control-plaintext justify-content-start" disabled />
                                                <label asp-for="StartDate" class="col-5 col-form-label"></label>
                                                <input asp-for="StartDate" class="col-7 form-control-plaintext" disabled />
                                                <label asp-for="External" class="col-5 col-form-label"></label>
                                                <div class="col-7">
                                                    <input asp-for="External" class="form-check-input ml-0 mt-2" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="row justify-content-start">

                                                <label asp-for="State" class="col-5 col-form-label"></label>
                                                <input name="State" class="col-7 form-control-plaintext" value="@Model.State.GetDisplayName()" disabled />
                                                <label asp-for="EndDate" class="col-5 col-form-label"></label>
                                                <input asp-for="EndDate" type="@(Model.EndDate == null ? "text" : "date")" class="col-7 form-control-plaintext" disabled />
                                                <label asp-for="ExternalStaff" class="col-5 col-form-label"></label>
                                                <input asp-for="ExternalStaff" class="col-7 form-control-plaintext" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12">
                                            <div class="row">
                                                <label asp-for="OriginUserName" class="col-2 col-form-label"></label>
                                                <input asp-for="OriginUserName" class="col-10 form-control-plaintext" disabled>
                                            </div>
                                            <div class="row">
                                                <label asp-for="TargetUserName" class="col-2 col-form-label"></label>
                                                <input asp-for="TargetUserName" class="col-10 form-control-plaintext" disabled>
                                            </div>
                                            <div class="row">
                                                <label asp-for="JobDescription" class="col-2 col-form-label"></label>
                                                <input asp-for="JobDescription" class="col-10 form-control-plaintext" disabled>
                                            </div>
                                            <div class="row">
                                                <label asp-for="Description" class="col-2 col-form-label"></label>
                                                <textarea asp-for="Description" class="col-10 form-control-plaintext" autocomplete="nope" rows="3" disabled></textarea>
                                            </div>
                                            <div class="row">
                                                <label asp-for="Cause" class="col-2 col-form-label"></label>
                                                <textarea asp-for="Cause" class="col-10 form-control-plaintext" autocomplete="nope" rows="3" disabled></textarea>
                                            </div>
                                            <div class="row">
                                                <label asp-for="ImmediateAction" class="col-2 col-form-label"></label>
                                                <textarea asp-for="ImmediateAction" class="col-10 form-control-plaintext" autocomplete="nope" rows="2" disabled></textarea>
                                            </div>
                                            <div class="row">
                                                <label asp-for="DefinitiveAction" class="col-2 col-form-label"></label>
                                                <textarea asp-for="DefinitiveAction" class="col-10 form-control-plaintext" autocomplete="nope" rows="3" disabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="row justify-content-start">
                                                <label asp-for="QuantityIncidences" class="col-5 col-form-label"></label>
                                                <input asp-for="QuantityIncidences" class="col-7 form-control-plaintext justify-content-start" disabled />
                                                <label asp-for="IncidentTypology" class="col-5 col-form-label"></label>
                                                <input name="IncidentTypology" class="col-7 form-control-plaintext" value="@Model.IncidentTypology.GetDisplayName()" disabled />
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="row justify-content-start">
                                                <label asp-for="MinuteCost" class="col-5 col-form-label"></label>
                                                <input name="MinuteCost" class="col-7 form-control-plaintext" value="@Model.MinuteCost.GetDisplayName()" disabled />
                                                <label asp-for="HumanErrorSubtype" class="col-5 col-form-label"></label>
                                                <input name="HumanErrorSubtype" class="col-7 form-control-plaintext" value="@Model.HumanErrorSubtype.GetDisplayName()" disabled />
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12">
                                            <div class="row">
                                                <label asp-for="MonitoringEfficiency" class="col-2 col-form-label"></label>
                                                <textarea asp-for="MonitoringEfficiency" class="col-10 form-control-plaintext" autocomplete="nope" rows="3" disabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Sign" class="tab-pane">
                                        <br />
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
