﻿@* NOTIFICATION - LIST (MODAL) *@

@using Perseo.Web.Models
@using Perseo.Core
@model IEnumerable<NotificationViewModel>
@{
    string notiType = "";
    switch (ViewBag.Type)
    {
        case NotificationType.alert: ViewData["Title"] = SharedLocalizer["Alertas"]; notiType = "alert"; break;
        case NotificationType.task: ViewData["Title"] = SharedLocalizer["Tareas pendientes"]; notiType = "task"; break;
        case NotificationType.message: ViewData["Title"] = SharedLocalizer["Mensajes sin leer"]; notiType = "message"; break;
    }
}
<div class="modal-body">
    <div class="row">
        @* Title *@
        <div class="col-10 col-xl-11">
            <h3 class="card-title mb-0">@ViewData["Title"]</h3>
            <hr align="left" class="title" />
        </div>
        <div class="col-2 col-xl-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <br />
    <div class="list-group">
        @{
            @foreach (var item in Model)
            {
                if (item.Url.Length > 3)
                {
                    <div data-id="@Html.DisplayFor(modelItem => item.Id)" class="list-group-item list-group-item-action flex-column align-items-start notif" style="cursor: pointer">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2">@Html.DisplayFor(modelItem => item.Summary)</h5>
                            <small class="notification-link" data-url="@Html.DisplayFor(modelItem => item.Url)"><i class="icon-action-redo font-xl"></i></small>
                        </div>
                        <p class="mb-2">@Html.DisplayFor(modelItem => item.Description)</p>
                        <small style="font-weight: bold;">@Html.DisplayFor(modelItem => item.StartDate)</small>
                    </div>
                }
                else
                {
                    <div data-id="@Html.DisplayFor(modelItem => item.Id)" class="list-group-item list-group-item-action flex-column align-items-start notif" style="cursor: pointer">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2">@Html.DisplayFor(modelItem => item.Summary)</h5>
                            <small><i class="icon-check font-xl"></i></small>
                        </div>
                        <p class="mb-2">@Html.DisplayFor(modelItem => item.Description)</p>
                        <small style="font-weight: bold;">@Html.DisplayFor(modelItem => item.StartDate)</small>
                    </div>

                }
            }
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".notification-link").click(function (e) {
            var target = $(this).parent().parent();
            $.ajaxGet(target.data("url"));
        });
        $("div.list-group-item").click(function (e) {
            var target = $(this);
            $.ajax({
                type: "GET",
                url: "/notification/dismiss/" + target.data("id"),
                success: function (response) {
                    target.hide(function () {
                        target.remove();
                        if ($("div.notif").length < 1) $('#notification-modal').modal('hide');
                    });
                    var count = parseInt($("#authuser-@notiType").html(), 10) - 1;
                    count = count === 0 ? "" : count;
                    $("#authuser-@notiType").html(count);
                    $("#authuser-@notiType-alt").html(count);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.error('@SharedLocalizer["Se ha producido un error"]', 'ERROR ' + xhr.status);
                }
            });
        });
    });
</script>