﻿@* NOTIFICATION - ADD *@

@using Perseo.Web.Models
@model RequestListViewModel
@{
    ViewData["Title"] = SharedLocalizer["Gestión de Peticiones"];
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title="@ViewData["Title"]" subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* Navigation *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                        </div>
                    </div>
                </div>
                <table id="list-table" class="table table-hover table-sm table-responsive-sm table-striped">
                    <thead>
                        <tr>
                            <th>@SharedLocalizer["Fecha"]</th>
                            <th>@SharedLocalizer["Usuario"]</th>
                            <th>@SharedLocalizer["Tipo"]</th>
                            <th>@SharedLocalizer["Prioridad"]</th>
                            <th>@SharedLocalizer["Estado"]</th>
                            <th>@SharedLocalizer["Acciones"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Requests)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.User)</td>
                                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                                <td>@Html.DisplayFor(modelItem => item.State)</td>
                                <td class="text-right">
                                    <a id="show" asp-action="Show" asp-route-id="@item.Id" class="btn btn-sm btn-ghost-primary">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a id="edit" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-ghost-success">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a id="delete" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-ghost-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="myModalContent">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('body').on('click', '[data-toggle="modal"]', function () {
            $($(this).data("target") + ' #myModalContent').load($(this).data("remote"));
        });
        $(document).ready(function () {
            table = $('#list-table').DataTable();
            $('#list-table').attr('style', 'border-collapse: collapse !important');
        });
    </script>
}