﻿@{
    List<OfficeModel> selectedOffices = ViewBag.SelectedOffices;
    List<OfficeModel> areasOffices = ViewBag.AreasOffices;
}

@if (areasOffices.Count() > 1)
{
    <select name="office" id="office" class="d-none" data-multiple='true'>
        @foreach (OfficeModel office in areasOffices)
        {
            <option value="@office.Id" selected="@(selectedOffices.Any(o => o.Id == office.Id) || selectedOffices.Count() == 0 ? true : false)">@office.Name</option>
        }
    </select>
}

<script>
    (function () {

        function office_filter_script() {
            $('#office').treeselect({
                buttontext: '@SharedLocalizer["Sede"]',
                div: '<div id="office-filter" class="dropdown bts_dropdown float-right mr-3"></div>',
            });
        }

        if (window.jQuery) {
            office_filter_script();
        } else {
            function appendOnLoad() {
                office_filter_script();
                window.removeEventListener("load", appendOnLoad);
            }
            window.addEventListener("load", appendOnLoad);
        }

    })();
</script>