﻿@using Perseo.Core
@{
    ActiveType? State = ViewBag.State;
}
<select name="active" id="active" class="d-none">
    <option selected=@(State == null || State == ActiveType.Active ? true : false) value=@ActiveType.Active>Activos</option>
    <option selected=@(State == ActiveType.Inactive ? true : false) value=@ActiveType.Inactive>Bajas</option>
    <option selected=@(State == ActiveType.All ? true : false) value=@ActiveType.All>Todos</option>
</select>

<script>
    (function () {

        function active_filter_script() {
            $('#active').treeselect({
                buttontext: '@SharedLocalizer["Estado"]',
                div: '<div id="active-filter" class="dropdown bts_dropdown float-right mr-3"></div>',
            });
        }

        if (window.jQuery) {
            active_filter_script();
        } else {
            function appendOnLoad() {
                active_filter_script();
                window.removeEventListener("load", appendOnLoad);
            }
            window.addEventListener("load", appendOnLoad);
        }

    })();
</script>