﻿@* SCHEDULE - EDIT (MODAL) *@

@using Microsoft.AspNetCore.Html
@using Perseo.Core
@using System.Globalization
@model EditScheduleDateViewModel

@functions{
    public string TermArray(List<ScheduleDateTerm> terms)
    {
        string html = "Array(";
        int termCount = terms != null ? terms.Count() : 1;
        for (int i = 4; i >= termCount; i--)
        {
            html += ("'" + i + "', ");
        }
        return html + ");";
    }

    public List<string> Range(List<ScheduleDateTerm> terms)
    {
        List<string> result = new List<string>();
        if (terms != null)
        {
            List<int?> finalPattern = new List<int?>();
            Dictionary<int, string> cssclasses = new Dictionary<int, string>();
            for (int i = 0; i < 48; i++) { finalPattern.Add(null); }
            int t = 0;
            foreach (var term in terms)
            {
                List<Job> jobs = term != null ? term.ScheduleDateTermJob.Select(x => x.Job).ToList() : Enumerable.Empty<Job>().ToList();
                var firstJob = jobs.FirstOrDefault();
                if (jobs.Any())
                {
                    cssclasses[t] = jobs.FirstOrDefault().Type != JobType.Productive ? "cal-day-" + jobs.FirstOrDefault().Acronym.ToUpper() : "cal-day-" + t;
                }
                else
                {
                    cssclasses[t] = "";
                }
                string pattern = term.Pattern;
                for (int i = 0; i < 48; i++)
                {
                    if (pattern[i] == '1') finalPattern[i] = t;
                }
                t++;
            }
            finalPattern = finalPattern.Skip(14).Take(34).ToList().Concat(finalPattern.Skip(0).Take(14).ToList()).ToList();

            for (int i = 0; i < 48; i++)
            {
                if (finalPattern[i] >= 0)
                {
                    int termindex = finalPattern[i].Value;
                    result.Add("<div class='col " + cssclasses[termindex] + "' data-term='" + termindex + "'>&nbsp;</div>");
                }
                else
                {
                    result.Add("<div class='col'>&nbsp;</div>");
                }
            }
            return result;
        }
        else { return Enumerable.Repeat("<div class='col'>&nbsp;</div>", 48).ToList(); }
    }

    public IHtmlContent Term(int? i = null, ScheduleDateTerm term = null)
    {
        string termindex2 = i.HasValue ? i.Value.ToString() : @""" + termindex + """;
        string termindex = i.HasValue ? i.Value.ToString() : @"${termindex}";
        List<Job> jobs = term != null ? term.ScheduleDateTermJob.Select(x => x.Job).ToList() : Enumerable.Empty<Job>().ToList();
        string pattern = term != null ? term.Pattern : "";
        double hours = term != null ? term.Hours : 0;
        var hoursType = term != null ? term.HoursType : null;
        string id = term != null ? term.Id.ToString() : "";
        string cssclass = "";
        string first = term != null && i == 0 ? " checked " : "";
        if (term != null)
        {
            cssclass = jobs.FirstOrDefault().Type != JobType.Productive ? "cal-day-" + jobs.FirstOrDefault().Acronym.ToUpper() : "cal-day-" + i;
        }

        var html = @"<div class='row term' data-term='" + termindex + @"' data-id='" + id + @"'>
        <div class='input-group col-6 col-lg-2 mb-2 mb-lg-0'>
            <div class='input-group-prepend'>
                <div class='input-group-text " + cssclass + @"' data-class='" + cssclass + @"'>
                    <input type='radio' value='radio0' name='term' " + first + @">
                </div>
            </div>
            <input type='text' class='form-control' name='hours' value='" + hours + @"'>
        </div>
        <div class='form-group col-lg-6 pl-lg-0 mb-2 mb-lg-0'>
        <select id='jobs4' class='jobs' multiple>
        <optgroup class='production' label='" + SharedLocalizer["Producción"] + "'>";

        foreach (var item in Model.ProductiveJobs)
        {
            var selected = jobs.Any(x => x.Id == item.Id) ? "selected='selected'" : "";
            html += "<option value='" + item.Id + "' " + selected + " data-class='cal-day-" + termindex + @"'>" + item.Name + "</option>";
        }
        html += @"</optgroup><optgroup class='general' label='" + SharedLocalizer["General"] + "'>";
        foreach (var item in Model.GeneralJobs)
        {
            var selected = jobs.Any(x => x.Id == item.Id) ? "selected='selected'" : "";
            if (item.Type != JobType.General)
            {
                html += "<option value='" + item.Id + "' " + selected + " data-class='cal-day-" + item.Acronym.ToUpper() + "'>" + item.Name + "</option>";
            }
        }

        var show_select = !jobs.Any(x => x.Type == JobType.Productive) ? "style='display:none;'" : "";
        var type_select = "<select class='form-control work-hours-type'" + show_select + ">";
        var types = Enum.GetValues(typeof(WorkHoursType)).Cast<WorkHoursType>();
        foreach (var type in types)
        {
            var selected = hoursType == type ? "selected='selected'" : "";
            type_select += "<option " + selected + " value=" + type + ">" + type.GetDisplayName() + "</option>";
        }
        type_select += "</select>";

        html += @"</optgroup>
            </select>
            </div>
            <div class='col-lg-3 pl-lg-0 mb-2 mb-lg-0 pr-lg-0'>" + type_select + @"</div>
            <div class='col-6 col-lg-1 pl-lg-0 mb-2 mb-lg-0 pl-lg-3'>
            <button class='btn btn-ghost-danger pr-2 pl-2 delete-button'>
            <i class='font-xl  icon-close'></i></button></div></div><hr/>";
        return Html.Raw(html.Replace(System.Environment.NewLine, String.Empty));
    }
}

@{
    var MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.Month);
    MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();

    if (Model.Multiple)
    {
        ViewData["SubTitle"] = SharedLocalizer["Varios días de"] + " " + MonthName;
        ViewData["Title"] = SharedLocalizer["Edición Múltiple"];
    }
    else
    {
        ViewData["SubTitle"] = Model.UserDates.First().Value.First() + " " + SharedLocalizer["De"].ToString().ToLower() + " " + MonthName + " " + SharedLocalizer["De"].ToString().ToLower() + " " + Model.Year;
        ViewData["Title"] = Model.User.FullName;
    }

    string dayPattern = "";
    int defaultJobId = 0;

    if (Model.Multiple == false)
    {
        int dayOfWeek = (int)(new DateTime(Model.Year, Model.Month, Model.UserDates.First().Value.First()).AddDays(-1).DayOfWeek);

        Shift dayShift = Model.User.LastUserShift.Shift.SingleOrDefault(s => s.WeekDay == dayOfWeek);
        dayPattern = dayShift != null ? dayShift.Pattern : dayPattern;

        Job defaultJob = Model.User.LastUserArea.Area.Job.SingleOrDefault(j => j.Default == true);
        defaultJobId = defaultJob != null ? defaultJob.Id : defaultJobId;
    }

    List<string> range = Range(Model.Terms);
}

<link rel="stylesheet" href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
<style>
    .multiselect-container > li > a {
        color: #5c6873;
    }

    .form-group {
        margin-bottom: 0;
    }
</style>

<div class="row">
    <div class="col">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="card-title mb-0">@ViewData["Title"]</h4>
                        <div class="small text-muted">@ViewData["SubTitle"]</div>
                    </div>
                    <div class="col-sm-7">
                        <button id="save" class="btn btn-primary float-right" type="button">@SharedLocalizer["Guardar"]</button>
                        <button id="discard" type="button" class="btn btn-secondary float-right mr-2" data-dismiss="modal">@SharedLocalizer["Descartar"]</button>

                        @if(Model.Multiple == false)
                        {
                            <button class="btn btn-warning float-right mr-2" type="button" data-toggle="dropdown" title="@SharedLocalizer["Asignación rápida"]"><i class="icon-energy"></i></button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px); cursor:pointer;">
                                @if (defaultJobId > 0)
                                {
                                    <span class="dropdown-item"><button class="btn btn-sm cal-day-T" termclass="cal-day-0" value=@defaultJobId style="width:29px;" type="button" title="@SharedLocalizer["Trabajo"]">T</button>&nbsp; @SharedLocalizer["Trabajo"]</span>
                                }
                                <span class="dropdown-item"><button class="btn btn-sm cal-day-V" termclass="cal-day-V" value=17 style="width:29px;" type="button" title="@SharedLocalizer["Vacaciones"]">V</button>&nbsp; @SharedLocalizer["Vacaciones"]</span>
                                <span class="dropdown-item"><button class="btn btn-sm cal-day-Y" termclass="cal-day-Y" value=18 style="width:29px;" type="button" title="@SharedLocalizer["Vacaciones Año Anterior"]">Y</button>&nbsp; @SharedLocalizer["Vacaciones Año Anterior"]</span>
                                <span class="dropdown-item"><button class="btn btn-sm cal-day-L" termclass="cal-day-L" value=20 style="width:29px;" type="button" title="@SharedLocalizer["Lbre Disposición"]">L</button>&nbsp; @SharedLocalizer["Lbre Disposición"]</span>
                                <span class="dropdown-item"><button class="btn btn-sm cal-day-S" termclass="cal-day-S" value=22 style="width:29px;" type="button" title="@SharedLocalizer["Asuntos Sindicales"]">S</button>&nbsp; @SharedLocalizer["Asuntos Sindicales"]</span>
                                <span class="dropdown-item"><button class="btn btn-sm cal-day-B" termclass="cal-day-B" value=24 style="width:29px;" type="button" title="@SharedLocalizer["Baja por Enfermedad"]<">B</button> &nbsp; @SharedLocalizer["Baja por Enfermedad"]</span>
                                <span class="dropdown-item"><button class="btn btn-sm cal-day-M" termclass="cal-day-M" value=25 style="width:29px;" type="button" title="@SharedLocalizer["Visita Médica"]">M</button> &nbsp; @SharedLocalizer["Visita Médica"]</span>
                                <span class="dropdown-item"><button class="btn btn-sm cal-day-P" termclass="cal-day-P" value=26 style="width:29px;" type="button" title="@SharedLocalizer["Permiso Retruibuido"]">P</button>&nbsp; @SharedLocalizer["Permiso Retruibuido"]</span>
                                <span class="dropdown-item"><button class="btn btn-sm cal-day-A" termclass="cal-day-A" value=46 style="width:29px;" type="button" title="@SharedLocalizer["Ausencia Injustificada"]">A</button> &nbsp; @SharedLocalizer["Ausencia Injustificada"]</span>
                            </div>
                        }
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12">
                        <div class="trs">
                            <div class="row no-gutters">
                                <div class="col-lg-12 d-none d-lg-block">
                                    <div class="row no-gutters trs-hours-top">
                                        <div class="col">07:00</div>
                                        <div class="col">&nbsp;</div><div class="col">09:00</div><div class="col">&nbsp;</div>
                                        <div class="col">11:00</div><div class="col">&nbsp;</div><div class="col">13:00</div>
                                        <div class="col">&nbsp;</div><div class="col">15:00</div><div class="col">&nbsp;</div>
                                        <div class="col">17:00</div><div class="col">&nbsp;</div><div class="col">19:00</div>
                                        <div class="col">&nbsp;</div><div class="col">21:00</div><div class="col">&nbsp;</div>
                                        <div class="col">23:00</div><div class="col">&nbsp;</div><div class="col">01:00</div>
                                        <div class="col">&nbsp;</div><div class="col">03:00</div><div class="col">&nbsp;</div>
                                        <div class="col">05:00</div><div class="col">&nbsp;</div><div class="col">07:00</div>
                                    </div>
                                    <div class="row no-gutters trs-hours-mark-top">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 trs-col-one">
                                    <div class="row no-gutters trs-hours-top d-lg-none">
                                        <div class="col">07:00</div>
                                        <div class="col">&nbsp;</div><div class="col">09:00</div><div class="col">&nbsp;</div>
                                        <div class="col">11:00</div><div class="col">&nbsp;</div><div class="col">13:00</div>
                                        <div class="col">&nbsp;</div><div class="col">15:00</div><div class="col">&nbsp;</div>
                                        <div class="col">17:00</div><div class="col">&nbsp;</div><div class="col">19:00</div>
                                    </div>
                                    <div class="row no-gutters trs-hours-mark-top d-lg-none">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <div class="row no-gutters trs-hours">
                                        <div class="col trs-blank">&nbsp;</div>
                                        @for (int i = 0; i < 24; i++) { @Html.Raw(@range[i]); }
                                        <div class="col trs-blank d-lg-none">&nbsp;</div>
                                    </div>
                                    <div class="row  no-gutters trs-hours-mark-bottom d-lg-none">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <div class="row no-gutters trs-hours-bottom d-lg-none">
                                        <div class="col">&nbsp;</div><div class="col">08:00</div>
                                        <div class="col">&nbsp;</div><div class="col">10:00</div><div class="col">&nbsp;</div>
                                        <div class="col">12:00</div><div class="col">&nbsp;</div><div class="col">14:00</div>
                                        <div class="col">&nbsp;</div><div class="col">16:00</div><div class="col">&nbsp;</div>
                                        <div class="col">18:00</div><div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-12 d-lg-none">&nbsp;</div>
                                <div class="col-lg-6 trs-col-two">
                                    <div class="row no-gutters trs-hours-top d-lg-none">
                                        <div class="col">19:00</div>
                                        <div class="col">&nbsp;</div><div class="col">21:00</div><div class="col">&nbsp;</div>
                                        <div class="col">23:00</div><div class="col">&nbsp;</div><div class="col">01:00</div>
                                        <div class="col">&nbsp;</div><div class="col">03:00</div><div class="col">&nbsp;</div>
                                        <div class="col">05:00</div><div class="col">&nbsp;</div><div class="col">07:00</div>
                                    </div>
                                    <div class="row no-gutters trs-hours-mark-top d-lg-none">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <div class="row no-gutters trs-hours">
                                        <div class="col d-lg-none trs-blank">&nbsp;</div>
                                        @for (int i = 24; i < 48; i++) { @Html.Raw(@range[i]); }
                                        <div class="col trs-blank">&nbsp;</div>
                                    </div>
                                    <div class="row  no-gutters trs-hours-mark-bottom d-lg-none">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <div class="row no-gutters trs-hours-bottom d-lg-none">
                                        <div class="col">&nbsp;</div><div class="col">20:00</div>
                                        <div class="col">&nbsp;</div><div class="col">22:00</div><div class="col">&nbsp;</div>
                                        <div class="col">00:00</div><div class="col">&nbsp;</div><div class="col">02:00</div>
                                        <div class="col">&nbsp;</div><div class="col">04:00</div><div class="col">&nbsp;</div>
                                        <div class="col">06:00</div><div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-lg-12 d-none d-lg-block">
                                    <div class="row  no-gutters trs-hours-mark-bottom">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div><div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <div class="row no-gutters trs-hours-bottom">
                                        <div class="col">&nbsp;</div><div class="col">08:00</div>
                                        <div class="col">&nbsp;</div><div class="col">10:00</div><div class="col">&nbsp;</div>
                                        <div class="col">12:00</div><div class="col">&nbsp;</div><div class="col">14:00</div>
                                        <div class="col">&nbsp;</div><div class="col">16:00</div><div class="col">&nbsp;</div>
                                        <div class="col">18:00</div><div class="col">&nbsp;</div><div class="col">20:00</div>
                                        <div class="col">&nbsp;</div><div class="col">22:00</div><div class="col">&nbsp;</div>
                                        <div class="col">00:00</div><div class="col">&nbsp;</div><div class="col">02:00</div>
                                        <div class="col">&nbsp;</div><div class="col">04:00</div><div class="col">&nbsp;</div>
                                        <div class="col">06:00</div><div class="col">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                @if (Model.Terms != null)
                {
                    int i = 0;
                    foreach (var item in Model.Terms)
                    {
                        @Term(i, item);
                        i++;
                    }
                }
                else
                {
                    @Term(0);
                }
                <div class="row">
                    <div class="form-group col-6 col-lg-2 mb-2 mb-lg-0">
                        <input type="text" class="form-control" name="total-hours" value="" disabled>
                    </div>
                    <div class="form-group col-lg-9 pl-lg-0 mb-2 mb-lg-0 pr-lg-0">
                        <textarea rows="1" placeholder="@SharedLocalizer["Comentario"]..." class="form-control" name="comment">@Model.Comment</textarea>
                    </div>
                    <div class="col-6 col-lg-1 pl-lg-0 mb-2 mb-lg-0 pl-lg-3">
                        <button id="add-button" class="btn btn-ghost-primary pr-2 pl-2">
                            <i class="font-xl icon-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form>
    @Html.AntiForgeryToken()
    <input type="hidden" name="year" value='@Model.Year' />
    <input type="hidden" name="month" value='@Model.Month' />
    <input type="hidden" name="multiple" value='@(Model.Multiple ? "true" : "false")' />
    <input type="hidden" name="ids" value='@Html.Raw(Model.Ids)' />
    <input type="hidden" name="days" value='@Html.Raw(Model.Days)' />
</form>
<script>

    var term_html = function (termindex) {
        return `@Term()`;
    }
    var term_array = @Html.Raw(@TermArray(Model.Terms));
    edit_schedule("@dayPattern");

</script>