﻿@* SCHEDULE - GENERATE (MODAL) *@

@using Perseo.Web.Models
@model GenerateScheduleViewModel
 
<div class="modal-header b-b-0 pb-0">
    <h4 class="modal-title">Generar Horario</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    @SharedLocalizer["¿Desea generar el nuevo horario anual en función de la modificación de turno realizada?"]
    <br />
    @SharedLocalizer["Todas las entradas del horario posteriores a la fecha indicada serán eliminadas"]. @SharedLocalizer["Esta acción no se puede deshacer"].
    <hr />
    <form id="generate-form" asp-controller="Schedule" asp-action="Generate">
        <input asp-for="UserId" type="hidden" />
        <div class="row">
            <label asp-for="JobId" class="col-xl-4 col-form-label">Tarea</label>
            <div class="col-xl-8 input-group">
                <select id='jobs' name="JobId" class='jobs'>
                    <option></option>
                    @foreach (var item in Model.ProductiveJobs)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer b-t-0 pt-0">
    <button type="button" class="btn btn-danger" id="modal-btn-yes">@SharedLocalizer["Generar Horario"]</button>
    <button type="button" class="btn btn-primary" id="modal-btn-no">@SharedLocalizer["No Generar"]</button>
</div>

<script>

    $(document).ready(function () {

        $('input[name="JobId"]').change( function () {
                var JobId = $('input[name="JobId"]:checked').val();
                if (JobId == "" || JobId == null) {
                    $(".text-danger").html("@SharedLocalizer["El campo Tarea es obligatorio"]");
                } else {
                    $(".text-danger").html("");
                }
        });

    });

    $('.jobs').treeselect({ type: 'form' });

    var modalConfirm = function (callback) {

        $("#modal-btn-yes").on("click", function () {
            callback(true);
        });

        $("#modal-btn-no").on("click", function () {
            callback(false);
            $("#global-modal").modal('hide');
        });
    };

    modalConfirm(function (confirm) {
        if (confirm) {
            var UserId = $('input[name="UserId"]').val();
            var JobId = $('input[name="JobId"]:checked').val();

            if (JobId == "" || JobId == null) {
                $(".text-danger").html("@SharedLocalizer["El campo Tarea es obligatorio"]");
                return;
            }

            $.ajaxPostModal("/schedule/generate", { "UserId": UserId, "JobId": JobId }, function (response) {
                $("#global-modal").modal('hide');
            });
        }
    });

</script>