﻿@* SCHEDULE - SHOW LAYOUT *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Perseo.Web
@{
    Layout = Context.Request.IsAjax() ? "~/Views/Shared/_AjaxLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}
@section Styles { @RenderSection("Styles", false) }

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                @RenderSection("Navigation", false)
                @* TABS *@
                <ul class="nav nav-tabs" id="nav-tab" role="tablist" data-active-tab="@ViewBag.Tab">
                    <li class="nav-item">
                        <a class="nav-link" id="tab-show" href="/schedule/show">
                            <i class="icon-people"></i>&nbsp; @SharedLocalizer["Horario"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/schedule/showdashboard" class="nav-link" id="tab-dashboard">
                            <i class="icon-speedometer"></i>&nbsp; @SharedLocalizer["Dashboard"]
                        </a>
                    </li>
                </ul>
                @* CONTENT *@
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-main-pane">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @RenderSection("Scripts", false) }
