﻿@* SCHEDULE - SHOW DASHBOARD - NO DATA*@

@using System.Globalization

@model ScheduleDashBoardViewModel

@{
    Layout = "_ShowLayout.cshtml";
    ViewBag.Tab = "tab-dashboard";

    List<string> AbreviatedMonthNames = new List<string>();
    for (int m = 0; m < 12; m++)
    {
        string name = CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedMonthGenitiveNames[m];
        name = char.ToUpper(name.First()) + name.Substring(1, 2).ToLower();
        AbreviatedMonthNames.Add(name);
    }

    int Year = ViewBag.Year; ;
    int Month = ViewBag.Month;
    List <int> SelectedAreasIds = ViewBag.SelectedAreasIds;
    string SelectedAreas = string.Join(";", SelectedAreasIds);
    List<AreaModel> OwnedAreas = ViewBag.OwnedAreas;

    List<OfficeModel> SelectedOffices = ViewBag.SelectedOffices;
    List<OfficeModel> AreasOffices = ViewBag.AreasOffices;
    string SelectedOfficesIds = SelectedOffices.Count() > 0 ? string.Join(";", SelectedOffices.Select(o => o.Id)) : "";

    string MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Month);
    MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();
    ViewData["Title"] = SharedLocalizer["Resumen de"] + " " + MonthName + " " + SharedLocalizer["De"].ToString().ToLower() + " " + Year.ToString();
    ViewData["SubTitle"] = "";
}

@section Styles{
    <style>
    .icons-list {
    padding: 0;
    margin: 0;
    list-style: none;
    }
    .icons-list li {
    position: relative;
    height: 40px;
    vertical-align: middle;
    }
    .icons-list li i {
    display: block;
    float: left;
    width: 35px !important;
    height: 35px !important;
    margin: 2px;
    line-height: 35px !important;
    text-align: center;
    }
    .icons-list li .desc {
    height: 40px;
    margin-left: 50px;
    border-bottom: 1px solid #a4b7c1;
    }
    .icons-list li .desc .title {
        padding: 2px 0 0;
        margin: 0;
    }
    .icons-list li .desc small {
        display: block;
        margin-top: -4px;
        color: #536c79;
    }
    .icons-list li .value {
    position: absolute;
    top: 2px;
    right: 45px;
    text-align: right;
    }
    .icons-list li .value strong {
        display: block;
        margin-top: -3px;
    }
    .icons-list li .actions {
    position: absolute;
    top: -4px;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    }
    .icons-list li .actions i {
        float: none;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        line-height: normal;
    }
    .icons-list li.divider {
    height: 40px;
    }
    .icons-list li.divider i {
        width: auto;
        height: auto;
        margin: 2px 0 0;
        font-size: 18px;
}
    </style>
}

@section Scripts{
    <script>
        breadcrumb({ name: '@SharedLocalizer["Horarios"]', url: 'schedule/showdashboard' });

        $('#dashboard-table').dt({
            searching: false,
            ordering: false,
            lengthChange: false,
            bPaginate: false,
            bInfo: false,
            responsive: {
                details: {
                    type: 'column'
                }
            },
            columnDefs: [{
                className: 'control',
                orderable: false,
                targets: 0
            }],
        });
        $('#dashboard-table').attr('style', 'border-collapse: collapse !important');
        $('#job-detail-btn').click(function () {
            $(".job-detail").each(function () {
                $(this).toggle("fast");
            });
        });
        $('.job-detail-btn').click(function () {
            var data_name = $(this).data("name");
            $(".job-detail[data-name='" + data_name + "']").each(function () {
                $(this).toggle("fast");
            });
        });
    </script>
}

@section Navigation{

@* HEADER *@
<div class="row mb-sm-4 mb-xl-3">
    @* Title *@
    <div class="col-10 col-sm-11 col-xl-5">
        <h3 id="header-title" class="card-title mb-0">@ViewData["Title"]</h3>
        <hr align="left" class="title text-left" />
        <div id="header-subtitle" class="small text-muted">@ViewData["SubTitle"]</div>
    </div>
    <vc:mobile-nav-button></vc:mobile-nav-button>
    @* Navigation *@
    <div class="col-12 col-xl-7 mt-3 mt-xl-0">
        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
            @* Office Navigator*@
            <span class="btn-group mb-3 mb-sm-0">
                <span class="btn-group mb-3 mb-sm-0">
                    <vc:office-filter selected-offices=@SelectedOffices areas-offices="@AreasOffices"></vc:office-filter>
                </span>
            </span>
            @* Area Navigator*@
            <span class="btn-group mb-3 mb-sm-0">
                <vc:area-filter owned-areas=@OwnedAreas selected-areas-ids="@SelectedAreasIds" multiple=true></vc:area-filter>
            </span>
            @* Go Filter Button *@
            <span class="btn-group mr-3 mb-3 mb-sm-0">
                <vc:go-filter-button base-url=@null></vc:go-filter-button>
            </span>
            @* Month Navigator*@
            <span class="btn-group mb-3 mb-sm-0">
                <vc:year-month-filter year=@Year month=@Month url="/schedule/showdashboard/$y/$m/@SelectedAreas/@SelectedOfficesIds"></vc:year-month-filter>
            </span>
        </div>
    </div>
</div>
}

<div class="text-center font-xl pt-3 pb-4">
    @SharedLocalizer["No se han encontrado datos para el período indicado"].
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="area-list-table-container" class="dt-hidden-container">
                    <table id="dashboard-table" class="table table-light table-hover table-sm dt-responsive nowrap table-striped">
                        <thead>
                            <tr>
                                <th data-priority="1">@SharedLocalizer["Elemento"]</th>
                                <th data-priority="2">@SharedLocalizer["Año"]</th>
                                <th data-priority="3">@AbreviatedMonthNames[0]</th>
                                <th data-priority="4">@AbreviatedMonthNames[1]</th>
                                <th data-priority="5">@AbreviatedMonthNames[2]</th>
                                <th data-priority="7">@AbreviatedMonthNames[3]</th>
                                <th data-priority="7">@AbreviatedMonthNames[4]</th>
                                <th data-priority="8">@AbreviatedMonthNames[5]</th>
                                <th data-priority="9">@AbreviatedMonthNames[6]</th>
                                <th data-priority="10">@AbreviatedMonthNames[7]</th>
                                <th data-priority="12">@AbreviatedMonthNames[8]</th>
                                <th data-priority="13">@AbreviatedMonthNames[9]</th>
                                <th data-priority="14">@AbreviatedMonthNames[10]</th>
                                <th data-priority="15">@AbreviatedMonthNames[11]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ List<double> TotalDays = Enumerable.Repeat(0.0, 13).ToList();
                               List<double> TotalHours = Enumerable.Repeat(0.0, 13).ToList(); }
                            @foreach (var Item in Model.GeneralJobTypes)
                            {
                                <tr>
                                    <td>
                                        <span data-acronym='@Item.Value.Acronym' data-name='@Item.Key.ToString()' class='job-detail-btn legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-@Item.Value.Acronym' style="cursor: pointer;">+</span>
                                        <span style='white-space: nowrap'>@Item.Key.GetDisplayName()</span>
                                    </td>
                                    @for (int i = 0; i <= 12; i++)
                                    {
                                        @if (@Item.Value.Days[@i] > 0)
                                        {
                                            TotalDays[i] += Item.Value.Days[i];
                                            TotalHours[i] += Item.Value.Hours[i];
                                            <td title="@Item.Value.Days[@i] d">@Item.Value.Hours[@i] h</td>
                                        }
                                        else
                                        {
                                            <td> - </td>
                                        }
                                    }
                                </tr>
                                @foreach (var job in Item.Value.GeneralJobs)
                                {
                                    <tr class="job-detail" data-acronym='@Item.Value.Acronym' data-name='@Item.Key.ToString()' style="background-color: white;  display:none;">
                                        <td style="border-top: 1px solid transparent">
                                            <span class='legend pl-2 pr-2 pt-0 pb-0 mr-2'>&nbsp;</span>
                                            <span class="pl-2">@job.Name</span>
                                        </td>
                                        @for (int i = 0; i <= 12; i++)
                                        {
                                            @if (@job.Days[@i] > 0)
                                            {
                                                <td style="border-top: 1px solid transparent" title="@job.Days[@i] d">
                                                    <span>@job.Hours[@i] h</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="border-top: 1px solid transparent"> - </td>
                                            }
                                        }
                                    </tr>
                                }

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th> Totales</th>
                                @for (int i = 0; i <= 12; i++)
                                {
                                    <th title="@TotalDays[i] d">@TotalHours[i] h</th>
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>