﻿@* SCHEDULE - SHOW *@

@using Perseo.Web.Models
@using System.Globalization
@model ScheduleViewModel

@{
    Layout = "_ShowLayout.cshtml";
    ViewBag.Tab = "tab-show";
    var Year = Model.Year;
    var Month = Model.Month;
    var Rows = Model.Rows.ToList();
    string selectedareas = string.Join(";", Model.AreasIds);

    List<OfficeModel> SelectedOffices = ViewBag.SelectedOffices;
    List<OfficeModel> AreasOffices = ViewBag.AreasOffices;
    string SelectedOfficesIds = SelectedOffices.Count() > 0 ? string.Join(";", SelectedOffices.Select(o => o.Id)) : "";

    var MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Month);
    MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();
    ViewData["Title"] = SharedLocalizer["Horario de"] + " " + MonthName + " " + SharedLocalizer["De"].ToString().ToLower() + " " + Year.ToString();
    ViewData["SubTitle"] = "";
}

@section Styles {
    <style>
        .cal .col {
            padding: 1px;
        }

        .cal a {
            color: #23282c;
        }

            .cal a:hover {
                text-decoration: none;
            }
    </style>
}

@section Navigation{

    @* HEADER *@
    <div class="row mb-sm-4 mb-xl-3">
        @* Title *@
        <div class="col-10 col-sm-11 col-xl-5">
            <h3 id="header-title" class="card-title mb-0">@ViewData["Title"]</h3>
            <hr align="left" class="title text-left" />
            <div id="header-subtitle" class="small text-muted">@ViewData["SubTitle"]</div>
        </div>
        <vc:mobile-nav-button></vc:mobile-nav-button>
        @* Navigation *@
        <div class="col-12 col-xl-7 mt-3 mt-xl-0">
            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                @* Info *@
                <div class="btn-group mr-3 mb-3 mb-sm-0">
                    <button class="btn btn-outline-secondary rounded" type="button" data-toggle="dropdown" title="@SharedLocalizer["Asignación rápida"]"><i class="icon-info"></i></button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                        <span class="dropdown-item"><button class="btn btn-sm cal-day-T" style="width:29px;" type="button" title="@SharedLocalizer["Trabajo"]">T</button>&nbsp; @SharedLocalizer["Trabajo"]</span>
                        <span class="dropdown-item"><button class="btn btn-sm cal-day-V" style="width:29px;" type="button" title="@SharedLocalizer["Vacaciones"]">V</button>&nbsp; @SharedLocalizer["Vacaciones"]</span>
                        <span class="dropdown-item"><button class="btn btn-sm cal-day-Y" style="width:29px;" type="button" title="@SharedLocalizer["Vacaciones Año Anterior"]">Y</button>&nbsp; @SharedLocalizer["Vacaciones Año Anterior"]</span>
                        <span class="dropdown-item"><button class="btn btn-sm cal-day-L" style="width:29px;" type="button" title="@SharedLocalizer["Lbre Disposición"]">L</button>&nbsp; @SharedLocalizer["Lbre Disposición"]</span>
                        <span class="dropdown-item"><button class="btn btn-sm cal-day-S" style="width:29px;" type="button" title="@SharedLocalizer["Asuntos Sindicales"]">S</button>&nbsp; @SharedLocalizer["Asuntos Sindicales"]</span>
                        <span class="dropdown-item"><button class="btn btn-sm cal-day-B" style="width:29px;" type="button" title="@SharedLocalizer["Baja por Enfermedad"]<">B</button> &nbsp; @SharedLocalizer["Baja por Enfermedad"]</span>
                        <span class="dropdown-item"><button class="btn btn-sm cal-day-M" style="width:29px;" type="button" title="@SharedLocalizer["Visita Médica"]">M</button> &nbsp; @SharedLocalizer["Visita Médica"]</span>
                        <span class="dropdown-item"><button class="btn btn-sm cal-day-P" style="width:29px;" type="button" title="@SharedLocalizer["Permiso Retruibuido"]">P</button>&nbsp; @SharedLocalizer["Permiso Retruibuido"]</span>
                        <span class="dropdown-item"><button class="btn btn-sm cal-day-A" style="width:29px;" type="button" title="@SharedLocalizer["Ausencia injustificada"]">A</button> &nbsp; @SharedLocalizer["Ausencia Injustificada"]</span>
                    </div>
                </div>
                @* Office Filter*@
                <span class="btn-group mb-3 mb-sm-0">
                    <vc:office-filter selected-offices=@SelectedOffices areas-offices="@AreasOffices"></vc:office-filter>
                </span>
                @* Active Navigator*@
                <span class="btn-group mb-3 mb-sm-0">
                    <select name="active" id="active" class="d-none">
                        <option selected="@(ViewBag.Active == null || ViewBag.Active == "active" ? true : false)" value="active">@SharedLocalizer["Activos"]</option>
                        <option selected="@(ViewBag.Active == "inactive" ? true : false)" value="inactive">@SharedLocalizer["Bajas"]</option>
                        <option selected="@(ViewBag.Active == "all" ? true : false)" value="all">@SharedLocalizer["Todos"]</option>
                    </select>
                </span>
                @* Area Navigator*@
                <span class="btn-group mb-3 mb-sm-0">
                    <vc:area-filter owned-areas=@Model.OwnedAreas selected-areas-ids="@Model.SelectedAreasIds" multiple=true></vc:area-filter>
                </span>
                @* Go Filter Button *@
                <span class="btn-group mr-3 mb-3 mb-sm-0">
                    <vc:go-filter-button base-url=@null></vc:go-filter-button>
                </span>
                @* Month Navigator*@
                <span class="btn-group mb-3 mb-sm-0">
                    <vc:year-month-filter year=@Model.Year month=@Model.Month url="/schedule/show/@ViewBag.Active/$y/$m/@selectedareas/@SelectedOfficesIds"></vc:year-month-filter>
                </span>
            </div>
        </div>
    </div>
}

<vc:month-grid-schedule year=@Year month=@Month rows=@Rows header=null editable=false></vc:month-grid-schedule>

@section Scripts
    {
    <script src="~/js/schedule.js"></script>
    <script>
        $(document).ready(function () {

            breadcrumb({ name: '@SharedLocalizer["Horarios"]', url: 'schedule/show' });

            show_schedule(@Model.Year, @Model.Month);

            $('#active').treeselect({
                buttontext: '@SharedLocalizer["Estado"]',
                div: '<div id="active-filter" class="dropdown bts_dropdown float-right mr-3"></div>',
            });

        });
    </script>
}
