﻿@* REQUEST - ADD (MODAL) *@

@using Perseo.Web.Models
@using Perseo.Core
@using System.Globalization

@model AddRequestViewModel

@{
    int UserId = Model.UserId;
}

<link rel="stylesheet" href="~/lib/bootstrap-year-calendar/css/bootstrap-year-calendar.min.css">
<style>
    .calendar table.month tr td .day-content {
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .calendar table.month tr td.day-start .day-content {
        color: white;
    }

    .calendar .month-container {
        padding-bottom: 12px;
    }

    .cal-day-TT {
        background-color: #8D9DA3
    }

    .dataTables_filter {
        display: none;
    }
</style>

<form asp-action="Add" id="add-form" method="post" role="form" class="form-horizontal" autocomplete="off">
    <div class="modal-header b-b-0 pb-0">
        <h3 class="modal-title">@SharedLocalizer["Crear Solicitud"]</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="AdditionalData" type="hidden" />
            <div class="col-sm-12">
                <div class="form-group row">
                    <label asp-for="Type" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <select asp-for="Type" asp-items="Html.GetEnumSelectList<RequestType>()" class="form-control"><option value=""></option></select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Priority" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <select asp-for="Priority" asp-items="Html.GetEnumSelectList<PriorityType>()" class="form-control"><option value=""></option></select>
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Summary" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="Summary" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="Summary" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Description" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <textarea asp-for="Description" class="form-control" autocomplete="nope"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                @*DAY SELECTOR*@
                <div id="calendar-container" class="row ml-3 mr-3 d-none">
                    @*OPTION SELECTOR*@
                    <div class="col-9 text-left">
                        <span id="option-selector" class="btn-group">
                            <button type="button" class="btn option-button btn-secondary active" value="main">@SharedLocalizer["Primera opción"]</button>
                            <button type="button" class="btn option-button btn-secondary" value="second">@SharedLocalizer["Segunda opción"]</button>
                        </span>
                    </div>
                    @*NAVIGATION*@
                    <div class="col-3 text-right">
                        <span class="btn-group">
                            <button type="button" class="btn nav-button btn-secondary" value=-2><</button>
                            <button type="button" class="btn nav-button btn-secondary" value=2>></button>
                        </span>
                    </div>
                    @*CALENDARS*@
                    <div class="col-12 text-center" style="margin: 0 auto 0 auto">
                        <div id="calendar" year="@DateTime.Today.Year" class="row calendar"></div>
                        <div id="calendar" year="@DateTime.Today.AddYears(1).Year" class="row calendar"></div>
                    </div>
                    @*LEGEND*@
                    <div id='calendar-legend' class='row ml-3 mr-3 d-none'>
                        <div class='col mb-2 mt-2'><span data-acronym='T' data-name='Productive' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-TT'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Trabajo"]</span></div>
                        <div class='col mb-2 mt-2'><span data-acronym='V' data-name='Hollydays' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-V'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Vacaciones"]</span></div>
                        <div class='col mb-2 mt-2'><span data-acronym='Y' data-name='LastYearHollydays' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-Y'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Vacaciones Año Pasado"]</span></div>
                        <div class='col mb-2 mt-2'><span data-acronym='L' data-name='FreeDays' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-L'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Libre Disposición"]</span></div>
                        <div class='col mb-2 mt-2'><span data-acronym='S' data-name='UnionHours' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-S'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Asuntos Sindicales"]</span></div>
                        <div class='col mb-2 mt-2'><span data-acronym='B' data-name='SickLeave' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-B'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Baja por Enfermedad"]</span></div>
                        <div class='col mb-2 mt-2'><span data-acronym='M' data-name='DoctorHours' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-M'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Visita Médica"]</span></div>
                        <div class='col mb-2 mt-2'><span data-acronym='P' data-name='PaidLeave' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-P'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Permiso Retribuido"]</span></div>
                        <div class='col mb-2 mt-2'><span data-acronym='A' data-name='UnjustifiedAbsence' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-A'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Ausencia Injustificada"]</span></div>
                    </div>
                </div>

                @*ORIGIN AREA SELECTOR*@
                <div id="origin-container" class="form-group row d-none">
                    <label class="col-xl-3 col-form-label">@SharedLocalizer["Área de Origen"]</label>
                    <div class="col-xl-9">
                        <select id="origin-area" class="form-control" name="OriginId">
                            <option selected disabled value=""></option>
                            @foreach (AssignOptions Item in Model.AreasOptions as List<AssignOptions>)
                            {
                                if (Model.AreasOptions.Any(c => c.Value == Item.Parent))
                                {
                                    <option value="@Item.Value" data-parent="@Item.Parent">@Item.Name</option>
                                }
                                else
                                {
                                    <option value="@Item.Value">@Item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                @*USERS SELECTOR*@
                <div id="addibleUsers-table-container" class="dt-container mt-1 d-none">
                    <table id="addibleUsers-table" class="table table-hover table-sm table-striped dt-responsive nowrap select-multi">
                        <thead>
                            <tr>
                                <th hidden>AreaId</th>
                                <th>@SharedLocalizer["Usuario"]</th>
                                <th>@SharedLocalizer["Nombre"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var User in Model.AddibleUsers)
                            {
                                <tr class="non-clickable-row" data-id="@User.Id">
                                    <td hidden>@User.AreaId</td>
                                    <td>@User.UserName</td>
                                    <td>@User.FullName</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th hidden></th>
                                <th>@SharedLocalizer["Buscar Usuario"]</th>
                                <th>@SharedLocalizer["Buscar Nombre"]</th>
                            </tr>
                        </tfoot>
                    </table>
                    <span class="text-danger errorMsgUserSelect"></span>
                </div>
                @*DESTINATION AREA SELECTOR*@
                <div id="destination-container" class="form-group row d-none">
                    <label class="col-xl-3 col-form-label">@SharedLocalizer["Área de Destino"]</label>
                    <div class="col-xl-9">
                        <select Id="destination-area" class="form-control" name="DestinationId">
                            <option selected disabled value=""></option>
                            @foreach (AssignOptions Item in Model.AreasOptions as List<AssignOptions>)
                            {
                                if (Model.AreasOptions.Any(c => c.Value == Item.Parent))
                                {
                                    <option value="@Item.Value" data-parent="@Item.Parent">@Item.Name</option>
                                }
                                else
                                {
                                    <option value="@Item.Value">@Item.Name</option>
                                }
                            }
                        </select>
                        <span Id="destination-area_validation" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
    </div>
</form>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script charset="ISO-8859-1" src="~/lib/bootstrap-year-calendar/js/bootstrap-year-calendar.min.js"></script>
@*<script charset="ISO-8859-1" src="~/lib/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.es.js"></script>*@
@{ var langlib = "/lib/bootstrap-year-calendar/js/languages/bootstrap-year-calendar." + CultureInfo.CurrentCulture.Name.ToString() + ".js"; }
<script charset="ISO-8859-1" src="@langlib"></script>
<script src="~/js/schedule.js"></script>
<script>
    $(document).ready(function () {

        $('#add-form').submit(function (e) {
            e.preventDefault();

            $.ajaxPostModal($(this).attr('action'), $(this).serialize(), function (e) {
                $.ajaxGet("/account/profile/requests");
            });
            return false;
        });

        $('select[name="Type"]').change(function () {
            var type = $('select[name="Type"]').val();
            if (type == @((int)RequestType.Hollydays) || type == @((int)RequestType.CompensationHours) || type == @((int)RequestType.SpecialLeave)) {
                $('#calendar-container').attr("class", "row ml-3 mr-3");
            } else {
                $('#calendar-container').attr("class", "row ml-3 mr-3 d-none");
            }

            if (type == @((int)RequestType.PositionChange)) {
                $('#origin-container').attr("class", "form-group row");
            } else {
                $('#origin-container').attr("class", "form-group row d-none");
            }
        });

        //User Selection

        $('#origin-area').treeselect({ type: 'form' });
        $('#destination-area').treeselect({ type: 'form' });
        var addibleUsersTable = $('#addibleUsers-table').dt({ lengthChange: false, pageLength: 5, responsive: false, language: { infoFiltered: "" }});

        $('#addibleUsers-table tfoot th').each(function () {
            var title = $(this).text();
            if (title.length > 0) {
                $(this).html('<input class="form-control form-control-sm valid" type="text" placeholder="' + title + '" />');
            }
        });

        addibleUsersTable.columns().every(function () {
            var column = this;
            $('input', this.footer()).on('keyup change clear', function () {
                if (column.search() !== this.value) {
                    column.search(this.value).draw();
                }
            });
        });

        $('input[name="OriginId"]').change(function () {
            var originId = $('input[name="OriginId"]:checked').val();
            addibleUsersTable.rows().deselect();
            if (originId > 0) {
                addibleUsersTable.columns(2).search('^' + originId + '$', true, false).draw();
                $('#addibleUsers-table-container').attr("class", "dt-container mt-1");
            } else {
                $('#addibleUsers-table-container').attr("class", "dt-container mt-1 d-none");
            }
        });

        addibleUsersTable.on('select', function (e, dt, type, indexes) {
            if (type === 'row') {
                if (addibleUsersTable.rows('.selected').count() > 0) {
                    $('#destination-container').attr("class", "form-group row");
                } else {
                    $('#destination-container').attr("class", "form-group row d-none");
                }
            }
        });

        addibleUsersTable.on('deselect', function (e, dt, type, indexes) {
            if (type === 'row') {
                if (addibleUsersTable.rows('.selected').count() > 0) {
                    $('#destination-container').attr("class", "form-group row");
                } else {
                    $('#destination-container').attr("class", "form-group row d-none");
                }
            }
        });

        $('input[name="DestinationId"]').change(function () {
            parseUserSelectionToForm();
        });

        function parseUserSelectionToForm() {
            var origin_area_id = $('input[name="OriginId"]:checked').val();
            var destination_area_id = $('input[name="DestinationId"]:checked').val();
            var user_id_list = $.map(addibleUsersTable.rows({ selected: true }).nodes(), function (item) {
                return $(item).data("id");
            });

            if (destination_area_id < 1) {
                $('#AdditionalData').val(null);
                $('#destination-area_validation').html('@SharedLocalizer["El valor del Área de Destino no es válido"]');
            } else if (origin_area_id == destination_area_id) {
                $('#AdditionalData').val(null);
                $('#destination-area_validation').html('@SharedLocalizer["El Área de Destino no puede ser la misma que la de Origen"]');
            } else {
                $('#destination-area_validation').html('');
                var r_data = { OriginArea: origin_area_id, DestinationArea: destination_area_id, UserIds: user_id_list };
                $('#AdditionalData').val(JSON.stringify(r_data));
            }
        }

        //Calendar

        $('.option-button').click(function () {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
        });

        var showMonth = new Date().getMonth();

        $('.nav-button').click(function () {
            showMonth += parseInt($(this).val());
            hideMonths(showMonth);
        });

        var additional_data = { days_main: new Array(), days_second: new Array() };
        var comment_days_array = new Array();
        var extra_hours_days_array = new Array();

        $('.row.calendar').each(function () {
            $(this).calendar({
                language: '@CultureInfo.CurrentCulture.Name.ToString()',
                displayHeader: false,
                style: 'background',
                startYear: $(this).attr('year'),
                minDate: new Date(),

                customDayRenderer: function (element, date) {
                    $(element).css('border-radius', '0');

                    if (comment_days_array.find(d => d.getTime() === date.getTime())) {
                        $(element).css('background-image', 'linear-gradient(45deg, transparent 85%, red 85%)');
                    }
                    if (extra_hours_days_array.find(d => d.getTime() === date.getTime())) {
                        $(element).css('background-image', 'linear-gradient(315deg, transparent 85%, black 85%)');
                    }
                },
                mouseOnDay: function (e) {
                    if (e.events.length > 0) {
                        var content = ''
                        for (var i in e.events) {
                            if (e.events[i].comment != null && e.events[i].comment.length > 0) {
                                comment_days_array.push(e.events[i].startDate);
                            }
                            if (e.events[i].otherhours > 0) {
                                extra_hours_days_array.push(e.events[i].startDate);
                            }
                            content = '<div class="event-tooltip-content">';
                            if (e.events[i].otherhours > 0) {
                                content += '<div class="event-working-hours">' + e.events[i].workinghours + ' @Perseo.Core.WorkHoursType.Normal.ToString()</div>';
                                content += '<div class="event-other-hours">' + e.events[i].otherhours + ' @Perseo.Core.WorkHoursType.Extra.ToString()</div>';

                            } else {
                                content += '<div class="event-working-hours">' + e.events[i].hours + '</div>';
                            }
                            content += '</div>';
                        }
                        $(e.element).popover({
                            trigger: 'manual',
                            container: 'body',
                            html: true,
                            content: content
                        });
                        $(e.element).popover('show');
                    }
                },
                mouseOutDay: function (e) {
                    if (e.events.length > 0) {
                        $(e.element).popover('show');
                        $(e.element).popover('hide');
                    }
                },
                clickDay: function (e) {
                    var date = e.date + 1;
                    var option = $('.option-button.active').val();

                    const main_bg = "linear-gradient(0deg, transparent 90%, yellow 90%),linear-gradient(90deg, transparent 90%, yellow 90%),linear-gradient(180deg, transparent 90%, yellow 90%),linear-gradient(270deg, transparent 90%, yellow 90%)";
                    const second_bg = "linear-gradient(0deg, transparent 80%, orange 80%, orange 90%, transparent 90%),linear-gradient(90deg,  transparent 80%, orange 80%, orange 90%, transparent 90%),linear-gradient(180deg, transparent 80%, orange 80%, orange 90%, transparent 90%),linear-gradient(270deg, transparent 80%, orange 80%, orange 90%, transparent 90%)";

                    var index_main = additional_data.days_main.findIndex(d => d === date);
                    var index_second = additional_data.days_second.findIndex(d => d === date);

                    if (option == "main") {
                        if (index_main > -1) {
                            additional_data.days_main.splice(index_main, 1);
                            var bg = (index_second > -1) ? second_bg : "";
                            (e.element).css('background-image', bg);
                        }
                        else {
                            additional_data.days_main.push(date);
                            var bg = (index_second > -1) ? main_bg + ", " + second_bg : main_bg;
                            (e.element).css('background-image', bg);
                        }
                    }

                    if (option == "second") {
                        if (index_second > -1) {
                            additional_data.days_second.splice(index_second, 1);
                            var bg = (index_main > -1) ? main_bg : "";
                            (e.element).css('background-image', bg);
                        }
                        else {
                            additional_data.days_second.push(date);
                            var bg = (index_main > -1) ? main_bg + ", " + second_bg : second_bg;
                            (e.element).css('background-image', bg);
                        }
                    }

                    parseCalendarToForm(additional_data);
                },
                yearChanged: function (e) {
                    e.preventRendering = true;
                    $.ajax({
                        url: "/schedule/showuser/@UserId/" + e.currentYear,
                        dataType: "json",
                        success: function (response) {

                            var legend = new Object();

                            $(".legend").each(function () {
                                var color = $(this).css('backgroundColor');
                                var acronym = $(this).data('acronym');
                                var name = $(this).data('name');
                                console.log(name);
                                legend[acronym] = { 'color': color, 'name': $(this).next('span').text() }
                            });

                            var data = [];
                            for (var i = 0; i < response.data.length; i++) {

                                if (response.data[i].comment)
                                {
                                    comment_days_array.push(new Date(e.currentYear, response.data[i].month - 1, response.data[i].day))
                                }
                                if (response.data[i].otherhours > 0) {
                                    extra_hours_days_array.push(new Date(e.currentYear, response.data[i].month - 1, response.data[i].day))
                                }

                                data.push({
                                    id: response.data[i].id,
                                    hours: response.data[i].hours,
                                    workinghours: response.data[i].workinghours,
                                    otherhours: response.data[i].otherhours,
                                    comment: response.data[i].comment,
                                    acronym: response.data[i].acronym,
                                    name: legend[response.data[i].acronym].name,
                                    startDate: new Date(e.currentYear, response.data[i].month - 1, response.data[i].day),
                                    endDate: new Date(e.currentYear, response.data[i].month - 1, response.data[i].day),
                                    color: legend[response.data[i].acronym].color
                                });
                            }
                            $(e.target).data('calendar').setDataSource(data);
                        }
                    });
                },
                renderEnd: function (e) {
                    hideMonths(showMonth);
                }
            });
        });

        function hideMonths(monthToShow = 0) {
            monthToShow = Math.max(monthToShow, new Date().getMonth());
            monthToShow = Math.min(monthToShow, new Date().getMonth() + 12);
            monthToShow = monthToShow % 2 == 0 ? monthToShow : monthToShow - 1;
            showMonth = monthToShow;

            $('.calendar').css('display', 'none');

            $('.calendar .month').each(function (idx) {
                if (idx < monthToShow || idx > monthToShow + 1) {
                    $(this).parent().css('padding-bottom', '0px');
                    $(this).css('display', 'none');
                } else {
                    $(this).closest('.calendar').css('display', '');
                    $(this).parent().css('padding-bottom', '');
                    $(this).css('display', '');
                }
            })
        }

        function parseCalendarToForm(data) {

            var r_data = { DaysMain: new Array(), DaysSecond: new Array() };

            for (i = 0; i < data.days_main.length; i++) {
                date = new Date(data.days_main[i]);
                r_data.DaysMain.push(date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2));
            }
            for (i = 0; i < data.days_second.length; i++) {
                date = new Date(data.days_second[i]);
                r_data.DaysSecond.push(date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2));
            }
            if (r_data.DaysMain.length == 0 && r_data.DaysSecond.length > 0) {
                r_data.DaysMain = r_data.DaysSecond;
                r_data.DaysSecond = new Array();
            }

            $('#AdditionalData').val(JSON.stringify(r_data));
        }

    });
</script>