﻿@* REQUEST - EDIT (MODAL) *@

@using Perseo.Web.Models
@using Perseo.Core
@using Newtonsoft.Json.Linq;
@model RequestViewModel
@{
    string Title = "";
    int acceptSchedule = 0;
    int acceptReassignation = 0;
    if (Model.NewState == RequestState.Closed) { Title = SharedLocalizer["Cerrar Solicitud"]; }
    else if (Model.NewState == RequestState.InProgress) { Title = SharedLocalizer["Gestionar Solicitud"]; }
    else if (Model.NewState == RequestState.Pending) { Title = SharedLocalizer["Enviar Solicitud"]; }
    else if (Model.NewState == RequestState.Rejected) { Title = SharedLocalizer["Rechazar Solicitud"]; }
    else if (Model.NewState == RequestState.Accepted) { Title = SharedLocalizer["Aceptar Solicitud"];
        if (Model.AdditionalData != null)
        {
            if (JObject.Parse(Model.AdditionalData)["DaysMain"] != null
                && JObject.Parse(Model.AdditionalData)["DaysMain"].ToArray().Count() > 0)
            {
                acceptSchedule = 1;
            }
            if (Model.IsOriginAreaOwner
                && JObject.Parse(Model.AdditionalData)["UserIds"] != null
                && JObject.Parse(Model.AdditionalData)["UserIds"].ToArray().Count() > 0)
            {
                acceptReassignation = 1;
            }
        }
    }
    else if (Model.NewState == RequestState.Returned) { Title = SharedLocalizer["Devolver Solicitud"]; }

}
<form action='/request/edit' id='edit-form' method='post' role='form' class='form-horizontal' autocomplete='off'>
    @Html.AntiForgeryToken()
    <input asp-for='Id' type="hidden" />
    <input asp-for='NewState' type="hidden" />
    <div class='modal-header b-b-0 pb-0'>
        <h3 class='modal-title'>@Title</h3>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>x</span>
        </button>
    </div>
    <div class='modal-body'>
        <div class='row'>
            <div asp-validation-summary='ModelOnly' class='text-danger'></div>
            <div class='col-sm-12'>
                <div class='form-group row'>
                    <label asp-for='NewComment' class='col-xl-12 col-form-label'></label>
                    <div class='col-xl-12'>
                        <textarea asp-for='NewComment' class='form-control' autocomplete='nope' rows='4'></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='modal-footer b-t-0 pt-0'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>@SharedLocalizer["Volver"]</button>
        <button type='submit' class='btn btn-primary' id='save-button'>@SharedLocalizer["Confirmar"]</button>
    </div>
</form>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $("#edit-form").submit(function (e) {
            e.preventDefault();
            $.ajaxPostModal($(this).attr('action'), $(this).serialize(), function (response) {
                if (response.result) {
                    if (@acceptSchedule) {
                        $('#global-modal').modal('hide');
                        $.ajaxGetModal("/request/showschedule/@Model.Id", "#global-modal-lg", false);
                    } else if (@acceptReassignation) {
                        $('#global-modal').modal('hide');
                        $.ajaxGetModal("/request/showusers/@Model.Id", "#global-modal", false);
                    } else {
                        $.ajaxGet("/request/show/@Model.Id",null,false);
                    }
                }
            });
            return false;
        });
    });
</script>

