﻿@* REQUEST - SHOW USERS (MODAL) *@

@using Perseo.Core
@using Perseo.Web.Models

@model RequestShowUsersViewModel

@{
    bool isOriginAreaOwner = Model.IsOriginAreaOwner;
    bool alreadyReassigned = Model.AlreadyReassigned;
    bool accepted = (Model.State == RequestState.Accepted);
    string title = accepted && isOriginAreaOwner && !(alreadyReassigned) ? SharedLocalizer["Validación de reasignación"]: SharedLocalizer["Propuesta de reasignación"];
}

<div class='modal-header b-b-0 pb-0'>
    <h3 class="modal-title">@title</h3>
    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
        <span aria-hidden='true'>x</span>
    </button>
</div>
<div class='modal-body'>

    <div class="row">
        <label class="col-3 col-form-label">@SharedLocalizer["Área de Origen"]</label>
        <div class="col-9">
            <input class="form-control-plaintext" value="@Model.OriginArea.Name" disabled />
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label">@SharedLocalizer["Área de Destino"]</label>
        <div class="col-9">
            <input class="form-control-plaintext" value="@Model.DestinationArea.Name" disabled />
        </div>
    </div>
    @*USERS TABLE*@
    <div id="reassignableUsers-table-container" class="dt-container mt-1">
        <table id="reassignableUsers-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@SharedLocalizer["Usuario"]</th>
                    <th>@SharedLocalizer["Nombre"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var User in Model.UsersToReassign)
                {
                    <tr class="non-clickable-row" data-id="@User.Id">
                        <td>@User.UserName</td>
                        <td>@User.FirstName @User.MainSurname @User.SecondSurname</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer b-t-0 pt-0">
    @if (accepted && isOriginAreaOwner && !(alreadyReassigned))
    {
        <div class='row col-12'>
            <div class='col-lg-9 col-sm-12'>
                <span>@SharedLocalizer["¿Desea reasignar de manera automática?"]</span>
                <br /><span class="font-xs text-danger">@SharedLocalizer["Esta acción no se puede deshacer"].</span>
            </div>
            <div class='col-lg-3 col-sm-12 text-right mt-2'>
                <span id="option-selector" class="btn-group">
                    <button type="button" class="btn confirmation-button btn-danger" value="yes">@SharedLocalizer["Sí"]</button>
                    <button type="button" class="btn confirmation-button btn-primary" value="no">@SharedLocalizer["No"]</button>
                </span>
            </div>
        </div>
    }
</div>

<script>
        $(document).ready(function () {

            $('#reassignableUsers-table').dt({ lengthChange: false, pageLength: 5, searching: false });

            $('.confirmation-button').click(function () {
                var option = $(this).val();
                if (option == "no") {
                    $.ajaxGet("/request/show/@Model.Id");
                    $('#global-modal').modal('hide');
                }
                if (option == "yes") {
                    $.ajaxPostModal("/User/ValidateRequest/@Model.Id/", null, function (response) {
                         $.ajaxGet("/request/show/@Model.Id");
                        $('#global-modal').modal('hide');
                    });
                }
            });

        });
</script>
