﻿@* REQUEST - SHOW SCHEDULE (MODAL) *@

@using Perseo.Core
@using Perseo.Web.Models
@using System.Globalization
@using Newtonsoft.Json.Linq;

@model RequestShowScheduleViewModel

@{
    string MainBg = "linear-gradient(0deg, transparent 90%, yellow 90%),linear-gradient(90deg, transparent 90%, yellow 90%),linear-gradient(180deg, transparent 90%, yellow 90%),linear-gradient(270deg, transparent 90%, yellow 90%)";
    string SecondBg = "linear-gradient(0deg, transparent 80%, orange 80%, orange 90%, transparent 90%),linear-gradient(90deg,  transparent 80%, orange 80%, orange 90%, transparent 90%),linear-gradient(180deg, transparent 80%, orange 80%, orange 90%, transparent 90%),linear-gradient(270deg, transparent 80%, orange 80%, orange 90%, transparent 90%)";

    bool isAreaOwner = Model.IsAreaOwner;
    bool accepted = (Model.State == RequestState.Accepted);
    string title = accepted && isAreaOwner ? SharedLocalizer["Validación en calendario"] : SharedLocalizer["Propuesta de calendario"];
}

<style>
    .cal .col {
        padding: 1px;
        cursor: default;
    }

    .cal .content-cols.row.no-gutters .col {
        cursor: default;
    }

    .cal a {
        color: #23282c;
        cursor: default;
    }

        .cal a:hover {
            text-decoration: none;
            cursor: default;
        }
</style>

<div class='modal-header b-b-0 pb-0'>
    <h3 class="modal-title">@title</h3>
    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
        <span aria-hidden='true'>x</span>
    </button>
</div>
<div class='modal-body'>
    @foreach (ScheduleViewModel monthmodel in Model.MonthModels)
    {
        var MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(monthmodel.Month);
        MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();
        var MonthTitle = MonthName + " " + SharedLocalizer["De"].ToString().ToLower() + " " + monthmodel.Year.ToString();

        <div class="font-xl mt-3 mb-2 mt-lg-0 text-center">@MonthTitle</div>
        <div class="mt-2 mb-2" id="@monthmodel.Year-@monthmodel.Month.ToString("00")">
            <vc:month-grid-schedule year=@monthmodel.Year month=@monthmodel.Month rows=@monthmodel.Rows.ToList() header=null editable=false></vc:month-grid-schedule>
        </div>
    }
</div>
<div class="modal-footer b-t-0 pt-0">
    @if (accepted && isAreaOwner)
    {
        <div class='row col-12'>
            <div class='col-lg-6 col-sm-12'>
                <span>@SharedLocalizer["¿Qué opción desea validar en el calendario?"]</span>
                <br /><span class="font-xs text-danger">@SharedLocalizer["Esta acción no se puede deshacer"].</span>
            </div>
            <div class='col-lg-6 col-sm-12 text-right mt-2'>
                <span id="option-selector" class="btn-group">
                    <button type="button" class="btn option-button btn-secondary" value="main"><span class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border' style='background-color:lightgrey; background-image:@MainBg'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Primera"]</span></button>
                    @if (Model.AdditionalData != null && JObject.Parse(Model.AdditionalData)["DaysSecond"].ToArray().Count() > 0)
                    {
                        <button type="button" class="btn option-button btn-secondary" value="second"><span class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border' style='background-color:lightgrey; background-image:@SecondBg'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Segunda"]</span></button>
                    }
                </span>
                <button type="button" class="btn option-button btn-secondary" value="none"><span style='white-space: nowrap'>@SharedLocalizer["Ninguna"]</span></button>
            </div>
        </div>
    }
    else
    {
        <div class="row ml-3 mr-3">
            <div class='col-6'><span class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border' style='background-color:lightgrey; background-image:@MainBg'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Primera opción"]</span></div>
            @if (Model.AdditionalData != null && JObject.Parse(Model.AdditionalData)["DaysSecond"].ToArray().Count() > 0)
            {
                <div class='col-6'><span class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border' style='background-color:lightgrey; background-image:@SecondBg'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Segunda opción"]</span></div>
            }
        </div>
    }
</div>

<script>
        $(document).ready(function () {

            $('.option-button').click(function () {
                var option = $(this).val();
                if (option == "none") {
                    $.ajaxGet("/request/show/@Model.Id");
                    $('#global-modal-lg').modal('hide');
                } else {
                    $.ajaxPostModal("/Schedule/ValidateRequest/@Model.Id/" + option, null, function (response) {
                        $('#global-modal-lg').modal('hide');
                    });
                }
            });

            $('.header-col').each(function () {
                $(this).children().attr("href", "#");
            });

            var additional_data = JSON.parse('@Html.Raw(Model.AdditionalData)');
            formatCalendar(additional_data)

            function formatCalendar(data) {

                const main_bg = '@MainBg';
                const second_bg = '@SecondBg';

                for (i = 0; i < data.DaysMain.length; i++) {
                    var year_month = data.DaysMain[i].substring(0, 7);
                    var day = data.DaysMain[i].substring(8, 10);
                    var calendar = $('#' + year_month)
                    var user_row = calendar.find("[data-id='@Model.UserId']");
                    var day_cell = user_row.children().not(".d-lg-none").eq(day - 1);
                    user_row.parent().siblings().css('font-weight', 'bold');
                    user_row.css({ "border": "1px solid black" })
                    day_cell.css('background-image', main_bg);
                }

                for (i = 0; i < data.DaysSecond.length; i++) {
                    var year_month = data.DaysSecond[i].substring(0, 7);
                    var day = data.DaysSecond[i].substring(8, 10);
                    var calendar = $('#' + year_month)
                    var user_row = calendar.find("[data-id='@Model.UserId']");
                    var day_cell = user_row.children().not(".d-lg-none").eq(day - 1);
                    user_row.parent().siblings().css('font-weight', 'bold');
                    user_row.css({ "border": "1px solid black" })
                    if (day_cell.css('background-image') != 'none') {
                        day_cell.css('background-image', main_bg + ", " + second_bg);
                    } else {
                        day_cell.css('background-image', second_bg);
                    }
                }

            }

        });
</script>
