﻿@* REQUEST - LIST *@
@using Perseo.Core
@using Perseo.Web.Models
@using Perseo.Web.HighCharts

@model RequestListViewModel

@inject IHighCharts HighCharts

@{
    ViewData["Title"] = SharedLocalizer["Gestión de Solicitudes"];
    var DtOptions = ViewBag.ServerSidePagination ? Html.Raw(@"serverSide : true, ajax: '/area/listdata/', deferLoading : " + ViewBag.RowCount) : Html.Raw("");

    AreaSplineChart chart_area_one = HighCharts.AreaSplineChart("area-one");
    chart_area_one.AddLabels(Model.AreaChart1.Labels);
    chart_area_one.AddData(Model.AreaChart1.Series[0].Name, Model.AreaChart1.Series[0].Data, Constants.color_1);
    chart_area_one.SetReducedFormat();

    AreaSplineChart chart_area_two = HighCharts.AreaSplineChart("area-two");
    chart_area_two.AddLabels(Model.AreaChart2.Labels);
    chart_area_two.AddData(Model.AreaChart2.Series[0].Name, Model.AreaChart2.Series[0].Data, Constants.color_light_blue);
    chart_area_two.SetReducedFormat();
    chart_area_two.Tooltip.ValueSuffix = "%";

    AreaSplineChart chart_area_three = HighCharts.AreaSplineChart("area-three");
    chart_area_three.AddLabels(Model.AreaChart3.Labels);
    chart_area_three.AddData(Model.AreaChart3.Series[0].Name, Model.AreaChart3.Series[0].Data, Constants.color_4);
    chart_area_three.SetReducedFormat();
    chart_area_three.Tooltip.ValueSuffix = "%";

    AreaSplineChart chart_area_four = HighCharts.AreaSplineChart("area-four");
    chart_area_four.AddLabels(Model.AreaChart4.Labels);
    chart_area_four.AddData(Model.AreaChart4.Series[0].Name, Model.AreaChart4.Series[0].Data, Constants.color_8);
    chart_area_four.SetReducedFormat();
    chart_area_four.Tooltip.ValueSuffix = "%";
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title="@ViewData["Title"]" subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* Navigation *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            @* Area *@
                            <span class="btn-group mb-3 mb-sm-0">
                                <select name="Types" id="type" class="d-none" data-multiple="true">
                                    @foreach (var item in Enum.GetValues(typeof(RequestType)).Cast<RequestType>())
                                    {
                                        <option value="@((int)item)" selected="@(Model.Types.Any(a => a == item) ? true : false)">
                                            @item.GetDisplayName()
                                        </option>
                                    }
                                </select>
                            </span>
                            <span class="btn-group mb-3 mb-sm-0">
                                <select name="States" id="state" class="d-none" data-multiple="true">
                                    @foreach (var item in Enum.GetValues(typeof(RequestState)).Cast<RequestState>())
                                    {
                                        <option value="@((int)item)" selected="@(Model.States.Any(a => a == item) ? true : false)">
                                            @item.GetDisplayName()
                                        </option>
                                    }
                                </select>
                            </span>
                            <span class="btn-group mr-3 mb-3 mb-sm-0">
                                <button class="btn btn-light rounded active" type="button" id="go_button"> @SharedLocalizer["Ir"]</button>
                            </span>
                            @* Date *@
                            <span class="btn-group mr-3 mb-3 mb-sm-0">
                                <vc:year-month-filter year=@ViewBag.Year month=@ViewBag.Month url="/request/list/$y/$m/@ViewBag.SelectedTypes/@ViewBag.SelectedStates"></vc:year-month-filter>
                            </span>
                        </div>
                    </div>
                </div>
                @* CHARTS *@
                <div class="row h-auto">
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@Model.AreaChart1.Series[0].Data.Last()</div>
                                <div>@Model.AreaChart1.Name</div>
                            </div>
                            @chart_area_one.Render()
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@Model.AreaChart2.Series[0].Data.Last() %</div>
                                <div>@Model.AreaChart2.Name</div>
                            </div>
                            @chart_area_two.Render()
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@Model.AreaChart3.Series[0].Data.Last() %</div>
                                <div>@Model.AreaChart3.Name</div>
                            </div>
                            @chart_area_three.Render()
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@Model.AreaChart4.Series[0].Data.Last() %</div>
                                <div>@Model.AreaChart4.Name</div>
                            </div>
                            @chart_area_four.Render()
                        </div>
                    </div>
                </div>
                @* CONTENT *@
                <div id="list-table-container" class="dt-hidden-container">
                    <table id="list-table" data-row-link="/request/show/" class="table table-hover table-sm table-striped dt-responsive dt-export dt-filter nowrap">
                        <thead>
                            <tr>
                                <th>@SharedLocalizer["Fecha"]</th>
                                <th>@SharedLocalizer["Prioridad"]</th>
                                <th>@SharedLocalizer["Estado"]</th>
                                <th>@SharedLocalizer["Tipo"]</th>
                                <th>@SharedLocalizer["Resumen"]</th>
                                <th>@SharedLocalizer["Usuario asignado"]</th>
                                <th>@SharedLocalizer["Usuario"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Requests)
                            {
                                <tr data-id="@item.Id">
                                    <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                                    <td>@item.Priority.GetDisplayName()</td>
                                    <td>@item.State.GetDisplayName()</td>
                                    <td>@item.Type.GetDisplayName()</td>
                                    <td>@Html.DisplayFor(modelItem => item.Summary)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AssignedUser)</td>
                                    <td>@Html.DisplayFor(modelItem => item.User)</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@SharedLocalizer["Fecha"]</th>
                                <th>@SharedLocalizer["Prioridad"]</th>
                                <th>@SharedLocalizer["Estado"]</th>
                                <th>@SharedLocalizer["Tipo"]</th>
                                <th>@SharedLocalizer["Resumen"]</th>
                                <th>@SharedLocalizer["Usuario asignado"]</th>
                                <th>@SharedLocalizer["Usuario"]</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    @HighCharts.RenderScript()

    <script>
        breadcrumb({ name: '@SharedLocalizer["Solicitudes"]', url: 'request' });
        $(document).ready(function () {
            $('#list-table').dt({ @DtOptions });

            $('#state').treeselect({
                buttontext: "Estado",
                div: '<div id="state-navigator" class="dropdown bts_dropdown float-right mr-3"></div>',
            });
            $('#type').treeselect({
                buttontext: "Tipo",
                div: '<div id="type-navigator" class="dropdown bts_dropdown float-right mr-3"></div>',
            });
            $('#go_button').click(function () {
                var state_arr = $.map($('#state-navigator').find("input[type='checkbox']:checked"), function (e, i) {
                    return +e.value;
                });
                var type_arr = $.map($('#type-navigator').find("input[type='checkbox']:checked"), function (e, i) {
                    return +e.value;
                });
                if (type_arr.length === 0) {
                    type_arr = $.map($('#type-navigator').find("input[type='checkbox']"), function (e, i) {
                        return +e.value;
                    });
                }
                var type = type_arr.join(';');
                var state = state_arr.length > 0 ? state_arr.join(';') : "";
                var url = "/request/list/" + @ViewBag.Year + "/" + @ViewBag.Month + "/" + type + "/" + state;
                $.ajaxGet(url);
            });
        });
    </script>
}