﻿@* REQUEST - SHOW *@

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Enviroment
@using Microsoft.AspNetCore.Html
@using Perseo.Core
@using Newtonsoft.Json.Linq;
@model RequestViewModel

@{
    ViewData["Title"] = SharedLocalizer["Solicitud de"] + " " + Model.Type.GetDisplayName();
    var AllowedStates = Model.AllowedStates.Select(q => new { Value = q.ToString(), Name = q.GetDisplayName() });
}

@functions{
    public IHtmlContent ChangeStateButtons()
    {
        string buttons = "";
        if (Model.State == RequestState.Created || Model.State == RequestState.Pending)
        {
            if (Model.IsCreator)
            {
                buttons = @"
                <span class='btn-group mb-3 mb-sm-0 mr-3'>
                    <button class='btn btn-warning edit-btn' type='button' data-target='#global-modal' data-toggle='modal' data-remote='/request/edit/" + Model.Id + "/" + RequestState.Closed + @"'>
                        <i class='icon-close'></i><span class='d-down-none'>&nbsp; " + SharedLocalizer["Cerrar"] + @"</span>
                    </button>
                </span>
                <span class='btn-group mb-3 mb-sm-0'>
                    <button class='btn btn-primary edit-btn' type='button' data-target='#global-modal' data-toggle='modal' data-remote='/request/edit/" + Model.Id + "/" + Model.State + @"'>
                        <i class='icon-speech'></i><span class='d-down-none'>&nbsp;" + SharedLocalizer["Comentario"] + @"</span>
                    </button>
                </span>";
            }
            else
            {
                buttons = @"
                <span class='btn-group mb-3 mb-sm-0'>
                    <button class='btn btn-primary edit-btn in-progress' type='button'>
                        <i class='icon-wrench'></i><span class='d-down-none'>&nbsp; " + SharedLocalizer["Gestionar"] + @"</span>
                    </button>
                </span>";
            }
        }
        else if (Model.State == RequestState.InProgress)
        {
            if (Model.IsAssigned)
            {
                buttons = @"
                <span class='btn-group mb-3 mb-sm-0 mr-3'>
                    <button class='btn btn-success edit-btn' type='button' data-target='#global-modal' data-toggle='modal' data-remote='/request/edit/" + Model.Id + "/" + RequestState.Accepted + @"'>
                        <i class='icon-like'></i><span class='d-down-none'>&nbsp; " + SharedLocalizer["Aceptar"] + @"</span>
                    </button>
                </span>
                <span class='btn-group mb-3 mb-sm-0 mr-3'>
                    <button class='btn btn-danger edit-btn' type='button' data-target='#global-modal' data-toggle='modal' data-remote='/request/edit/" + Model.Id + "/" + RequestState.Rejected + @"'>
                        <i class='icon-dislike'></i><span class='d-down-none'>&nbsp; " + SharedLocalizer["Rechazar"] + @"</span>
                    </button>
                </span>
                <span class='btn-group mb-3 mb-sm-0'>
                    <button class='btn btn-primary edit-btn' type='button' data-target='#global-modal' data-toggle='modal' data-remote='/request/edit/" + Model.Id + "/" + RequestState.Returned + @"'>
                        <i class='icon-share-alt'></i><span class='d-down-none'>&nbsp; " + SharedLocalizer["Devolver"] + @"</span>
                    </button>
                </span>";
            }
            else if (Model.IsCreator)
            {
                buttons = @"
                <span class='btn-group mb-3 mb-sm-0'>
                    <button class='btn btn-primary edit-btn' type='button' data-target='#global-modal' data-toggle='modal' data-remote='/request/edit/" + Model.Id + "/" + Model.State + @"'>
                        <i class='icon-speech'></i><span class='d-down-none'>&nbsp; " + SharedLocalizer["Comentario"] + @"</span>
                    </button>
                </span>";
            }
            else
            {
                buttons = @"
                <span class='btn-group mb-3 mb-sm-0'>
                    <button class='btn btn-primary edit-btn in-progress' type='button'>
                        <i class='icon-wrench'></i><span class='d-down-none'>&nbsp; " + SharedLocalizer["Gestionar"] + @"</span>
                    </button>
                </span>";
            }
        }
        else if (Model.State == RequestState.Returned || Model.State == RequestState.Rejected || Model.State == RequestState.Accepted)
        {
            if (Model.IsCreator)
            {
                buttons = @"
            <span class='btn-group mb-3 mb-sm-0 mr-3'>
                <button class='btn btn-warning' type='button' data-target='#global-modal' data-toggle='modal' data-remote='/request/edit/" + Model.Id + "/" + RequestState.Closed + @"'>
                    <i class='icon-close'></i><span class='d-down-none'>&nbsp; " + SharedLocalizer["Cerrar"] + @"</span>
                </button>
            </span>
            <span class='btn-group mb-3 mb-sm-0'>
                <button class='btn btn-primary' type='button' data-target='#global-modal' data-toggle='modal' data-remote='/request/edit/" + Model.Id + "/" + RequestState.Pending + @"'>
                    <i class='icon-share-alt'></i><span class='d-down-none'>&nbsp; " + SharedLocalizer["Devolver"] + @"</span>
                </button>
            </span>";
            }
        }
        return Html.Raw(buttons);
    }
}

@section Styles{
    <style>
        .col-form-label {
            color: #03657c;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form id="show-form">
                    @Html.AntiForgeryToken()
                    @* HEADER *@
                    <div class="row mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* Navigation *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="list" class="btn btn-secondary history-back">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                @ChangeStateButtons()
                            </div>
                        </div>
                    </div>
                    @* CONTENT *@
                    <div class="row">
                        <div class="col-sm-12 col-xl-6">
                            <div class="row">
                                <label asp-for="UserName" class="col-5 col-form-label"></label>
                                <div class="col-7">
                                    <input asp-for="UserName" class="form-control-plaintext" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <label asp-for="RequestDate" class="col-5 col-form-label"></label>
                                <div class="col-7">
                                    <input asp-for="RequestDate" class="form-control-plaintext" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <label asp-for="Type" class="col-5 col-form-label"></label>
                                <div class="col-7">
                                    <input name="Type" id="Type" value="@Model.Type.GetDisplayName()" class="form-control-plaintext" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <label asp-for="Priority" class="col-5 col-form-label"></label>
                                <div class="col-7">
                                    <input name="Priority" id="Priority" value="@Model.Priority.GetDisplayName()" class="form-control-plaintext" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xl-6">
                            <div class="row">
                                <label asp-for="Summary" class="col-sm-12 col-xl-5 col-form-label"></label>
                                <div class="col-sm-12 col-xl-7">
                                    <input asp-for="Summary" class="form-control-plaintext" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <label asp-for="Description" class="col-9 col-form-label"></label>
                                <div class="col-3 text-right">
                                    @if (Model.AdditionalData != null)
                                    {
                                        @if (JObject.Parse(Model.AdditionalData)["DaysMain"] != null
                                           && JObject.Parse(Model.AdditionalData)["DaysMain"].ToArray().Count() > 0)
                                        {
                                            <button class="btn btn-secondary" type="button" title="@SharedLocalizer["Ver en calendario"]" data-target="#global-modal-lg" data-toggle="modal" data-remote="/request/showschedule/@Model.Id">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        }
                                        @if (JObject.Parse(Model.AdditionalData)["UserIds"] != null
                                           && JObject.Parse(Model.AdditionalData)["UserIds"].ToArray().Count() > 0)
                                        {
                                            <button class="btn btn-secondary" type="button" title="@SharedLocalizer["Ver usuarios"]" data-target="#global-modal" data-toggle="modal" data-remote="/request/showusers/@Model.Id">
                                                <i class="fa fa-users"></i>
                                            </button>
                                        }
                                        @if (JObject.Parse(Model.AdditionalData)["TakeId"] != null)
                                                {
                                                    var qualityid = (int)JObject.Parse(Model.AdditionalData)["QualityId"];
                                                    var auditid = (int)JObject.Parse(Model.AdditionalData)["AuditId"];
                                                    var takeid = (int)JObject.Parse(Model.AdditionalData)["TakeId"];
                                                    <button class="btn btn-secondary" type="button" title="@SharedLocalizer["Ver auditoría"]" data-target="#global-modal-lg" data-toggle="modal" data-remote="/quality/@qualityid/audit/show/@auditid/take/@takeid">
                                                <i class="fa fa-check-square-o"></i>
                                            </button>
                                        }
                                    }
                                </div>
                                <div class="col-12">
                                    <textarea asp-for="Description" class="form-control-plaintext" rows="3" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-xl-6">
                            <div class="row">
                                <label asp-for="State" class="col-xl-5 col-form-label"></label>
                                <div class="col-xl-7">
                                    <input name="State" id="State" value="@Model.State.GetDisplayName()" class="form-control-plaintext" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <label asp-for="LastAssignedDate" class="col-xl-5 col-form-label"></label>
                                <div class="col-xl-7">
                                    <input asp-for="LastAssignedDate" class="form-control-plaintext" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <label asp-for="AssignedUserName" class="col-xl-5 col-form-label"></label>
                                <div class="col-xl-7">
                                    <input asp-for="AssignedUserName" class="form-control-plaintext" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xl-6">
                            <div class="row">
                                <label asp-for="LastComment" class="col-12 col-form-label"></label>
                                <div class="col-12">
                                    <textarea asp-for="LastComment" class="form-control-plaintext" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <div id="list-table-container" class="dt-hidden-container">
                                <table id="request-history-list-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>@SharedLocalizer["Fecha"]</th>
                                            <th>@SharedLocalizer["Estado"]</th>
                                            <th>@SharedLocalizer["Usuario"]</th>
                                            <th>@SharedLocalizer["Comentario"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.RequestHistory)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.EntryDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.State)</td>
                                                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Comment)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <br />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var modal_destination;
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Solicitudes"]', url: 'request' }, { name: '@SharedLocalizer["Editar"]', url: 'edit/@Model.Id' });

            $('#request-history-list-table').dt();

            $(".in-progress").click(function (e) {
                var token = $('input[name="__RequestVerificationToken"]').val();
                var data = { '__RequestVerificationToken': token, 'id': @Model.Id, 'NewState': '@RequestState.InProgress', 'NewComment':'@SharedLocalizer["Solicitud Asignada"]'};
                $.ajaxPost("/request/edit", data, function () {
                    $.ajaxGet("/request/show/@Model.Id");
                });
            });
        });
    </script>
}
