@* TRAINING - ADDUSER (MODAL) *@

@model AddTrainingUserViewModel

@{
    ViewData["Title"] = SharedLocalizer["Añadir"] + " " + (Model.UserType == "trainer" ? SharedLocalizer["Formador"] : SharedLocalizer["Asistente"]);
    ViewData["SubTitle"] = "";
}

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {
        
        var addibleUsersTable = $('#addibleUsers-table').dt();
        
        $("#adduser-form").submit(function (e) {
            e.preventDefault();

            var id_list = $.map(addibleUsersTable.rows({selected: true}).nodes(), function (item) {
                return $(item).data("id");
            });
            if (id_list.length < 1) {
                $('.errorMsgUserSelect').html("@SharedLocalizer["Se debe seleccionar al menos un usuario."]");
                return;
            }else{ $('.errorMsgUserSelect').html(''); }

            usersToAddStr = "&UsersToAddIds="
            for (i=0; i < id_list.length; i++){
                usersToAddStr = usersToAddStr + id_list[i] + ";" ;
            }
            usersToAddStr = usersToAddStr.replace(/(;$)/g, "");

            $.ajaxPostModal($(this).attr('action'), $(this).serialize() + usersToAddStr, function (response) {
                $.ajaxGet('/training/edit/' + response.content.id);
            });

            return false;
        });
    });
</script>

<form asp-action="AddUser" id="adduser-form" method="post" role="form" class="form-horizontal" autocomplete="off">
    <div class="modal-header b-b-0 pb-0">
        <h3 class="modal-title">@ViewData["Title"]</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrainingId" />
            <input type="hidden" asp-for="UserType" />
            <div class="col-sm-12">
                <div id="addibleUsers-table-container" class="dt-hidden-container">
                    <table id="addibleUsers-table" class="table table-hover table-sm table-striped dt-responsive nowrap select-multi">
                        <thead>
                            <tr>
                                <th>@SharedLocalizer["Usuario"]</th>
                                <th>@SharedLocalizer["Nombre"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var User in Model.AddibleUsers)
                            {
                            <tr class="non-clickable-row" data-id="@User.Id">
                                <td>@User.UserName</td>
                                <td>@User.FirstName @User.MainSurname @User.SecondSurname</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <span class="text-danger errorMsgUserSelect"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
</div>
</form>