@* TRAINING - EDIT *@

@model EditTrainingViewModel

@{
    ViewData["Title"] = SharedLocalizer["Editar"] + " " + @Model.Training.Name;
    ViewData["SubTitle"] = "";
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            breadcrumb({ name: "@SharedLocalizer["Formación"]", url: "training" }, { name: "@Model.Training.Name", url: "show/@Model.Training.Id" }, { name: "@SharedLocalizer["Edición"]" });

            $('#trainers-table').dt();
            $('#attendats-table').dt();
            $('#tests-table').dt();

            $('#AreaId').treeselect({ type: 'form' });

            $("#edit-form :input").not("input[name='Description']").each(function () {
                $(this).on('keyup', function (event) {
                    var $t = $(this);
                    $t.val(titleCase($t.val()));
                });
            });

            $("#edit-form").submit(function (e) {
                e.preventDefault();
                $.ajaxPost($(this).attr('action'), $(this).serialize(), function (response) {
                    $.ajaxGet('/training/show/@Model.Training.Id');
                });
            });

            $('a[id^="deleteusercheck"]').click(function (event) {

                var mycontent = `
                <form asp-action="DeleteUser" id="deleteuser-form" method="post" role="form" class="form-horizontal" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="col-xl-12 col-form-label">@SharedLocalizer["¿Está seguro de eliminar el usuario de la formación?"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer b-t-0 pt-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
                        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Confirmar"]</button>
                    </div>
                </form>`

                event.preventDefault();

                if ($(this).data("msgremote").length && $(this).data("msgtarget").length) {
                    var id = $(this).parent().parent().data("id")
                    var url = $(this).data("msgremote") + @Model.Training.Id + "/" + id;
                    var modal = $(this).data("msgtarget");
                    var $modal = $(modal);
                    var $modal_content = $(modal + ' ' + $(this).data("msgtarget") + '-content');
                    $.ajaxGet(url, function (jsresponse) {

                        if (jsresponse.result) {

                            $modal_content.append(mycontent);
                            $modal.modal("show");

                            $("#deleteuser-form").submit(function (e) {
                                e.preventDefault();
                                $.ajaxPostModal('/training/DeleteUser/@Model.Training.Id/' + id, $(this).serialize(), function (response) {
                                    $.ajaxGet('/training/edit/' + response.content.id);
                                });
                                return false;
                            });

                        } else {
                            toastr.error(jsresponse.response);
                        }
                    });
                }
            });

            $('a[id^="edittestcheck"]').click(function (event) {
                event.preventDefault();
                var testid = $(this).parent().parent().data("id")
                var trainingid = @Model.Training.Id;
                var url = '/training/' + trainingid + '/test/editcheck/' + testid;
                $.ajaxGet(url, function (jsresponse) {
                    if (jsresponse.result) {
                        url = '/training/' + trainingid + '/test/edit/' + testid;
                        ajax_call_on = false;
                        $.ajaxGet(url);
                    } else {
                        toastr.error(jsresponse.response);
                    }
                });
            });
        
            $('a[id^="deletetestcheck"]').click(function (event) {

                var mycontent = `
                <form asp-action="DeleteTest" id="deletetest-form" method="post" role="form" class="form-horizontal" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="col-xl-12 col-form-label">@SharedLocalizer["¿Está seguro de eliminar la prueba de la formación?"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer b-t-0 pt-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
                        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Confirmar"]</button>
                    </div>
                </form>`

                event.preventDefault();

                if ($(this).data("msgremote").length && $(this).data("msgtarget").length) {
                    var id = $(this).parent().parent().data("id")
                    var url = $(this).data("msgremote") + id;
                    var modal = $(this).data("msgtarget");
                    var $modal = $(modal);
                    var $modal_content = $(modal + ' ' + $(this).data("msgtarget") + '-content');
                    $.ajaxGet(url, function (jsresponse) {

                        if (jsresponse.result) {

                            $modal_content.append(mycontent);
                            $modal.modal("show");

                            $("#deletetest-form").submit(function (e) {
                                e.preventDefault();
                                $.ajaxPostModal('/training/@Model.Training.Id/test/delete/' + id, $(this).serialize(), function (response) {
                                    $.ajaxGet('/training/edit/' + response.content.id);
                                });
                                return false;
                            });

                        } else {
                            toastr.error(jsresponse.response);
                        }
                    });
                }
            });
        });

    </script>
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit" id="edit-form" method="post" role="form">
                    @* HEADER *@
                    <div class="row mb-3 mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title="@ViewData["Title"]" subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* NAVIGATION *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="Show" asp-route-id="@Model.Training.Id" class="btn btn-secondary">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                <span class="btn-group mb-3 mb-sm-0">
                                    <button class="btn btn-primary" type="submit" id="save-button">
                                        <i class="fa fa-save"></i>&nbsp; @SharedLocalizer["Guardar"]
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    @* FORM *@
                    <div class="row">
                        <div class="col">
                            <div class="form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Training.Id" />
                                <div class="row">
                                    @* LEFT COL *@
                                    <div class="col-sm-14 col-md-7 col-lg-7 col-xl-7">
                                        <div class="form-group row">
                                            <label asp-for="Training.Name" class="col-xl-3 col-form-label"></label>
                                            <div class="col-xl-9">
                                                <input asp-for="Training.Name" class="form-control" />
                                                <span asp-validation-for="Training.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="Training.Description" class="col-xl-3 col-form-label"></label>
                                            <div class="col-xl-9">
                                                <input asp-for="Training.Description" class="form-control" />
                                                <span asp-validation-for="Training.Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="Training.AreaId" class="col-xl-3 col-form-label"></label>
                                            <div class="col-xl-9">
                                                <select class="form-control" id="AreaId" name="Training.AreaId">
                                                    <option value=""></option>
                                                    @foreach (var area in Model.OwnedAreas)
                                                    {
                                                        <option value="@area.Id"
                                                                selected="@(Model.Training.AreaId == area.Id ? true : false)"
                                                                data-type="@((int)area.Type)"
                                                                data-parent="@(Model.OwnedAreas.Any(a => a.Id == area.ParentId) ? area.ParentId : null)">
                                                            @area.Name
                                                        </option>
                                                    }
                                                </select>
                                                <span asp-validation-for="Training.AreaId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @* RIGHT COL *@
                                    <div class="col-sm-14 col-md-5 col-lg-5 col-xl-5">
                                        <div class="form-group row">
                                            <label asp-for="Training.StartDate" class="col-xl-5 col-form-label"></label>
                                            <div class="col-xl-7 input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                <input asp-for="Training.StartDate" type="date" class="form-control" id="start-date" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="Training.EndDate" class="col-xl-5 col-form-label"></label>
                                            <div class="col-xl-7 input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                <input asp-for="Training.EndDate" type="date" class="form-control" id="end-date" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br>
                    @* TABLES *@
                    <div class="font-xl mb-3 mt-2 mr-1 mt-lg-0"><label asp-for="Trainers"></label>
                        <button class="btn btn-success float-right" type="button" data-remote="/training/AddUser/@Model.Training.Id/trainer" data-target="#global-modal" data-toggle="modal">
                            <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Añadir"]
                        </button>
                    </div>
                    <div id="trainers-table-container" class="dt-hidden-container">
                        <table id="trainers-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>@SharedLocalizer["Usuario"]</th>
                                    <th>@SharedLocalizer["Nombre"]</th>
                                    <th>@SharedLocalizer["Email"]</th>
                                    <th>@SharedLocalizer["Empleado"]</th>
                                    <th class="actions">
                                        @SharedLocalizer["Acciones"]
                                        <div class="d-none">
                                            <a id="deleteusercheck" href="#" class="btn btn-sm btn-ghost-danger" data-msgremote="/training/DeleteUserCheck/" data-msgtarget="#global-modal">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </th>
                            </thead>
                            <tbody>
                                @foreach (var User in Model.Trainers)
                                {
                                <tr class="non-clickable-row" data-id="@User.Id">
                                    <td>@User.UserName</td>
                                    <td>@User.FirstName @User.MainSurname @User.SecondSurname</td>
                                    <td>@User.Email</td>
                                    <td>@User.EmployeeId</td>
                                    <td></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br> 
                    <div class="font-xl mb-3 mt-2 mr-1 mt-lg-0"><label asp-for="Attendants"></label>
                        <button class="btn btn-success float-right" type="button" data-remote="/training/AddUser/@Model.Training.Id/attendant" data-target="#global-modal" data-toggle="modal">
                            <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Añadir"]
                        </button>
                    </div>
                    <div id="attendats-table-container" class="dt-hidden-container">
                        <table id="attendats-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>@SharedLocalizer["Usuario"]</th>
                                    <th>@SharedLocalizer["Nombre"]</th>
                                    <th>@SharedLocalizer["Email"]</th>
                                    <th>@SharedLocalizer["Empleado"]</th>
                                    <th class="actions">
                                        @SharedLocalizer["Acciones"]
                                        <div class="d-none">
                                            <a id="deleteusercheck" href="#" class="btn btn-sm btn-ghost-danger" data-msgremote="/training/DeleteUserCheck/" data-msgtarget="#global-modal">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var User in Model.Attendants)
                                {
                                <tr class="non-clickable-row" data-id="@User.Id">
                                    <td>@User.UserName</td>
                                    <td>@User.FirstName @User.MainSurname @User.SecondSurname</td>
                                    <td>@User.Email</td>
                                    <td>@User.EmployeeId</td>
                                    <td></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br>                        
                    <div class="font-xl mb-3 mt-2 mr-1 mt-lg-0"><label asp-for="Tests"></label>
                        <a class="btn btn-success float-right" href="/training/@Model.Training.Id/test/add/">
                            <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Nuevo"]
                        </a>
                    </div>
                    <div id="tests-table-container" class="dt-hidden-container">
                        <table id="tests-table" data-row-link="/training/@Model.Training.Id/test/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>@SharedLocalizer["Nombre"]</th>
                                    <th>@SharedLocalizer["Descripción"]</th>
                                    <th class="actions">
                                        @SharedLocalizer["Acciones"]
                                        <div class="d-none">
                                            <a id="ShowTest" class="btn btn-sm btn-ghost-danger!" href="/training/@Model.Training.Id/test/show">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a id="edittestcheck" href="#" class="btn btn-sm btn-ghost-danger">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a id="deletetestcheck" href="#" class="btn btn-sm btn-ghost-danger" data-msgremote="/training/@Model.Training.Id/test/deletecheck/" data-msgtarget="#global-modal">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Test in Model.Tests)
                                {
                                <tr class="clickable-row" data-id="@Test.Id">
                                    <td>@Test.Name</td>
                                    <td>@Test.Description</td>
                                    <td></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
