@* TRAINING - EDIT_TEST *@

@using Perseo.Web.Models
@using Perseo.Core

@model TrainingTestViewModel
@{

    if (Model.Id > 0)
    {
        ViewData["Title"] = SharedLocalizer["Editar Prueba"] + " " + Model.Name;
    }
    else
    {
        ViewData["Title"] = SharedLocalizer["Nueva Prueba"];
    }

    ViewData["SubTitle"] = SharedLocalizer["Acción Formativa"] + " " + Model.TrainingName;

    Dictionary<int, string>
    test_field_type = new Dictionary<int, string>();
    var AuditFieldTypes = Enum.GetValues(typeof(AuditFieldType)).Cast<AuditFieldType>();
    foreach (AuditFieldType item in AuditFieldTypes)
    {
        test_field_type[(int)item] = item.GetDisplayName();
    }
    var type_array = @Html.Raw(Json.Serialize(test_field_type));
}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form>
                        @* HEADER *@
                        <div class="row mb-sm-4 mb-xl-3">
                            @* Title *@
                            <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                            <vc:mobile-nav-button></vc:mobile-nav-button>
                            @* Navigation *@
                            <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                                <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                    @{var backurl = ""; if (Model.Id > 0) { backurl = "training/" + Model.TrainingId + "/test/show/" + Model.Id; } else { backurl = "training/edit/" + Model.TrainingId; }}
                                    <span class="btn-group mb-3 mb-sm-0 mr-3">
                                        <a id="back" href=@backurl class="btn btn-secondary">
                                            <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                        </a>
                                    </span>
                                    @* Edit *@
                                    <span class="btn-group mb-3 mb-sm-0">
                                        <button class="btn btn-primary" id="save-button" type="button" formaction="/training/add/@Model.Id">
                                            <i class="fa fa-save"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Guardar"]</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row test">
                            @*<input type="hidden" asp-for="Id" />*@
                            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                            <input type="hidden" asp-for="TrainingId" />
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group row">
                                    <label asp-for="Name" class="col-5 col-form-label"></label>
                                    <div class="col-7">
                                        <input asp-for="Name" class="form-control" placeholder="@SharedLocalizer["Insertar texto aquí"]" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Description" class="col-5 col-form-label"></label>
                                    <div class="col-7">
                                        <input asp-for="Description" class="form-control" placeholder="@SharedLocalizer["Insertar texto aquí"]" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="PassMark" class="col-5 col-form-label"></label>
                                    <div class="col-7">
                                        <input type="number" asp-for="PassMark" class="form-control" placeholder=@SharedLocalizer["1-100"] />
                                        <span asp-validation-for="PassMark" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group row">
                                    <label asp-for="StartDate" class="col-5 col-form-label"></label>
                                    <div class="col-7">
                                        <input asp-for="StartDate" class="form-control" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="EndDate" class="col-5 col-form-label"></label>
                                    <div class="col-7">
                                        <input asp-for="EndDate" class="form-control" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Attempts" class="col-5 col-form-label"></label>
                                    <div class="col-7">
                                        <input type="number" asp-for="Attempts" class="form-control" placeholder=@SharedLocalizer["1-100"] />
                                        <span asp-validation-for="PassMark" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Time" class="col-5 col-form-label"></label>
                                    <div class="col-7">
                                        <input type="number" asp-for="Time" class="form-control" placeholder="@SharedLocalizer["(OPCIONAL)"] @SharedLocalizer["En minutos"]" />
                                        <span asp-validation-for="PassMark" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="test-start"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

@section Styles{
    <style>
        .card-header {
            padding-top: 8px;
            padding-bottom: 8px;
        }

            .card-header i.icon-arrow-down {
                transition: .3s transform ease-in-out;
            }

            .card-header .collapsed i.icon-arrow-down {
                transform: rotate(90deg);
            }

        .option-order {
            display: block;
            width: 35px;
        }

        .form-control::-webkit-input-placeholder {
            color: #ccc;
        }

        .form-control:-moz-placeholder {
            color: #ccc;
        }

        .form-control::-moz-placeholder {
            color: #ccc;
        }

        .form-control:-ms-input-placeholder {
            color: #ccc;
        }
    </style>
}

@section Scripts{
    <script>

    $(document).ready(function () {

        breadcrumb({ name: "@SharedLocalizer["Formación"]", url: "training" }, { name: "@Model.TrainingName", url: "show/@Model.TrainingId" }, { name: "@ViewData["Title"]" });

        var active = true;
        var init_url = window.location.href;
        var saveinter;

        function nextLetter(s = null) {
            if (typeof s !== 'string') {
                return 'a';
            }
            return s.replace(/([a-zA-Z])[^a-zA-Z]*$/, function (a) {
                var c = a.charCodeAt(0);
                switch (c) {
                    case 90: return 'A';
                    case 122: return 'a';
                    default: return String.fromCharCode(++c);
                }
            });
        }

        function autosave() {
            saveinter = setInterval(function () {
                var url = window.location.href;
                if (url == init_url) { 
                    save();
                }else{
                    clearInterval(saveinter);
                }
            }, 5*60*1000);
        }

        function section(order, id="", name = "", weighing = "", fields = "") {

            var random_id = Math.random().toString(36).substring(2, 15);

            return `<div class='mt-3 section'>
            <input type='hidden' name='Id' value='${id}'>
                <div class='card'>
                    <div class='card-header bg-secondary'>
                        <h5 class='mb-0 d-inline'>
                            @SharedLocalizer["Sección"] <span class='section-order'>${order}</span>
                        </h5>
                        <div class="card-header-actions mt-1">
                            <a class="card-header-action" data-toggle="collapse" aria-expanded="true" href="#${random_id}">
                                <i class="d-inline-block icon-arrow-down font-lg"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class='row' data-order='0'>
                            <div class='col-6'>
                                <div class='form-group row mb-0'>
                                    <label class='col-xl-4 col-form-label' for='Name'>@SharedLocalizer["Nombre"]</label>
                                    <div class='col-xl-8'>
                                        <input type='text' class='form-check-label form-control' name='Name' placeholder="@SharedLocalizer["Insertar texto aquí"]"  value='${name}'>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-6'>
                                <div class='form-group row mb-0'>
                                    <label class='col-xl-4 col-form-label' for='Weighing'>@SharedLocalizer["Peso"]</label>
                                    <div class='col-xl-8'>
                                        <input type='number' class='form-check-label form-control' name='Weighing' placeholder=@SharedLocalizer["1-100"] value='${weighing}'>
                                        <span asp-validation-for="Weighing" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='${random_id}'class='collapse show'>
                    <ul class='list-group field-list'>
                        ${fields}
                    </ul>
                    <button class='btn btn-pill btn-outline-success mt-0 pr-2 pl-2 add-field float-right' type='button'>
                        <i class='fa fa-plus-circle'></i>&nbsp; @SharedLocalizer["Añadir Campo"]
                    </button>
                </div>
                <br><br>
            </div>`;
        }

        function field(section_order, order, id="", name = "", weighing = "", type = null, options = "") {

            var type_html = type !== null ? field_type(type, options) : "<div class='row mb-0 options'></div>";

            var type_array = JSON.parse(`@type_array`);

            var select_type_html = "<select class='form-control valid select-type' name='Type' aria-invalid='false'><option value=''></option>";
            Object.keys(type_array).forEach(function (key) {
                var text = type_array[key];
                var value = parseInt(key);
                var selected = type === value ? ' selected' : '';
                select_type_html += `<option value=${value} ${selected}>${text}</option>`;
            });
            select_type_html += "</select>";
            var random_id = Math.random().toString(36).substring(2, 15);

            return `<li class='list-group-item p-0 mb-4 card field'>
                <div class='card-header'>
                    <a class="card-header-action ml-n2 mr-2" href="#">
                        <i class="icon-cursor-move font-lg"></i>
                    </a>
                    <h5 class='m-0 d-inline'>@SharedLocalizer["Campo"] <span>${section_order}.</span><span class='field-order'>${order}</span></h5>
                    <div class="card-header-actions mt-1">
                        <a class="card-header-action mr-2 text-danger delete-field" href="#">
                            <i class="icon-close font-lg"></i>
                        </a>
                        <a class="card-header-action" data-toggle="collapse" aria-expanded="true" href="#${random_id}">
                            <i class="d-inline-block icon-arrow-down font-lg"></i>
                        </a>
                    </div>
                </div>
                <input type='hidden' name='Id' value='${id}'>
                <div class="collapse show" id="${random_id}">
                    <div class="card-body pb-1">
                        <div class='form-group row'>
                            <label class='col-xl-2 col-form-label' for='Name'>@SharedLocalizer["Enunciado"]</label>
                            <div class='col-xl-10'>
                                <textarea class='form-control' name='Name' placeholder="@SharedLocalizer["Insertar texto aquí"]"  rows='2'>${name}</textarea>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class='row' data-order='0'>
                            <div class='col-6'>
                                <div class='form-group row'>
                                    <label class='col-xl-4 col-form-label' for='Type'>@SharedLocalizer["Tipo"]</label>
                                    <div class='col-xl-8'>
                                        ${select_type_html}
                                        <span asp-validation-for="Type" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-6'>
                                <div class='form-group row'>
                                    <label class='col-xl-4 col-form-label' for='Weighing'>@SharedLocalizer["Peso"]</label>
                                    <div class='col-xl-8'>
                                        <input type='number' class='form-check-label form-control' name='Weighing' placeholder=@SharedLocalizer["1-100"] value='${weighing}'>
                                        <span asp-validation-for="Weighing" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        ${type_html}
                    </div>
                </div>
            </li>`;
        }

        function field_type(type, options = "") {
            var html = ``;
            var random_id = Math.random().toString(36).substring(2, 15);
            switch (type) {
                case 1:
                    html = `<div class='row mb-0 options'></div>`;
                    break;
                case 2:
                    options = options !== "" ? options : option(false, 'a', random_id) + option(false, 'b', random_id);
                    html = `<div class='form-group row mb-0 options'>
		                <label class='col-xl-2 col-form-label'>@SharedLocalizer["Opciones"]</label>
                        <div class='col-xl-10'>
                            ${options}
                            <div class='input-group col-12 mb-1 pl-0 pr-0 add-option'>
                                <span asp-validation-for="Options" class="text-danger"></span>
                                <input type='text' class='form-control invisible'>
                                <button class='btn btn-pill btn-ghost-primary pr-2 pl-2 add-option' type='button'>
                                    <i class='icon-plus'></i>
                                </button>
                            </div>
                        </div>
	                </div>`;
                    break;
                case 3:
                    options = options !== "" ? options : option(true, 'a', random_id) + option(true, 'b', random_id);
                    html = `<div class='form-group row mb-0 options multi'>
		                <label class='col-xl-2 col-form-label'>@SharedLocalizer["Opciones"]</label>
                        <div class='col-xl-10'>
                            ${options}
                            <div class='input-group col-12 mb-1 pl-0 pr-0 add-option'>
                                <span asp-validation-for="Options" class="text-danger"></span>
                                <input type='text' class='form-control invisible'>
                                <button class='btn btn-pill btn-ghost-primary pr-2 pl-2 add-option' type='button'>
                                    <i class='icon-plus'></i>
                                </button>
                            </div>
                        </div>
	                </div>`;
                    break;
                default:
                    html = `<div class='row mb-0 options'></div>`;
            }
            return html;
        }

        function option(multiple, letter, random_id,  id="", content = "", mark = false) {

            var checked = mark ? " checked " : "";

            var input = multiple ? `<input type='checkbox' name='Mark_${random_id}' ${checked}>` : `<input type='radio' name='Mark_${random_id}' ${checked}>`;
            return `<div class='input-group col-12 mb-1 pl-0 pr-0 option'>
                <input type='hidden' name='Id' value='${id}'>
                <div class='input-group-prepend'>
                    <div class='input-group-text'>
                        ${input}
                    </div>
                    <span class="input-group-text bg-transparent option-order">${letter}</span>
                </div>
                <input type='text' class='form-control' name='Content' placeholder="@SharedLocalizer["Insertar texto aquí"]" value='${content}'>
	            <div class='input-group-append'>
		            <button class='btn btn-pill btn-ghost-danger pr-2 pl-2 delete-option' type='button'><i class='icon-close'></i></button>
	            </div>
            </div>`;
        }

        function form_to_json() {
            var sections = new Array();
            $('.section').each(function (section_index) {
                var section_id = parseInt($(this).find('input[name="Id"]').first().val());
                var name = $(this).find('input[name="Name"]').first().val();
                var weighing = parseFloat($(this).find('input[name="Weighing"]').val());
                sections[section_index] = { Id: section_id, Order: section_index + 1, Name: name, Description: "", Weighing: weighing, Fields: new Array() };
                $(this).find('.field').each(function (field_index) {
                    var field_id = parseInt($(this).find('input[name="Id"]').first().val());
                    var name = $(this).find('textarea[name="Name"]').val();
                    var type = $(this).find('select[name="Type"]').val();
                    var weighing = parseFloat($(this).find('input[name="Weighing"]').val());
                    sections[section_index].Fields[field_index] = { Id: field_id, Order: field_index+1, Name: name, Type: type, Weighing: weighing, Options: new Array() };
                    $(this).find('.option').each(function (option_index) {
                        var option_id = parseInt($(this).find('input[name="Id"]').first().val());
                        var content = $(this).find('input[name="Content"]').val();
                        var mark = $(this).find('input[name^="Mark"]').prop('checked');
                        sections[section_index].Fields[field_index].Options[option_index] = { Id: option_id, Order: option_index+1, Content: content, Mark: mark, Value: 0};
                    });
                });
            });
            var training_id = parseInt($('input[name="TrainingId"]').first().val());
            var test_id = parseInt($('input[name="Id"]').first().val());
            var name = $('input[name="Name"]').first().val();
            var description = $('input[name="Description"]').first().val();
            var pass_mark = parseInt($('input[name="PassMark"]').first().val());
            var attempts = parseInt($('input[name="Attempts"]').first().val());
            var time = parseInt($('input[name="Time"]').first().val());
            var start_date = $('input[name="StartDate"]').first().val();
            var end_date = $('input[name="EndDate"]').first().val();
            var Test = { TrainingId: training_id, Id: test_id, Name: name, Description: description, PassMark: pass_mark, Attempts: attempts, Time: time, StartDate: start_date, EndDate: end_date, Sections: sections}
            return JSON.stringify(Test);
        }

        function save() {

            if (!form_validation()) { return; }

            var data = form_to_json();

            if (active) {
                if(@Model.Id > 0) {
                    $.ajaxPost('/training/@Model.TrainingId/test/edit/@Model.Id', data,'');
                } else {
                    $.ajaxPost('/training/@Model.TrainingId/test/add', data, '');
                }
            } else{
                if (@Model.Id > 0) {
                    $.ajaxPost('/training/@Model.TrainingId/test/edit/@Model.Id', data, function (response) { $.ajaxGet('/training/edit/@Model.TrainingId');});
                } else {
                    $.ajaxPost('/training/@Model.TrainingId/test/add', data, function (response) { $.ajaxGet('/training/edit/@Model.TrainingId');});
                }
            }
        }

        function form_validation() {

            var result = true;

            $('#StartDate').each(function () {
                var value = $(this).val();
                if (value == "") {
                    $(this).siblings((".text-danger")).html("@SharedLocalizer["La fecha no es válida."]");
                    result = false;
                } else { $(this).siblings((".text-danger")).html(''); }
            });

            $("input[name='Name'], input[name='Description']").each(function () {
                var value = $(this).val();
                if (value == "") {
                    $(this).siblings((".text-danger")).html("@SharedLocalizer["El campo es obligatorio."]");
                    result = false;
                } else { $(this).siblings((".text-danger")).html(''); }
            });

            $("[type='number']").not("input[name = 'Time']").each(function () {
                var value = parseInt($(this).val());
                if (isNaN(value) || (value < 1) || (value > 100)) {
                    $(this).siblings((".text-danger")).html("@SharedLocalizer["El valor debe estar entre 1 y 100."]");
                    result = false;
                } else { $(this).siblings((".text-danger")).html(''); }
            });

            $("textarea").each(function () {
                var value = $(this).val();
                $(this).val(value.replace(/(\r\n|\n|\r)/gm, " "));
                if (value == "") {
                    $(this).siblings((".text-danger")).html("@SharedLocalizer["El campo es obligatorio."]");
                    result = false;
                } else { $(this).siblings((".text-danger")).html(''); }
            });

            $("select").each(function () {
                var value = $(this).val();
                if (value == "") {
                    $(this).siblings((".text-danger")).html("@SharedLocalizer["El campo es obligatorio."]");
                    result = false;
                } else { $(this).siblings((".text-danger")).html(''); }
            });

            $(".options").each(function () {

                if ($(this).html()) {

                    notacomplished = false;
                    $(this).children().children().children("[name = 'Content']").each(function () {
                        if ($(this).val() == "") {
                            notacomplished = true;
                        }
                    });

                    notchecked = true;
                    $(this).children().children().children().children().children("[name^='Mark']").each(function () {
                        if ($(this).prop('checked')) {
                            notchecked = false
                        }
                    });

                    result = ( notacomplished || notchecked ? false : result );

                    var msg = "";
                    if (notacomplished) { msg = "@SharedLocalizer["Todos los campos son obligatorios."]"; }
                    if (notchecked) {
                        msg = msg.length ? msg + " " : "";
                        msg = msg + "@SharedLocalizer["No se ha seleccionado ninguna opción correcta."]";
                    }
                    $(this).children().children().children(".add-option").siblings(".text-danger").html(msg);
                }
            });

            return result;
        }

        function init_sortable() {
            $("ul.field-list").sortable({
                handle: 'i.icon-cursor-move',
                onDrop: function ($item, container, _super, event) {
                    $item.removeClass(container.group.options.draggedClass).removeAttr("style");
                    $("body").removeClass(container.group.options.bodyClass);
                    var i = 1;
                    $('ul.field-list .field-order').each(function (e) {
                        $(this).text(i);
                        i++;
                    });
                }
            });
        }

        function init_add() {
            $('#test-start').append(section(1, "", "", "", field(1, 1)));
            $('#test-start').append(add_section_button());
            init_sortable();
         }

        function init_edit() {
            var Sections = JSON.parse('@Html.Raw(Json.Serialize(Model.Sections))');
            Sections.sort((a, b) => (a.order > b.order) ? 1 : -1);
            var sections_html = "";
            Object.keys(Sections).forEach(function (s_key) {
                var Section = Sections[s_key];
                Section.fields.sort((a, b) => (a.order > b.order) ? 1 : -1);
                var fields_html = "";
                Object.keys(Section.fields).forEach(function (f_key) {
                    var Field = Section.fields[f_key];
                    Field.options.sort((a, b) => (a.order > b.order) ? 1 : -1);
                    var multiple = Field.type == 3 ? true : false;
                    var options_html = "";
                    var letter = "a";
                    var random_id = Math.random().toString(36).substring(2, 15);
                    Object.keys(Field.options).forEach(function (o_key) {
                        var Option = Field.options[o_key];
                        options_html += option(multiple, letter, random_id, Option.id, Option.content, Option.mark);
                        letter = nextLetter(letter);
                    });
                    fields_html += field(Section.order, Field.order, Field.id, Field.name, Field.weighing, Field.type, options_html);
                });
                sections_html += section(Section.order, Section.id, Section.name, Section.weighing, fields_html);
            });
            $('#test-start').append(sections_html);
            $('#test-start').append(add_section_button());
            init_sortable();
            autosave();
        }

        function add_section_button() {
            return `<button class='btn btn-pill btn-outline-success mt-0 pr-2 pl-2 add-section float-left' type='button'>
                <i class='fa fa-plus-circle'></i>&nbsp; @SharedLocalizer["Añadir Sección"]
            </button>`
        }

        function add_section() {
            var order = parseInt($(this).prev('.section').find('.section-order').last().text());
            order = isNaN(order) ? 1 : order + 1;
            $(this).remove();
            $('#test-start').append(section(order, "", "", "", field(order, 1)));
            $('#test-start').append(add_section_button());
        }

        function add_field() {
            var section_order = parseInt($(this).closest('.section').find('.section-order').first().text());
            var order = parseInt($(this).prev("ul").find('.field-order').last().text());
            order = isNaN(order) ? 1 : order + 1;
            $(this).prev("ul").append(field(section_order, order));
            $("ul.field-list").sortable("refresh");
        }

        function delete_field() {
            $(this).closest("li.field").remove();
            var i = 1;
            $('ul.field-list .field-order').each(function (e) {
                $(this).text(i);
                i++;
            });
            $("ul.field-list").sortable("refresh");
        }

        function select_type() {
            var t = parseInt($(this).val());
            $(this).closest('li').find('div.options').replaceWith(field_type(t));
        }

        function add_option() {
            var multiple = $(this).closest('div.options').hasClass('multi');
            var letter = $(this).closest('div.options').find('.option-order').last().html();
            var random_id = $(this).closest('div.options').find("[name^='Mark']").attr('Name').replace("Mark_", "");
            letter = nextLetter(letter);
            $(this).closest('div.add-option').before(option(multiple, letter, random_id));
        }

        function delete_option() {
            var $options = $(this).closest('div.options');
            $(this).closest('div.option').remove();
            var letter = 'a';
            $options.find('.option-order').each(function (e) {
                $(this).text(letter);
                letter = nextLetter(letter);
            });
        }

        $('#test-start').on("click", ".add-section", add_section);

        $('#test-start').on("click", ".add-field", add_field);

        $('#test-start').on("click", ".delete-field", delete_field);

        $('#test-start').on("change", "select.select-type", select_type);

        $('#test-start').on("click", "button.add-option", add_option);

        $('#test-start').on("click", "button.delete-option", delete_option);

        $('#save-button').click(function () {
            clearInterval(saveinter);
            active = false;
            save();
        });

        if (@Model.Id > 0)
        {
            init_edit();
        }
        else
        {
            init_add();
        }
    });
    </script>
}