@* TRAINING - LIST *@

@using Perseo.Web.Models
@using Perseo.Web.HighCharts

@inject IHighCharts HighCharts

@model ListTrainingViewModel
@{
    ViewData["Title"] = SharedLocalizer["Acciones Formativas"];
    ViewData["SubTitle"] = "";

    string selectedareas = string.Join(";", Model.SelectedAreasIds);

    AreaSplineChart chart_area_one = HighCharts.AreaSplineChart("area-one");
    chart_area_one.AddLabels(Model.AreaChart1.Labels);
    chart_area_one.AddData(Model.AreaChart1.Series[0].Name, Model.AreaChart1.Series[0].Data, Constants.color_1);
    chart_area_one.SetReducedFormat();

    AreaSplineChart chart_area_two = HighCharts.AreaSplineChart("area-two");
    chart_area_two.AddLabels(Model.AreaChart2.Labels);
    chart_area_two.AddData(Model.AreaChart2.Series[0].Name, Model.AreaChart2.Series[0].Data, Constants.color_light_blue);
    chart_area_two.SetReducedFormat();

    AreaSplineChart chart_area_three = HighCharts.AreaSplineChart("area-three");
    chart_area_three.AddLabels(Model.AreaChart3.Labels);
    chart_area_three.AddData(Model.AreaChart3.Series[0].Name, Model.AreaChart3.Series[0].Data, Constants.color_4);
    chart_area_three.SetReducedFormat();

    AreaSplineChart chart_area_four = HighCharts.AreaSplineChart("area-four");
    chart_area_four.AddLabels(Model.AreaChart4.Labels);
    chart_area_four.AddData(Model.AreaChart4.Series[0].Name, Model.AreaChart4.Series[0].Data, Constants.color_8);
    chart_area_four.SetReducedFormat();
    chart_area_four.Tooltip.ValueSuffix = "%";
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @HighCharts.RenderScript()

    <script>
        $(document).ready(function () {
            breadcrumb({ name: "@SharedLocalizer["Formación"]"});

            $('#list-table').dt();

            $('a[id^="deletecheck"]').click( function (event) {

                var mycontent = `
                <form asp-action="Delete" id="delete-form" method="post" role="form" class="form-horizontal" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="col-xl-12 col-form-label">@SharedLocalizer["¿Está seguro de eliminar la formación?"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer b-t-0 pt-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
                        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Confirmar"]</button>
                    </div>
                </form>`

                event.preventDefault();

                if ($(this).data("msgremote").length && $(this).data("msgtarget").length) {
                    var id = $(this).parent().parent().data("id")
                    var url = $(this).data("msgremote") + id;
                    var modal = $(this).data("msgtarget");
                    var $modal = $(modal);
                    var $modal_content = $(modal + ' ' + $(this).data("msgtarget") + '-content');
                    $.ajaxGet(url, function (jsresponse) {

                        if (jsresponse.result) {

                            $modal_content.append(mycontent);
                            $modal.modal("show");

                            $("#delete-form").submit(function (e) {
                                e.preventDefault();
                                $.ajaxPostModal('/training/delete/' + id, $(this).serialize(), function () {
                                    $.ajaxGet('/training/list/');
                                });
                                return false;
                            });

                        } else {
                            toastr.error(jsresponse.response);
                        }
                    });
                }
            });

        });
    </script>
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* Navigation *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            @* Area Filter*@
                            <span class="btn-group mb-3 mb-sm-0">
                                <vc:area-filter owned-areas=@Model.OwnedAreas selected-areas-ids=@Model.SelectedAreasIds multiple=true></vc:area-filter>
                            </span>
                            @* Go Filter Button *@
                            <span class="btn-group mr-3 mb-3 mb-sm-0">
                                <vc:go-filter-button base-url=@null></vc:go-filter-button>
                            </span>
                            @* Date *@
                            <span class="btn-group mr-3 mb-3 mb-sm-0">
                                <vc:year-month-filter year=@Model.Year month=@Model.Month url="/training/list/$y/$m/@selectedareas"></vc:year-month-filter>
                            </span>
                            @* Botones *@
                            <span class="btn-group mb-3 mb-sm-0">
                                <button class="btn btn-primary" type="button" data-remote="/training/add" data-target="#global-modal" data-toggle="modal">
                                    <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Nueva"]
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                @* CHARTS *@
                <div class="row h-auto">
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@Model.AreaChart1.Series[0].Data.Last()</div>
                                <div>@Model.AreaChart1.Name</div>
                            </div>
                            @chart_area_one.Render()
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@Model.AreaChart2.Series[0].Data.Last()</div>
                                <div>@Model.AreaChart2.Name</div>
                            </div>
                            @chart_area_two.Render()
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@Model.AreaChart3.Series[0].Data.Last()</div>
                                <div>@Model.AreaChart3.Name</div>
                            </div>
                            @chart_area_three.Render()
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@Model.AreaChart4.Series[0].Data.Last() %</div>
                                <div>@Model.AreaChart4.Name</div>
                            </div>
                            @chart_area_four.Render()
                        </div>
                    </div>
                </div>
                @* CONTENT *@
                <div id="list-table-container" class="dt-hidden-container">
                    <table id="list-table" data-row-link="/training/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>@SharedLocalizer["Nombre"]</th>
                                <th>@SharedLocalizer["Descripción"]</th>
                                <th>@SharedLocalizer["Fecha Inicio"]</th>
                                <th>@SharedLocalizer["Fecha Fin"]</th>
                                <th class="actions">
                                    @SharedLocalizer["Acciones"]
                                    <div class="d-none">
                                        <a id="show" href="/training/show" class="btn btn-sm btn-ghost-primary">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a id="edit" asp-action="Edit" class="btn btn-sm btn-ghost-success">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a id="deletecheck" href="#" class="btn btn-sm btn-ghost-danger" data-msgremote="/training/DeleteCheck/" data-msgtarget="#global-modal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var training in Model.Data)
                            {
                                <tr class="clickable-row" data-id="@training.Id">
                                    <td>@training.Name</td>
                                    <td>@training.Description</td>
                                    <td>@Html.DisplayFor(modelItem => training.StartDate)</td>
                                    <td>@Html.DisplayFor(modelItem => training.EndDate)</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
