@* TRAINING - SHOW *@

@model ShowTrainingViewModel
@{
    ViewBag.Tab = "show";
    Layout = "_ShowTrainingLayout.cshtml";
}

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#attendats-table').dt();
            $('#tests-table').dt();

        });
    </script>
}

<div id="training" class="tab-pane fade show active">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row">
                <label asp-for="Training.Description" class="col-5 col-form-label"></label>
                <input asp-for="Training.Description" class="col-7 form-control-plaintext" disabled />
            </div>
            @if (Model.Trainers.Count() <= 1)
            {
                <div class="row">
                    <label class="col-5 col-form-label" for="FullName">@SharedLocalizer["Formador"]</label>
                    @foreach (var Trainer in Model.Trainers)
                    {
                        <input class="col-7 form-control-plaintext" disabled type="text" id="FullName" name="FullName" value="@Trainer.FirstName @Trainer.MainSurname @Trainer.SecondSurname" />
                    }
                </div>
            }
            @if (Model.Trainers.Count() > 1)
            {
                string labeltext = SharedLocalizer["Formadores"];
                @foreach (var Trainer in Model.Trainers)
                {
                    <div class="row">
                        <label class="col-5 col-form-label" for="FullName">@labeltext</label>
                        <input class="col-7 form-control-plaintext" disabled type="text" id="FullName" name="FullName" value="@Trainer.FirstName @Trainer.MainSurname @Trainer.SecondSurname" />
                    </div>
                    labeltext = "";
                }
            }
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <label asp-for="Training.StartDate" class="col-5 col-form-label"></label>
                <input asp-for="Training.StartDate" class="col-7 form-control-plaintext" disabled />
            </div>
            <div class="row">
                <label asp-for="Training.EndDate" class="col-5 col-form-label"></label>
                <input asp-for="Training.EndDate" type="@(Model.Training.EndDate == null ? "text" : "date")" class="col-7 form-control-plaintext" disabled />
            </div>
        </div>
    </div>
</div>
<div class="font-xl mb-2 mt-2 mt-lg-0"><label asp-for="Attendants"></label></div>
<div id="attendats-table-container" class="dt-hidden-container">
    <table id="attendats-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>@SharedLocalizer["Usuario"]</th>
                <th>@SharedLocalizer["Nombre"]</th>
                <th>@SharedLocalizer["Email"]</th>
                <th>@SharedLocalizer["Empleado"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var User in Model.Attendants)
            {
                <tr class="non-clickable-row" data-id="@User.Id">
                    <td>@User.UserName</td>
                    <td>@User.FirstName @User.MainSurname @User.SecondSurname</td>
                    <td>@User.Email</td>
                    <td>@User.EmployeeId</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br>
<div class="font-xl mb-2 mt-2 mt-lg-0"><label asp-for="Tests"></label></div>
<div id="tests-table-container" class="dt-hidden-container">
    <table id="tests-table" data-row-link="/training/@Model.Training.Id/test/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>@SharedLocalizer["Nombre"]</th>
                <th>@SharedLocalizer["Descripción"]</th>
                <th class="actions">
                    @SharedLocalizer["Acciones"]
                    <div class="d-none">
                        <a id="ShowTest" class="btn btn-sm btn-ghost-danger!" href="/training/@Model.Training.Id/test/show">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Test in Model.Tests)
            {
                <tr class="clickable-row" data-id="@Test.Id">
                    <td>@Test.Name</td>
                    <td>@Test.Description</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>