@* TRAINING - STATE *@

@model StateTrainingViewModel
@{
    ViewBag.Tab = "state";
    Layout = "_ShowTrainingLayout.cshtml";
}

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".table").dt();

        });
    </script>
}

<div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Pruebas realizadas"]</div>
<div id="users-table-container" class="dt-hidden-container">
    <table id="takes-table" data-row-link="/training/@Model.Training.Id/test/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>@SharedLocalizer["Prueba"]</th>
                <th hidden>@SharedLocalizer["Usuario"]</th>
                <th>@SharedLocalizer["Nombre"]</th>
                <th>@SharedLocalizer["Intento"]</th>
                <th>@SharedLocalizer["Estado"]</th>
                <th class="actions">
                    @SharedLocalizer["Acciones"]
                    <div class="d-none">
                        <a id="show" href="/training/@Model.Training.Id/test/show" class="btn btn-sm btn-ghost-primary">
                                <i class="fa fa-eye"></i>
                        </a>
                        <a id="mark" href="/training/@Model.Training.Id/test/mark" class="btn btn-sm btn-ghost-primary">
                            <i class="fa fa-check-square-o"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Take in Model.Takes)
            {
                var state = ""; var point = "";
                if (Take.Pass == null) { state = SharedLocalizer["Pendiente de revisión"]; point = "#cc9900"; }
                else if (Take.Pass == true) { state = SharedLocalizer["Superado"]; point = "#33cc33"; }
                else { state = SharedLocalizer["No superado"]; point = "#cc0000"; }
                if (Take.Active) { state = SharedLocalizer["En curso"]; point = ""; }
                <tr class="non-clickable-row" data-id="@Take.Test.Id/take/@Take.Id">
                    <td>@Take.Test.Name</td>
                    <td hidden>@Take.User.UserName</td>
                    <td>@Take.User.FirstName @Take.User.MainSurname @Take.User.SecondSurname</td>
                    <td>@Take.Attempt / @Take.Test.Attempts</td>
                    <td><span style='color:@point'>&#9679;</span>&nbsp;&nbsp;@state</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br>
<div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Pruebas pendientes"]</div>
<div id="users-table-container" class="dt-hidden-container">
    <table id="pendings-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>@SharedLocalizer["Prueba"]</th>
                <th hidden>@SharedLocalizer["Usuario"]</th>
                <th>@SharedLocalizer["Nombre"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Pending in Model.Pending)
            {
                <tr class="non-clickable-row">
                    <td>@Pending.Test.Name</td>
                    <td hidden>@Pending.User.UserName</td>
                    <td>@Pending.User.FirstName @Pending.User.MainSurname @Pending.User.SecondSurname</td>
                </tr>
            }
        </tbody>
    </table>
</div>