@*TRAINING - TAKE TEST*@

@using Perseo.Web.Models
@model TrainingTestTakeViewModel
@{
    ViewData["Title"] = SharedLocalizer["Realizar Prueba"] + " " + Model.Name;
    ViewData["SubTitle"] = SharedLocalizer["Acción Formativa"] + " " + Model.TrainingName;
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form>
                    @* HEADER *@
                    <div class="row mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* Navigation *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                @* Guardar *@
                                <span class="btn-group mb-3 mb-sm-0">
                                    <button class="btn btn-primary" id="save-button" type="button">
                                        <i class="fa fa-save"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Guardar"]</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row test">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="TrainingId" />
                        <input type="hidden" asp-for="TakeId" />
                        <input type="hidden" asp-for="TestUserId" />
                        <input type="hidden" asp-for="Attempt" />
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <label asp-for="Name" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="Name" class="form-control-plaintext" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Description" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="Description" class="form-control-plaintext" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PassMark" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="PassMark" class="form-control-plaintext" disabled /></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <label asp-for="StartDate" class="col-5 col-form-label"></label>
                                <div class="col-7"><input name="StartDate" class="form-control-plaintext" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label">@(Model.Time > 0 ? @SharedLocalizer["Tiempo restante"] : @SharedLocalizer["Tiempo transcurrido"])</label>
                                <div class="col-7"><input id="timer" class="form-control-plaintext" /></div>
                            </div>
                        </div>
                    </div>
                    <div id="test-start"></div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Styles{
    <style>

        .card-header {
            padding-top: 8px;
            padding-bottom: 8px;
        }

            .card-header i.icon-arrow-down {
                transition: .3s transform ease-in-out;
            }

            .card-header .collapsed i.icon-arrow-down {
                transform: rotate(90deg);
            }

        .option-order {
            display: block;
            width: 35px;
        }

        .form-control::-webkit-input-placeholder {
            color: #ccc;
        }

        .form-control:-moz-placeholder {
            color: #ccc;
        }

        .form-control::-moz-placeholder {
            color: #ccc;
        }

        .form-control:-ms-input-placeholder {
            color: #ccc;
        }

    </style>
}
@section Scripts{
    <script>

    $(document).ready(function () {

        breadcrumb({ name: "@SharedLocalizer["Formación"]", url: "training" }, { name: "@Model.TrainingName", url: "show/@Model.TrainingId" }, { name: "@ViewData["Title"]" });

        var active = true;
        var init_url = window.location.href;
        var saveinter;
        var inter;

        function nextLetter(s = null) {
            if (typeof s !== 'string') {
                return 'a';
            }
            return s.replace(/([a-zA-Z])[^a-zA-Z]*$/, function (a) {
                var c = a.charCodeAt(0);
                switch (c) {
                    case 90: return 'A';
                    case 122: return 'a';
                    default: return String.fromCharCode(++c);
                }
            });
        }

        function timer() {
            var t = '@Model.Time' > 0? '@Model.Time' * 60 : 0;
            var hour = min = sec = "00";
            document.getElementById("timer").value = hour + ":" + min + ":" + sec;

            inter = setInterval(function () {
                t = '@Model.Time' > 0 ? t - 1 : t + 1;
                
                hour = parseInt(t / 3600);
                min = parseInt((t - (hour * 3600)) / 60);
                sec = t - (hour * 3600) - (min * 60);
                hour = hour < 10 ? "0" + hour : hour;
                min = min < 10 ? "0" + min : min;
                sec = sec < 10 ? "0" + sec : sec;

                document.getElementById("timer").value = hour + ":" + min + ":" + sec;

                if (('@Model.Time' > 0) && ((t == 300) || (t == 60))) {
                    toastr.error("@SharedLocalizer["Tiempo restante:"]" + " " + hour + ":" + min + ":" + sec);
                }

                if (t <= 0) {
                    clearInterval(saveinter);
                    clearInterval(inter);
                    active = false;
                    save();
                }
            }, 1000);
        }

        function autosave() {
            saveinter = setInterval(function () {
                var url = window.location.href;
                if (url == init_url) { 
                    save();
                }else{
                    clearInterval(saveinter);
                    clearInterval(inter);
                }
            }, 5*60*1000);
        }

        function section(order, id = "", test_section_id = "", name = "", weighing = "", fields = "") {

            var random_id = Math.random().toString(36).substring(2, 15);

            return `<div class='mt-3 section'>
                <input type='hidden' name='Id' value='${id}'>
                <input type='hidden' name='TestSectionId' value='${test_section_id}'>
	            <div class='card'>
	                <div class='card-header bg-transparent'>
		                <h5 class='mb-0 d-inline'>
			               ${order}. ${name} <span class='small text-muted'>(${weighing} @SharedLocalizer["puntos"])</span>
		                </h5>
                        <div class="card-header-actions mt-1">
                            <a class="card-header-action" data-toggle="collapse" aria-expanded="true" href="#${random_id}">
                                <i class="d-inline-block icon-arrow-down font-lg"></i>
                            </a>
                        </div>
	                </div>
                    <div class="card-body">
                        <div class='row'>
                            <div  id='${random_id}' class='col-12 collapse show'>
                                <ul class='list-group field-list list-group-flush '>
                                    ${fields}
		                        </ul>
                            </div>
                        </div>
                    </div>
	            </div>
            </div>`;
        }

        function field(section_order, order, id = "", test_field_id = "", name = "", weighing = "", type = null, options = "") {

            var type_html = type !== null ? field_type(type, options) : "<div class='row mb-0 options'></div>";
            var random_id = Math.random().toString(36).substring(2, 15);

            return `<li class='list-group-item p-0 border-0 field'>
                <input type='hidden' name='Id' value='${id}'>
                <input type='hidden' name='TestFieldId' value='${test_field_id}'>
                <div id="${random_id}">
                    <div class="pt-2 pb-3">
	                    <div class='row mb-2' >
		                    <div class='col-12 pt-2'><strong>${section_order}.${order}.</strong> ${name} <span class='small text-muted'>(${weighing} @SharedLocalizer["puntos"])</span></div>
	                    </div>
                        ${type_html}
                    </div>
                </div>
            </li>`;
        }

        function field_type(type, options = "") {
            var html = ``;
            var random_id = Math.random().toString(36).substring(2, 15);
            switch (type) {
                case 1:
                    html = `<div class='row'>
                        <div class='col-6 col-md-4 col-lg-3 col-xxl-2 pt-2'>
                                <input class="form-control" type="text" name="FieldMark" placeholder=@SharedLocalizer["Respuesta"]>
                            </div>
                        </div>
                    <div class='row mb-0 options'></div>`;
                    break;
                case 2:
                    options = options !== "" ? options : option(false, 'a', random_id) + option(false, 'b', random_id);
                    html = `<div class='form-group row mb-0 options'>
		                <div class='col-12 input-group'>
                            ${options}
		                </div>
	                </div>`;
                    break;
                case 3:
                    options = options !== "" ? options : option(true, 'a', random_id) + option(true, 'b', random_id);
                    html = `<div class='form-group row mb-0 options multi'>
		                <div class='col-12 input-group'>
                            ${options}
		                </div>
	                </div>`;
                    break;
                default:
                    html = `<div class='row mb-0 options'></div>`;
            }
            return html;
        }

        function option(multiple, letter, random_id, id = "", test_option_id = "", content = "", mark = false) {

            var checked = mark ? "<i class='fa fa-check fa-lg text-success'></i> " : "";
            var checked = "&nbsp;";

            var input = multiple ? `<input type='checkbox' value='' name='Mark_${random_id}'>` : `<input type='radio' value='' name='Mark_${random_id}'>`;

            return `<div class='input-group col-12 mb-1 pl-0 pr-0 option'>
                <input type='hidden' name='Id' value='${id}'>
                <input type='hidden' name='TestOptionId' value='${test_option_id}'>
	            <div class='input-group-prepend border-0'>
                    <span class="input-group-text bg-transparent option-order border-0 pl-0 pr-0">${checked}</span>
		            <div class='input-group-text border-0 bg-transparent pl-0 pr-0'>
			            ${input}
		            </div>
                    <span class="input-group-text bg-transparent option-order border-0 pl-0 pr-0"><strong>${letter})</strong></span>
	            </div>
	            <input type='text' class='form-control-plaintext border-0 pl-0' name='Content' value='${content}' disabled>
            </div>`;
        }

        function form_to_json() {
            var sections = new Array();
            $('.section').each(function (section_index) {
                var section_id = parseInt($(this).find('input[name="Id"]').first().val());
                var test_section_id = parseInt($(this).find('input[name="TestSectionId"]').first().val());
                var name = $(this).find('input[name="Name"]').first().val();
                var weighing = parseFloat($(this).find('input[name="Weighing"]').val());
                sections[section_index] = { Id: section_id, TestSectionId: test_section_id, Order: section_index + 1, Name: name, Description: "", Weighing: weighing, Fields: new Array() };
                $(this).find('.field').each(function (field_index) {
                    var field_id = parseInt($(this).find('input[name="Id"]').first().val());
                    var test_field_id = parseInt($(this).find('input[name="TestFieldId"]').first().val());
                    var name = $(this).find('textarea[name="Name"]').val();
                    var type = $(this).find('select[name="Type"]').val();
                    var mark = $(this).find('input[name="FieldMark"]').val();
                    var weighing = parseFloat($(this).find('input[name="Weighing"]').val());
                    sections[section_index].Fields[field_index] = { Id: field_id, TestFieldId: test_field_id, Order: field_index + 1, Name: name, Type: type, Weighing: weighing, Answer: mark, Options: new Array() };
                    $(this).find('.option').each(function (option_index) {
                        var option_id = parseInt($(this).find('input[name="Id"]').first().val());
                        var test_option_id = parseInt($(this).find('input[name="TestOptionId"]').first().val());
                        var content = $(this).find('input[name="Content"]').val();
                        var mark = $(this).find('input[name^="Mark"]').prop('checked');
                        sections[section_index].Fields[field_index].Options[option_index] = { Id: option_id, TestOptionId: test_option_id, Order: option_index + 1, Content: content, Mark: mark, Value: 0 };
                    });
                });
            });
            var training_id = parseInt($('input[name="TrainingId"]').first().val());
            var test_id = parseInt($('input[name="Id"]').first().val());
            var take_id = parseInt($('input[name="TakeId"]').first().val());
            var test_user_id = parseInt($('input[name="TestUserId"]').first().val());
            var attempt = parseInt($('input[name="Attempt"]').first().val());
            var name = $('input[name="Name"]').first().val();
            var description = $('input[name="Description"]').first().val();
            var pass_mark = parseInt($('input[name="PassMark"]').first().val());
            var start_date = parseDatetime($('input[name="StartDate"]').first().val());

            var Test = { TrainingId: training_id, TestId: test_id, Id: take_id, TestUserId: test_user_id, Attempt: attempt, Active: active, Name: name, Description: description, PassMark: pass_mark, StartDate: start_date, Sections: sections }
            return JSON.stringify(Test);
        }

        function parseDatetime(string) {
            date = string.substring(6, 10) + "-" + string.substring(3, 5) + "-" + string.substring(0, 2) + "T" + string.substring(11, 19) + ".000Z"; 
            return date
        }

        function save() {
            var data = form_to_json();

            if (active) {
                $.ajaxPost('/training/@Model.TrainingId/test/@Model.Id/take/@Model.TakeId', data, '');
            } else {
                $.ajaxPost('/training/@Model.TrainingId/test/@Model.Id/take/@Model.TakeId', data, function (response) {
                    $.ajaxGet('/account/profile/training');
                });
            }
        }

        function init_sortable() {
            $("ul.field-list").sortable({
                handle: 'i.icon-cursor-move',
                onDrop: function ($item, container, _super, event) {
                    $item.removeClass(container.group.options.draggedClass).removeAttr("style");
                    $("body").removeClass(container.group.options.bodyClass);
                    var i = 1;
                    $('ul.field-list .field-order').each(function (e) {
                        $(this).text(i);
                        i++;
                    });
                }
            });
        }

        function init_take() {
            var Sections = JSON.parse('@Html.Raw(Json.Serialize(Model.Sections))');
            Sections.sort((a, b) => (a.order > b.order) ? 1 : -1);
            var sections_html = "";
            Object.keys(Sections).forEach(function (s_key) {
                var Section = Sections[s_key];
                Section.fields.sort((a, b) => (a.order > b.order) ? 1 : -1);
                var fields_html = "";
                Object.keys(Section.fields).forEach(function (f_key) {
                    var Field = Section.fields[f_key];
                    Field.options.sort((a, b) => (a.order > b.order) ? 1 : -1);
                    var multiple = Field.type == 3 ? true : false;
                    var options_html = "";
                    var letter = "a";
                    var random_id = Math.random().toString(36).substring(2, 15);
                    Object.keys(Field.options).forEach(function (o_key) {
                        var Option = Field.options[o_key];
                        options_html += option(multiple, letter, random_id, Option.id, Option.testOptionId, Option.content, Option.mark);
                        letter = nextLetter(letter);
                    });
                    fields_html += field(Section.order, Field.order, Field.id, Field.testFieldId, Field.name, Field.weighing, Field.type, options_html);
                });
                sections_html += section(Section.order, Section.id, Section.testSectionId, Section.name, Section.weighing, fields_html);
            });
            $('#test-start').append(sections_html);
            init_sortable();
            save();
            autosave();
            timer();
        }
       
        $('#save-button').click(function () {
            clearInterval(saveinter);
            clearInterval(inter);
            active = false;
            save();
        });

        init_take();
    });

    </script>
}