﻿@* BASE - BASE *@

@using Perseo.Web.Models
@using System.Globalization

@{
    var Month = 12;
    var MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Month);
    MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();

    ViewData["Title"] = "";
    ViewData["SubTitle"] = "";
}

@section Styles {}

@* CARD *@
<div class="card">
    <div class="card-body" style="box-sizing: border-box;">
        @* HEADER *@
        <div class="row mb-sm-4 mb-xl-3">
            @* Title *@
            <vc:page-title title="@ViewData["Title"]" subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
            <vc:mobile-nav-button></vc:mobile-nav-button>
            @* Navigation *@
            <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                    @*
                    <span class="btn-group mr-3 mb-3 mb-sm-0">
                        <vc:month-navigator year=@Model.Year month=@Model.Month url="/controller/action/$y/$m/@selectedareas"></vc:month-navigator>
                    </span>
                    <span class="btn-group mb-3 mb-sm-0">
                        <vc:multi-select-area items=@Model.Areas.ToList() selected-items=@Model.AreasIds.ToList() id="areas" name="areas" multiple=true></vc:multi-select-area>
                        <button class="btn btn-light active" type="button" id="go_button"> IR</button>
                    </span>
                    *@
                </div>
            </div>
        </div>
        @* TABS *@
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            @*
            <li class="nav-item">
                <a class="nav-link" id="tab-list" asp-controller="forecast" asp-action="list">
                    <i class="icon-list"></i><span class="d-sm-down-none">&nbsp; Lista</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-upload" asp-controller="forecast" asp-action="upload">
                    <i class="icon-cloud-upload"></i><span class="d-sm-down-none">&nbsp; Cargar</span>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-generate" asp-controller="forecast" asp-action="generate">
                    <i class="icon-calculator"></i><span class="d-sm-down-none">&nbsp; Generar</span>
                </a>
            </li>
            *@
        </ul>
        @* CONTENT *@
        <div class="row">


        </div>
    </div>
</div>

@* MODAL CONTAINER *@
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {}