﻿@{
    Layout = "~/Views/Shared/Components/MonthGrid/_MonthGridLayout.cshtml";

    int? Start = ViewBag.StartSlot;
    int? End = ViewBag.EndSlot;

    Start = Start >= 0 && Start < 47 ? Start : 0;
    End = End >= Start && End < 48 ? End : 48;

    @using System.Linq;

    string editable = ViewBag.Editable ? "true" : "false";

    Dictionary<int, double> max_dic = new Dictionary<int, double>();
    Dictionary<int, double> min_dic = new Dictionary<int, double>();
    foreach (var item in ViewBag.Rows as Dictionary<int, List<double>>)
    {
        max_dic[item.Key] = item.Value.DefaultIfEmpty().Max();
        min_dic[item.Key] = item.Value.DefaultIfEmpty().Min();
    }
    var max = max_dic.Values.DefaultIfEmpty().Max();
    var min = min_dic.Values.DefaultIfEmpty().Min();
}

@functions{

    public string CondClass(double value, double min, double max)
    {
        string stf = "";
        double min1 = -2;
        double min2 = -3;
        double max1 = 2;
        double max2 = 3;
        if (min < -3)
        {
            min1 = min * 0.33;
            min2 = min * 0.66;
        }
        if (max > 3)
        {
            max1 = max * 0.33;
            max2 = max * 0.66;
        }
        switch (value)
        {
            case var n when (n > 1.5 && n <= max1): stf = "stf-b1"; break;
            case var n when (n > max1 && n <= max2): stf = "stf-b2"; break;
            case var n when (n > max2): stf = "stf-b3"; break;
            case var n when (n < -1.5 && n >= min1): stf = "stf-r1"; break;
            case var n when (n < min1 && n >= min2): stf = "stf-r2"; break;
            case var n when (n < min2): stf = "stf-r3"; break;
            default: stf = ""; break;
        }
        return stf;
    }
}

@for (int e = Start.Value; e < End.Value; e++)
    {
        <div class="mt-4 mt-lg-0 d-lg-none header-col-sm">&nbsp;@ViewBag.TimeSlots[@e]</div>
        <div class="row no-gutters month-row">
            <div class="pl-1 pl-xxl-2 col-12 col-lg-@ViewBag.HeaderCols d-none text-center d-lg-block header-col">@ViewBag.TimeSlots[@e]</div>
            <div class="col-12 col-lg-@ViewBag.ContentCols">
                <div class="row no-gutters content-cols" data-id="">
                    @for (var i = 0; i < 7; i++)
                    {
                        <div class="col d-lg-none week-day-sm">@ViewBag.WeekDays[i][0]</div>
                    }
                    @Html.Raw(ViewBag.MonthHead)
                    @for (var i = 1; i <= ViewBag.DaysOfMonth; i++)
                    {
                        if (ViewBag.Rows.ContainsKey(i))
                        {
                            double value = Math.Round(ViewBag.Rows[i][e], 1);
                            //double value = Math.Round(ViewBag.Rows[i][e] * 100, 2);
                            <div class="col @CondClass(value, min, max)" data-day="@i" data-range="@e" contenteditable=@editable data-id="6"> @value</div>
                        }
                        else
                        {
                            <div class="col" data-day="@i" data-range="@e" data-id="6">&nbsp;</div>
                        }
                    }
                    @Html.Raw(ViewBag.MonthTrail)
                </div>
            </div>
        </div>
    }
