﻿@* FORECAST - LAYOUT *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Perseo.Web
@{
    Layout = Context.Request.IsAjax() ? "~/Views/Shared/_AjaxLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

@section Styles { @RenderSection("Styles", false) }
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-3 mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar="@ViewBag.Avatar"></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* NAVIGATION *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            @RenderSection("Navigation", false)
                        </div>
                    </div>
                </div>
                @* TABS *@
                <ul class="nav nav-tabs" id="nav-tab" role="tablist" data-active-tab="@ViewBag.Tab">
                    <li class="nav-item">
                        <a class="nav-link" id="list" asp-controller="forecast" asp-action="list">
                            <i class="icon-list"></i>&nbsp; @SharedLocalizer["Lista"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="upload" asp-controller="forecast" asp-action="upload">
                            <i class="icon-cloud-upload"></i>&nbsp; @SharedLocalizer["Cargar"]

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="generate" asp-controller="forecast" asp-action="generate">
                            <i class="icon-calculator"></i>&nbsp; @SharedLocalizer["Generar"]
                        </a>
                    </li>
                </ul>
                @* CONTENT *@
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-main-pane">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @RenderSection("Scripts", false) }
