﻿@* FORECAST - GENERATE PATTERN (MODAL) *@

@using Perseo.Web.Models
@model ForecastPatternViewModel


<vc:month-grid year=@Model.Year month=@Model.Month rows=@Model.Forecast header=@Model.TimeSlots.ToList() editable=true></vc:month-grid>

<form method="post" class="d-none"></form>

<script>
    $(document).ready(function () {
        var token = $('input[name="__RequestVerificationToken"]').val();
        $('#submit').click(function () {
            var events = {};
            var i = "";
            $('.col[data-day]').each(function () {
                i += ($(this).attr('data-range') + " ");
                var day = $(this).attr('data-day');
                var range = $(this).attr('data-range');
                if (!events[day]) events[day] = [];
                events[day][range] = parseFloat($(this).text());
            });
            var location = '/forecast/add';
            var serialized = JSON.stringify(events);
            var args = { '__RequestVerificationToken': token, 'Forecast': serialized, 'JobId': '@Model.JobId', 'Year': '@Model.Year', 'Month': '@Model.Month' };
            $.ajaxPost(location, args, function (response) {
                history.pushState(null, "", location);
                $('#main-content').replaceWith('<div id ="main-content" class="animated fadeIn">' + response + "</div");
                toastr.success('@SharedLocalizer["La petición se ha procesado con éxito"]');
            });
        });
    });
</script>