﻿<ul class="nav nav-tabs" id="nav-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="tab-list" asp-controller="forecast" asp-action="list">
            <i class="icon-list"></i>&nbsp; @SharedLocalizer["Lista"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-upload" asp-controller="forecast" asp-action="upload">
            <i class="icon-cloud-upload"></i>&nbsp; @SharedLocalizer["Cargar"]

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-generate" asp-controller="forecast" asp-action="generate">
            <i class="icon-calculator"></i>&nbsp; @SharedLocalizer["Generar"]
        </a>
    </li>
</ul>