﻿@* FORECAST - CONFIRM *@

@using Perseo.Web.Models
@using System.Globalization
@model ForecastViewModel
@{
    ViewData["Title"] = SharedLocalizer["Generar previsión"];
    ViewData["SubTitle"] = SharedLocalizer["Servicio o servicios"];

    List<string> AbreviatedWeekdaysNames = new List<string>();
    for (int wd = 0; wd < 7; wd++)
    {
        string name = CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedDayNames[(wd + 1) % 7];
        name = char.ToUpper(name.First()) + name.Substring(1, 1).ToLower();
        AbreviatedWeekdaysNames.Add(name);
    }

    string MonthTrail = "";
    string MonthHead = "";
    for (var i = 0; i < Model.FirstWeekDayOfMonth; i++)
    {
        MonthHead += "<div class=\"col cal-day-blank\"></div>";
    }
    for (var i = Model.DaysOfMonth; i < Model.MaxMonthDays; i++)
    {
        MonthTrail += "<div class=\"col cal-day-blank\"></div>";
    }
}

@* CARD *@
<div class="card">
    <div class="card-body" style="box-sizing: border-box;">
        @* Header *@
        <div class="row">
            @* Title *@
            <div class="col-sm-5">
                <h4 class="card-title mb-0">@ViewData["Title"] @SharedLocalizer["De"].ToString().ToLower() @Model.MonthName @SharedLocalizer["De"].ToString().ToLower() @Model.Year</h4>
                <div class="small text-muted">@ViewData["SubTitle"]</div>
            </div>
            @* Right Navigation *@
            <div class="col-sm-7">
                @* Calc Button *@
                <button class="btn btn-danger float-right" type="button">
                    <i class="icon-calculator"></i> @SharedLocalizer["Descartar"]
                </button>
                <button class="btn btn-primary float-right mr-3" type="button" id="submit">
                    <i class="icon-calculator"></i> @SharedLocalizer["Guardar"]
                </button>
            </div>
        </div>
        <hr />
        @* Month *@
        <div class="cal">
            @* Mobile Only WeekDaysHeader *@
            <div class="row no-gutters cal-single-week-days-row">
                <div class="col-12 col-xl-9">
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-12 col-xl">
                            <div class="row no-gutters">
                                <div class="col">@AbreviatedWeekdaysNames[0]</div>
                                <div class="col">@AbreviatedWeekdaysNames[1]</div>
                                <div class="col">@AbreviatedWeekdaysNames[2]</div>
                                <div class="col">@AbreviatedWeekdaysNames[3]</div>
                                <div class="col">@AbreviatedWeekdaysNames[4]</div>
                                <div class="col cal-week-sat">@AbreviatedWeekdaysNames[5]</div>
                                <div class="col cal-week-sun">@AbreviatedWeekdaysNames[6]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Month Days Header *@
            <div class="row no-gutters cal-month-days-row">
                <div class="col-12 col-xl-1"></div>
                <div class="col-12 col-xl-11 cal-month-days">
                    <div class="row no-gutters">
                        @Html.Raw(MonthHead)
                        @for (var i = 1; i <= @Model.DaysOfMonth; i++)
                        {
                            <div class="col cal-day">@i</div>
                        }
                        @Html.Raw(MonthTrail)
                    </div>
                </div>
            </div>
            @* Week Days Header *@
            <div class="row no-gutters cal-week-days-row">
                <div class="col-12 col-xl-1">@SharedLocalizer["Franja"]</div>
                <div class="col-12 col-xl-11 cal-week-days">
                    <div class="row no-gutters">
                        @Html.Raw(MonthHead)
                        @for (var i = @Model.FirstWeekDayOfMonth; i < @Model.DaysOfMonth + @Model.FirstWeekDayOfMonth; i++)
                        {
                            var e = i % 7;
                            switch (e)
                            {
                                case 6:<div class="col cal-week-sun">@Model.WeekDays[e]</div> break;
                            case 5: <div class="col cal-week-sat">@Model.WeekDays[e]</div> break;
                        default: <div class="col">@Model.WeekDays[e]</div>break;
                }
            }
                        @Html.Raw(MonthTrail)
                    </div>
                </div>
            </div>
            @* Content *@
            @for (int e = 0; e < 48; e++)
            {
                <div class="row no-gutters separator">&nbsp;</div>
                <div class="row no-gutters" style="border-left: 1px solid silver; font-size:11px;">
                    <div class="col-12 col-xl-1" style="text-align: center; border-bottom: 1px solid silver; border-right: 1px solid silver">@Model.TimeSlots[@e]</div>
                    <div class="col-12 col-xl-11">
                        <div class="row no-gutters" data-id="">
                            @Html.Raw(MonthHead)
                            @for (int i = 1; i <= @Model.DaysOfMonth; i++)
                            {
                                if (@Model.Forecast.ContainsKey(i))
                                {
                                    <div class="col" contenteditable="true" data-day="@i" data-range="@e"> @Math.Round(@Model.Forecast[i][e], 1)</div>
                                }
                                else
                                {
                                    <div class="col" contenteditable="true" data-day="@i" data-range="@e">&nbsp;</div>
                                }
                            }
                            @Html.Raw(MonthTrail)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<form method="post" class="d-none"></form>

@section Scripts {
    <script>
        $(document).ready(function () {
            var token = $('input[name="__RequestVerificationToken"]').val();
            $('#submit').click(function () {
                var events = {};
                var i = "";
                $('.col[data-day]').each(function () {
                    i += ($(this).attr('data-range') + " ");
                    var day = $(this).attr('data-day');
                    var range = $(this).attr('data-range');
                    if (!events[day]) events[day] = [];
                    events[day][range] = parseFloat($(this).text());
                });
                var location = '/forecast/add';
                var serialized = JSON.stringify(events);
                var args = { '__RequestVerificationToken': token, 'Forecast': serialized, 'JobId': '@Model.JobId', 'Year': '@Model.Year', 'Month': '@Model.Month' };
                $.ajaxPost(location, args, function (response) {
                    history.pushState(null, "", location);
                    $('#main-content').replaceWith('<div id ="main-content" class="animated fadeIn">' + response + "</div");
                    toastr.success('@SharedLocalizer["La petición se ha procesado con éxito"]');
                });
            });
        });
    </script>
}