﻿@* FORECAST - GENERATE *@

@using Perseo.Web.Models
@using Perseo.Core
@model ForecastViewModel

@{
    ViewBag.Tab = "generate";
    Layout = "_ForecastLayout.cshtml";

    ViewData["Title"] = SharedLocalizer["Generar previsión"];
    ViewData["SubTitle"] = "";

    string MonthTrail = "";
    string MonthHead = "";
    for (var i = 0; i < Model.FirstWeekDayOfMonth; i++)
    {
        MonthHead += "<div class=\"col cal-day-blank\"></div>";
    }
    for (var i = Model.DaysOfMonth; i < Model.MaxMonthDays; i++)
    {
        MonthTrail += "<div class=\"col cal-day-blank\"></div>";
    }
}

@section Navigation {
    <span class="btn-group mr-3 mb-3 mb-sm-0">
        <button class="btn btn-primary" type="button" id="upload_submit">
            <i class="icon-energy"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Generar"]</span>
        </button>
    </span>
    <span class="btn-group mr-3 mb-3 mb-sm-0">
        <button class="btn btn-success" type="button" id="confirm_submit" disabled>
            <i class="fa fa-save"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Guardar"]</span>
        </button>
    </span>
    <span class="btn-group mb-3 mb-sm-0">
        <button class="btn btn-secondary" type="button" id="reset_form">
            <i class="fa fa-arrow-left"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Descartar"]</span>
        </button>
    </span>
}

<form method="post" id="generateform" asp-controller="forecast" asp-action="generate">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
            <div class="form-group">
                <label asp-for="Year"></label>
                <select id="year" class="form-control" name="Year">
                    <option selected disabled></option>
                    @for (int y = @DateTime.Now.Year + 1; y >= Model.Year - 4; y--)
                    {
                        <option value="@y">@y</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
            <div class="form-group">
                <label asp-for="Month"></label>
                <select id="month" class="form-control" name="Month">
                    <option selected disabled></option>
                    @for (int m = 1; m <= 12; m++)
                    {
                        <option value="@m">@Model.Months[@m]</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="form-group">
                <label for="areas">@SharedLocalizer["Área"]</label>
                <select class="form-control" id="areas" name="areas">
                    <option selected disabled></option>
                    @foreach (Area area in Model.Areas)
                    {
                        if (Model.Areas.Any(c => c.Id == area.ParentId))
                        {
                            <option value="@area.Id" data-parent="@area.ParentId">@area.Name</option>
                        }
                        else
                        {
                            <option value="@area.Id">@area.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="form-group">
                <label for="jobId">@SharedLocalizer["Tarea"]</label>
                <select class="form-control" id="JobId" name="JobId">
                    <option selected disabled></option>
                    @foreach (Job j in Model.Jobs)
                    {
                        <option data-area="@j.AreaId" value="@j.Id" class="d-none">@j.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
            <div class="form-group">
                <label for="distribution">@SharedLocalizer["Distribución de eventos"]</label>
                <select class="form-control" id="distribution" name="distribution">
                    <option selected disabled>@SharedLocalizer["Seleccionar Distribución"]</option>
                    <option value="manual">@SharedLocalizer["Manual"]</option>
                    <option value="standard">@SharedLocalizer["Estándar"]</option>
                    <option value="last_month">@SharedLocalizer["Mes previo"]</option>
                    <option value="saved_pattern">@SharedLocalizer["Patron guardado"]</option>
                </select>
            </div>
        </div>

        <div id="events_group" class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2 d-none">
            <div class="form-group">
                <label for="events">@SharedLocalizer["Número de eventos"]</label>
                <input type="text" class="form-control" id="events" name="events">
            </div>
        </div>

        <div id="period_group" class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2 d-none">
            <div class="form-group">
                <div style="margin-bottom: 0.5rem;">@SharedLocalizer["Período"]</div>
                <div class="form-check form-check-inline mr-1" style="margin-top: 0.4rem;">
                    <input class="form-check-input" id="inline-radio1" type="radio" value="week" name="period">
                    <label class="form-check-label" for="inline-radio1">@SharedLocalizer["Semanales"]</label>
                </div>
                &nbsp;
                <div class="form-check form-check-inline mr-1" style="margin-top: 0.4rem;">
                    <input class="form-check-input" id="inline-radio2" type="radio" value="month" name="period">
                    <label class="form-check-label" for="inline-radio2">@SharedLocalizer["Mensuales"]</label>
                </div>
            </div>
        </div>


        <div id="weekdays_group" class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2 d-none">
            <div class="form-group">
                <div style="margin-bottom: 0.5rem;">@SharedLocalizer["Días laborables"]</div>

                <div class="form-check form-check-inline mr-1" style="margin-top: 0.4rem;">
                    <input class="form-check-input" id="inline-check0" type="checkbox" value="0" name="weekdays">
                    <label class="form-check-label" for="inline-check0">L</label>
                </div>

                <div class="form-check form-check-inline mr-1" style="margin-top: 0.4rem;">
                    <input class="form-check-input" id="inline-check1" type="checkbox" value="1" name="weekdays">
                    <label class="form-check-label" for="inline-check1">M</label>
                </div>

                <div class="form-check form-check-inline mr-1" style="margin-top: 0.4rem;">
                    <input class="form-check-input" id="inline-check2" type="checkbox" value="2" name="weekdays">
                    <label class="form-check-label" for="inline-check2">X</label>
                </div>

                <div class="form-check form-check-inline mr-1" style="margin-top: 0.4rem;">
                    <input class="form-check-input" id="inline-check3" type="checkbox" value="3" name="weekdays">
                    <label class="form-check-label" for="inline-check3">J</label>
                </div>

                <div class="form-check form-check-inline mr-1" style="margin-top: 0.4rem;">
                    <input class="form-check-input" id="inline-check4" type="checkbox" value="4" name="weekdays">
                    <label class="form-check-label" for="inline-check4">V</label>
                </div>

                <div class="form-check form-check-inline mr-1" style="margin-top: 0.4rem;">
                    <input class="form-check-input" id="inline-check5" type="checkbox" value="5" name="weekdays">
                    <label class="form-check-label" for="inline-check5">S</label>
                </div>

                <div class="form-check form-check-inline mr-1" style="margin-top: 0.4rem;">
                    <input class="form-check-input" id="inline-check6" type="checkbox" value="6" name="weekdays">
                    <label class="form-check-label" for="inline-check6">D</label>
                </div>
            </div>
        </div>
        <div id="start_group" class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2 d-none">
            <div class="form-group">
                <label for="jobId">@SharedLocalizer["Primera franja"]</label>
                <select class="form-control" id="start" name="start">
                    <option selected disabled></option>
                    @for (int i = 1; i < 48; i++)
                    {
                        <option value="i">@Model.TimeSlots[i]</option>
                    }
                    @Html.Raw(MonthTrail)
                </select>
            </div>
        </div>
        <div id="end_group" class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2 d-none">
            <div class="form-group">
                <label for="jobId">@SharedLocalizer["Última franja"]</label>
                <select class="form-control" id="end" name="end">
                    <option selected disabled></option>
                    @for (int i = 1; i < 48; i++)
                    {
                        <option value="i">@Model.TimeSlots[i]</option>
                    }
                    @Html.Raw(MonthTrail)
                </select>
            </div>
        </div>
    </div>
    <div id="pattern">
    </div>
</form>

@section Scripts  {
    <script>
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Previsión"]', url: "forecast" }, { name: '@SharedLocalizer["Generación"]', url: "generate" });
            $('#distribution').change(function () {
                switch ($(this).val()) {
                    case "manual":
                        $("#events_group").addClass("d-none");
                        $("#period_group").addClass("d-none");
                        $("#weekdays_group").addClass("d-none");
                        $("#start_group").addClass("d-none");
                        $("#end_group").addClass("d-none");
                        $("#pattern").html("");
                        break;
                    case "standard":
                        $("#events_group").removeClass("d-none");
                        $("#period_group").removeClass("d-none");
                        $("#weekdays_group").removeClass("d-none");
                        $("#start_group").removeClass("d-none");
                        $("#end_group").removeClass("d-none");
                        $.ajax({
                            url: "/forecast/generatepattern",
                            data: { year: $("#year").val(), month: $("#month").val() },
                            success: function (result) {
                                $("#pattern").html(result);
                            }
                        });
                        break;
                    case "last_month":
                        $("#pattern").html("");
                        $("#events_group").removeClass("d-none");
                        $("#period_group").removeClass("d-none");
                        $("#weekdays_group").addClass("d-none");
                        $("#start_group").addClass("d-none");
                        $("#end_group").addClass("d-none");
                        break;
                    case "saved_pattern":
                        $("#pattern").html("");
                }
            });
            
            function recursive(option, jobs) {
                var id = option.attr('value');
                jobs.push(id);
                $("#areas > option:not(:selected)").each(function () {
                    if (jobs.indexOf($(this).attr('value')) <= -1 && $(this).data('parent') == id) {
                        jobs = recursive($(this), jobs);
                    }
                });
                return jobs;
            }
            $("#areas").change(function () {
                var jobs = [];
                var jobs = recursive($("#areas option:selected"), jobs);
                $("#JobId > option:not(:disabled)").each(function () {
                    $(this).prop("selected", false);
                    if (jobs.indexOf($(this).data('area') + "") > -1) {
                        $(this).removeClass('d-none');
                    } else {
                        $(this).addClass('d-none');
                    }
                });
                $("#JobId > option:disabled").prop("selected", true);
            });
        });
    </script>
}
