﻿@* FORECAST - LIST *@

@using Perseo.Web.Models
@using System.Globalization
@model List<ForecastMonthViewModel>
@{
    ViewBag.Tab = "list";
    Layout = "_ForecastLayout.cshtml";

    ViewBag._Area = "Staffing";

    var Year = ViewBag.Year;
    var MyOwnedAreas = ViewBag.MyOwnedAreas as List<AreaModel>;
    var MyOwnedJobs = ViewBag.MyOwnedJobs as List<JobModel>;
    List<int> JobsIdsToShow = ViewBag.JobsIdsToShow as List<int>;
    List<int> AreasIdsToShow = ViewBag.AreasIdsToShow as List<int>;
    string Jobs = String.Join(";", JobsIdsToShow);

    ViewData["Title"] = SharedLocalizer["Previsiones para"] + " " + Year.ToString();
    ViewData["SubTitle"] = "";
}
@section Navigation {
    @* Area Job Go *@
<span class="btn-group mr-3 mb-3 mb-sm-0">
    <vc:job-filter owned-areas=@MyOwnedAreas selected-areas-ids=@AreasIdsToShow owned-jobs=@MyOwnedJobs selected-jobs-ids=@JobsIdsToShow multiple=true></vc:job-filter>
</span>
    @* Year Navigagot *@
    <span class="btn-group mb-3 mb-sm-0">
        <vc:year-filter year=@Year url="/forecast/list/$y/@Jobs"></vc:year-filter>
    </span>
    @* Forecast *@
    <span class="btn-group ml-3 mb-3 mb-sm-0">
        <a class="btn btn-secondary" id="staffing" asp-controller="staffing" asp-action="dashboard">
            <i class="fa fa-arrow-left"></i><span>&nbsp; @SharedLocalizer["Planificación"]</span>
        </a>
    </span>
}

@* CONTENT *@
<div id="list-table-container" class="dt-hidden-container">
    <table id="list-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>@SharedLocalizer["Carga"]</th>
                <th>@SharedLocalizer["Año"]</th>
                <th>@SharedLocalizer["Mes"]</th>
                <th>@SharedLocalizer["Área"]</th>
                <th>@SharedLocalizer["Tarea"]</th>
                <th>@SharedLocalizer["Eventos"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.Year)</td>
                    <td>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month)</td>
                    <td>@Html.DisplayFor(modelItem => item.Area)</td>
                    <td>@Html.DisplayFor(modelItem => item.Job)</td>
                    <td>@Html.DisplayFor(modelItem => item.Events)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Planificación"]', url: 'staffing' }, { name: '@SharedLocalizer["Previsión"]', url: 'forecast' });
            $('#list-table').dt();
            $('#list-table').attr('style', 'border-collapse: collapse !important');
            $('#list-table-container').removeClass('dt-hidden-container');
        });
    </script>
}
