﻿@* FORECAST - SHOW *@

@using Perseo.Web.Models
@using Perseo.Core
@using System.Globalization
@model IDictionary<int, StaffingDayViewModel>

@{
    ViewBag.Tab = "show";
    Layout = "_ForecastLayout.cshtml";

    int Year = Convert.ToInt32(ViewBag.Year);
    int Month = Convert.ToInt32(ViewBag.Month);
    var MyOwnedAreas = ViewBag.MyOwnedAreas as List<Area>;
    var MyOwnedJobs = ViewBag.MyOwnedJobs as List<Job>;
    List<int> SelectedJobsAreasIds = new List<int>();
    var timeSlots = ViewBag.TimeSlots as List<String>;
    var result = ViewBag.Result as Dictionary<int, List<double>>;

    DateTime dt = new DateTime(Year, Month, 1);
    DateTime next_dt = ((System.DateTime)dt).AddMonths(1);
    DateTime prev_dt = ((System.DateTime)dt).AddMonths(-1);
    int DaysOfMonth = DateTime.DaysInMonth(Year, Month);
    int FirstWeekDayOfMonth = (int)dt.AddDays(-1).DayOfWeek;
    int MaxMonthDays = DaysOfMonth + FirstWeekDayOfMonth <= 35 ? 35 : 42;

    var MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Month);
    MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();
    string MonthTrail = "";
    string MonthHead = "";
    for (var i = 0; i < FirstWeekDayOfMonth; i++)
    {
        MonthHead += "<div class=\"col cal-day-blank\"></div>";
    }
    for (var i = DaysOfMonth + FirstWeekDayOfMonth; i < MaxMonthDays; i++)
    {
        MonthTrail += "<div class=\"col cal-day-blank\"></div>";
    }

    ViewData["Title"] = SharedLocalizer["Carga de previsión de"] + " " + @MonthName + " " + SharedLocalizer["De"].ToString().ToLower() + " " + @Year;
    ViewData["SubTitle"] = "";
}

<div id="demo">
    <div class="border">12354678</div>
    <div class="border">12</div>
    <div class="border"></div>
    <div id="pepe" class="border">&nbsp;</div>
    <div class="border">&nbsp;</div>
    <div class="border">&nbsp;</div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            breadcrumb({ name: '@SharedLocalizer["Previsión"]', url: 'forecast' });
        });
    </script>
}