﻿@* FORECAST - UPLOAD *@

@using Perseo.Web.Models
@using Perseo.Core
@model ForecastViewModel

@{
    ViewBag.Tab = "upload";
    Layout = "_ForecastLayout.cshtml";

    ViewData["Title"] = SharedLocalizer["Carga de previsión"];
    ViewData["SubTitle"] = "";
}

@section Navigation {
    <span class="btn-group mr-3 mb-3 mb-sm-0">
        <a class="btn btn-success text-white" id="template_download" href="/static/templates/plantilla_carga_eventos.xlsx" target="_self">
            <i class="fa fa-file-excel-o"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Plantilla"]</span>
        </a>
    </span>
    <span class="btn-group mr-3 mb-3 mb-sm-0">
        <button class="btn btn-primary" type="button" id="upload_submit">
            <i class="icon-cloud-upload"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Cargar"]</span>
        </button>
    </span>
    <span class="btn-group mr-3 mb-3 mb-sm-0">
        <button class="btn btn-warning" type="button" id="confirm_submit" disabled>
            <i class="fa fa-save"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Guardar"]</span>
        </button>
    </span>
    <span class="btn-group mb-3 mb-sm-0">
        <button class="btn btn-secondary" type="button" id="reset_form">
            <i class="fa fa-arrow-left"></i><span class="d-sm-down-none">&nbsp; @SharedLocalizer["Descartar"]</span>
        </button>
    </span>
}

<form method="post" id="uploadform" enctype="multipart/form-data" asp-controller="forecast" asp-action="upload">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
            <div class="form-group">
                <label for="year">@SharedLocalizer["Año"]</label>
                <select class="form-control" name="year" required>
                    <option selected disabled></option>
                    @for (int y = @DateTime.Now.Year + 1; y >= Model.Year - 4; y--)
                    {
                        <option value="@y">@y</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
            <div class="form-group">
                <label for="month">@SharedLocalizer["Mes"]</label>
                <select class="form-control" name="month" required>
                    <option selected disabled></option>
                    @for (int m = 1; m <= 12; m++)
                    {
                        <option value="@m">@Model.Months[@m]</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="form-group">
                <label for="areas">@SharedLocalizer["Áreas"]</label>
                <select class="form-control" id="areas" name="areas">
                    <option selected disabled></option>
                    @foreach (Area area in Model.Areas)
                    {
                        if (@Model.Areas.Any(c => c.Id == area.ParentId))
                        {
                            <option value="@area.Id" data-parent="@area.ParentId">@area.Name</option>
                        }
                        else
                        {
                            <option value="@area.Id">@area.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="form-group">
                <label for="jobId">@SharedLocalizer["Tarea"]</label>
                <select class="form-control" id="JobId" name="JobId" required>
                    <option selected disabled></option>
                    @foreach (Job j in Model.Jobs)
                    {
                        <option data-area="@j.AreaId" value="@j.Id" class="d-none">@j.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <label class="btn btn-light mb-0" typeof="button">
                            @SharedLocalizer["Seleccionar Archivo"]
                            <input class="d-none" type="file" name="file" id="file" hidden required>
                        </label>
                    </span>
                    <input disabled class="form-control bg-white" id="file-placeholder" type="text" name="input1-group2">
                </div>
            </div>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col" id="forecast"></div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            breadcrumb({ name: "Previsión", url: "forecast" }, { name: "Carga", url: "upload" });
            var token = $('input[name="__RequestVerificationToken"]').val();
            $(':file').on('change', function (event) {
                $('#file-placeholder').val($(this).val().replace(/\\/g, '/').replace(/.*\//, ''));
            });

            function recursive(option, jobs) {
                var id = option.attr('value');
                jobs.push(id);
                $("#areas > option:not(:selected)").each(function () {
                    if (jobs.indexOf($(this).attr('value')) <= -1 && $(this).data('parent') == id) {
                        jobs = recursive($(this), jobs);
                    }
                });
                return jobs;
            }

            $("#areas").change(function () {
                var jobs = [];
                var jobs = recursive($("#areas option:selected"), jobs);
                $("#JobId > option:not(:disabled)").each(function () {
                    $(this).prop("selected", false);
                    if (jobs.indexOf($(this).data('area') + "") > -1) {
                        $(this).removeClass('d-none');
                    } else {
                        $(this).addClass('d-none');
                    }
                });
                $("#JobId > option:disabled").prop("selected", true);
            });

            $("#upload_submit").click(function () {
                if (!$("select[name='year']").val() || !$("select[name='month']").val() || !$("select[name='JobId']").val() || !$("input[name='file']").val()) {
                    toastr.error('@SharedLocalizer["Todos los campos son obligatorios"]');
                    return;
                } else {
                    $("#upload_submit").prop("disabled", true);
                    var data = new FormData();
                    data.append('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]').val());
                    data.append('year', $("select[name='year']").val());
                    data.append('month', $("select[name='month']").val());
                    data.append('JobId', $("select[name='JobId']").val());
                    data.append('file', $('#file')[0].files[0]);

                    $("#ajax-loader").show();
                    $.ajax({
                        url: '/staffing/forecast/upload',
                        data: data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        method: 'POST',
                        success: function (data) {
                            var $mydiv = $("#forecast");
                            $mydiv.html(data);
                            $("#confirm_submit").prop("disabled", false);
                            $("select[name='year']").prop("disabled", true);
                            $("select[name='month']").prop("disabled", true);
                            $("select[name='areas']").prop("disabled", true);
                            $("#file").prop("disabled", true);
                            $("select[name='JobId']").prop("disabled", true);
                            toastr.success('@SharedLocalizer["El fichero se ha cargado con éxito"]');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $("#upload_submit").prop("disabled", false);
                            toastr.error('@SharedLocalizer["Se ha producido un error al cargar el fichero"]');
                        }
                    });
                    $("#ajax-loader").hide();
                }
            });

            $("#reset_form").click(function () {
                $("#uploadform").trigger("reset");
                $("#forecast").html("");
                $("#upload_submit").prop("disabled", false);
                $("#confirm_submit").prop("disabled", true);
                $("select[name='year']").prop("disabled", false);
                $("select[name='month']").prop("disabled", false);
                $("select[name='areas']").prop("disabled", false);
                $("select[name='JobId']").prop("disabled", false);
                $("#file").prop("disabled", false);
            });

            $('#confirm_submit').click(function () {
                var events = {};
                var i = "";
                $('.col[data-day]').each(function () {
                    i += ($(this).attr('data-range') + " ");
                    var day = $(this).attr('data-day');
                    var range = $(this).attr('data-range');
                    if (!events[day]) events[day] = [];
                    events[day][range] = parseFloat($(this).text());
                });
                var location = '/staffing/forecast/add';
                var serialized = JSON.stringify(events);
                var args = { '__RequestVerificationToken': token, 'Forecast': serialized, 'JobId': $("select[name='JobId']").val(), 'Year': $("select[name='year']").val(), 'Month': $("select[name='month']").val() };
                $.ajax({
                    url: '/staffing/forecast/add',
                    data: args,
                    method: 'POST',
                    success: function (data) {
                        $("#uploadform").trigger("reset");
                        $("#upload_submit").prop("disabled", false);
                        $("#confirm_submit").prop("disabled", true);
                        $("select[name='year']").prop("disabled", false);
                        $("select[name='month']").prop("disabled", false);
                        $("select[name='areas']").prop("disabled", false);
                        $("select[name='JobId']").prop("disabled", false);
                        $("#file").prop("disabled", false);

                        var $mydiv = $("#forecast");
                        $mydiv.html('<div class="alert alert-success alert-dismissible fade show" role="alert">@SharedLocalizer["La previsión se ha guardado con éxito"]<button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div>');
                        toastr.success('@SharedLocalizer["La previsión se ha guardado con éxito"]');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        toastr.error('@SharedLocalizer["Se ha producido un error al guardar la previsión"]');
                    }
                });
            });
        });
    </script>
}

