
/*#region HOME*/

.home-back {
    width: 100%;
    content: url(/images/pictures/opsait_back.jpg);
}

.home-nav a {
    color: #8d9da3;
}

.home-nav a:hover {
    text-decoration: none;
    color: #6d93f6;
}

.home-nav a div {
    margin-bottom: 8px;
}

.home-nav-link {
    width: 100px;
    padding-left: 2px;
    padding-right: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
}

/*#endregion*/
