﻿@{
    String Multiple = ViewBag.Multiple == true ? "data-multiple='true'" : "";
    List<AreaModel> OwnedAreas = ViewBag.OwnedAreas as List<AreaModel>;
    List<int> SelectedAreasIds = ViewBag.SelectedAreasIds as List<int>;
}
<select class="d-none" @Multiple id="areas" name="areas">
    @foreach (var area in OwnedAreas)
    {
        <option value="@area.Id"
                selected="@(SelectedAreasIds.Any(a => a == area.Id) ? true : false)"
                data-parent="@(OwnedAreas.Any(c => c.Id == area.ParentId) ? area.ParentId : null)">
            @area.Name
        </option>
    }
</select>

<script>
    (function () {

        function area_filter_script() {
            $('#areas').treeselect({
                buttontext: '<span class="d-xxl-down-none">@SharedLocalizer["Seleccionar"] </span> @SharedLocalizer["Área"]',
                div: '<div id="area-filter" class="dropdown bts_dropdown float-right mr-3"></div>',
            });
        }

        if (window.jQuery) {
            area_filter_script();
        } else {
            function appendOnLoad() {
                area_filter_script();
                window.removeEventListener("load", appendOnLoad);
            }
            window.addEventListener("load", appendOnLoad);
        }

    })();
</script>