﻿@using Perseo.Core
@{
    String Multiple = ViewBag.Multiple == true ? "data-multiple=true" : "";
    List<JobModel> OwnedJobs = ViewBag.OwnedJobs as List<JobModel>;
    List<int> SelectedJobsIds = ViewBag.SelectedJobsIds as List<int>;

    string _Area = String.IsNullOrEmpty(ViewBag._Area) ? "" : "/"+ ViewBag._Area;
    string _Controller = ViewBag._Controller;
    string _Action = ViewBag._Action;
    _Action = _Action == "index" ? "" : _Action + "/";
}

<select class="d-none" @Multiple id="jobs" name="jobs">
    @foreach (JobModel item in OwnedJobs)
    {
        <option value="@item.Id"
                selected="@(SelectedJobsIds.Any(a => a == item.Id) ? true : false)"
                data-area="@item.AreaId">
            @item.Name
        </option>
    }
</select>
<button class="btn btn-light rounded active" type="button" id="go_button">@SharedLocalizer["Ir"]</button>

<script>
    (function () {
        function job_filter_script() {
            $('#jobs').treeselect({
                buttontext: '<span class="d-xxl-down-none">@SharedLocalizer["Seleccionar"] </span> @SharedLocalizer["Tarea"]',
                div: '<div id="job-filter" class="dropdown bts_dropdown float-right mr-3"></div>',
            });
            $('#job-filter').find("input[type='checkbox']").not(":checked").each(function () {
                $(this).parent().parent().hide();
            });
            $('#go_button').click(function () {
                var arr = $.map($('#job-filter').find("input[type='checkbox']:checked"), function (e, i) {
                    return +e.value;
                });
                var year = $('#year-filter').length ? "@ViewBag.Year/" : "";
                var month = $('#month-filter').length ? "@ViewBag.Month/" : "";
                var active = $('#active-filter').length ? $('#active-filter input:checked').val() + "/" : "";
                var url = "@_Area/@_Controller/@_Action" + year + month + arr.join(';');
                $.ajaxGet(url);
            });
        }
        if (window.jQuery) {
            job_filter_script();
        } else {
            function appendOnLoad() {
                job_filter_script();
                window.removeEventListener("load", appendOnLoad);
            }
            window.addEventListener("load", appendOnLoad);
        }
    })();
</script>