﻿@{
    String Multiple = ViewBag.Multiple == true ? "data-multiple=true" : "";
    List<AreaModel> OwnedAreas = ViewBag.OwnedAreas as List<AreaModel>;
    List<int> SelectedAreasIds = ViewBag.SelectedAreasIds as List<int>;
    List<JobModel> OwnedJobs = ViewBag.OwnedJobs as List<JobModel>;
    List<int> SelectedJobsIds = ViewBag.SelectedJobsIds as List<int>;
}

<select class="d-none" @Multiple id="areas" name="areas">
    @foreach (AreaModel item in OwnedAreas)
    {
        <option value="@item.Id"
                selected="@(SelectedAreasIds.Any(a => a == item.Id) ? true : false)"
                data-parent="@(OwnedAreas.Any(c => c.Id == item.ParentId) ? item.ParentId : null)">
            @item.Name
        </option>
    }
</select>
<select class="d-none" @Multiple id="jobs" name="jobs">
    @foreach (JobModel item in OwnedJobs)
    {
        <option value="@item.Id"
                selected="@(SelectedJobsIds.Any(a => a == item.Id) ? true : false)"
                data-area="@item.AreaId">
            @item.Name
        </option>
    }
</select>

<script>
    (function () {
        function area_job_filter_script() {
            $('#areas').treeselect({
                buttontext: '<span class="d-xxl-down-none">@SharedLocalizer["Seleccionar"] </span> @SharedLocalizer["Área"]',
                div: '<div id="area-filter" class="dropdown bts_dropdown float-right mr-3"></div>',
            });
            $('#jobs').treeselect({
                buttontext: '<span class="d-xxl-down-none">@SharedLocalizer["Seleccionar"] </span> @SharedLocalizer["Tarea"]',
                div: '<div id="job-filter" class="dropdown bts_dropdown float-right mr-3"></div>',
            });
            $('#job-filter').find("input[type='checkbox']").not(":checked").each(function () {
                $(this).parent().parent().hide();
            });
            $('#area-filter').find("input[type='checkbox']").change(function () {
                $('#area-filter').find("input[type='checkbox']").each(function () {
                    var area_id = $(this).val();
                    if ($(this).is(':checked')) {
                        $('#job-filter').find("[data-area='" + area_id + "']").prop('checked', true).parent().parent().show();
                    } else {
                        $('#job-filter').find("[data-area='" + area_id + "']").prop('checked', false).parent().parent().hide();
                    }
                });
            });
        }
        if (window.jQuery) {
            area_job_filter_script();
        } else {
            function appendOnLoad() {
                area_job_filter_script();
                window.removeEventListener("load", appendOnLoad);
            }
            window.addEventListener("load", appendOnLoad);
        }
    })();
</script>