@* QUALITY - ADD (MODAL) *@

@model AddQualityViewModel
@using Perseo.Core
@{
    ViewData["Title"] = SharedLocalizer["Añadir Campaña"];
    ViewData["SubTitle"] = "";
}

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    $(document).ready(function () {

        $('#AreaId').treeselect({ type: 'form' });

        $("#add-form :input").not("input[name='Description']").each(function () {
            $(this).on('keyup', function (event) {
                var $t = $(this);
                $t.val(titleCase($t.val()));
            });
        });

        $("#add-form").submit(function (e) {
            e.preventDefault();

            var valspan = $("#parent-container > div > div > button > span");
            var msgspan = $("#parent-container > div > span");
            if ((valspan.html() == "") || (valspan.html() == "&nbsp;")) {
                msgspan.html('El campo Área es obligatorio.');
                return;
            } else { msgspan.html(''); }

            $.ajaxPostModal($(this).attr('action'), $(this).serialize(), function (response) {
                $.ajaxGet('/quality/edit/' + response.content.id);
            });
            return false;
        });
    });
</script>

<form asp-action="Add" id="add-form" method="post" role="form" class="form-horizontal" autocomplete="off">
    <div class="modal-header b-b-0 pb-0">
        <h3 class="modal-title">@ViewData["Title"]</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label asp-for="Name" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="Name" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Type" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <select id="type" asp-for="Type" asp-items="Html.GetEnumSelectList<CampaignType>()" class="form-control">
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Description" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <input asp-for="Description" class="form-control" autocomplete="nope" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row" id="parent-container">
                    <label asp-for="AreaId" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9 input-group">
                        <select class="form-control" id="AreaId" name="AreaId">
                            <option value=""></option>
                            @foreach (var Area in Model.OwnedAreas)
                            {
                                <option value="@Area.Id"
                                        selected="@(Model.AreaId == @Area.Id ? true : false)"
                                        data-type="@((int)Area.Type)"
                                        data-parent="@(Model.OwnedAreas.Any(c => c.Id == Area.ParentId) ? Area.ParentId : null)">
                                    @Area.Name
                                </option>
                            }
                        </select>
                        <span asp-validation-for="AreaId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
    </div>
</form>