@* QUALITY - TAKE_EXAM_CONFIRMATION (MODAL) *@

@model ConfirmExamTakeViewModel

@{
    ViewData["Title"] = SharedLocalizer["Realizar Examen"] + " " + Model.ExamName;
    ViewData["SubTitle"] = "";
}

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {

        $("#confirmexamtake-form").submit(function (e) {
            e.preventDefault();

            $.ajaxPostModal($(this).attr('action'), $(this).serialize(), function (response) {
                $.ajaxGet('/quality/@Model.QualityId/exam/@Model.ExamId/take/' + response.content.id);
            });
            return false;
        });
    });
</script>

<form asp-action="ConfirmExamTake" id="confirmexamtake-form" method="post" role="form" class="form-horizontal" autocomplete="off">
    <div class="modal-body">
        <div class="row">
            <input type="hidden" asp-for="ExamId" />
            <input type="hidden" asp-for="QualityId" />
            <div class="col-sm-12">
                @if(Model.AttemptsExceeded) {
                <label class="col-xl-12 col-form-label text-center text-danger">@SharedLocalizer["Ha sobrepasado el máximo de intentos para esta prueba."]</label>
                } else {
                    <div class="form-group row">
                        <label asp-for="ExamName" class="col-5 col-form-label">@SharedLocalizer["Examen"]</label>
                        <div class="col-7"><input asp-for="ExamName" class="form-control-plaintext" disabled /></div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Attempt" class="col-5 col-form-label"></label>
                        <div class="col-7"><input class="form-control-plaintext" disabled value="@Model.Attempt / @Model.ExamAttempts" /> </div>
                    </div>
                    @if(Model.ExamTime > 0){
                        <div class="form-group row">
                            <label asp-for="ExamTime" class="col-5 col-form-label"></label>
                            <div class="col-7"><input asp-for="ExamTime" class="form-control-plaintext" disabled /></div>
                        </div>
                    }
                    <div class="form-group row">
                        <label asp-for="ExamPassMark" class="col-5 col-form-label"></label>
                        <div class="col-7"><input asp-for="ExamPassMark" class="form-control-plaintext" disabled /></div>
                    </div>
                <label class="col-xl-12 col-form-label text-right">@SharedLocalizer["¿Desea iniciar la prueba?"]</label>
                }
            </div>
        </div>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
        @if(!Model.AttemptsExceeded) {
            <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Confirmar"]</button>
        }
    </div>
</form>