﻿@* QUALITY - EDIT_LAYOUT *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Perseo.Web
@{
    Layout = Context.Request.IsAjax() ? "~/Views/Shared/_AjaxLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}
@model QualityAuditViewModel
@section Styles { @RenderSection("Styles", false) }

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form>
                    @* HEADER *@
                    <div class="row mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* Navigation *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                @{var backurl = ""; if (Model.Id > 0) { backurl = "quality/" + Model.QualityId + "/audit/show/" + Model.Id; } else { backurl = "quality/edit/" + Model.QualityId; }}
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" href=@backurl class="btn btn-secondary">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                @if (ViewBag.Tab == "edit")
                                {
                                    @* Save *@
                                    <span class="btn-group mb-3 mb-sm-0">
                                        <button class="btn btn-primary" id="save-button" type="button">
                                            <i class="fa fa-save"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Guardar"]</span>
                                        </button>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row exam">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="QualityId" />
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <label asp-for="Name" class="col-5 col-form-label"></label>
                                <div class="col-7">
                                    <input asp-for="Name" class="form-control bg-white" placeholder="@SharedLocalizer["Insertar texto aquí"]" disabled="@(ViewBag.Tab == "edit" ? false : true)" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Description" class="col-5 col-form-label"></label>
                                <div class="col-7">
                                    <input asp-for="Description" class="form-control bg-white" placeholder="@SharedLocalizer["Insertar texto aquí"]" disabled="@(ViewBag.Tab == "edit" ? false : true)" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PassMark" class="col-5 col-form-label"></label>
                                <div class="col-7">
                                    <input type="number" asp-for="PassMark" class="form-control bg-white" placeholder=@SharedLocalizer["1-100"] disabled="@(ViewBag.Tab == "edit" ? false : true)" />
                                    <span asp-validation-for="PassMark" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <label asp-for="StartDate" class="col-5 col-form-label"></label>
                                <div class="col-7">
                                    <input asp-for="StartDate" class="form-control bg-white" disabled="@(ViewBag.Tab == "edit" ? false : true)" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="EndDate" class="col-5 col-form-label"></label>
                                <div class="col-7">
                                    <input asp-for="EndDate" class="form-control bg-white" disabled="@(ViewBag.Tab == "edit" ? false : true)" />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.Id > 0)
                    {
                        @* TABS *@
                        <ul class="nav nav-tabs" id="nav-tab" role="tablist" data-active-tab="@ViewBag.Tab">
                            <li class="nav-item">
                                <a class="nav-link" id="edit" href="#" >
                                    <i class="fa fa-pencil-square-o"></i>&nbsp; @SharedLocalizer["Modelo de Auditoría"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="associate" href="/quality/@Model.QualityId/audit/associate/@Model.Id/">
                                    <i class="fa fa-users"></i>&nbsp; @SharedLocalizer["Asociación de Usuarios"]
                                </a>
                            </li>
                        </ul>
                    }
                    @* CONTENT *@
                    @RenderBody()
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>

    $(document).ready(function () {

        $('a[id^="edit"]').click(function (event) {
            event.preventDefault();
            var auditid = @Model.Id;
            var qualityid = @Model.QualityId;
            var url = '/quality/' + qualityid + '/audit/editcheck/' + auditid;
            $.ajaxGet(url, function (response) {
                ajax_call_on = false;
                if (response.result) {
                    url = '/quality/' + qualityid + '/audit/edit/' + auditid;
                    $.ajaxGet(url);
                } else {
//                    url = '/quality/' + qualityid + '/audit/associate/' + auditid;
//                    $.ajaxGet(url);
                    toastr.error("@SharedLocalizer["No es posible editar una auditoría que ha sido realizada por un usuario."]");
                }
            });
        });

    });

</script>

    @RenderSection("Scripts", false)

}