﻿@* QUALITY - LAYOUT *@

@using Perseo.Web.HighCharts

@inject IHighCharts HighCharts

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Perseo.Web
@{
    Layout = Context.Request.IsAjax() ? "~/Views/Shared/_AjaxLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";

    AreaSplineChart chart_area_one = HighCharts.AreaSplineChart("area-one");
    chart_area_one.AddLabels(Model.AreaChart1.Labels);
    chart_area_one.AddData(Model.AreaChart1.Series[0].Name, Model.AreaChart1.Series[0].Data, Constants.color_1);
    chart_area_one.SetReducedFormat();
    chart_area_one.Tooltip.ValueSuffix = "%";

    AreaSplineChart chart_area_two = HighCharts.AreaSplineChart("area-two");
    chart_area_two.AddLabels(Model.AreaChart2.Labels);
    chart_area_two.AddData(Model.AreaChart2.Series[0].Name, Model.AreaChart2.Series[0].Data, Constants.color_light_blue);
    chart_area_two.SetReducedFormat();
    chart_area_two.Tooltip.ValueSuffix = "%";

    AreaSplineChart chart_area_three = HighCharts.AreaSplineChart("area-three");
    chart_area_three.AddLabels(Model.AreaChart3.Labels);
    chart_area_three.AddData(Model.AreaChart3.Series[0].Name, Model.AreaChart3.Series[0].Data, Constants.color_4);
    chart_area_three.SetReducedFormat();
    chart_area_three.Tooltip.ValueSuffix = "%";

    AreaSplineChart chart_area_four = HighCharts.AreaSplineChart("area-four");
    chart_area_four.AddLabels(Model.AreaChart4.Labels);
    chart_area_four.AddData(Model.AreaChart4.Series[0].Name, Model.AreaChart4.Series[0].Data, Constants.color_8);
    chart_area_four.SetReducedFormat();

    List<double> AreaChart1Data = new List<double>();
    foreach (double value in Model.AreaChart1.Series[0].Data) { AreaChart1Data.Add(value); }
    List<double> AreaChart2Data = new List<double>();
    foreach (double value in Model.AreaChart2.Series[0].Data) { AreaChart2Data.Add(value); }
    List<double> AreaChart3Data = new List<double>();
    foreach (double value in Model.AreaChart3.Series[0].Data) { AreaChart3Data.Add(value); }
    List<double> AreaChart4Data = new List<double>();
    foreach (double value in Model.AreaChart4.Series[0].Data) { AreaChart4Data.Add(value); }
}

@section Styles { @RenderSection("Styles", false) }

@section Scripts {

    @HighCharts.RenderScript()

    <script>

    </script>
    @RenderSection("Scripts", false)
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-3 mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar="@ViewBag.Avatar"></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* NAVIGATION *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            @RenderSection("Navigation", false)
                        </div>
                    </div>
                </div>
                @* CHARTS *@
                <div class="row h-auto">
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@AreaChart1Data.Last() %</div>
                                <div>@Model.AreaChart1.Name</div>
                            </div>
                            @chart_area_one.Render()
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@AreaChart2Data.Last() %</div>
                                <div>@Model.AreaChart2.Name</div>
                            </div>
                            @chart_area_two.Render()
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@AreaChart3Data.Last() %</div>
                                <div>@Model.AreaChart3.Name</div>
                            </div>
                            @chart_area_three.Render()
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body pb-0 pt-1">
                                <div class="text-value">@AreaChart4Data.Last()</div>
                                <div>@Model.AreaChart4.Name</div>
                            </div>
                            @chart_area_four.Render()
                        </div>
                    </div>
                </div>
                @* TABS *@
                <ul class="nav nav-tabs" id="nav-tab" role="tablist" data-active-tab="@ViewBag.Tab">
                    <li class="nav-item">
                        <a class="nav-link" id="quality" href="/quality/list">
                            <i class="icon-badge"></i>&nbsp; @SharedLocalizer["Campañas"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nonconformity" href="/quality/nonconformitycard/list">
                            <i class="icon-dislike"></i>&nbsp; @SharedLocalizer["No Conformidad"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="kpi" asp-controller="quality" asp-action="ListKpi">
                            <i class="icon-cloud-upload"></i>&nbsp; @SharedLocalizer["Indicadores"]

                        </a>
                    </li>
                </ul>
                @* CONTENT *@
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-main-pane">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
