﻿@* QUALITY - AUDIT REQUEST REVIEW (MODAL) *@

@using Perseo.Web.Models
@model QualityAuditTakeRequestViewModel

<form asp-action="Add" id="add-form" method="post" role="form" class="form-horizontal" autocomplete="off">
    <input asp-for='QualityId' type="hidden" />
    <input asp-for='Id' type="hidden" />
    <input asp-for='TakeId' type="hidden" />
    <input asp-for='Name' type="hidden" />
    <div class='modal-header b-b-0 pb-0'>
        <h3 class='modal-title'>@SharedLocalizer["Crear Solicitud"]</h3>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>x</span>
        </button>
    </div>
    <div class='modal-body'>
        <div class='row'>
            <div asp-validation-summary='ModelOnly' class='text-danger'></div>
            <div class='col-sm-12'>
                <div class="form-group row">
                    <label asp-for="Summary" class="col-xl-3 col-form-label"></label>
                    <div class="col-xl-9">
                        <textarea asp-for='Summary' class='form-control' rows='4'></textarea>
                        <span asp-validation-for="Summary" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='modal-footer b-t-0 pt-0'>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Guardar"]</button>
    </div>
</form>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#add-form').submit(function (e) {
            e.preventDefault();

            $.ajaxPostModal("/quality/@Model.QualityId/audit/show/@Model.Id/take/@Model.TakeId/requestreview", $(this).serialize(), function (e) {
                $.ajaxGet("/account/profile/requests");
            });
            return false;
        });
    });
</script>