﻿@* QUALITY - LAYOUT *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Perseo.Web
@{
    ViewData["Title"] = SharedLocalizer["Campaña"] + " " + Model.Quality.Name;
    ViewData["SubTitle"] = SharedLocalizer["Área"] + " " + Model.AreaName;
    Layout = Context.Request.IsAjax() ? "~/Views/Shared/_AjaxLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

@section Styles { @RenderSection("Styles", false) }
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-3 mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title="@ViewData["Title"]" subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* NAVIGATION *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                            @* Back *@
                            <span class="btn-group mb-3 mb-sm-0 mr-3">
                                <a id="back" asp-action="list" class="btn btn-secondary">
                                    <i class="fa fa-arrow-left"></i>&nbsp; @SharedLocalizer["Volver"]
                                </a>
                            </span>
                            @* Edit *@
                            <span class="btn-group mb-3 mb-sm-0">
                                <a id="edit" asp-action="edit" asp-route-id="@Model.Quality.Id" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>&nbsp; @SharedLocalizer["Editar"]
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

                @* TABS *@
                <ul class="nav nav-tabs" id="nav-tab" role="tablist" data-active-tab="@ViewBag.Tab">
                    <li class="nav-item">
                        <a class="nav-link" id="show" href="/quality/show/@Model.Quality.Id">
                            <i class="nav-icon icon-badge"></i>&nbsp; @SharedLocalizer["Información general"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="state" href="/quality/state/@Model.Quality.Id">
                            <i class="fa fa-check-square"></i>&nbsp; @SharedLocalizer["Estado actual"]
                        </a>
                    </li>
                </ul>
                @* CONTENT *@
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-main-pane">
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {

            breadcrumb({ name: "@SharedLocalizer["Campaña"]", url: "quality/list" }, { name: "@Model.Quality.Name" });

        });
    </script>
    @RenderSection("Scripts", false)
}