﻿@* QUALITY - ASSOCIATE_AUDIT_USERS *@

@using Perseo.Web.Models

@model QualityAuditViewModel
@{
    ViewBag.Tab = "associate";
    Layout = "_EditAuditLayout.cshtml";

    ViewData["Title"] = SharedLocalizer["Editar Modelo de Auditoría"];
    ViewData["SubTitle"] = SharedLocalizer["Campaña"] + " " + Model.QualityName;
}

@section Scripts{
    <script>

    $(document).ready(function () {

        breadcrumb({ name: "@SharedLocalizer["Calidad"]", url: "quality" }, { name: "@Model.QualityName", url: "show/@Model.QualityId" }, { name: "@ViewData["Title"]" });

        $(".table").dt();

        $('a[id^="dissociatecheck"]').click(function (event) {

            var mycontent = `
            <form asp-action="Dissociate" id="dissociatecheck-form" method="post" role="form" class="form-horizontal" autocomplete="off">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="col-xl-12 col-form-label">@SharedLocalizer["¿Está seguro de separar el usuario de la auditoría?"]</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer b-t-0 pt-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
                    <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Confirmar"]</button>
                </div>
            </form>`

            event.preventDefault();

            if ($(this).data("msgremote").length && $(this).data("msgtarget").length) {
                var id = $(this).parent().parent().data("id")
                var url = $(this).data("msgremote") + @Model.Id + "/" + id;
                var modal = $(this).data("msgtarget");
                var $modal = $(modal);
                var $modal_content = $(modal + ' ' + $(this).data("msgtarget") + '-content');
                $.ajaxGet(url, function (jsresponse) {

                    if (jsresponse.result) {

                        $modal_content.append(mycontent);
                        $modal.modal("show");

                        $("#dissociatecheck-form").submit(function (e) {
                            e.preventDefault();
                            $.ajaxPostModal('/quality/@Model.QualityId/audit/dissociate/@Model.Id/' + id, $(this).serialize(), function (response) {
                                $.ajaxGet('/quality/@Model.QualityId/audit/associate/@Model.Id');
                            });
                            return false;
                        });

                    } else {
                        toastr.error(jsresponse.response);
                    }
                });
            }
        });
    });

    </script>
}
@foreach (var Owner in Model.QualityOwners)
{
    <br />
    <div class="mb-2 mt-2 mb-4 mr-1 mt-lg-0">
        @Owner.FirstName @Owner.MainSurname @Owner.SecondSurname
        <button class="btn btn-success float-right" type="button" data-remote="/quality/@Model.QualityId/audit/associate/@Model.Id/@Owner.Id" data-target="#global-modal" data-toggle="modal">
            <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Añadir"]
        </button>
    </div>
    <div id="users-table-container" class="dt-hidden-container">
        <table id="users-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@SharedLocalizer["Usuario"]</th>
                    <th>@SharedLocalizer["Nombre"]</th>
                    <th>@SharedLocalizer["Email"]</th>
                    <th>@SharedLocalizer["Empleado"]</th>
                    <th class="actions">
                        @SharedLocalizer["Acciones"]
                        <div class="d-none">
                            <a id="dissociatecheck" href="#" class="btn btn-sm btn-ghost-danger" data-msgremote="/quality/@Model.QualityId/audit/dissociatecheck/" data-msgtarget="#global-modal">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var User in Model.AuditUsers)
                {
                    if (User.AuditOwner.UserId == Owner.Id)
                    {
                        <tr class="non-clickable-row" data-id="@User.User.Id">
                            <td>@User.User.UserName</td>
                            <td>@User.User.FirstName @User.User.MainSurname @User.User.SecondSurname</td>
                            <td>@User.User.Email</td>
                            <td>@User.User.EmployeeId</td>
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}