@* QUALITY - EDIT *@

@using Perseo.Core
@model EditQualityViewModel

@{
    ViewData["Title"] = SharedLocalizer["Editar"] + " " + @Model.Quality.Name;
    ViewData["SubTitle"] = "";
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            breadcrumb({ name: "@SharedLocalizer["Calidad"]", url: "quality" }, { name: "@Model.Quality.Name", url: "show/@Model.Quality.Id" }, { name: "@SharedLocalizer["Edición"]" });

            $('#owners-table').dt();
            $('#users-table').dt();
            $('#audits-table').dt();
            $('#exams-table').dt();

            $('#AreaId').treeselect({ type: 'form' });

            $("#edit-form :input").not("input[name='Description']").each(function () {
                $(this).on('keyup', function (event) {
                    var $t = $(this);
                    $t.val(titleCase($t.val()));
                });
            });

            $("#edit-form").submit(function (e) {
                e.preventDefault();
                $.ajaxPost($(this).attr('action'), $(this).serialize(), function (response) {
                    $.ajaxGet('/quality/show/@Model.Quality.Id');
                });
            });

            $('a[id^="deleteusercheck"]').click(function (event) {

                var mycontent = `
                <form asp-action="DeleteUser" id="deleteuser-form" method="post" role="form" class="form-horizontal" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="col-xl-12 col-form-label">@SharedLocalizer["¿Está seguro de eliminar el usuario de la campaña de calidad?"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer b-t-0 pt-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
                        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Confirmar"]</button>
                    </div>
                </form>`

                event.preventDefault();

                if ($(this).data("msgremote").length && $(this).data("msgtarget").length) {
                    var id = $(this).parent().parent().data("id")
                    var url = $(this).data("msgremote") + @Model.Quality.Id + "/" + id;
                    var modal = $(this).data("msgtarget");
                    var $modal = $(modal);
                    var $modal_content = $(modal + ' ' + $(this).data("msgtarget") + '-content');
                    $.ajaxGet(url, function (jsresponse) {
                        if (jsresponse.result) {
                            $modal_content.append(mycontent);
                            $modal.modal("show");
                            $("#deleteuser-form").submit(function (e) {
                                e.preventDefault();
                                $.ajaxPostModal('/quality/DeleteUser/@Model.Quality.Id/' + id, $(this).serialize(), function (response) {
                                    $.ajaxGet('/quality/edit/' + response.content.id);
                                });
                                return false;
                            });
                        } else {
                            toastr.error(jsresponse.response);
                        }
                    });
                }
            });

            $('a[id^="editexamcheck"]').click(function (event) {
                event.preventDefault();
                var examid = $(this).parent().parent().data("id")
                var qualityid = @Model.Quality.Id;
                var url = '/quality/' + qualityid + '/exam/editcheck/' + examid;
                $.ajaxGet(url, function (jsresponse) {
                    ajax_call_on = false;
                    if (jsresponse.result) {
                        url = '/quality/' + qualityid + '/exam/edit/' + examid;
                        $.ajaxGet(url);
                    } else {
                        url = '/quality/' + qualityid + '/exam/associate/' + examid;
                        $.ajaxGet(url);
                        toastr.error(jsresponse.response);
                    }
                });
            });

            $('a[id^="deleteexamcheck"]').click(function (event) {

                var mycontent = `
                <form asp-action="DeleteExam" id="deleteexam-form" method="post" role="form" class="form-horizontal" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="col-xl-12 col-form-label">@SharedLocalizer["¿Está seguro de eliminar el modelo de examen de la campaña de calidad?"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer b-t-0 pt-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
                        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Confirmar"]</button>
                    </div>
                </form>`

                event.preventDefault();

                if ($(this).data("msgremote").length && $(this).data("msgtarget").length) {
                    var id = $(this).parent().parent().data("id")
                    var url = $(this).data("msgremote") + id;
                    var modal = $(this).data("msgtarget");
                    var $modal = $(modal);
                    var $modal_content = $(modal + ' ' + $(this).data("msgtarget") + '-content');
                    $.ajaxGet(url, function (jsresponse) {
                        if (jsresponse.result) {
                            $modal_content.append(mycontent);
                            $modal.modal("show");
                            $("#deleteexam-form").submit(function (e) {
                                e.preventDefault();
                                $.ajaxPostModal('/quality/@Model.Quality.Id/exam/delete/' + id, $(this).serialize(), function (response) {
                                    $.ajaxGet('/quality/edit/' + response.content.id);
                                });
                                return false;
                            });
                        } else {
                            toastr.error(jsresponse.response);
                        }
                    });
                }
            });

            $('a[id^="editauditcheck"]').click(function (event) {
                event.preventDefault();
                var auditid = $(this).parent().parent().data("id")
                var qualityid = @Model.Quality.Id;
                var url = '/quality/' + qualityid + '/audit/editcheck/' + auditid;
                $.ajaxGet(url, function (jsresponse) {
                    ajax_call_on = false;
                    if (jsresponse.result) {
                        url = '/quality/' + qualityid + '/audit/edit/' + auditid;
                        $.ajaxGet(url);
                    } else {
                        url = '/quality/' + qualityid + '/audit/associate/' + auditid;
                        $.ajaxGet(url);
                        toastr.error(jsresponse.response);
                    }
                });
            });

            $('a[id^="deleteauditcheck"]').click(function (event) {

                var mycontent = `
                <form asp-action="DeleteAudit" id="deleteaudit-form" method="post" role="form" class="form-horizontal" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="col-xl-12 col-form-label">@SharedLocalizer["¿Está seguro de eliminar la auditoría de la campaña de calidad?"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer b-t-0 pt-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
                        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Confirmar"]</button>
                    </div>
                </form>`

                event.preventDefault();

                if ($(this).data("msgremote").length && $(this).data("msgtarget").length) {
                    var id = $(this).parent().parent().data("id")
                    var url = $(this).data("msgremote") + id;
                    var modal = $(this).data("msgtarget");
                    var $modal = $(modal);
                    var $modal_content = $(modal + ' ' + $(this).data("msgtarget") + '-content');
                    $.ajaxGet(url, function (jsresponse) {
                        if (jsresponse.result) {
                            $modal_content.append(mycontent);
                            $modal.modal("show");
                            $("#deleteaudit-form").submit(function (e) {
                                e.preventDefault();
                                $.ajaxPostModal('/quality/@Model.Quality.Id/audit/delete/' + id, $(this).serialize(), function (response) {
                                    $.ajaxGet('/quality/edit/' + response.content.id);
                                });
                                return false;
                            });
                        } else {
                            toastr.error(jsresponse.response);
                        }
                    });
                }
            });

        });

    </script>
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit" id="edit-form" method="post" role="form">
                    @* HEADER *@
                    <div class="row mb-3 mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title="@ViewData["Title"]" subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* NAVIGATION *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="Show" asp-route-id="@Model.Quality.Id" class="btn btn-secondary">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                <span class="btn-group mb-3 mb-sm-0">
                                    <button class="btn btn-primary" type="submit" id="save-button">
                                        <i class="fa fa-save"></i>&nbsp; @SharedLocalizer["Guardar"]
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    @* FORM *@
                    <div class="row">
                        <div class="col">
                            <div class="form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Quality.Id" />
                                <div class="row">
                                    @* LEFT COL *@
                                    <div class="col-sm-14 col-md-7 col-lg-7 col-xl-7">
                                        <div class="form-group row">
                                            <label asp-for="Quality.Name" class="col-xl-3 col-form-label"></label>
                                            <div class="col-xl-9">
                                                <input asp-for="Quality.Name" class="form-control" />
                                                <span asp-validation-for="Quality.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="Quality.Description" class="col-xl-3 col-form-label"></label>
                                            <div class="col-xl-9">
                                                <input asp-for="Quality.Description" class="form-control" />
                                                <span asp-validation-for="Quality.Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="Quality.AreaId" class="col-xl-3 col-form-label"></label>
                                            <div class="col-xl-9">
                                                <select class="form-control" id="AreaId" name="Quality.AreaId">
                                                    <option value=""></option>
                                                    @foreach (var Area in Model.OwnedAreas)
                                                    {
                                                        <option value="@Area.Id"
                                                                selected="@(Model.Quality.AreaId == @Area.Id ? true : false)"
                                                                data-type="@((int)Area.Type)"
                                                                data-parent="@(Model.OwnedAreas.Any(c => c.Id == Area.ParentId) ? Area.ParentId : null)">
                                                            @Area.Name
                                                        </option>
                                                    }
                                                </select>
                                                <span asp-validation-for="Quality.AreaId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @* RIGHT COL *@
                                    <div class="col-sm-14 col-md-5 col-lg-5 col-xl-5">
                                        <div class="form-group row">
                                            <label asp-for="Quality.StartDate" class="col-xl-5 col-form-label"></label>
                                            <div class="col-xl-7 input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                <input asp-for="Quality.StartDate" type="date" class="form-control" id="start-date" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="Quality.EndDate" class="col-xl-5 col-form-label"></label>
                                            <div class="col-xl-7 input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                <input asp-for="Quality.EndDate" type="date" class="form-control" id="end-date" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    @* TABLES *@
                    <div class="font-xl mb-3 mt-2 mr-1 mt-lg-0">
                        @SharedLocalizer["Auditores"]
                    <button class="btn btn-success float-right" type="button" data-remote="/quality/AddUser/@Model.Quality.Id/owner" data-target="#global-modal" data-toggle="modal">
                        <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Añadir"]
                    </button>
                </div>
                <div id="owners-table-container" class="dt-hidden-container">
                    <table id="owners-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>@SharedLocalizer["Usuario"]</th>
                                <th>@SharedLocalizer["Nombre"]</th>
                                <th>@SharedLocalizer["Email"]</th>
                                <th>@SharedLocalizer["Empleado"]</th>
                                <th class="actions">
                                    @SharedLocalizer["Acciones"]
                                    <div class="d-none">
                                        <a id="deleteusercheck" href="#" class="btn btn-sm btn-ghost-danger" data-msgremote="/quality/DeleteUserCheck/" data-msgtarget="#global-modal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </th>
                        </thead>
                        <tbody>
                            @foreach (var User in Model.Owners)
                            {
                                <tr class="non-clickable-row" data-id="@User.Id">
                                    <td>@User.UserName</td>
                                    <td>@User.FirstName @User.MainSurname @User.SecondSurname</td>
                                    <td>@User.Email</td>
                                    <td>@User.EmployeeId</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="font-xl mb-3 mt-2 mr-1 mt-lg-0">
                    @SharedLocalizer["Auditados"]
                <button class="btn btn-success float-right" type="button" data-remote="/quality/AddUser/@Model.Quality.Id/user" data-target="#global-modal" data-toggle="modal">
                    <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Añadir"]
                </button>
                </div>
                <div id="users-table-container" class="dt-hidden-container">
                    <table id="users-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>@SharedLocalizer["Usuario"]</th>
                                <th>@SharedLocalizer["Nombre"]</th>
                                <th>@SharedLocalizer["Email"]</th>
                                <th>@SharedLocalizer["Empleado"]</th>
                                <th class="actions">
                                    @SharedLocalizer["Acciones"]
                                    <div class="d-none">
                                        <a id="deleteusercheck" href="#" class="btn btn-sm btn-ghost-danger" data-msgremote="/quality/DeleteUserCheck/" data-msgtarget="#global-modal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var User in Model.Users)
                            {
                                <tr class="non-clickable-row" data-id="@User.Id">
                                    <td>@User.UserName</td>
                                    <td>@User.FirstName @User.MainSurname @User.SecondSurname</td>
                                    <td>@User.Email</td>
                                    <td>@User.EmployeeId</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model.Quality.Type == 1)
                {
                    <br>
                    <div class="font-xl mb-3 mt-2 mr-1 mt-lg-0">
                        @SharedLocalizer["Modelos de Auditoría"]
                    <a class="btn btn-success float-right" href="/quality/@Model.Quality.Id/audit/add/">
                        <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Nueva"]
                    </a>
                    </div>

                    <div id="audits-table-container" class="dt-hidden-container">
                        <table id="audits-table" data-row-link="/quality/@Model.Quality.Id/audit/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>@SharedLocalizer["Nombre"]</th>
                                    <th>@SharedLocalizer["Descripción"]</th>
                                    <th class="actions">
                                        @SharedLocalizer["Acciones"]
                                        <div class="d-none">
                                            <a id="ShowAudit" class="btn btn-sm btn-ghost-danger!" href="/quality/@Model.Quality.Id/audit/show">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a id="editauditcheck" href="#" class="btn btn-sm btn-ghost-danger">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a id="deleteauditcheck" href="#" class="btn btn-sm btn-ghost-danger" data-msgremote="/quality/@Model.Quality.Id/audit/deletecheck/" data-msgtarget="#global-modal">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Audit in Model.Audits)
                                {
                                    <tr class="clickable-row" data-id="@Audit.Id">
                                        <td>@Audit.Name</td>
                                        <td>@Audit.Description</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                @if (Model.Quality.Type == 2)
                {
                    <br>
                    <div class="font-xl mb-3 mt-2 mr-1 mt-lg-0">
                        @SharedLocalizer["Modelos de Examen"]
                    <a class="btn btn-success float-right" href="/quality/@Model.Quality.Id/exam/add/">
                        <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Nuevo"]
                    </a>
                    </div>
                    <div id="exams-table-container" class="dt-hidden-container">
                        <table id="exams-table" data-row-link="/quality/@Model.Quality.Id/exam/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>@SharedLocalizer["Nombre"]</th>
                                    <th>@SharedLocalizer["Descripción"]</th>
                                    <th class="actions">
                                        @SharedLocalizer["Acciones"]
                                        <div class="d-none">
                                            <a id="ShowExam" class="btn btn-sm btn-ghost-danger!" href="/quality/@Model.Quality.Id/exam/show">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a id="editexamcheck" href="#" class="btn btn-sm btn-ghost-danger">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a id="deleteexamcheck" href="#" class="btn btn-sm btn-ghost-danger" data-msgremote="/quality/@Model.Quality.Id/exam/deletecheck/" data-msgtarget="#global-modal">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Exam in Model.Exams)
                                {
                                    <tr class="clickable-row" data-id="@Exam.Id">
                                        <td>@Exam.Name</td>
                                        <td>@Exam.Description</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                </form>
            </div>
        </div>
    </div>
</div>
