﻿@* QUALITY - LIST *@

@using Perseo.Web.Models

@model ListQualityViewModel
@{
    ViewBag.Tab = "quality";
    Layout = "_QualityLayout.cshtml";

    ViewData["Title"] = SharedLocalizer["Gestión de Calidad"];
    ViewData["SubTitle"] = "";

    string selectedareas = string.Join(";", Model.SelectedAreasIds);
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            breadcrumb({ name: "@SharedLocalizer["Calidad"]"});

            $('#list-table').dt();

            $('a[id^="deletecheck"]').click( function (event) {

                var mycontent = `
                <form asp-action="Delete" id="delete-form" method="post" role="form" class="form-horizontal" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="col-xl-12 col-form-label">@SharedLocalizer["¿Está seguro de eliminar la campaña?"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer b-t-0 pt-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
                        <button type="submit" class="btn btn-primary" id="save-button">@SharedLocalizer["Confirmar"]</button>
                    </div>
                </form>`

                event.preventDefault();

                if ($(this).data("msgremote").length && $(this).data("msgtarget").length) {
                    var id = $(this).parent().parent().data("id")
                    var url = $(this).data("msgremote") + id;
                    var modal = $(this).data("msgtarget");
                    var $modal = $(modal);
                    var $modal_content = $(modal + ' ' + $(this).data("msgtarget") + '-content');
                    $.ajaxGet(url, function (response) {

                        if (response.result) {

                            $modal_content.append(mycontent);
                            $modal.modal("show");

                            $("#delete-form").submit(function (e) {
                                e.preventDefault();
                                $.ajaxPostModal('/quality/delete/' + id, $(this).serialize(), function () {
                                    $.ajaxGet('/quality/list/');
                                });
                                return false;
                            });

                        } else {
                            toastr.error("@SharedLocalizer["No es posible eliminar una campaña que haya sido finalizada por algún usuario."]");
                        }
                    });
                }
            });
        });
    </script>
}

@section Navigation {
    @* Area Filter Button *@
    <span class="btn-group mb-3 mb-sm-0">
        <vc:area-filter owned-areas=@Model.OwnedAreas selected-areas-ids=@Model.SelectedAreasIds multiple=true></vc:area-filter>
    </span>
    @* Go Filter Button *@
    <span class="btn-group mr-3 mb-3 mb-sm-0">
        <vc:go-filter-button base-url=@null></vc:go-filter-button>
    </span>
    @* Date *@
    <span class="btn-group mr-3 mb-3 mb-sm-0">
        <vc:year-month-filter year=@Model.Year month=@Model.Month url="/quality/list/$y/$m/@selectedareas"></vc:year-month-filter>
    </span>
    @* Add Button *@
    <span class="btn-group mb-3 mb-sm-0">
        <button class="btn btn-primary" type="button" data-remote="/quality/add" data-target="#global-modal" data-toggle="modal">
            <i class="fa fa-plus-circle"></i>&nbsp; @SharedLocalizer["Nueva"]
        </button>
    </span>
}

<div id="list-table-container" class="dt-hidden-container">
    <table id="list-table" data-row-link="/quality/show/" class="table data-table table-hover table-sm table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>@SharedLocalizer["Campaña"]</th>
                <th>@SharedLocalizer["Área"]</th>
                <th>@SharedLocalizer["Fecha Inicio"]</th>
                <th>@SharedLocalizer["Fecha Fin"]</th>
                <th>@SharedLocalizer["Auditorías"]</th>
                <th>@SharedLocalizer["Exámenes"]</th>
                <th>@SharedLocalizer["Asignados"]</th>
                <th>@SharedLocalizer["Finalizados"]</th>
                <th class="actions">
                    Acciones
                    <div class="d-none">
                        <a id="show" href="/quality/show" class="btn btn-sm btn-ghost-primary">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a id="edit" asp-action="Edit" class="btn btn-sm btn-ghost-primary">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a id="deletecheck" href="#" class="btn btn-sm btn-ghost-danger" data-msgremote="/quality/DeleteCheck/" data-msgtarget="#global-modal">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var quality in Model.Data)
            {
                <tr class="clickable-row" data-id="@quality.Id">
                    <td>@quality.Name</td>
                    <td>@quality.AreaName</td>
                    <td>@Html.DisplayFor(modelItem => quality.StartDate)</td>
                    <td>@Html.DisplayFor(modelItem => quality.EndDate)</td>
                    <td>@quality.CountAudit</td>
                    <td>@quality.CountExam</td>
                    <td>@quality.CountUserQuality</td>
                    <td>@quality.CountUserQualityCompleted</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
