@* QUALITY - MARK_EXAM_TAKE *@

@using Perseo.Web.Models

@model QualityExamTakeViewModel
@{
    ViewData["Title"] = SharedLocalizer["Corregir Examen"] + " " + Model.Name;
    ViewData["SubTitle"] = SharedLocalizer["Campaña"] + " " + Model.QualityName;
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form>
                    @* HEADER *@
                    <div class="row mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* Navigation *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                @* Back *@
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="State" asp-route-id="@Model.QualityId" class="btn btn-secondary">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                @* Save *@
                                <span class="btn-group mb-3 mb-sm-0">
                                    <button class="btn btn-primary" id="save-button" type="button" formaction="/quality/add/@Model.Id">
                                        <i class="fa fa-save"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Guardar"]</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row exam">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="QualityId" />
                        <input type="hidden" asp-for="TakeId" />
                        <input type="hidden" asp-for="ExamUserId" />
                        <input type="hidden" asp-for="Attempt" />
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <label asp-for="Name" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="Name" class="form-control-plaintext" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Description" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="Description" class="form-control-plaintext" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PassMark" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="PassMark" class="form-control-plaintext" disabled /></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <label asp-for="StartDate" class="col-5 col-form-label"></label>
                                <div class="col-7"><input name="StartDate" class="form-control-plaintext" value="@Model.StartDate" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="EndDate" class="col-5 col-form-label"></label>
                                <div class="col-7"><input name="EndDate" class="form-control-plaintext" value="@Model.EndDate" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Pass" class="col-5 col-form-label">@SharedLocalizer["Estado"]</label>
                                @{var state = ""; if (Model.Pass == null) { state = "Pendiente de revisión"; } else if (Model.Pass == true) { state = "Superado"; } else { state = "No superado"; }}
                                <div class="col-7"><input asp-for="Pass" class="form-control-plaintext" value="@state" disabled /></div>
                            </div>
                        </div>
                    </div>
                    <div id="exam-start"></div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <style>
        .card-header {
            padding-top: 8px;
            padding-bottom: 8px;
        }

            .card-header i.icon-arrow-down {
                transition: .3s transform ease-in-out;
            }

            .card-header .collapsed i.icon-arrow-down {
                transform: rotate(90deg);
            }

        .option-order {
            display: block;
            width: 35px;
        }

        .form-control::-webkit-input-placeholder {
            color: #e3e6e8;
        }
        .form-control:-moz-placeholder {
            color: #e3e6e8;
        }
        .form-control::-moz-placeholder {
            color: #e3e6e8;
        }
        .form-control:-ms-input-placeholder {
            color: #e3e6e8;
        }

    </style>
}

@section Scripts{
    <script>

    $(document).ready(function () {

        breadcrumb({ name: "@SharedLocalizer["Calidad"]", url: "quality" }, { name: "@Model.QualityName", url: "show/@Model.QualityId" }, { name: "@ViewData["Title"]" });

        function nextLetter(s = null) {
            if (typeof s !== 'string') {
                return 'a';
            }
            return s.replace(/([a-zA-Z])[^a-zA-Z]*$/, function (a) {
                var c = a.charCodeAt(0);
                switch (c) {
                    case 90: return 'A';
                    case 122: return 'a';
                    default: return String.fromCharCode(++c);
                }
            });
        }

        function section(order, id = "", exam_section_id = "", name = "", weighing = "", mark = "", fields = "") {

            var random_id = Math.random().toString(36).substring(2, 15);

            return `<div class='mt-3 section'>
            <input type='hidden' name='Id' value='${id}'>
            <input type='hidden' name='ExamSectionId' value='${exam_section_id}'>
                <div class='card'>
                    <div class='card-header bg-transparent'>
                        <h5 class='mb-0 d-inline'>
                        ${order}. ${name} <span class='small text-muted'>(${weighing} @SharedLocalizer["puntos"])</span>
                        </h5>
                        <div class="card-header-actions mt-1">
                            <a class="card-header-action" data-toggle="collapse" aria-expanded="true" href="#${random_id}">
                                <i class="d-inline-block icon-arrow-down font-lg"></i>
                            </a>
                       </div>
                       <div class="form-group row">
                            <label asp-for="Mark_section" class="col-2 col-form-label">@SharedLocalizer["Puntuación"]</label>
                            <div class="col-2"><input asp-for="Mark" class="form-control-plaintext" name='Mark_section' value='${mark}' disabled/></div>
                        </div>
	                </div>
                    <div class="card-body">
                        <div class='row'>
                            <div  id='${random_id}' class='col-12 collapse show'>
                                <ul class='list-group field-list list-group-flush '>
                                    ${fields}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;
        }

        function field(section_order, order, id = "", exam_field_id = "", name = "", weighing = "", mark = "", type = null, answer = null, options = "") {

            var answer = (answer == null ? "" : answer);
            var type_html = field_type(type, options, answer);

            var random_id = Math.random().toString(36).substring(2, 15);

            return `<li class='list-group-item p-0 border-0 field'>
                <input type='hidden' name='Id' value='${id}'>
                <input type='hidden' name='ExamFieldId' value='${exam_field_id}'>
                <div id="${random_id}">
                    <div class="pt-2 pb-3">
	                    <div class='row mb-2' >
		                    <div class='col-12 pt-2'><strong>${section_order}.${order}.</strong> ${name} <span class='small text-muted'>(${weighing} @SharedLocalizer["puntos"])</span></div>
	                    </div>
                            <div class='form-group row'>
                                <label class='col-xl-2 col-form-label' for='Mark_field'>@SharedLocalizer["Puntuación"]</label>
                                <div class='col-xl-2'>
                                    <input type='number' class='form-check-label form-control' name='Mark_field' value='${mark}'>
                                    <span asp-validation-for="Mark_field" class="text-danger"></span>
                                </div>
                            </div>
                        ${type_html}
                    </div>
                </div>
            </li>`;
        }

        function field_type(type, options = "", answer = "") {
            var html = ``;
            switch (type) {
                case 1:
                    html = `<div class='col-xl-12'>
                        <textarea class='form-control' name='Name' rows='2' disabled>${answer}</textarea>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>`;
                    break;
                case 2:
                    html = `<div class='form-group row mb-0 options'>
		                <div class='col-12 input-group'>
                            ${options}
		                </div>
	                </div>`;
                    break;
                case 3:
                    html = `<div class='form-group row mb-0 options multi'>
		                <div class='col-12 input-group'>
                            ${options}
		                </div>
	                </div>`;
                    break;
                default:
                    html = `<div class='row mb-0 options'></div>`;
            }
            return html;
        }

        function option(multiple, letter, random_id, id = "", exam_option_id = "",content = "", mark = false, selected= false) {

            var checked;
            if (mark && selected){
                checked = "<i class='fa fa-check fa-lg text-success'></i> ";
            }else if (mark && !selected) {
                checked = "<i class='fa fa-check fa-lg text-secondary'></i> ";
            } else if (!mark && selected) {
                checked = "<i class='fa fa-times fa-lg text-danger'></i> ";
            } else { checked = "";}

            var selected = selected ? " checked" : "";

            var input = multiple ? `<input type='checkbox' value='' name='Mark_${random_id}' disabled ${selected}>` : `<input type='radio' value='' name='Mark_${random_id}' disabled ${selected}>`;

            return `<div class='input-group col-12 mb-1 pl-0 pr-0 option'>
            <input type='hidden' name='Id' value='${id}'>
            <input type='hidden' name='ExamOptionId' value='${exam_option_id}'>
	        <div class='input-group-prepend border-0'>
                <span class="input-group-text bg-transparent option-order border-0 pl-0 pr-0">${checked}</span>
		        <div class='input-group-text border-0 bg-transparent pl-0 pr-0'>
			        ${input}
		        </div>
                <span class="input-group-text bg-transparent option-order border-0 pl-0 pr-0"><strong>${letter})</strong></span>
	        </div>
	        <input type='text' class='form-control-plaintext border-0 pl-0' name='Content' value='${content}' disabled>
        </div>`;
        }

        function form_to_json() {

            var sections = new Array();
            $('.section').each(function (section_index) {
                var section_id = parseInt($(this).find('input[name="Id"]').first().val());
                var exam_section_id = parseInt($(this).find('input[name="ExamSectionId"]').first().val());
                var mark = parseFloat($(this).find('input[name="Mark_section"]').val());
                var name = $(this).find('input[name="Name"]').first().val();
                var weighing = parseFloat($(this).find('input[name="Weighing"]').val());
                sections[section_index] = { Id: section_id, ExamSectionId: exam_section_id, Order: section_index + 1, Mark: mark, Name: name, Description: "", Weighing: weighing, Fields: new Array() };
                $(this).find('.field').each(function (field_index) {
                    var field_id = parseInt($(this).find('input[name="Id"]').first().val());
                    var exam_field_id = parseInt($(this).find('input[name="ExamFieldId"]').first().val());
                    var mark = parseFloat($(this).find('input[name="Mark_field"]').val());
                    var name = $(this).find('textarea[name="Name"]').val();
                    var type = $(this).find('select[name="Type"]').val();
                    var weighing = parseFloat($(this).find('input[name="Weighing"]').val());
                    sections[section_index].Fields[field_index] = { Id: field_id, ExamFieldId: exam_field_id, Order: field_index + 1, Mark: mark, Type: type, Weighing: weighing, Answer: name, Options: new Array() };
                    $(this).find('.option').each(function (option_index) {
                        var option_id = parseInt($(this).find('input[name="Id"]').first().val());
                        var exam_option_id = parseInt($(this).find('input[name="ExamOptionId"]').first().val());
                        var content = $(this).find('input[name="Content"]').val();
                        var mark = $(this).find('input[name^="Mark"]').prop('checked');
                        sections[section_index].Fields[field_index].Options[option_index] = { Id: option_id, ExamOptionId: exam_option_id, Order: option_index + 1, Content: content, Mark: mark, Value: 0 };
                    });
                });
            });
            var quality_id = parseInt($('input[name="QualityId"]').first().val());
            var exam_id = parseInt($('input[name="Id"]').first().val());
            var take_id = parseInt($('input[name="TakeId"]').first().val());
            var exam_user_id = parseInt($('input[name="ExamUserId"]').first().val());
            var attempt = parseInt($('input[name="Attempt"]').first().val());
            var name = $('input[name="Name"]').first().val();
            var description = $('input[name="Description"]').first().val();
            var pass_mark = parseInt($('input[name="PassMark"]').first().val());
            var start_date = parseDatetime($('input[name="StartDate"]').first().val());
            var end_date = parseDatetime($('input[name="EndDate"]').first().val());

            var Exam = { QualityId: quality_id, ExamId: exam_id, TakeId: take_id, ExamUserId: exam_user_id, Attempt: attempt, Name: name, Description: description, PassMark: pass_mark, StartDate: start_date, EndDate: end_date, Sections: sections }
            return JSON.stringify(Exam);
        }

        function parseDatetime(string) {

            date = string.substring(6, 10) + "-" + string.substring(3, 5) + "-" + string.substring(0, 2) + "T" + string.substring(11, 19) + ".000Z";

            return date
        }

        function save() {

            if (!form_validation()) { return; }

            var data = form_to_json();
            $.ajaxPost('/quality/@Model.QualityId/exam/mark/@Model.Id/take/@Model.TakeId', data, function (response) {$.ajaxGet('/quality/@Model.QualityId/exam/show/@Model.Id/take/@Model.TakeId');});
        }

        function form_validation() {

            var result = true;

            $("[name='Mark_field']").each(function () {
                var value = parseInt($(this).val());
                var field_weighing = parseInt($(this).parents("li").first().find("span").first().text().replace(/%/g, "").replace(/\(|\)/g, ""));
                if (value > field_weighing) {
                    $(this).siblings((".text-danger")).html("@SharedLocalizer["La puntuación no puede ser mayor al peso del campo."]");
                    result = false;
                } else { $(this).siblings((".text-danger")).html(''); }
            });

            return result;
        }

        function init_sortable() {
            $("ul.field-list").sortable({
                handle: 'i.icon-cursor-move',
                onDrop: function ($item, container, _super, event) {
                    $item.removeClass(container.group.options.draggedClass).removeAttr("style");
                    $("body").removeClass(container.group.options.bodyClass);
                    var i = 1;
                    $('ul.field-list .field-order').each(function (e) {
                        $(this).text(i);
                        i++;
                    });
                }
            });
        }

        function init_mark() {
            var Sections = JSON.parse('@Html.Raw(Json.Serialize(Model.Sections))');
            Sections.sort((a, b) => (a.order > b.order) ? 1 : -1);
            var sections_html = "";
            Object.keys(Sections).forEach(function (s_key) {
                var Section = Sections[s_key];
                Section.fields.sort((a, b) => (a.order > b.order) ? 1 : -1);
                var fields_html = "";
                section_mark = 0;
                Object.keys(Section.fields).forEach(function (f_key) {
                    var Field = Section.fields[f_key];
                    Field.options.sort((a, b) => (a.order > b.order) ? 1 : -1);
                    var multiple = Field.type == 3 ? true : false;
                    var options_html = "";
                    var letter = "a";
                    var correct_answer = true;
                    var random_id = Math.random().toString(36).substring(2, 15);
                    Object.keys(Field.options).forEach(function (o_key) {
                        var Option = Field.options[o_key];
                        correct_answer = (Option.mark != Option.checked) ? false : correct_answer;
                        options_html += option(multiple, letter, random_id, Option.id, Option.examOptionId, Option.content, Option.mark, Option.checked);
                        letter = nextLetter(letter);
                    });
                    Field.mark = ((Field.mark == 0) && (correct_answer)) ? Field.weighing : Field.mark;
                    fields_html += field(Section.order, Field.order, Field.id, Field.examFieldId, Field.name, Field.weighing, Field.mark, Field.type, Field.answer, options_html);
                    section_mark += Field.mark;
                });
                sections_html += section(Section.order, Section.id, Section.examSectionId, Section.name, Section.weighing, section_mark, fields_html);
            });
            $('#exam-start').append(sections_html);
            init_sortable();
        }

        $('#save-button').click(save);

        init_mark();
        
        $("[name='Mark_field']").each(function () {
            $(this).on('keyup', function (event) {

                if (isNaN(parseInt($(this).val()))) { $(this).val(0); }

                var section_mark = $(this).parents().filter("[class='card']").first().find("[name='Mark_section']");
                var fields_marks = section_mark.parents().filter("[class='card']").first().find("[name='Mark_field']");
                var section_mark_val = 0;
                fields_marks.each(function (section_index) {
                    section_mark_val += parseInt($(this).val());
                });
                section_mark.val(section_mark_val);
            });
        });

    });
    </script>
}