﻿@* QUALITY - SHOW_AUDIT *@

@using Perseo.Web.Models

@model QualityAuditViewModel
@{
    ViewData["Title"] = SharedLocalizer["Modelo de Auditoría"] + " " + Model.Name;
    ViewData["SubTitle"] = SharedLocalizer["Campaña"] + " " + Model.QualityName;
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form>
                    @* HEADER *@
                    <div class="row mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* Navigation *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" asp-action="Show" asp-route-id="@Model.QualityId" class="btn btn-secondary">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                @* Edit *@
                                <span class="btn-group mb-3 mb-sm-0">
                                    <a id="editauditcheck" href="#" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Editar"]</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row audit">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="QualityId" />
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <label asp-for="Name" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="Name" class="form-control-plaintext" disabled /></div>

                            </div>
                            <div class="form-group row">
                                <label asp-for="Description" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="Description" class="form-control-plaintext" disabled /></div>

                            </div>
                            <div class="form-group row">
                                <label asp-for="PassMark" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="PassMark" class="form-control-plaintext" disabled /></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <label asp-for="StartDate" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="StartDate" class="form-control-plaintext" value="@DateTime.Now.ToString("yyyy-MM-dd")" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="EndDate" class="col-5 col-form-label"></label>
                                @{
                                    var datetype = Model.EndDate == null ? "text" : "date";
                                }
                                <div class="col-7"><input asp-for="EndDate" type="@datetype" class="form-control-plaintext" disabled /></div>
                            </div>
                        </div>
                    </div>
                    <div id="audit-start"></div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <style>
        .card-header {
            padding-top: 8px;
            padding-bottom: 8px;
        }

            .card-header i.icon-arrow-down {
                transition: .3s transform ease-in-out;
            }

            .card-header .collapsed i.icon-arrow-down {
                transform: rotate(90deg);
            }

        .option-order {
            display: block;
            width: 35px;
        }

        .form-control::-webkit-input-placeholder {
            color: #e3e6e8;
        }

        .form-control:-moz-placeholder {
            color: #e3e6e8;
        }

        .form-control::-moz-placeholder {
            color: #e3e6e8;
        }

        .form-control:-ms-input-placeholder {
            color: #e3e6e8;
        }

    </style>
}

@section Scripts{
    <script>

    $(document).ready(function () {

        breadcrumb({ name: "@SharedLocalizer["Calidad"]", url: "quality" }, { name: "@Model.QualityName", url: "show/@Model.QualityId" }, { name: "@ViewData["Title"]" });

        $('a[id^="editauditcheck"]').click(function (event) {
            event.preventDefault();
            var auditid = @Model.Id;
            var qualityid = @Model.QualityId;
            var url = '/quality/' + qualityid + '/audit/editcheck/' + auditid;
            $.ajaxGet(url, function (jsresponse) {
                ajax_call_on = false;
                if (jsresponse.result) {
                    url = '/quality/' + qualityid + '/audit/edit/' + auditid;
                    $.ajaxGet(url);
                } else {
                    url = '/quality/' + qualityid + '/audit/associate/' + auditid;
                    $.ajaxGet(url);
                    toastr.error(jsresponse.response);
                }
            });
        });

        function nextLetter(s = null) {
            if (typeof s !== 'string') {
                return 'a';
            }
            return s.replace(/([a-zA-Z])[^a-zA-Z]*$/, function (a) {
                var c = a.charCodeAt(0);
                switch (c) {
                    case 90: return 'A';
                    case 122: return 'a';
                    default: return String.fromCharCode(++c);
                }
            });
        }

        function section(order, id="", name = "", weighing = "", fields = "") {

            var random_id = Math.random().toString(36).substring(2, 15);

            return `<div class='mt-3 section'>
            <input type='hidden' name='Id' value='${id}'>
	        <div class='card'>
	            <div class='card-header bg-transparent'>
		            <h5 class='mb-0 d-inline'>
			           ${order}. ${name} <span class='small text-muted'>(${weighing} @SharedLocalizer["puntos"])</span>
		            </h5>
                    <div class="card-header-actions mt-1">
                    <a class="card-header-action" data-toggle="collapse" aria-expanded="true" href="#${random_id}">
                        <i class="d-inline-block icon-arrow-down font-lg"></i>
                    </a>
                </div>
	            </div>
                <div class="card-body">
                    <div class='row'>
                        <div  id='${random_id}' class='col-12 collapse show'>
                            <ul class='list-group field-list list-group-flush '>
                                ${fields}
		                    </ul>
                        </div>
                    </div>
                </div>
	        </div>
            </div>`;
        }

        function field(section_order, order, id="", name = "", weighing = "", type = null, options = "") {

            var type_html = type !== null ? field_type(type, options) : "<div class='row mb-0 options'></div>";

            var random_id = Math.random().toString(36).substring(2, 15);

            return `<li class='list-group-item p-0 border-0 field'>
            <input type='hidden' name='Id' value='${id}'>
            <div id="${random_id}">
                <div class="pt-2 pb-3">
	                <div class='row mb-2' >
		                <div class='col-12 pt-2'><strong>${section_order}.${order}.</strong> ${name} <span class='small text-muted'>(${weighing} @SharedLocalizer["puntos"])</span></div>
	                </div>
                    ${type_html}
                    <div class='row'>
		                <div class='col-12 pt-2'><input class='form-control bg-transparent' type='text' placeholder='@SharedLocalizer["Comentario del auditor"]...' disabled></input></div>
	                </div>
                </div>
            </div>
        </li>`;
        }

        function field_type(type, options = "") {
            var html = ``;
            switch (type) {
                case 1:
                    html = `<div class='row mb-0 options'></div>`;
                    break;
                case 2:
                    options = options !== "" ? options : option(false, 'a') + option(false, 'b');
                    html = `<div class='form-group row mb-0 options'>
		            <div class='col-12 input-group'>
                        ${options}
		            </div>
	                </div>`;
                    break;
                case 3:
                    options = options !== "" ? options : option(true, 'a') + option(true, 'b');
                    html = `<div class='form-group row mb-0 options multi'>
		            <div class='col-12 input-group'>
                        ${options}
		            </div>
	                </div>`;
                    break;
                default:
                    html = `<div class='row mb-0 options'></div>`;
            }
            return html;
        }

        function option(multiple, letter,  id="", content = "", mark = false) {

            var checked = mark ? "<i class='fa fa-check fa-lg text-success'></i> " : "";

            var input = multiple ? `<input type='checkbox' value='' name='Mark' disabled>` : `<input type='radio' value='' name='Mark' disabled>`;

            return `<div class='input-group col-12 mb-1 pl-0 pr-0 option'>
            <input type='hidden' name='Id' value='${id}'>
	        <div class='input-group-prepend border-0'>
                <span class="input-group-text bg-transparent option-order border-0 pl-0 pr-0">${checked}</span>
		        <div class='input-group-text border-0 bg-transparent pl-0 pr-0'>
			        ${input}
		        </div>
                <span class="input-group-text bg-transparent option-order border-0 pl-0 pr-0"><strong>${letter})</strong></span>
	        </div>
	        <input type='text' class='form-control-plaintext border-0 pl-0' name='Content' value='${content}' disabled>
        </div>`;
        }

        function init_sortable() {
            $("ul.field-list").sortable({
                handle: 'i.icon-cursor-move',
                onDrop: function ($item, container, _super, event) {
                    $item.removeClass(container.group.options.draggedClass).removeAttr("style");
                    $("body").removeClass(container.group.options.bodyClass);
                    var i = 1;
                    $('ul.field-list .field-order').each(function (e) {
                        $(this).text(i);
                        i++;
                    });
                }
            });
        }

        function init_show() {
            var Sections = JSON.parse('@Html.Raw(Json.Serialize(Model.Sections))');
            Sections.sort((a, b) => (a.order > b.order) ? 1 : -1);
            var sections_html = "";
            Object.keys(Sections).forEach(function (s_key) {
                var Section = Sections[s_key];
                Section.fields.sort((a, b) => (a.order > b.order) ? 1 : -1);
                var fields_html = "";
                Object.keys(Section.fields).forEach(function (f_key) {
                    var Field = Section.fields[f_key];
                    Field.options.sort((a, b) => (a.order > b.order) ? 1 : -1);
                    var multiple = Field.type == 3 ? true : false;
                    var options_html = "";
                    var letter = "a";
                    Object.keys(Field.options).forEach(function (o_key) {
                        var Option = Field.options[o_key];
                        options_html += option(multiple, letter, Option.id, Option.content, Option.mark);
                        letter = nextLetter(letter);
                    });
                    fields_html += field(Section.order, Field.order, Field.id, Field.name, Field.weighing, Field.type, options_html);
                });
                sections_html += section(Section.order, Section.id, Section.name, Section.weighing, fields_html);
            });
            $('#audit-start').append(sections_html);
            init_sortable();
        }

        init_show();

    });

    </script>
}