@* QUALITY - SHOW *@

@model ShowQualityViewModel
@{
    ViewBag.Tab = "show";
    Layout = "_ShowQualityLayout.cshtml";
}

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#users-table').dt();
            $('#audits-table').dt();
            $('#exams-table').dt();

        });
    </script>
}

<div id="quality" class="tab-pane fade show active">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row">
                <label asp-for="Quality.Description" class="col-5 col-form-label"></label>
                <input asp-for="Quality.Description" class="col-7 form-control-plaintext" disabled />
            </div>
            @if (Model.Owners.Count() <= 1)
            {
                <div class="row">
                    <label class="col-5 col-form-label" for="FullName">@SharedLocalizer["Auditor"]</label>
                    @foreach (var User in Model.Owners)
                    {
                        <input class="col-7 form-control-plaintext" disabled type="text" id="FullName" name="FullName" value="@User.FirstName @User.MainSurname @User.SecondSurname" />
                    }
                </div>
            }
            @if (Model.Owners.Count() > 1)
            {
                string labeltext = SharedLocalizer["Auditores"];
                @foreach (var Owner in Model.Owners)
                {
                    <div class="row">
                        <label class="col-5 col-form-label" for="FullName">@labeltext</label>
                        <input class="col-7 form-control-plaintext" disabled type="text" id="FullName" name="FullName" value="@Owner.FirstName @Owner.MainSurname @Owner.SecondSurname" />
                    </div>
                    labeltext = "";
                }
            }
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <label asp-for="Quality.StartDate" class="col-5 col-form-label"></label>
                <input asp-for="Quality.StartDate" class="col-7 form-control-plaintext" disabled />
            </div>
            <div class="row">
                <label asp-for="Quality.EndDate" class="col-5 col-form-label"></label>
                <input asp-for="Quality.EndDate" type="@(Model.Quality.EndDate == null ? "text" : "date")" class="col-7 form-control-plaintext" disabled />
            </div>
        </div>
    </div>
</div>
<div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Auditados"]</div>
<div id="users-table-container" class="dt-hidden-container">
    <table id="users-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>@SharedLocalizer["Usuario"]</th>
                <th>@SharedLocalizer["Nombre"]</th>
                <th>@SharedLocalizer["Email"]</th>
                <th>@SharedLocalizer["Empleado"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var User in Model.Users)
            {
                <tr class="non-clickable-row" data-id="@User.Id">
                    <td>@User.UserName</td>
                    <td>@User.FirstName @User.MainSurname @User.SecondSurname</td>
                    <td>@User.Email</td>
                    <td>@User.EmployeeId</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.Quality.Type == 1)
{
    <br>
    <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Modelos de Auditoría"]</div>
    <div id="audits-table-container" class="dt-hidden-container">
        <table id="audits-table" data-row-link="/quality/@Model.Quality.Id/audit/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@SharedLocalizer["Nombre"]</th>
                    <th>@SharedLocalizer["Descripción"]</th>
                    <th class="actions">
                        @SharedLocalizer["Acciones"]
                        <div class="d-none">
                            <a id="ShowExam" class="btn btn-sm btn-ghost-danger!" href="/quality/@Model.Quality.Id/audit/show">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Audit in Model.Audits)
                {
                    <tr class="clickable-row" data-id="@Audit.Id">
                        <td>@Audit.Name</td>
                        <td>@Audit.Description</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.Quality.Type == 2)
{
    <br>
    <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Modelos de Examen"]</div>
    <div id="exams-table-container" class="dt-hidden-container">
        <table id="exams-table" data-row-link="/quality/@Model.Quality.Id/exam/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@SharedLocalizer["Nombre"]</th>
                    <th>@SharedLocalizer["Descripción"]</th>
                    <th class="actions">
                        @SharedLocalizer["Acciones"]
                        <div class="d-none">
                            <a id="ShowExam" class="btn btn-sm btn-ghost-danger!" href="/quality/@Model.Quality.Id/exam/show">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Exam in Model.Exams)
                {
                    <tr class="clickable-row" data-id="@Exam.Id">
                        <td>@Exam.Name</td>
                        <td>@Exam.Description</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
