@* QUALITY - SHOW_AUDIT_TAKE *@

@using Perseo.Web.Models

@model QualityAuditTakeViewModel
@{
    ViewData["Title"] = SharedLocalizer["Mostrar Auditoría"] + " " + Model.Name;
    ViewData["SubTitle"] = SharedLocalizer["Campaña"] + " " + Model.QualityName;
}
<div class="row">
    <div class="col">
        <div id="main-card" class="card">
            <div class="card-body">
                <form>
                    @* HEADER *@
                    <div id="header" class="row mb-sm-4 mb-xl-3">
                        @* Title *@
                        <vc:page-title title=@ViewData["Title"] subtitle=@ViewData["SubTitle"] avatar=""></vc:page-title>
                        <vc:mobile-nav-button></vc:mobile-nav-button>
                        @* Navigation *@
                        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                            <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">
                                @* Back *@
                                <span class="btn-group mb-3 mb-sm-0 mr-3">
                                    <a id="back" class="btn btn-secondary history-back">
                                        <i class="fa fa-arrow-left"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Volver"]</span>
                                    </a>
                                </span>
                                @if (Model.isAuditUser.Value)
                                {
                                    @* Request Review *@
                                    <span class="btn-group mb-3 mb-sm-0">
                                        <a id="requestreview" href="#" class="btn btn-warning" data-target="#global-modal" data-toggle="modal" data-remote="/quality/@Model.QualityId/audit/show/@Model.Id/take/@Model.TakeId/requestreview">
                                            <i class="fa icon-flag"></i><span class="d-down-none">&nbsp; @SharedLocalizer["Solicitar Revisión"]</span>
                                        </a>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                    @* MODAL HEADER *@
                    <div id="modal-header" class="modal-header b-b-0 p-0 pb-3" style="display: none">
                        <div>
                            <h3 id="header-title" class="card-title mb-0">@ViewData["Title"]</h3>
                            <hr align="left" class="title text-left mb-0">
                            <div id="header-subtitle" class="small text-muted">@ViewData["SubTitle"]</div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    @* AUDIT *@
                    <div class="row audit">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="QualityId" />
                        <input type="hidden" asp-for="TakeId" />
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <label asp-for="Name" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="Name" class="form-control-plaintext" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Description" class="col-5 col-form-label"></label>
                                <div class="col-7"><input asp-for="Description" class="form-control-plaintext" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PassMark" class="col-5 col-form-label">@SharedLocalizer["Nota de Aprobado"]</label>
                                <div class="col-7"><input asp-for="PassMark" class="form-control-plaintext" disabled /></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <label asp-for="StartDate" class="col-5 col-form-label">@SharedLocalizer["Fecha Inicio"]</label>
                                <div class="col-7"><input asp-for="StartDate" class="form-control-plaintext" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="EndDate" class="col-5 col-form-label">@SharedLocalizer["Fecha Fin"]</label>
                                <div class="col-7"><input asp-for="EndDate" type="@(Model.EndDate == null ? "text" : "date")" class="form-control-plaintext" disabled /></div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Pass" class="col-5 col-form-label">@SharedLocalizer["Estado"]</label>
                                @{var state = ""; if (Model.Pass == null) { state = "Pendiente de revisión"; } else if (Model.Pass == true) { state = "Superado"; } else { state = "No superado"; }}
                                <div class="col-7"><input asp-for="Pass" class="form-control-plaintext" value="@state" disabled /></div>
                            </div>
                        </div>
                    </div>
                    <div id="audit-start"></div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <style>
        .card-header {
            padding-top: 8px;
            padding-bottom: 8px;
        }

            .card-header i.icon-arrow-down {
                transition: .3s transform ease-in-out;
            }

            .card-header .collapsed i.icon-arrow-down {
                transform: rotate(90deg);
            }

        .option-order {
            display: block;
            width: 35px;
        }

        .form-control::-webkit-input-placeholder {
            color: #e3e6e8;
        }
        .form-control:-moz-placeholder {
            color: #e3e6e8;
        }
        .form-control::-moz-placeholder {
            color: #e3e6e8;
        }
        .form-control:-ms-input-placeholder {
            color: #e3e6e8;
        }

    </style>
}

@section Scripts{
    <script>

    $(document).ready(function () {

        breadcrumb({ name: "@SharedLocalizer["Calidad"]", url: "quality" }, { name: "@Model.QualityName", url: "show/@Model.QualityId" }, { name: "@ViewData["Title"]" });

        if ($('#global-modal-lg').hasClass('show')) {
            $('#header').css('display', 'none');
            $('#modal-header').css('display', '');
            $('#main-card').addClass('mb-0');
        }

        function nextLetter(s = null) {
            if (typeof s !== 'string') {
                return 'a';
            }
            return s.replace(/([a-zA-Z])[^a-zA-Z]*$/, function (a) {
                var c = a.charCodeAt(0);
                switch (c) {
                    case 90: return 'A';
                    case 122: return 'a';
                    default: return String.fromCharCode(++c);
                }
            });
        }

        function section(order, id = "", name = "", weighing = "", mark = "", fields = "") {

            var random_id = Math.random().toString(36).substring(2, 15);

            return `<div class='mt-3 section'>
            <input type='hidden' name='Id' value='${id}'>
                <div class='card'>
                    <div class='card-header bg-transparent'>
                        <h5 class='mb-0 d-inline'>
                        ${order}. ${name} <span class='small text-muted'>(${weighing} @SharedLocalizer["puntos"])</span>
                        </h5>
                        <div class="card-header-actions mt-1">
                            <a class="card-header-action" data-toggle="collapse" aria-expanded="true" href="#${random_id}">
                                <i class="d-inline-block icon-arrow-down font-lg"></i>
                            </a>
                       </div>
                       <div class="form-group row">
                            <label asp-for="Mark_section" class="col-2 col-form-label" >@SharedLocalizer["Puntuación"]</label>
                            <div class="col-2"><input asp-for="Mark" class="form-control-plaintext" name='Mark_section' value='${mark}' disabled/></div>
                        </div>
	                </div>
                    <div class="card-body">
                        <div class='row'>
                            <div  id='${random_id}' class='col-12 collapse show'>
                                <ul class='list-group field-list list-group-flush '>
                                    ${fields}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;
        }

        function field(section_order, order, id = "", name = "", weighing = "", mark = "", type = null, comment = "", options = "") {

            var answer = answer
            var type_html = field_type(type, options);

            var random_id = Math.random().toString(36).substring(2, 15);

            return `<li class='list-group-item p-0 border-0 field'>
                <input type='hidden' name='Id' value='${id}'>
                <div id="${random_id}">
                    <div class="pt-2 pb-3">
	                    <div class='row mb-2' >
		                    <div class='col-12 pt-2'><strong>${section_order}.${order}.</strong> ${name} <span class='small text-muted'>(${weighing} @SharedLocalizer["puntos"])</span></div>
	                    </div>
                        <div class="form-group row">
                            <label asp-for="Mark_field" class="col-2 col-form-label" >@SharedLocalizer["Puntuación"]</label>
                            <div class="col-2"><input asp-for="Mark" class="form-control-plaintext" name='Mark_field' value='${mark}' disabled/></div>
                        </div>
                        ${type_html}
                        <div class='row'><div class='col-12 pt-2'><input name='FieldComment' class='form-control bg-transparent' type='text' value='${comment}' disabled></input></div></div>
                    </div>
                </div>
            </li>`;
        }

        function field_type(type, options = "") {
            var html = ``;
            switch (type) {
                case 1:
                    html = ``;
                    break;
                case 2:
                    html = `<div class='form-group row mb-0 options'>
		                <div class='col-12 input-group'>
                            ${options}
		                </div>
	                </div>`;
                    break;
                case 3:
                    html = `<div class='form-group row mb-0 options multi'>
		                <div class='col-12 input-group'>
                            ${options}
		                </div>
	                </div>`;
                    break;
                default:
                    html = `<div class='row mb-0 options'></div>`;
            }
            return html;
        }

        function option(multiple, letter, random_id, id = "", content = "", mark = false, selected = false) {

            var checked;
            if (mark && selected) {
                checked = "<i class='fa fa-check fa-lg text-success'></i> ";
            } else if (mark && !selected) {
                checked = "<i class='fa fa-check fa-lg text-secondary'></i> ";
            } else if (!mark && selected) {
                checked = "<i class='fa fa-times fa-lg text-danger'></i> ";
            } else { checked = ""; }

            var selected = selected ? " checked" : "";

            var input = multiple ? `<input type='checkbox' value='' name='Mark_${random_id}' disabled ${selected}>` : `<input type='radio' value='' name='Mark_${random_id}' disabled ${selected}>`;

            return `<div class='input-group col-12 mb-1 pl-0 pr-0 option'>
                <input type='hidden' name='Id' value='${id}'>
	            <div class='input-group-prepend border-0'>
                    <span class="input-group-text bg-transparent option-order border-0 pl-0 pr-0">${checked}</span>
		            <div class='input-group-text border-0 bg-transparent pl-0 pr-0'>
			            ${input}
		            </div>
                    <span class="input-group-text bg-transparent option-order border-0 pl-0 pr-0"><strong>${letter})</strong></span>
	            </div>
	            <input type='text' class='form-control-plaintext border-0 pl-0' name='Content' value='${content}' disabled>
            </div>`;
        }

        function init_sortable() {
            $("ul.field-list").sortable({
                handle: 'i.icon-cursor-move',
                onDrop: function ($item, container, _super, event) {
                    $item.removeClass(container.group.options.draggedClass).removeAttr("style");
                    $("body").removeClass(container.group.options.bodyClass);
                    var i = 1;
                    $('ul.field-list .field-order').each(function (e) {
                        $(this).text(i);
                        i++;
                    });
                }
            });
        }

        function init_show() {
            var Sections = JSON.parse('@Html.Raw(Json.Serialize(Model.Sections))');
            Sections.sort((a, b) => (a.order > b.order) ? 1 : -1);
            var sections_html = "";
            Object.keys(Sections).forEach(function (s_key) {
                var Section = Sections[s_key];
                Section.fields.sort((a, b) => (a.order > b.order) ? 1 : -1);
                var fields_html = "";
                section_mark = 0;
                Object.keys(Section.fields).forEach(function (f_key) {
                    var Field = Section.fields[f_key];
                    Field.options.sort((a, b) => (a.order > b.order) ? 1 : -1);
                    var multiple = Field.type == 3 ? true : false;
                    var options_html = "";
                    var letter = "a";
                    var random_id = Math.random().toString(36).substring(2, 15);
                    Object.keys(Field.options).forEach(function (o_key) {
                        var Option = Field.options[o_key];
                        options_html += option(multiple, letter, random_id, Option.id, Option.content, Option.mark, Option.checked);
                        letter = nextLetter(letter);
                    });
                    fields_html += field(Section.order, Field.order, Field.id, Field.name, Field.weighing, Field.mark, Field.type, Field.comment, options_html);
                    section_mark += Field.mark;
                });
                sections_html += section(Section.order, Section.id, Section.name, Section.weighing, section_mark, fields_html);
            });
            $('#audit-start').append(sections_html);
            init_sortable();
        }

        init_show();

    });
    </script>
}