@* QUALITY - STATE *@

@model StateQualityViewModel
@{
    ViewBag.Tab = "state";
    Layout = "_ShowQualityLayout.cshtml";
}

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".table").dt();

        });
    </script>
}

@if (Model.Quality.Type == 1)
{
    if (Model.AuthUserAuditPending.Count > 0 )
    {
        <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Mis auditorías pendientes"]</div>
        <div id="users-table-container" class="dt-hidden-container">
            <table id="pendings-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>@SharedLocalizer["Auditoría"]</th>
                        <th hidden>@SharedLocalizer["Usuario"]</th>
                        <th>@SharedLocalizer["Nombre"]</th>
                        <th class="actions">
                            @SharedLocalizer["Acciones"]
                            <div class="d-none">
                                <a id="take" href="/quality/@Model.Quality.Id/audit" class="btn btn-sm btn-ghost-primary">
                                    <i class="fa fa-check-square-o"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Pending in Model.AuthUserAuditPending)
                    {
                        <tr class="non-clickable-row" data-id="@Pending.Audit.Id/take/@Pending.User.Id">
                            <td>@Pending.Audit.Name</td>
                            <td hidden>@Pending.User.UserName</td>
                            <td>@Pending.User.FirstName @Pending.User.MainSurname @Pending.User.SecondSurname</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br>
    }
    <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Auditorías realizadas"]</div>
    <div id="takes-table-container" class="dt-hidden-container">
        <table id="users-table" data-row-link="/quality/@Model.Quality.Id/audit/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@SharedLocalizer["Auditoría"]</th>
                    <th>@SharedLocalizer["Auditor"]</th>
                    <th hidden>@SharedLocalizer["Usuario"]</th>
                    <th>@SharedLocalizer["Nombre"]</th>
                    <th>@SharedLocalizer["Estado"]</th>
                    <th class="actions">
                        @SharedLocalizer["Acciones"]
                        <div class="d-none">
                            <a id="show" href="/quality/@Model.Quality.Id/audit/show" class="btn btn-sm btn-ghost-primary">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Take in Model.AuditTakes)
                {
                    var state = ""; var point = "";
                    if (Take.Pass == null) { state = SharedLocalizer["Pendiente de revisión"]; point = "#cc9900"; }
                    else if (Take.Pass == true) { state = SharedLocalizer["Superado"]; point = "#33cc33"; }
                    else { state = SharedLocalizer["No superado"]; point = "#cc0000"; }
                    if (Take.Active) { state = SharedLocalizer["En curso"]; point = ""; }
                    <tr class="non-clickable-row" data-id="@Take.Audit.Id/take/@Take.Id">
                        <td>@Take.Audit.Name</td>
                        <td>@Take.Owner.FirstName @Take.Owner.MainSurname @Take.Owner.SecondSurname</td>
                        <td hidden>@Take.User.UserName</td>
                        <td>@Take.User.FirstName @Take.User.MainSurname @Take.User.SecondSurname</td>
                        <td><span style='color:@point'>&#9679;</span>&nbsp;&nbsp;@state</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br>
    <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Auditorías pendientes"]</div>
    <div id="users-table-container" class="dt-hidden-container">
        <table id="pendings-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@SharedLocalizer["Auditoría"]</th>
                    <th>@SharedLocalizer["Auditor"]</th>
                    <th hidden>@SharedLocalizer["Usuario"]</th>
                    <th>@SharedLocalizer["Nombre"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Pending in Model.AuditPending)
                {
                <tr class="non-clickable-row">
                    <td>@Pending.Audit.Name</td>
                    <td>@Pending.Owner.FirstName @Pending.Owner.MainSurname @Pending.Owner.SecondSurname</td>
                    <td hidden>@Pending.User.UserName</td>
                    <td>@Pending.User.FirstName @Pending.User.MainSurname @Pending.User.SecondSurname</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.Quality.Type == 2)
{
    <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Exámenes realizados"]</div>
    <div id="takes-table-container" class="dt-hidden-container">
        <table id="users-table" data-row-link="/quality/@Model.Quality.Id/exam/show/" class="table table-hover table-sm table-striped dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@SharedLocalizer["Examen"]</th>
                    <th hidden>@SharedLocalizer["Usuario"]</th>
                    <th>@SharedLocalizer["Nombre"]</th>
                    <th>@SharedLocalizer["Intento"]</th>
                    <th>@SharedLocalizer["Estado"]</th>
                    <th class="actions">
                        @SharedLocalizer["Acciones"]
                        <div class="d-none">
                            <a id="show" href="/quality/@Model.Quality.Id/exam/show" class="btn btn-sm btn-ghost-primary">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a id="mark" href="/quality/@Model.Quality.Id/exam/mark" class="btn btn-sm btn-ghost-primary">
                                <i class="fa fa-check-square-o"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Take in Model.ExamTakes)
                {
                    var state = ""; var point = "";
                    if (Take.Pass == null) { state = SharedLocalizer["Pendiente de revisión"]; point = "#cc9900"; }
                    else if (Take.Pass == true) { state = SharedLocalizer["Superado"]; point = "#33cc33"; }
                    else { state = SharedLocalizer["No superado"]; point = "#cc0000"; }
                    if (Take.Active) { state = SharedLocalizer["En curso"]; point = ""; }
                    <tr class="non-clickable-row" data-id="@Take.Exam.Id/take/@Take.Id">
                        <td>@Take.Exam.Name</td>
                        <td hidden>@Take.User.UserName</td>
                        <td>@Take.User.FirstName @Take.User.MainSurname @Take.User.SecondSurname</td>
                        <td>@Take.Attempt / @Take.Exam.Attempts</td>
                        <td><span style='color:@point'>&#9679;</span>&nbsp;&nbsp;@state</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br>
    <div class="font-xl mb-2 mt-2 mt-lg-0">@SharedLocalizer["Exámenes pendientes"]</div>
    <div id="users-table-container" class="dt-hidden-container">
        <table id="pendings-table" class="table table-hover table-sm table-striped dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@SharedLocalizer["Examen"]</th>
                    <th hidden>@SharedLocalizer["Usuario"]</th>
                    <th>@SharedLocalizer["Nombre"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Pending in Model.ExamPending)
                {
                    <tr class="non-clickable-row">
                        <td>@Pending.Exam.Name</td>
                        <td hidden>@Pending.User.UserName</td>
                        <td>@Pending.User.FirstName @Pending.User.MainSurname @Pending.User.SecondSurname</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}