﻿@using Microsoft.AspNetCore.Mvc.Razor
@{
    var _Controller = @RazorViewEngine.GetNormalizedRouteValue(ViewContext, "controller").ToLower();
    var _Action = @RazorViewEngine.GetNormalizedRouteValue(ViewContext, "action").ToLower();
}
<script>
    if ($('#areas').length) {
        $('#areas').treeselect({
            buttontext: '<span class="d-xxl-down-none">@SharedLocalizer["Seleccionar"] </span> @SharedLocalizer["Área"]',
            div: '<div id="area-dropdown" class="dropdown bts_dropdown float-right mr-3"></div>',
        });
        if ($('#jobs').length) {
            $('#jobs').treeselect({
                buttontext: '<span class="d-xxl-down-none">@SharedLocalizer["Seleccionar"] </span> @SharedLocalizer["Tarea"]',
                div: '<div id="job-dropdown" class="dropdown bts_dropdown float-right mr-3"></div>',
            });
            $('#area-dropdown').find("input[type='checkbox']").change(function () {
                $('#area-dropdown').find("input[type='checkbox']").each(function () {
                    var area_id = $(this).val();
                    if ($(this).is(':checked')) {
                        $('#job-dropdown').find("[data-area='" + area_id + "']").prop('checked', true).parent().parent().show();
                    } else {
                        $('#job-dropdown').find("[data-area='" + area_id + "']").prop('checked', false).parent().parent().hide();
                    }
                });
            });
            $('#go_button').click(function () {
                var arr = $.map($('#job-dropdown').find("input[type='checkbox']:checked"), function (e, i) {
                    return +e.value;
                });
                var url = "/@_Controller/@_Action/@ViewBag.Year/@ViewBag.Month/" + arr.join(';');
                $.ajaxGet(url);
            });
        } else {
            $('#go_button').click(function () {
                var arr = $.map($('#area-dropdown').find("input[type='checkbox']:checked"), function (e, i) {
                    return +e.value;
                });
                var url = "/@_Controller/@_Action/@ViewBag.Year/@ViewBag.Month/" + arr.join(';');
                $.ajaxGet(url);
            });
        }
    }
</script>