﻿@* HOME - INDEX *@
@using System.Globalization
@{
    int UserId = ViewBag._AuthUserId;
    var MonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month);
    MonthName = char.ToUpper(MonthName.First()) + MonthName.Substring(1).ToLower();
}

@section Styles{
    <style>

        .home-nav-link {
            font-size: 12px;
            width: auto;
            padding-right: 4px;
        }

            .home-nav-link a div {
                font-size: 24px;
            }

        .home-text {
            font-size: 15px;
            line-height: 21px;
        }

        @@media (min-width: 450px) and (max-width: 767px) {
            .home-nav-link {
                font-size: 12px;
            }

                .home-nav-link a div {
                    font-size: 32px;
                }
        }

        @@media (min-width: 768px) and (max-width: 991px) {
            .home-nav-link {
                font-size: 12px;
            }

                .home-nav-link a div {
                    font-size: 32px;
                }
        }

        @@media (min-width: 992px) and (max-width: 1259px) {
            .home-nav-link {
                font-size: 13px;
            }

                .home-nav-link a div {
                    font-size: 32px;
                }

            .home-text {
                font-size: 15px !important;
                line-height: 23px !important;
            }
        }

        @@media (min-width: 1260px) and (max-width: 1499px) {
            .home-nav-link {
                font-size: 15px;
            }

                .home-nav-link a div {
                    font-size: 33px;
                }

            .home-text {
                font-size: 14px !important;
                line-height: 22px !important;
            }
        }


        @@media (min-width: 1500px) and (max-width: 1799px) {
            .home-nav-link {
                font-size: 15px;
            }

                .home-nav-link a div {
                    font-size: 34px;
                }

            .home-text {
                font-size: 15px !important;
                line-height: 22px !important;
            }
        }

        @@media (min-width: 1800px) {
            .home-nav-link {
                font-size: 15px;
            }

                .home-nav-link a div {
                    font-size: 36px;
                }

            .home-text {
                font-size: 15px !important;
                line-height: 22px !important;
            }

            .home-widget .calendar table.month tr td .day-content {
                padding-bottom: 4px;
                padding-top: 4px;
                padding: 4px;
                font-size: 15px;
            }
        }

        .home-widget .calendar-header.card {
            border-color: transparent;
        }

        .home-widget .calendar .months-container {
            width: 100%;
        }


        .home-widget .calendar table {
            width: 100%;
        }

            .home-widget .calendar table.month {
                width: 100%;
                margin: 0px;
            }

                .home-widget .calendar table.month tr td .day-content {
                    padding: 0px;
                    padding-bottom: 2px;
                    padding-top: 2px;
                    font-size: 12px;
                    border-radius: 20px;
                }

                .home-widget .calendar table.month tr td.day-start .day-content {
                    color: white;
                }

        .home-widget .month-container {
            padding-bottom: 12px;
            padding: 0px;
            width: 100% !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }

        .home-widget .cal-day-TT {
            background-color: #8D9DA3
        }

        .home-widget .calendar .month-title {
            display: none;
        }

        .home-widget .calendar .day-header {
            font-size: 12px;
            font-weight: normal;
        }

        .home-widget td.day {
            border: 5px solid white;
            cursor: pointer;
        }
    </style>
}
<div class="row h-auto">
    <div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <img class="home-back" style="width:100%;" />
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title mb-0">@SharedLocalizer["Tecnología al Servicio de las Operaciones"]</h4>
                        <hr align="left" class="title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col home-text">
                        @SharedLocalizer["Marcamos la diferencia en la transformación de las operaciones. Nuestro propósito es impulsar el negocio de nuestros clientes, dejando huella en la sociedad y generando impacto en su crecimiento"].
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title mb-0">@SharedLocalizer["Herramientas de Gestión"]</h4>
                        <hr align="left" class="title" />
                    </div>
                </div>
                <div class="row home-nav">

                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2 home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/area/list">
                                <div class="icon-grid" style="font-weight:normal;"></div>@SharedLocalizer["Servicios"]
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2 home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/user/list">
                                <div class="icon-people" style=" font-weight:normal;"></div>@SharedLocalizer["Usuarios"]
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2 home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/schedule/show">
                                <div class="icon-clock" style=" font-weight:normal;"></div>@SharedLocalizer["Horarios"]
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2 home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/request/list">
                                <div class="icon-flag" style=" font-weight:normal;"></div>@SharedLocalizer["Solicitudes"]
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2 home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/staffing/dashboard">
                                <div class="icon-target" style=" font-weight:normal;"></div>@SharedLocalizer["Planificación"]
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2 home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/quality/list">
                                <div class="icon-badge" style=" font-weight:normal;"></div>@SharedLocalizer["Calidad"]
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2 home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/training/list">
                                <div class="icon-graduation" style=" font-weight:normal;"></div>@SharedLocalizer["Formación"]
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2 home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/training/list">
                                <div class="icon-chart" style=" font-weight:normal;"></div>@SharedLocalizer["Productividad"]
                            </a>
                        </div>
                    </div>


                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2 home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/service/list">
                                <div class="icon-screen-desktop" style=" font-weight:normal;"></div>@SharedLocalizer["Activos"]
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2 home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/user/list">
                                <div class="icon-wrench" style=" font-weight:normal;"></div>@SharedLocalizer["Incidencias"]
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2  home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/forecast/upload">
                                <div class="icon-user-follow" style=" font-weight:normal;"></div>@SharedLocalizer["RR.HH."]
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-md col-lg col-xl-3 col-xxl-2  home-nav-link float-left" style="text-align: left;">
                        <div style="text-align:center;font-weight:bold;">
                            <a style="text-align:center;" href="/staffing/events">
                                <div class="icon-hourglass" style=" font-weight:normal;"></div>@SharedLocalizer["ETT"]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row h-auto">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title mb-0">@SharedLocalizer["Sedes"] Opsait</h4>
                        <hr align="left" class="title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;
                        <img src="~/images/pictures/mapa_sedes.png" class="w-100 ml-auto mr-auto" style="max-width: 320px" />

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch home-widget">
        <div class="card w-100">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <h4 class="card-title mb-0">@SharedLocalizer["Horario"] @MonthName</h4>
                        <hr align="left" class="title" />
                    </div>
                </div>
                <div id='calendar-legend' class='row ml-3 mr- d-none'>
                    <div class='col mb-2 mt-2'><span data-acronym='T' data-name='Productive' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-TT'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Trabajo"]</span></div>
                    <div class='col mb-2 mt-2'><span data-acronym='V' data-name='Hollydays' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-V'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Vacaciones"]</span></div>
                    <div class='col mb-2 mt-2'><span data-acronym='Y' data-name='LastYearHollydays' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-Y'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Vacaciones Año Pasado"]</span></div>
                    <div class='col mb-2 mt-2'><span data-acronym='L' data-name='FreeDays' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-L'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Libre Disposición"]</span></div>
                    <div class='col mb-2 mt-2'><span data-acronym='S' data-name='UnionHours' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-S'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Asuntos Sindicales"]</span></div>
                    <div class='col mb-2 mt-2'><span data-acronym='B' data-name='SickLeave' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-B'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Baja por Enfermedad"]</span></div>
                    <div class='col mb-2 mt-2'><span data-acronym='M' data-name='DoctorHours' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-M'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Visita Médica"]</span></div>
                    <div class='col mb-2 mt-2'><span data-acronym='P' data-name='PaidLeave' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-P'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Permiso Retribuido"]</span></div>
                    <div class='col mb-2 mt-2'><span data-acronym='A' data-name='UnjustifiedAbsence' class='legend pl-2 pr-2 pt-0 pb-0 mr-2 border cal-day-A'>&nbsp;</span><span style='white-space: nowrap'>@SharedLocalizer["Ausencia Injustificada"]</span></div>
                </div>
                <div id="home-widget-list-table-container" class="dt-hidden-container w-100 text-center pt-2 ml-auto mr-auto" style="max-width: 320px">
                    <div id="home-widget-calendar" class="row calendar w-100 ml-0 mr-0" style="visibility: hidden;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title mb-0">@SharedLocalizer["Novedades"]</h4>
                        <hr align="left" class="title" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <small class="text-primary">27-10-2019</small>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <small class="text-primary">29-10-2019</small>
                        <div>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title mb-0">@SharedLocalizer["Avisos"]</h4>
                        <hr align="left" class="title" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <a class="dropdown-item notification" href="#" data-remote="/notification/list/alert" data-target="#notification-modal">
                            <i class="fa fa-bell-o"></i>@SharedLocalizer["No tienes notificaciones"]
                            <span id="authuser-alert-alt" class="badge badge-info"></span>
                        </a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <a class="dropdown-item notification" href="#" data-remote="/notification/list/task" data-target="#notification-modal">
                            <i class="fa fa-envelope-o"></i>@SharedLocalizer["No tienes mensajes"]
                            <span id="authuser-message-alt" class="badge badge-success"></span>
                        </a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <a class="dropdown-item notification" href="#" data-remote="/notification/list/task" data-target="#notification-modal">
                            <i class="fa fa-tasks"></i>@SharedLocalizer["No tienes tareas"]
                            <span id="authuser-task-alt" class="badge badge-danger"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script charset="ISO-8859-1" src="~/lib/bootstrap-year-calendar/js/bootstrap-year-calendar.min.js"></script>
    @*<script charset="ISO-8859-1" src="~/lib/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.es.js"></script>*@
    @{ var langlib = "/lib/bootstrap-year-calendar/js/languages/bootstrap-year-calendar." + CultureInfo.CurrentCulture.Name.ToString() + ".js"; }
    <script charset="ISO-8859-1" src="@langlib"></script>
    <script src="~/js/schedule.js"></script>
    <script>
        $(document).ready(function () {

            function show() {
                $('#home-widget-calendar').css("visibility", "visible").hide().fadeIn("fast");
            };
            var currentYear = new Date().getFullYear();
            $('#home-widget-calendar').calendar({
                language: '@CultureInfo.CurrentCulture.Name.ToString()',
                style: 'background',
                mouseOnDay: function (e) {
                    if (e.events.length > 0) {
                        var content = '';
                        for (var i in e.events) {
                            content += '<div class="event-tooltip-content">'
                                + '<div class="event-acronym" style="color:' + e.events[i].color + '"><strong>' + e.events[i].name + '</strong></div>'
                                + '<div class="event-hours">' + e.events[i].hours + ' @SharedLocalizer["Horas"].ToString().ToLower()</div>'
                                + '</div>';
                        }
                        $(e.element).popover({
                            trigger: 'manual',
                            container: 'body',
                            html: true,
                            content: content
                        });
                        $(e.element).popover('show');
                    }
                },

                mouseOutDay: function (e) {
                    if (e.events.length > 0) {
                        $(e.element).popover('hide');
                    }
                },
                clickDay: function (e) {
                    @Html.Raw("return false;");
                    var year = e.date.getFullYear();
                    var month = e.date.getMonth() + 1;
                    var day = e.date.getDate();
                    var id_array = new Array();
                    var user_dict = new Object();
                    if (e.events.length > 0) {
                        id_array.push(e.events[0].id);
                    } else {
                        var user_id = @UserId;
                        user_dict[user_id] = new Array();
                        user_dict[user_id].push(day);
                    }
                    var json_id_array = JSON.stringify(id_array);
                    var json_day_dict = JSON.stringify(user_dict);
                    var data = { "Year": year, "month": month, "Ids": json_id_array, "Days": json_day_dict };
                        $.ajax({
                            type: "GET",
                            url: "/schedule/edit",
                            contentType: "application/json; charset=utf-8",
                            data: data,
                            datatype: "json",
                            success: function (data) {
                                $("#global-modal-lg-content").html(data);
                                $("#global-modal-lg").modal({ keyboard: true });
                                $("#global-modal-lg").modal("show");
                                }
                            });
                        },
                yearChanged: function (e) {
                    e.preventRendering = true;
                    $.ajax({
                        url: "/schedule/showuser/@UserId/" + e.currentYear,
                        dataType: "json",
                        success: function (response) {
                            var legend = new Object();

                            $(".legend").each(function () {
                                var color = $(this).css('backgroundColor');
                                var acronym = $(this).data('acronym');
                                var name = $(this).data('name');
                                console.log(name);
                                legend[acronym] = { 'color': color, 'name': $(this).next('span').text() }
                            });

                            var data = [];
                            for (var i = 0; i < response.data.length; i++) {
                                data.push({
                                    id: response.data[i].id,
                                    hours: response.data[i].hours,
                                    acronym: response.data[i].acronym,
                                    name: legend[response.data[i].acronym].name,
                                    startDate: new Date(e.currentYear, response.data[i].month - 1, response.data[i].day),
                                    endDate: new Date(e.currentYear, response.data[i].month - 1, response.data[i].day),
                                    color: legend[response.data[i].acronym].color
                                });
                            }
                            $(e.target).data('calendar').setDataSource(data);
                        }
                    });
                },
                renderEnd: function (e) {
                    var showMonth = new Date().getMonth();
                    $('.calendar .month-container').each(function (idx, el) {
                        if (idx != showMonth) {
                            $(this).css("display", "none");
                        }
                    })

                    $('.calendar .calendar-header').css("display", "none");

                    if ($('#home-widget-calendar').css("visibility") == "hidden") setTimeout(show, 100);
                    setTimeout(function () { $('#home-widget-list-table-container').removeClass('dt-hidden-container'); }, 400)
                }
            });
        });
    </script>
}

