﻿@* USER - ASSING multiple (MODAL) *@

@using Microsoft.AspNetCore.Mvc.Razor
@using Perseo.Web.Models
@model AssignViewModel
@{
    var options = Model.Options as List<AssignOptions>;

}

<form id="assign" data-async method="post" role="form" class="form-horizontal">
    <div class="modal-header b-b-0 pb-0">
        <h4 class="modal-title">@SharedLocalizer["Asignación de"] @Model.Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        @if (ViewBag.Editable != false)
        {
            <div class="form-group row">
                <label class="col-xl-5 col-form-label">@Model.Entity</label>
                <div class="col-xl-7 input-group">
                    @if (options != null && options.Count > 0)
                    {
                        <select class="form-control" id="assignmentid" name="assignmentid">
                            <option selected disabled></option>
                            @foreach (AssignOptions Item in Model.Options as List<AssignOptions>)
                            {
                                <option value="@Item.Value">@Item.Name</option>

                            }
                        </select>
                    }
                    else
                    {
                        <div class="input-group">
                            <input id="assignment" asp-for="Assignment" class="form-control" value="" />
                            <span asp-validation-for="Assignment" class="text-danger"></span>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-5 col-form-label">@SharedLocalizer["Fecha de inicio"]</label>
                <div class="col-xl-7 input-group">
                    <div class="input-group-append w-100">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        <input class="form-control" id="assignment-start-date" type="date" min="@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>

        }

        <table id="assign-table" class="table table-sm table-light dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@Model.Entity</th>
                    <th>@SharedLocalizer["Inicio"]</th>
                    <th>@SharedLocalizer["Fin"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AssignHistory Item in Model.History as List<AssignHistory>)
                {
                    var End = @Item.EndDate.HasValue ? @Item.EndDate.Value.ToString("dd/MM/yyyy") : " - ";
                    <tr>
                        <td>@Item.Name</td>
                        <td>@Item.StartDate.ToString("dd/MM/yyyy")</td>
                        <td>@End</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer b-t-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cerrar"]</button>
        @if (ViewBag.Editable != false)
        {
        <button type="button" class="btn btn-primary" id="assignment-save-button">@SharedLocalizer["Guardar"]</button>
        }
    </div>
</form>

<script>

    $(document).ready(function () {
        $('#assign-table').dt({ searching: false, ordering: false, lengthChange: false, pageLength: 4 });
        $('#assign-table').attr('style', 'border-collapse: collapse !important');
        //$("#assignment").on('keyup', function (event) {
        //    var $t = $(this);
        //    $t.val(titleCase($t.val()));
        //});
        $("#assignment-save-button").click(function () {
            //var token = $('input[name="__RequestVerificationToken"]').val();
            if (new Date($('#assignment-start-date').val()) <= new Date("@Model.AssignmentStartDate.AddDays(1).ToString("yyyy-MM-dd")")) {
                toastr.error('@SharedLocalizer["La fecha de asignación debe de ser mayor a"]' + ' ' + $('#assignment-start-date').attr('min'));
                return;
            }
            //var form_field;
            if ($("#assignmentid").length) {
                if ($("#assignmentid").val() == null) {
                    toastr.error("El campo @Model.Entity es obligatorio");
                    return;
                }
                if ($('#assignmentid').val() == @Model.AssignmentId) {
                    toastr.error('@SharedLocalizer["La nueva asignación no puede ser la misma que la actual"]');
                    return;
                }
            } else {
                if ($("#assignment").val().length < 1) {
                    toastr.error("El campo @Model.Entity es obligatorio");
                    return;
                }
                if ($('#assignment').val() == '@Model.Assignment') {
                    toastr.error('@SharedLocalizer["La nueva asignación no puede ser la misma que la actual"]');
                    return;
                }
            }
            var url = "/@ViewBag._Controller/edit/@ViewBag._Action";
            var data = { 'Id': '@Model.Id', 'Assignment': $('#assignment').val(), 'AssignmentId': $('#assignmentid').val(), 'AssignmentStartDate': $('#assignment-start-date').val(), '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() };
            $.ajaxPostModal(url, data, function () {
                if ($("#assignmentid option:selected").length) {
                    modal_destination.val($("#assignmentid option:selected").text());
                } else {
                    modal_destination.val($("#assignment").val());
                }
            });
        });
    });
</script>

