﻿@{ 
    var _Culture = SharedLocalizer["_culture"] ?? "es";
}}
<!DOCTYPE html>
<html lang="@_Culture">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="~/images/brand/favicon.png" sizes="any" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
    <style>
        body {
            background-image: url(/images/pictures/login_back.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="app flex-row align-items-center">
    @RenderBody()
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/pace-progress/pace.js"></script>
        <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.js"></script>
        <script src="~/lib/toastr/toastr.js"></script>
        <script src="~/lib/coreui/dist/js/coreui.js"></script>

        <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>

        <script src="~/lib/datatables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/datatables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
        <script src="~/lib/datatables/Responsive-2.2.2/js/responsive.bootstrap4.min.js"></script>
        <script src="~/lib/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="~/lib/datatables/Buttons-1.5.6/js/buttons.html5.js"></script>
        <script src="~/lib/datatables/JSZip-2.5.0/jszip.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
