﻿@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Enviroment
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.Razor

@using System;
@using System.Diagnostics;

@using Perseo.Core

@{
    User user = ViewBag._AuthUser;
    List<Bookmark> bookmarks = user.Bookmark.ToList();

    var _Culture = SharedLocalizer["_culture"] ?? "es";
    var _Area = ViewBag._Area;
    var _Controller = ViewBag._Controller;
    var _Action = ViewBag._Action;

    var _AuthUserName = @ViewBag._AuthUserName;
    var _AuthUserId = @ViewBag._AuthUserId;
    var _AuthUserAlerts = @ViewBag._AuthUserAlerts > 0 ? @ViewBag._AuthUserAlerts : "";
    var _AuthUserTasks = @ViewBag._AuthUserTasks > 0 ? @ViewBag._AuthUserTasks : "";
    var _AuthUserMessages = @ViewBag._AuthUserMessages > 0 ? @ViewBag._AuthUserMessages : "";
    string _AuthUserAvatar = @ViewBag._AuthUserAvatarUrl;


    //Process currentProc = Process.GetCurrentProcess();
    //var machine_name = currentProc.MachineName;
    //float e = 0;
    //foreach (var a in Process.GetProcesses())
    //{
    //    e += a.WorkingSet64;

    //}
    //var alpha = e / 1000000;
    //var alpha2 = currentProc.StartTime;
    //var alpha = currentProc.TotalProcessorTime;

}
@functions{

    public bool AuthPolicyGroup(Perseo.Core.PolicyGroup policyGroup)
    {
        return ((IEnumerable<Perseo.Core.PolicyGroup>)ViewBag._AuthUserPolicyGroups).Any(x => x <= policyGroup);
    }

    public bool AuthRole(params string[] roleNames)
    {
        return ((IEnumerable<String>)ViewBag._AuthUserRoles).Intersect(roleNames).Any();
        //return ((IEnumerable<String>)ViewBag._AuthUserRoles).Contains(roleName);
    }

    public IHtmlContent SideBar(string controller)
    {
        var gestionTecnica = new List<List<string>>(){
        new List<string>(){ "Asset", "/asset/list", SharedLocalizer["Activos"], "icon-screen-desktop" },
        new List<string>(){ "Incident", "/incident/list", SharedLocalizer["Incidencias"], "icon-wrench" },
        new List<string>(){ "Contingency", "/contingency/list", SharedLocalizer["Contingencia"], "icon-support" },
        new List<string>(){ "Supplies", "/supplies/list", SharedLocalizer["Compras"], "icon-basket-loaded" },
        new List<string>(){ "HumanResources", "/humanresources/list", SharedLocalizer["Recursos Humanos"], "icon-user-follow" },
        new List<string>(){ "Temporary", "/temporary/list", SharedLocalizer["ETT's"], "icon-hourglass" },
    };
        var gestionEconomica = new List<List<string>>(){
        new List<string>(){ "Profit", "/profit", SharedLocalizer["Resultados"], "icon-graph" },
        new List<string>(){ "Expense", "/expense", SharedLocalizer["Costes"], "icon-wallet" },
        new List<string>(){ "Billing", "/billing", SharedLocalizer["Facturación"], "icon-drawer" },
    };
        var gestionOperativa = new List<List<string>>(){
        new List<string>(){ "Service", "/area/list", SharedLocalizer["Areas y Servicios"], "icon-grid" },
        new List<string>(){ "User", "/user/list", SharedLocalizer["Colaboradores"], "icon-people" },
        new List<string>(){ "Schedule", "/schedule/show", SharedLocalizer["Horarios"], "icon-clock" },
        new List<string>(){ "Request", "/request/list", SharedLocalizer["Solicitudes"], "icon-flag" },

        new List<string>(){ "Staffing", "/staffing/dashboard", SharedLocalizer["Planificación"], "icon-target" },
        new List<string>(){ "Productivity", "/productivity/list", SharedLocalizer["Productividad"], "icon-chart" },
        new List<string>(){ "Quality", "/quality/list", SharedLocalizer["Calidad"], "icon-badge" },
        new List<string>(){ "Training", "/training/list", SharedLocalizer["Formación"], "icon-graduation" },
        
    };
        //new List<string>(){ "Forecast", "/forecast/list", "Previsión", "icon-chart" },

        var documentacion = new List<List<string>>(){
        new List<string>(){ "Documentation", "/documentation/operational", SharedLocalizer["Operativa"], "icon-docs" },
        new List<string>(){ "Documentation", "/documentation/technical", SharedLocalizer["Técnica"], "icon-bulb" },
        new List<string>(){ "Documentation", "/documentation/news", SharedLocalizer["Novedades"], "icon-info" },
        new List<string>(){ "Documentation", "/documentation/memo", SharedLocalizer["Comunicaciones"], "icon-directions" },
        new List<string>(){ "Documentation", "/documentation/resources", SharedLocalizer["Recursos"], "icon-paper-clip" },
        new List<string>(){ "Documentation", "/documentation/links", SharedLocalizer["Enlaces"], "icon-link" },
        new List<string>(){ "Documentation", "/documentation/help", SharedLocalizer["Ayuda"], "icon-question" },
    };
        var configuracion = new List<List<string>>(){
        new List<string>(){ "Configuration", "/configuration", SharedLocalizer["Servicios"], "icon-puzzle" },
        new List<string>(){ "Configuration1", "/configuration1", SharedLocalizer["Recursos"], "icon-puzzle" },
        new List<string>(){ "Configuration2", "/configuration2", SharedLocalizer["Activos"], "icon-puzzle" },
    };
        string html = "";
        if (AuthRole(AppRole.OperationalManagementEdit, AppRole.OperationalManagementShow))
        {
            html += "<li class='nav-title text-uppercase'>" + SharedLocalizer["Gestión"] + "</li>";
            html += DropDown(controller, gestionOperativa, SharedLocalizer["Gestión Operativa"], "icon-wrench");
        }

        if (ViewBag._Enviroment == "Development")
        {
            if (AuthRole(AppRole.TecnicalManagementEdit, AppRole.TecnicalManagementShow))
            {
                html += DropDown(controller, gestionTecnica, SharedLocalizer["Gestión Técnica"], "icon-briefcase");
            }
            //if (AuthRole(AppRole.EconomicalManagementEdit, AppRole.EconomicalManagementShow))
            //{
            //    html += DropDown(controller, gestionEconomica, SharedLocalizer["Gestión Económica"], "icon-calculator");
            //}
            //if (AuthRole(AppRole.Operation))
            //{
            //    html += @"<li class='nav-title text-uppercase'>"+ SharedLocalizer["Operación"] + "</li>";
            //    html += DropDown(controller, documentacion, SharedLocalizer["Documentación"], "icon-book-open");
            //}

        }

        if (AuthRole(AppRole.Administration, AppRole.Maintenance))
        {
            html += @"<li class='nav-title text-uppercase'>"+ SharedLocalizer["Administración"] + "</li>";
            html += DropDown(controller, configuracion, SharedLocalizer["Configuración"], "icon-puzzle");
        }
        return Html.Raw(html);
    }

    public string DropDown(string controller, List<List<string>> data, string name, string icon, string url = "#")
    {
        var nav = "";
        string open = "";
        foreach (var item in data)
        {
            string active = "";
            if (string.Equals(controller, item[0], StringComparison.OrdinalIgnoreCase))
            {
                active = " active";
                open = " open";
            }
            nav += @"<li class=""nav-item""><a class=""nav-link" + active + @""" href=""" + item[1] + @"""><i class=""nav-icon " + item[3] + @"""></i> " + item[2] + @"</a></li>";
        }
        return @"<li class=""nav-item nav-dropdown" + open + @"""><a class=""nav-link nav-dropdown-toggle"" href=""" + url + @""">
<i class=""nav-icon " + icon + @"""></i> " + name + @"</a><ul class=""nav-dropdown-items"">" + nav + @"</ul></li>";
    }

}

<!DOCTYPE html>
<html lang="@_Culture">
<head>
    <base href="/">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="~/images/brand/favicon.png" sizes="any" />
    <title>Perseo</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body class="app header-fixed sidebar-lg-show sidebar-fixed aside-menu-fixed opsait">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img class="navbar-brand-full" alt="Indra">
            <div class="d-block d-lg-none mr-auto"><h2 style="color:white; margin-top: -5px; font-size: 24px;">Π</h2></div>
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*<ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/user/list">Colaboradores</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/schedule/show">Cuadrantes</a>
            </li>
        </ul>*@
        <div class="ml-auto mr-auto d-md-down-none" title="Planificación Estratégica de Recursos y Soporte a la Ejecución de Operaciones">
            @*<h2 style="color:white; letter-spacing:2px;">Πerseo</h2>*@
            <h2 style="color:white; letter-spacing:2px;">Perseo</h2>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <form autocomplete="off" id="global-search" class="mr-2">
                    <input autocomplete="off" name="hidden" type="text" style="display:none;">
                    <input name="search" type="search" placeholder="Buscar">
                </form>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link notification" href="#" data-remote="/notification/list/alert" data-target="#notification-modal">
                    <i class="icon-bell"></i>
                    <span id="authuser-alert" class="badge badge-pill badge-warning">@_AuthUserAlerts</span>
                </a>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link notification" href="#" data-remote="/notification/list/task" data-target="#notification-modal">
                    <i class="icon-list"></i>
                    <span id="authuser-task" class="badge badge-pill badge-danger">@_AuthUserTasks</span>
                </a>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link notification" href="#" data-remote="/notification/list/message" data-target="#notification-modal">
                    <i class="icon-envelope-open"></i>
                    <span id="authuser-message" class="badge badge-pill badge-info">@_AuthUserMessages</span>
                </a>
            </li>
            &nbsp;
            <li class="d-md-down-none">
                <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li><span style="color: white">@_AuthUserName</span></li>
                        <li>&nbsp;</li>
                        <li><button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button></li>
                    </ul>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-toggler aside-menu-toggler" data-toggle="aside-menu-show" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-avatar" src="@_AuthUserAvatar" alt="admin@bootstrapmaster.com">
                </a>
            </li>

            @*<li class="nav-item dropdown" id="account-dropdown">
            <a class="nav-link" id="account-dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="img-avatar" src="@_AuthUserAvatar" alt="admin@bootstrapmaster.com">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Avisos</strong>
                </div>
                <a class="dropdown-item notification" href="#" data-remote="/notification/list/alert" data-target="#notification-modal">
                    <i class="fa fa-bell-o"></i> Notificaciones
                    <span id="authuser-alert-alt" class="badge badge-info">@_AuthUserAlerts</span>
                </a>
                <a class="dropdown-item notification" href="#" data-remote="/notification/list/task" data-target="#notification-modal">
                    <i class="fa fa-envelope-o"></i> Mensajes
                    <span id="authuser-message-alt" class="badge badge-success">@_AuthUserMessages</span>
                </a>
                <a class="dropdown-item notification" href="#" data-remote="/notification/list/task" data-target="#notification-modal">
                    <i class="fa fa-tasks"></i> Tareas
                    <span id="authuser-task-alt" class="badge badge-danger">@_AuthUserTasks</span>
                </a>
                <div class="dropdown-header text-center">
                    <strong>Mi Cuenta</strong>
                </div>
                <a class="dropdown-item" href="/account/profile">
                    <i class="fa fa-user"></i> Mi Perfil
                </a>
                <a class="dropdown-item" href="/account/profile/schedule">
                    <i class="fa fa-calendar"></i> Mi Horario
                </a>
                <a class="dropdown-item" href="/account/profile/requests">
                    <i class="icon-flag"></i> Mis Solicitudes
                </a>
                <div class="dropdown-header text-center">
                    <strong>Configuración</strong>
                </div>
                <a class="dropdown-item" href="#" data-remote="/account/changepassword" data-target="#global-modal" data-toggle="modal">
                    <i class="fa fa-key"></i> Cambiar Password
                </a>
                <div class="divider"></div>
                <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm2">
                    <button class="dropdown-item button" style="cursor:pointer;" type="submit">
                        <i class="fa fa-lock"></i> Logout
                    </button>
                </form>
            </div>
        </li>*@

        </ul>

        @*<button class="navbar-toggler aside-menu-toggler" type="button" data-toggle="aside-menu-show">
            <span class="navbar-toggler-icon"></span>
        </button>*@

    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            <i class="nav-icon icon-home"></i> Home
                        </a>
                    </li>
                    @SideBar(@_Controller)
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>

        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group">

                        @*<a class="btn" href="#">
                            <i class="icon-graph"></i>@SharedLocalizer["Dashboard"]
                        </a>
                        <a class="btn" href="#">
                            <i class="icon-settings"></i>  @SharedLocalizer["Configuración"]
                        </a>*@
                        @*<a class="btn" href="#" id="help-button" data-remote="/help/@_Controller/@_Action" data-target="#help-modal" data-toggle="modal">
                            <i class="icon-question"></i>  Ayuda
                        </a>*@
                        <a class="btn" href="#" id="help-button">
                            <i class="icon-question"></i>  @SharedLocalizer["Ayuda"]
                        </a>
                    </div>
                </li>
            </ol>
            <div class="container-fluid">
                <div id="ui-view">
                    <img id="ajax-loader" src="~/images/icons/opsait-spinner.svg" style="position: fixed; left: 50%; top: 50%; z-index:999; display:none;">
                    <div>
                        <div id="main-content" class="animated fadeIn">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <aside class="aside-menu">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tools" role="tab">
                        <i class="icon-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bookmarks-container" role="tab">
                        <i class="icon-star"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                        <i class="icon-settings"></i>
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tools" role="tabpanel">

                    <div class="dropdown-header text-center">
                        <strong>@SharedLocalizer["Avisos"]</strong>
                    </div>
                    <a class="dropdown-item notification" href="#" data-remote="/notification/list/alert" data-target="#notification-modal">
                        <i class="fa fa-bell-o"></i> @SharedLocalizer["Notificaciones"]
                        <span id="authuser-alert-alt" class="badge badge-info">@_AuthUserAlerts</span>
                    </a>
                    <a class="dropdown-item notification" href="#" data-remote="/notification/list/task" data-target="#notification-modal">
                        <i class="fa fa-envelope-o"></i> @SharedLocalizer["Mensajes"]
                        <span id="authuser-message-alt" class="badge badge-success">@_AuthUserMessages</span>
                    </a>
                    <a class="dropdown-item notification" href="#" data-remote="/notification/list/task" data-target="#notification-modal">
                        <i class="fa fa-tasks"></i> @SharedLocalizer["Tareas"]
                        <span id="authuser-task-alt" class="badge badge-danger">@_AuthUserTasks</span>
                    </a>
                    <div class="dropdown-header text-center">
                        <strong>@SharedLocalizer["Mi Cuenta"]</strong>
                    </div>
                    <a class="dropdown-item" href="/account/profile">
                        <i class="fa fa-user"></i> @SharedLocalizer["Mi Perfil"]
                    </a>
                    <a class="dropdown-item" href="/account/profile/schedule">
                        <i class="fa fa-calendar"></i> @SharedLocalizer["Mi Horario"]
                    </a>
                    <a class="dropdown-item" href="/account/profile/requests">
                        <i class="icon-flag"></i> @SharedLocalizer["Mis Solicitudes"]
                    </a>
                    <a class="dropdown-item" href="/account/profile/training">
                        <i class="icon-graduation"></i> @SharedLocalizer["Mis Formaciones"]
                    </a>
                    <a class="dropdown-item" href="/account/profile/quality">
                        <i class="icon-badge"></i> @SharedLocalizer["Mis Auditorías"]
                    </a>
                    <a class="dropdown-item" href="/account/profile/productivity">
                        <i class="icon-chart"></i> @SharedLocalizer["Mi Productividad"]
                    </a>
                    <div class="dropdown-header text-center">
                        <strong>@SharedLocalizer["Autenticación"]</strong>
                    </div>
                    <a class="dropdown-item" href="#" data-remote="/account/changepassword" data-target="#global-modal" data-toggle="modal">
                        <i class="fa fa-key"></i> @SharedLocalizer["Cambiar Contraseña"]
                    </a>
                    <div class="divider"></div>
                    <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm2">
                        <button class="dropdown-item button" style="cursor:pointer;" type="submit">
                            <i class="fa fa-lock"></i> Logout
                        </button>
                    </form>


                </div>
                <div class="tab-pane" id="bookmarks-container" role="tabpanel">
                    @*<div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase">Favoritos</div>
                        <ul id="bookmarks" class="list-group list-group-root">
                            @foreach (var item in bookmarks.Where(y => !y.ParentId.HasValue).OrderBy(y => y.Order))
                            {
                                <li class="list-group-item">
                                    @item.Name
                                    @if (item.Group)
                                    {
                                        <ul class="list-group">
                                            @foreach (var subitem in bookmarks.Where(y => y.ParentId == item.Id).OrderBy(y => y.Order))
                                            {
                                                <li class="list-group-item">@subitem.Name</li>
                                            }
                                        </ul>
                                    }
                                </li>
                        }
                     </ul>*@
                </div>
                <div class="tab-pane" id="settings" role="tabpanel">

                    <div class="dropdown-header text-center">
                        <strong>@SharedLocalizer["Idioma"]</strong>
                    </div>
                    <a class="dropdown-item" href="/account/setlanguage/es" target="_self">
                        <i class="flag-icon flag-icon-es"></i> @SharedLocalizer["Español"] <i class="ml-2 fa fa-check fa-lg @(_Culture != "es" ? "d-none" : "d-inline-block")"></i>
                    </a>
                    <a class="dropdown-item" href="/account/setlanguage/en" target="_self">
                        <i class="flag-icon flag-icon-gb"></i> @SharedLocalizer["Inglés"] <i class="ml-2 fa fa-check fa-lg @(_Culture != "en" ? "d-none" : "d-inline-block")"></i>
                    </a>
                    <a class="dropdown-item" href="/account/setlanguage/pt" target="_self">
                        <i class="flag-icon flag-icon-pt"></i> @SharedLocalizer["Portugués"] <i class="ml-2 fa fa-check fa-lg @(_Culture != "pt" ? "d-none" : "d-inline-block")"></i>
                    </a>

                    <div class="dropdown-header text-center">
                        <strong>@SharedLocalizer["Tema Visual"]</strong>
                    </div>
                    <a class="dropdown-item" href="/account/setlanguage/es" target="_self">
                        <span class="fa-stack">
                            <i class="fa fa-desktop fa-stack-2x fa-fw text-dark"></i>
                            <i class="fa fa-eye fa-stack-1x fa-fw" style="left:5px; top:-5px"></i>
                        </span>
                        @SharedLocalizer["Claro"] <i class="ml-2 fa fa-check fa-lg @(_Culture != "es" ? "d-none" : "d-inline-block")"></i>
                    </a>
                    <a class="dropdown-item" href="/account/setlanguage/en" target="_self">
                        <span class="fa-stack">
                            <i class="fa fa-desktop fa-stack-2x fa-fw"></i>
                            <i class="fa fa-eye fa-stack-1x fa-fw text-dark" style="left:5px; top:-5px"></i>
                        </span>
                        @SharedLocalizer["Oscuro"] <i class="ml-2 fa fa-check fa-lg @(_Culture != "en" ? "d-none" : "d-inline-block")"></i>
                    </a>
                    <a class="dropdown-item" href="/account/setlanguage/pt" target="_self">
                        <span class="fa-stack">
                            <i class="fa fa-desktop fa-stack-2x fa-fw text-primary"></i>
                            <i class="fa fa-eye fa-stack-1x fa-fw text-success" style="left:5px;top:-5px;"></i>
                        </span>
                        @SharedLocalizer["Alto Contraste"] <i class="ml-2 fa fa-check fa-lg @(_Culture != "pt" ? "d-none" : "d-inline-block")"></i>
                    </a>
                </div>

            </div>
        </aside>
    </div>
    <footer class="app-footer">
        <div>
            <a href="http://www.indracompany.com">OMC @DateTime.Now.Year Opsait</a>
        </div>
        @*<div class="ml-auto">
            <span>ΜΥΘΟΣ</span>
            <a href="#">DevTeam</a>
        </div>*@
        <div class="ml-auto">
            <span>Minsait by </span>
            <a href="http://www.indracompany.com">Indra</a>
        </div>
    </footer>

    <div id="global-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="global-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="global-modal-content"></div>
            </div>
        </div>
    </div>
    <div id="global-modal-lg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="global-modal-lg" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="global-modal-lg-content"></div>
            </div>
        </div>
    </div>
    <div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="help-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="help-modal-content"></div>
            </div>
        </div>
    </div>
    <div id="notification-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="notification-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="notification-modal-content"></div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/pace-progress/pace.js"></script>
        <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.js"></script>
        <script src="~/lib/toastr/toastr.js"></script>
        <script src="~/lib/coreui/dist/js/coreui.js"></script>

        <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>

        <script src="~/lib/datatables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/datatables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
        <script src="~/lib/datatables/Responsive-2.2.2/js/responsive.bootstrap4.min.js"></script>
        <script src="~/lib/datatables/Select-1.3.0/js/dataTables.select.min.js"></script>
        <script src="~/lib/datatables/checkboxes-1.2.11/js/dataTables.checkboxes.min.js"></script>
        <script src="~/lib/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="~/lib/datatables/Buttons-1.5.6/js/buttons.html5.js"></script>
        <script src="~/lib/datatables/JSZip-2.5.0/jszip.min.js"></script>

        <script src="~/lib/jquery-sortable/source/js/jquery-sortable-min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
