﻿@SharedLocalizer["Va a eliminar el registro"]. @SharedLocalizer["¿Desea continuar?"]

<form asp-action="DeleteConfirm">
    <input type="hidden" name="Id" value="@ViewBag.Id" />
    <input type="submit" value="@SharedLocalizer["Confirmar"]" class="btn btn-default" />
</form>