﻿@* PRODUCTIVITY - SHOW LAYOUT *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Perseo.Web
@{
    Layout = Context.Request.IsAjax() ? "~/Views/Shared/_AjaxLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}
@section Styles { @RenderSection("Styles", false) }

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @* HEADER *@
                <div class="row mb-3 mb-sm-4 mb-xl-3">
                    @* Title *@
                    <vc:page-title title="@ViewData["Title"]" subtitle="@ViewData["SubTitle"]" avatar="@ViewBag.Avatar"></vc:page-title>
                    <vc:mobile-nav-button></vc:mobile-nav-button>
                    @* NAVIGATION *@
                    <div class="col-12 col-xl-6 mt-3 mt-xl-0">
                        <div id="collapse-nav-menu" class="w-100 text-center text-sm-left text-xl-right d-sm-block collapse">

                            @* Office Navigator*@
                            <span class="btn-group mb-3 mb-sm-0">
                                <select name="office" id="office" class="d-none" data-multiple='true'>
                                    <option selected>Madrid</option>
                                    <option selected>Barcelona</option>
                                    <option selected>Sevilla</option>
                                    <option selected>Pamplona</option>
                                </select>
                            </span>
                            @* Month Navigator*@
                            <span class="btn-group mb-3 mr-3 mb-sm-0">
                                <vc:year-month-filter year=2019 month=11 url="/productivity/show/$y/$m/1;2;3;4;5"></vc:year-month-filter>
                            </span>
                            <span class="btn-group mb-3 mb-sm-0 mr-3">
                                <button class="btn btn-warning" type="button" data-remote="/area/add/@ViewBag.AreaId" data-target="#global-modal" data-toggle="modal">
                                    <i class="fa fa-plus-circle"></i><span class="d-down-none">&nbsp; Cargar</span>
                                </button>
                            </span>
                            @* Edit *@
                            <span class="btn-group mb-3 mb-sm-0">
                                <a id="back" asp-action="edit" asp-route-id="@ViewBag.Id" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>&nbsp;  Editar
                                </a>
                            </span>

                        </div>
                    </div>
                </div>
                @* TABS *@
                <ul class="nav nav-tabs" id="nav-tab" role="tablist" data-active-tab="@ViewBag.Tab">
                    <li class="nav-item">
                        <a href="/productivity/dashboard" class="nav-link" id="tab-dashboard">
                            <i class="icon-speedometer"></i>&nbsp; Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-show" href="/productivity/show">
                            <i class="icon-people"></i>&nbsp; Detalle por Usuario
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/productivity/load" class="nav-link" id="tab-load">
                            <i class="icon-info"></i>&nbsp; Detalle por Área
                        </a>
                    </li>
                </ul>
                @* CONTENT *@
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-main-pane">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { 
    
    <script>
            breadcrumb({ name: "Productividad", url: "productivity/showdashboard" });
            $('#office').treeselect({
                buttontext: "Sede",
                div: '<div id="office" class="dropdown bts_dropdown float-right mr-3"></div>',
            });
    </script>
    @RenderSection("Scripts", false) 
    
    }
