﻿@* PRODUCTIVITY - SHOW DASHBOARD *@

@using Microsoft.AspNetCore.Html
@using Perseo.Core
@using Perseo.Web.HighCharts

@model AreaViewModel

@inject IHighCharts HighCharts

@{
    Layout = "_ShowLayout.cshtml";
    ViewData["Title"] = "Productividad";
    ViewData["SubTitle"] = "";
    ViewBag.Tab = "tab-dashboard";

    PieChart pie_chart_one = HighCharts.PieChart("pie-one");
    pie_chart_one.AddData("Baja", 21, Constants.color_dark_gray);
    pie_chart_one.AddData("Media", 65, Constants.color_light_blue);
    pie_chart_one.AddData("Alta", 13, Constants.color_light_gray);
    pie_chart_one.Chart.Height = "250";

    BarsChart bars_chart_two = HighCharts.BarsChart("bars-two");
    bars_chart_two.AddLabels(new List<string> { "CXOMCT/1", "CXOMCT/3", "CXOMCT/4", "CXOMCT/6", "CXOMCT/6", "CXOMCT/7" });
    bars_chart_two.AddData("ALta", new List<double> { 330, 250, 730, 120, 580, 440 }, Constants.color_light_blue);
    bars_chart_two.AddData("Baja", new List<double> { -230, -150, -430, -320, -280, -140 }, Constants.color_light_green);
    bars_chart_two.Stack(true);
    //bars_chart_two.YAxis.First().Max = 750;
    bars_chart_two.Legend.Align = "center";
    bars_chart_two.Legend.Floating = false;
    bars_chart_two.Legend.Y = -24;
    bars_chart_two.Legend.X = 0;
    bars_chart_two.Chart.Height = "250";


    List<string> BarLabels = new List<string> { "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31" };
    List<double> BarDisponible = new List<double> { 49.9, 71.5, 106.4, 129.2, 124.0, 116.0, 135.6, 128.5, 116.4, 164.1, 95.6, 54.4, 49.9, 71.5, 106.4, 129.2, 124.0, 136.0, 135.6, 148.5, 138.4, 174.1, 95.6, 54.4, 49.9, 71.5, 106.4, 129.2, 114.0, 116.0, 135.6 };
    List<double> BarRequerido = new List<double> { 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6, 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6, 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2 };
    List<double> BarRequerido2 = new List<double> { 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, };
    ColumnsAndLineChart chart_bars_one = HighCharts.ColumnsAndLineChart("bars-one");
    chart_bars_one.AddLabels(BarLabels);
    chart_bars_one.AddColumnData("Real", BarDisponible, Constants.color_light_blue);
    chart_bars_one.AddLineData("Objetivo", BarRequerido2, Constants.color_dark_gray);
    chart_bars_one.Chart.Height = "240";

    ColumnsChart chart_area_one = HighCharts.ColumnsChart("area-one");
    List<double> tarea1 = new List<double> { 49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6 };
    List<double> tarea2 = new List<double> { 7.0, 6.9, 9.5, 14.5, 18.2, 11.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6, 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6, 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2 };
    List<double> tarea3 = new List<double> { 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6, 7.0, 6.9, 29.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6, 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2 };
    List<double> tarea4 = new List<double> { 57.0, 46.9, 39.5, 34.5, 38.2, 31.5, 27.2, 26.5, 25.3, 58.3, 40.9, 19.6, 27.0, 16.9, 25.5, 4.5, 25.2, 15.5, 55.2, 46.5, 23.3, 19.3, 13.9, 19.6, 27.0, 16.9, 39.5, 34.5, 28.2, 31.5, 15.2 };
    chart_area_one.Stack(true);
    chart_area_one.AddLabels(BarLabels);
    //chart_area_one.AddData("CXOMCT/1", tarea2, Constants.color_dark_gray);
    chart_area_one.AddData("CXOMCT/2", tarea1, Constants.color_light_blue);
    chart_area_one.AddData("CXOMCT/3", tarea4, Constants.color_light_green);
    chart_area_one.AddData("CXOMCT/4", tarea3, Constants.color_gray);
    chart_area_one.AddData("CXOMCT/5", tarea2, Constants.color_yellow);
    chart_area_one.Chart.Height = "240";


}


@section Styles{
    <style>
        .icons-list {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .icons-list li {
                position: relative;
                height: 40px;
                vertical-align: middle;
            }

                .icons-list li i {
                    display: block;
                    float: left;
                    width: 35px !important;
                    height: 35px !important;
                    margin: 2px;
                    line-height: 35px !important;
                    text-align: center;
                }

                .icons-list li .desc {
                    height: 40px;
                    margin-left: 50px;
                    border-bottom: 1px solid #a4b7c1;
                }

                    .icons-list li .desc .title {
                        padding: 2px 0 0;
                        margin: 0;
                    }

                    .icons-list li .desc small {
                        display: block;
                        margin-top: -4px;
                        color: #536c79;
                    }

                .icons-list li .value {
                    position: absolute;
                    top: 2px;
                    right: 45px;
                    text-align: right;
                }

                    .icons-list li .value strong {
                        display: block;
                        margin-top: -3px;
                    }

                .icons-list li .actions {
                    position: absolute;
                    top: -4px;
                    right: 10px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                }

                    .icons-list li .actions i {
                        float: none;
                        width: auto;
                        height: auto;
                        padding: 0;
                        margin: 0;
                        line-height: normal;
                    }

                .icons-list li.divider {
                    height: 40px;
                }

                    .icons-list li.divider i {
                        width: auto;
                        height: auto;
                        margin: 2px 0 0;
                        font-size: 18px;
                    }
    </style>
}

@section Scripts{
    @HighCharts.RenderScript()
    <script>
    </script>
}




<div class="row h-auto">
    <div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body pb-0 pl-2 pr-3">
                <div class="mb-3 text-center"><h5>Productividad Mensual por Día</h5> </div>
                @chart_bars_one.Render()
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body pb-0 pl-2 pr-3">
                <div class="mb-3 text-center"><h5>Producción Mensual por Día</h5> </div>
                @chart_area_one.Render()
            </div>
        </div>
    </div>
</div>

<div class="row mt-2 h-auto">
    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body  pr-3 pl-2 pb-0">
                <div class="mb-0" style="text-align: center;"><h5>Distribución de Colaboradores</h5> </div>
                @pie_chart_one.Render()
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body  pr-3 pl-2 pb-0">
                <div class="mb-0" style="text-align: center;"><h5>Productividad por Tarea</h5> </div>
                @bars_chart_two.Render()
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div class="mb-4" style="text-align: center;"><h5>Top 5 Colaboradores</h5> </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Eduardo Peirats</div>
                        <div class="ml-auto font-weight-bold">127%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-green" role="progressbar" style="width: 99%;" aria-valuenow="87" aria-valuemin="0" aria-valuemax="140"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Isaac Albeniz</div>
                        <div class="ml-auto font-weight-bold">116%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-green" role="progressbar" style="width: 96%;" aria-valuenow="87" aria-valuemin="0" aria-valuemax="140"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Alberto Fernández Fuentes</div>
                        <div class="ml-auto font-weight-bold">112%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-green" role="progressbar" style="width: 95%;" aria-valuenow="87" aria-valuemin="0" aria-valuemax="140"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Argoitz Ondarra</div>
                        <div class="ml-auto font-weight-bold">106%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-green" role="progressbar" style="width: 90%;" aria-valuenow="87" aria-valuemin="0" aria-valuemax="140"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Aarón Cancio Gómez</div>
                        <div class="ml-auto font-weight-bold">100%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-green" role="progressbar" style="width: 85%;" aria-valuenow="87" aria-valuemin="0" aria-valuemax="140"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div class="mb-4" style="text-align: center;"><h5>Bottom 5 Colaboradores</h5> </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Carlos Martínez Días</div>
                        <div class="ml-auto font-weight-bold">54%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 44%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="140"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Pau Vert Bonnet</div>
                        <div class="ml-auto font-weight-bold">60%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 48%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="140"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Jordi Castanyer</div>
                        <div class="ml-auto font-weight-bold">66%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 51%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="140"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Yolanda Marti Marti</div>
                        <div class="ml-auto font-weight-bold">68%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 53%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="140"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-group">
                    <div class="progress-group-header">
                        <i class="icon-user progress-group-icon"></i>
                        <div>Alberto Moral Luque</div>
                        <div class="ml-auto font-weight-bold">72%</div>
                    </div>
                    <div class="progress-group-bars">
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 59%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="140"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
